<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="gtco-loader"></div>
	<div id="page">
		<% include ../partials/nav %>
		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_2.jpg);">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">About Us</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp">To connect youth with the tech
									world.</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Our Vision</h2>
						<p>Spark a feeling of awe, action, and support in youth by connecting them with the tech world.
						</p>
					</div>
				</div>
				<div class="row row-pb-md">
					<div class="col-md-6 text-center">
						<h3>What We Do</h3>
						<p>YouthComputing is a non-profit organization committed to sparking a feeling of awe, action,
							and support in youth by connecting them with the tech world. We want to bring emerging
							technologies to youth and ensure that they feel supported when working in the tech world. We
							also want to ensure that youth are updated with industry level knowledge and are able to
							apply their skills outside of a classroom.
						</p>
					</div>
					<div class="col-md-6 text-center">
						<h3>Why We Do It</h3>
						<p>We’re crazy enough to think we can change the world. Crazy because we’re just a bunch of
							friends trying to solve a problem we used to have. Crazy because we’ve been diagnosed with a
							love of learning. Crazy because we fit a 100 people in a venue that fits only 50 while
							keeping all of our events free. The dreamers. The believers. The doers. Join us.
						</p>
					</div>
				</div>
				<div class="row row-pb-md text-center">
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSc7bRG3NWMywnRDpLqYclsPobOcD2nfAu1qNRh-8eYKahAz7g/viewform?usp=sf_link"
						class="btn btn-primary btn-lg ">Join Us</a>
				</div>
				<div class="row row-pb-md">
					<img style="width: 100%;" src="images/team.jpg" alt="team">
				</div>
			</div>
		</div>
		<div id=" gtco-team" class="gtco-section">
			<div class="container-krish">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Meet The Current Team</h2>
					</div>
				</div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/dhvani.jpg" alt="Dhavni Patel">
						<h3>Dhvani Patel</h3>
						<strong class="role">Co-President & Co-Founder</strong>
						<p>Dhvani Patel is a Software Engineering student at the University of Waterloo. One of his
							favourite things to do is coding and he can often be found fixing bugs, programming apps,
							and exploring new technologies. Dhvani also loves playing games with little kids and the
							element of surprise, awe and curiosity that they present.</p>
					</div>
				</div>

				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/dhruv.jpg" alt="Dhruv Patel">
						<h3>Dhruv Patel</h3>
						<strong class="role">Co-President & Co-Founder</strong>
						<p>Dhruv Patel is a Mechatronics Engineering student at the University of Waterloo. He loves to
							play badminton, develop for social innovation, and create various design solutions. Dhruv
							thrives on his curiosity and willingness to learn and grow in the things he loves to do.
						</p>
					</div>
				</div>

				<div class="clearfix visible-lg-block visible-md-block"></div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/Krish.jpg" alt="">
						<h3>Krish Shah</h3>
						<strong class="role">Vice President of Projects</strong>
						<p>Krish Shah is a grade 12 technology enthusiast and environmental steward who is
							dedicated to implementing entrepreneurship and innovation in his community.</p>
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/shreeya.jpeg" alt="Shreeya Patel">
						<h3>Shreeya Patel</h3>
						<strong class="role">Vice President of Events</strong>
						<p>Shreeya Patel is a dedicated grade 12 student. She’s super artistic and loves
							using digital technologies to create new designs and drawings. She wants to make an impact
							on the community through STEM!</p>
					</div>
				</div>

				<div class="clearfix visible-lg-block visible-md-block"></div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/Heet.jpg" alt="Heet Shah">
						<h3>Heet Shah</h3>
						<strong class="role">External Projects Director</strong>
						<p>Heet Shah is a grade 12 student who loves to learn new concepts in technology, and he is also
							devoted to promote computer science in his community.</p>
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/lokesh.jpeg" alt="">
						<h3>Lokesh Patel</h3>
						<strong class="role">Internal Projects Director</strong>
						<p>Lokesh Patel is a grade 12 student that likes computer science and is inspired to make an 
							impact on our society by brightening the future of the youth in his community.</p>
					</div>
				</div>
				
				<div class="clearfix visible-lg-block visible-md-block"></div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/manorama.jpg" alt="">
						<h3>Manorama Joshi</h3>
						<strong class="role">Financial Director</strong>
						<p>Manorama Joshi is a grade 11 student dedicated to athletics and passionate about STEM learning. Her artistic side comes alive through her curiosity with innovation and technologies. She loves to get involved in her community and hopes to make a positive impact through innovative learning.</p>
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/saakshi.jpeg" alt="">
						<h3>Saakshi Arvikar</h3>
						<strong class="role">Outreach Director</strong>
						<p>Saakshi Arvikar is a grade 12 student dedicated to both the theatrical arts and STEM. She is
							passionate about educating and integrating students (especially girls!) into coding and
							technology.</p>
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/avi.jpg" alt="">
						<h3>Avi Pandya</h3>
						<strong class="role">Operations Director</strong>
						<p>Avi Pandya is a grade 12 student who is passionate about inspiring youth to pursue their own passions through STEM. He is led by his curiosity to learn new skills and grow as an individual.</p>
					</div>
				</div>

				<div class="clearfix visible-lg-block visible-md-block"></div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/nirmit.jpg" alt="">
						<h3>Nirmit Parikh</h3>
						<strong class="role">Logistics Director</strong>
						<p>Nirmit Parikh is a grade 11 student who is passionate about computer science, and hopes to share his
							passion with youth in the community!</p>
					</div>
				</div>


				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/Shawn.jpeg" alt="">
						<h3>Shawn Jiang</h3>
						<strong class="role">Logistics Director</strong>
						<p>Shawn Jiang is a grade 10 student who enjoys playing chess and practicing the piano. He shares an interest in problem solving, as well as technology and is eager to make an impact in the community.</p>
					</div>
				</div>

				<div class="clearfix visible-lg-block visible-md-block"></div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/neel.jpg" alt="">
						<h3>Neel Patel</h3>
						<strong class="role">Program Director</strong>
						<p>Neel Patel is a grade 11 student eager to learn computer science and to share that passion with those around him. He is committed to intertwining the lives of youth in his community with new innovations from the STEM field.</p>
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/kyle.jpg" alt="">
						<h3>Kyle Gomez</h3>
						<strong class="role">Program Director</strong>
						<p>Kyle Gomez is a grade 11 student who is interested towards the tech world. He is also a part of band, and he is a scout.</p>
					</div>
				</div>


				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/tanisha.jpg" alt="">
						<h3>Tanisha Kadia</h3>
						<strong class="role">Marketing Director</strong>
						<p>Tanisha Kadia is a grade 12 student who has a strong passion for STEM. Aside from STEM, her passions include, reading, writing, music, acting, wellness, and environmental advocacy. She strives to inspire a creative and innovative perspective towards computer science.</p>
					</div>
				</div>

				<div class="clearfix visible-lg-block visible-md-block"></div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/priyank.jpg" alt="">
						<h3>Priyank Dave</h3>
						<strong class="role">Growth Director</strong>
						<p>Priyank Dave is a grade 12 student who enjoys learning new concepts in the field of technology. He is also enthusiastic about motivating people into the STEM field!</p>
					</div>
				</div>


				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/shaaf.jpg" alt="">
						<h3>Shaaf Babar</h3>
						<strong class="role">Product Director</strong>
						<p>Shaaf Babar is a grade 11 student who is passionate about technology and innovation, and strives to develop creative solutions to benefit society and tackle real world problems. He wants to share his drive and passion to motivate youth in the community.</p>
					</div>
				</div>

				<div class="clearfix visible-lg-block visible-md-block"></div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/saptarshi.jpg" alt="">
						<h3>Saptarshi Bhattacherya</h3>
						<strong class="role">Product Director</strong>
						<p>Saptarshi Bhattacherya is a grade 12 student who loves to learn. He is fascinated by the ability of computer science to unite people to solve the problems humanity faces today, and strives to share this fascination with others in his community.</p>
					</div>
				</div>


				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-6 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/sparsh.jpg" alt="">
						<h3>Sparsh Patel</h3>
						<strong class="role">Product Director</strong>
						<p>Sparsh Patel is a grade 11 student who is ardented towards the use of technology to help promote the use of technology thorughout his society!</p>
					</div>
				</div>
			</div>
		</div>


		<div id="gtco-team" class="gtco-section">
			<div class="container-krish">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Previous Team Members</h2>
						<p></p>
					</div>
				</div>

				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>2019 - 2020</h2>
						<p></p>
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="images/people/aditya.jpeg" alt="">
						<h3>Aditya Ayri</h3>
						<strong class="role">Outreach Director</strong>
						<p>Aditya Ayri is a university student who is passionate about STEM fields, innovation, and
							technological development though the use of Computer Science and Health.</p>
					</div>
				</div>
				
				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
				</div>

				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>2018 - 2019</h2>
						<p></p>
					</div>
				</div>
				<div class="row">
					<div class="clearfix visible-sm-block"></div>
					<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
						<div class="gtco-staff">
							<img src="images/people/aneri.jpg" alt="">
							<h3>Aneri Mavani</h3>
							<strong class="role">Chair</strong>
							<p>Aneri Mavani is a university student who, after being highly involved in the STEM field,
								would like to inspire and encourage youth to do the same.</p>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
						<div class="gtco-staff">
							<img src="images/people/daksh.jpg" alt="">
							<h3>Daksh Patel</h3>
							<strong class="role">Chair</strong>
							<p>Daksh Patel is a university student with a keen interest in the health services and
								technology field, while also wanting to promote STEM in his community.</p>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
						<div class="gtco-staff">
							<img src="images/people/devshri.jpg" alt="">
							<h3>Devshri Lala</h3>
							<strong class="role">Outreach Director</strong>
							<p>Devshri Lala is a university student, who aspires to discover ways in which computer
								science is accessible for all age groups. She continues to promote this in her community
								through her involvement in STEM related programs.</p>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
							<h2>2016 - 2018</h2>
							<p></p>
						</div>
					</div>
					<div class="row">
						<div class="clearfix visible-sm-block"></div>
						<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
							<div class="gtco-staff">
								<img src="images/people/param.jpg" alt="">
								<h3>Param Bambhania</h3>
								<strong class="role">Organizational Development Director & Co-Founder</strong>
								<p>Param Bambhania is a university student who loves computer science, especially
									networking.</p>
							</div>
						</div>
						<div class="clearfix visible-sm-block"></div>
						<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
							<div class="gtco-staff">
								<img src="images/people/radha.jpg" alt="">
								<h3>Radha Maradiya</h3>
								<strong class="role">Marketing Director & Co-Founder</strong>
								<p>Radha Maradiya is a university student who loves playing the piano and meeting
									new
									people.</p>
							</div>
						</div>
						<div class="clearfix visible-sm-block"></div>
						<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
							<div class="gtco-staff">
								<img src="images/people/riya.jpeg" alt="">
								<h3>Riya Mangukia</h3>
								<strong class="role">Logistics Director & Co-Founder</strong>
								<p>Riya Mangukia is a university student who loves art and playing badminton.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
</body>
</html>