<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">Community Code Day</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp">Community Code Day is Fort
									McMurray's first annual community technology conference. People can participate in a
									hackathon, and they can choose from a selection of speakers and workshops to
									learn how to use technology as a beneficial factor in their endeavors.</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h1></h1>
					<div class="col-md-12">
						<h3>Below are some pictures from CCD 2019</h3>
					</div>


					<div class="item">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/cp3cyx6AxdCoWPRz9" data-title="CCD 2019"
							data-description="48 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/VqEFcLYQBpJEGJMGCvkBGjxmlrD7hc-iAcVMfoCTjUqgPdskLk27NjHmPXrbxvPcEUbYvKUn-AhM5HFyx_7u2yRVN03Iee_BrZJdB1yJYAw4DDXTs-RZj94dNbTsaNZfaCEnDT9b3g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Ux0xfPchvSaD-2UYiLUDmFrW-TjRDwRRepubmMBUzUoQtW9Py5rMxfqwenCYUl6_fNNrQn-Zz1Pym-HS4G9c9ReQvCEV64-oa8ddoCPsA4z_fbFBDICQYQ1X91heo4EbiEPc_pSorQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/PjE8pTn8krfjfDxEf47-0WXva-h-NwfgcTeKFpLfsgzr0hh0XPB2X37A7g5wpphDYTFlg6LTIvVSNZhahb2CdV2CvQ2DeB3-iowLxihu4l2WKxChG-biCSYAJtBySJPGw9boHOukxg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Ib-sCcD5xi6HVhnoibt5eIYnSKW0sP5PjeiHx9GOBM8c_uSd03bG3k9jKDEAxkYEIihGrX46957G24p_r5CWKohA5ieA1O79T4OtiVDXlxoX4uJ_FUThjF7fbWGM2xhZzwXDWrSawg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Apuyy7LQ8aMp-M7knCkO8sCsPoAxdby2B3EVVfDAMrNs1Z7S9DLalSvij_t0jj8CglhfCRBqQXkUlug148HahPnvtZwh4Bhx0LVJjn8g5oO8R-M6dp7Rf70YMJH9UE-nZz3okrvyXQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/--BzZmr23UwupOupqxp6iQbreFp2kiUqXbBewrN_bVWqh6-xtuDw6YB4ilClZiJGJm9ThYmDK-LV8RLTHCknkYH966-d-KpJNx_ppo39qRIn4gEoq1jttIu93T9g28_El5XGYFYO_g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/eQRmyeYxG65Jrc98OpUAbJJi2wLPclYiTq9AFm96PNQ4ikAFlW2gxJ7zB9zlDKPe_mpvDvDpqJ0bOmM_uluSi7ektYQkLQuY8mA5lMD3Oafi571SjYPTFKb_PdqBwULFou7ig-eNHg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/w_SGhUxbuccljYMmkl_JOBMXExov8FbhoeDwx573IcejGte-FgfmOzGCprsTMUancaP8cZxbdpLzuRhqH0LbB-zt9n_4MXnsVG3gAx7uguS64DR5Md1SWPz-ygo1_7mVUF_KGv04aQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/kWbFOXKVFbRvrJ10ncCR9bBWZfPnWWG3-s_Y8kmNz1ofZn6Y05uUsSKtSOUBNFEUT5qlx5o2xuPsVAQlAdTyXiOpNdoLCkXudjmRnCS1YjEdNXa2w3_QoP3AkVgJ76GEu3PYuSHztg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/lTKlDCjMI-Xna5al9P2n9I0qNklnUFdkauqUyRJDukA-kM3rnGrQpx1JL59m76LFmHkJ53nox0SR-veK3eTnXkgO5zreZIufQUM5brz6FTdH_iMFqiIkL6NOjiOvtWuJs_qDothwOg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/cYd4yaDwhdDjZ7_K1TJtvS28hemiO3j5t8B6yaTGls0kPEp4WzL7z3VyNgvtWf3eNf2c4mKp8Krd_fEO43mLZs1Z24udVz2u_VWXO_mylNmf18OuNZSW441-Cj3Nv_ktGue9gvd-mQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Kgf03xoQ-AoDSIobr8OZmohZYjDWJHSwFsr2d2DlNXikHXypMQVXBUb4WwxvMeF28bZx2qzWImgsBKZ8BwUoconPz-AA9A9Jc5pg01NkVYpSB-v-7_xCPR6GbmozaW6_ZR2TBQgqCA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/BVfVabYsSzeF8EbETlI7zrG2dMTQ0VPh0h9tR2sBLzDn_x9psFq4Npk4fhD3bqX7g8J1K5hbeNucbISv-39bpG5t_ppE86xxFOagXU6kKXwtafarGyUotvPw-lVumXhvESU3NB7m6w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/IG6sff6L2y03ud8WUZEBWESGTKk9-I4GjRel0qxQkoxld740S5kr3NcXT1VOA8EOHTUqzNc-NZF9y8KKK7mahi61KxS9xfrM65epkb9goGlTTRV2Gcwunm14iZl97b92FgPIE6zWIQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/-0pyFjlvBSO61544v7RkDyBqoa8S6y_n5IY7QK7G8YIufqgTGfk9IWi97kWYRdV8rbrhcb29yZQ0PHARRbfUrkfIpITvBiRZf_7ytUrj6NFN2IxKGghec0yBo6uLoQCXmhrINRytCA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RcupV7hfPVnmVdKgDnL0xZCwFrItoVDGtfrNwOHAFSx9mDagxMx5RQfisAyrbePkIZ-vFy7cdKIzsWgmob1c9egueggFmHm5cPHXM2Obs-7mUdpjnXrliYfuDU1twom4TVQmYGhy1Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/dEy47h1TcvI-edW3EeCBhFwyr8mn4Z0XFpHM2y58mI5WUngE6XtXBBLzoNk7hDpYe4Y7tq7QRbBoRxJqOR9xaXzqgzxKdaAo_FLuTKxKfXF-JQBqm4uCfNBGl1_bkj5HicJwCL_gPQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/NQSrMSRlKK5ngd2-Fu1Hor305z0aN2clkTU7T3o2XWmw673n_xL_wHJux__sGroskQKGe4-eOwLp7AkUSB_EhJG2nfZh_isfQ6fXDTl8IQgNP2IAy_E5F_7rKEfzmU_MG9PKuZROrQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/bRWR2_GLkrJHRMkeL-BK9bmGUYTeZMlORvFWDkPnKg-O9Ol8q0OLAFLd2eeLZsb5-_hkx2YfJUgnXkdlzWWzzkKRJPAnadRgRQk81ANXeJ1J5R9qfUfkA8M37kD3VGn5TIYCqUJHvA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ibh_bScZxwu0d_rrweSSJmKyD-tv5xrgKfgriEetlPQ9JP2ReTIzi_Ykbf-43FfhKi451Dy-0pLZvmcM0VKIC51cUbJGG0UjBgNCnKhvJAdCbpjdfgse6LD4kDzcOyQdQ0rSGqA06w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/y2FPK8xFVHXl7HvFFo47RxZT8pmVdtpt4mqUezEhzHfVdAvxMrwHdxJlxcc4TKjfo4FOpdQIVY8YF4SctuXKiI-pOcsQ4HrcmYlUGOPe3X1nmxqlKi18Gud2OdQhTwwKail67dm6WA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/e7CmyvlJXLlkLkHyECRF4t8Fs7Uqf1_Ls4hwrP8MPHvgxD3u6DNNwJEdJozjbWbut7VbK0CiD5A3uaCM2BDMQWHv8AOrlbHzqIpeWd9MhBktn6dZE099rfW-VUznwTCEF2-szfPQkQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/G9miCZf4WTXHDn3mS04QFz5rHfqElBCEt1Wjdt6LS5TbAK3ryajIELM-v1XqjoYcfxULtFtsCTk0avRnTEH7QMJpuU8kxwYn5wsLMnuvBhtAMeBnfS83HupnrkoIU58mn2XWC5PfVA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/IyX5qLHEdcLTd_l9FKhNX_S21KLImDtQuVykE6jOh_6WHzaF1KIQqYBN0zvtvLgvFucGw0kFFX3MhkWKuv3GkZwzBD6OvSEgF7wLDOx8oLTriMXGhI-Bvlnfyup8wtxFFCS8sNCWkA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1JhTzJJ2UM9SGNHF22CH2BIfc51pyjiw_XaHFaM508ct5yf6CgnlW-eBPPBg9AFhBOMk9KU2CIymm1YZp6-k0bAjyz2p-rbvXk8nOvBXH1m7FKtCe1zKmIRBVBIJ88IkOCwn4VKJlw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/T0ssUbWGH6TqN6ry5doHgXfwfqKswWoQGHCAjLJxmxkcqRHqmlcOqhzYCTsjNQl3ctJ5qKYyxc5quYGPwAoSW0S5hrSlzLolGX32BxxWY_WwLzy4BLLpTnNjSy1UTUZHfXwcBoPcAA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/787pKkhpdy0SzAXEVACrlT47dh1CKkQRtst3pwMso8BIScsa2tzPrN-rupvXtBhaZ82-dm5GxXBAJg0WSS9OpeEUYIBD8sIFuMsc3Lrzu23AeEC-qvR5oTEdvoPJTpfW_a2DOINVcA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Mju5Jz3pwtKAKuzZpnYuZfrt4YHf8AQ7BLQ6ygluoHnjrVxSMln8EzoXHQQAvZc2a42ETLaJULaTNnOhsD4IPduA28Md1OXzT4_R0iwF4sLx0pdr3SPOC4KH6IO-QRjj37fc_pmLNA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/jDHrygzRO3zYMxRfLYSpxPfVvNIlbotLHnvGTPDG06Yk7BL720c_NOyWlCobRofWiCk5Sn7LK5KXcrarpk_SXBvKkaEqLYzXxvRxeb3P17zAk59Tz9EiwZ1rT80iyjIpWJwXhOpRbw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/BxxCWgM7T82fGpPuxMIbytXLjy0NlspnetBTG8SkrX4qvCRihtAuieZSI3vjGWFwOBDVPiWhTDcaCsbb5kb7usDzhULyO-GqOHDinlysT41vINBW-5Dz_3WMYk0oVQ5OLDML4UXRFw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/brcXtLwEF9aeyWH7iev1sbDRWeTE8dVd-X8xsLlPxdke70Ic_HyTmql2lCnOZFORc9Y2Mv6uw7mWHNkhqut4LDICsCxERJY62fT79VYAeyHwbO_a_BEdMPI7EZjHj2xknqWVc4DVAQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/4LYK3uAhTH4e_e14EY8rYWQkMMYVqGjfq0hfKYgJpw0d-81G4rfMfZDDXcKXBBHO92Qfxk7pMZh2QRAOfzwoldF5eZnF3s_F9nybrPyLPM1PWBWee-RUOzb9hxP4Luud9r7IXd8ErA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/vUzBRG8Z2DapjLrS5_V3F0nSkbXS5DevhojIIbqvxpYggkw-mr5MrH71GPMHBcxwykY-qYU5xJXG4jOAFvGpbcqdBEXaL7rHNv8_ETHHhGfXtN3zDrF1YVRlJm2LClGEaB-n80iD9g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/fCWD8Ix-zjdpWpmhr63PbF5oPKpkyvU6ahdGei1CGQ7TSD4eOwfBVrPQmkNs3C1brTN9-DMMMlR7HKlUk7B5RpF9Nlydcj-ZMIaP1nTmgDV8jToz7oXxqCCBpTnAFBd1jyy8Q_yjvA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/nce6Jce8PwepMvbaxwz7wrEM8yCIdYkF93x8YcLfwvGKKWxmXd4KJN6JCDqpi6zcWFVl3KM3JSrIR-yztmp1-8hzbynK21mxhKpC9X45Q38E58WCftdYvdyYBbhII42GbMoU3gyPfg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/mth29hg_zaiBXeSFZFkBt86BlamnChreO61DLTbVqotuqv4dg9KzDE8jWSo4bZsCW4-rptpxcc_6TmM8rqQ1j20ra_LkAxnPcGGpJ0AXWbJvSBTt3BXq8SoyCK_SONpBKFvEyPyw3A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/EuPKYjcJYSp0Onui_11UpvOTPWROQdZaqodIK9yO3zh5VUm_mK4mTJgc0nIwZYCBEEBcLUnG_Jbv9o4yX_XrN5ptJU_UsuplaGnmAaeFzNB4qnmkhcvQqKsm7VyFi8LzsvubHd3NqQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/N-ufie26Mun7PmYdYXuGq5SR_CpnboCPOmHNgB_y9GEzqyHw_CKpWJYgOqjbRRLnnrEwtZLgvhLIZR5n-BN7UydqA3_8RZ9WNLP8hPtwWok-a0N0Ys4qGZBQNc6sP09ip5kLKG8HbA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/EMBP2X4mX6DaJ9RodQhdXG-508BFSZMyhqJLiGOSttiBSBvFnkrLWTjKtfEU-7CrKUhmYrEtVqi8V5FSWcagn_a6kVqxT9eZuESfqyAYwc1fEDI-Q_6Li3WsUPlYsKJfa9DjRpN3_g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/YcyWT--3ulZT3siPkm0PdUvxyg6txh2Sqr3fB6Axkko9OllXg2oPRUKKw7IwDhHsTu36_3F8nfC2AU2n-xFq_iD2JSPynEVzrUUuhXCqAtaqdgvUXglogETbiIa4aIZuylQ-G--ktQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/MwnHU8fgQXPn5vVtZ_HePPDYYCdoNEZJ8QDTD7uYmQiNi1qCAJw-EwtzbzipCJrvMMi8c5HbRatdwvbABUEwDqS6iIEsZ3Os2S572rNdCBY_YwxUgeyBI_5NqUzksdu9E_LQFOGefw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/H0QBsUJjdkoXzJpJPMvpLwWjVRgh4VGERqQshMxOI2iXWr2iiFL1Kp_0QODrNq4rUSwbiDqpzahFa8RPima1kLKLgzDaFmdmxmziowNu6iLb7lXIBvgfDZt_SIY_HQw2HMlnwtt2xw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/GpMSNuBJBqZKeSR1AMYryCmMsi4pL-EZ86CRCY7cJURe3-ZXfpG21B7JIZhOw0jR3GvLo79ov5v2Vgqb-OHSxjEkZ0otMusTh8b7UgRu_tQmimA63lltAS-6bRljshCz5wEgkoEePA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/iNHrogc3HN3m7FzlkhHBDrDgoLhlJpPcx35GfkMXciWtfPbjBBkRzLQkz5_Gmpod83L3Y48gI1avZkj5V8n0pytEdSyffCuI4koEJdqvBNSw02_sgOMceeqQmE0E3cSv5Kr0EqAM6Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/mZRDu3_IAxVpJNCjCtx9kDma4-GM1I11xQeyXKEgPSLJ_VzPzts7WQ4JmALJk0copXsNMsU-R6DOV3a0ld1SdIb93fsDRncpLODJR6sWvVqZYVrMAwAahrk1dfRBgn3rjUGsMPWJhg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/F5d6lqzSOGQnDEmD_QgvJGOg47K5yDh5qll55zCpY-D4QxKMhwLu_hLySFCimNhpOtGJGQIl5rjAgydgckQIztRFGhpwdLnyTNP9bEEYJHyynqTLEpywEQcnDguFGDd4ZOZV7CiYVg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1nRkWS-Cn5UXyO_D4x5W3RvR7G_QY_jugRs7ZHw-UIRdeS-ydSbl3Iz8IKdLKOv88k72YPZnBMXA5MgxTkasbnf97GJvh3_HDy80fMCeyCC91JmbiMs-5xu4-E33gFoUvwU6Clp3dA=w1920-h1080"></object>
						</div>

					</div>
					<p style="opacity: 0.0; font-size: 30px;">g</p>





					<p> <a href="https://brainstemalliance.com/2019/07/03/2019-community-code-day-health-and-wellness/"
							class="round">More Information From CCD 2019</a> </p>
					<p></p>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<div class="col-md-12">
						<h3>Below are some pictures from CCD 2018</h3>
					</div>
					<div class="item">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/rEirYmiAUmT5zPgq9" data-title="CCD 2018"
							data-description="39 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/_bDxDvcn_4TOsqtBZpjmQ_PIJ15R6BliGUJjm0pLIFZXmZY-K6sb3NXdOT5jwkVqyCroTJmKu4-1UGiY61QFtHGUKLLb0YVkjVEq3Q_v3TJOOb9tR6alChkhsFQiT6N_zhCE9nSs7w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Q7ETpPAg3vaFJhdMMZqwNhKrwV3Eff0HZ470e8-UsTuVjxnL5phgLl44R1oTPJA5vpSJ0hN5pwAjelArGZW8jFkb6sTqDvj1KB4ae0N9O-5NaTDAPDpHnLxHDueI-5QdODTzmwtvAg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Nnuvh0IytcCOaa7JayTAsIM-vM7sNMa1Cxa05zdvZxDG1Of6k4hc0Pr2RfBzRbJdm191BkpkL1_Na9by-eNQniCe6AU2e7EHSXfq6Fr8Z_HgDyFRKORa93VWly7M7nsycDc_bKA_QQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/FYOxe_PdF83xJH1Dr36bK7UUgDArd3kZGVnfbyBYUlKRYpxUwEEJb6FjmB5L99-OBkXrc4kCz6acD5WRA82ZDrl91PLqql5F018MQF16h0NBkxDqF4q-oeiqriAVl2G7L-xtVTkjeA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/wuz9gSDuzqbUZ9FOSLXURBvMPOv-v6R5PCSm-bCDftDnltFwQRhZ3jIWSIjM8-uLqZFRUGfgIxmRq6OjMAoUf6CS1etkWPVPcA_X4XL5pY0rBL_AybP1_9JqEcfBo4uR0JNEcWSjsQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/sc1lHHDPKBDQFGhPD8Wk_N_lD3JULi11Muix_wqKMU10JzsoMk-cZfSvxKF4LYX3x9AusJ4w4k48c19moV_zriEhnXsaa43341kZb3I9sA-Os2q1fJdJNSDFCfscoDNKhpAu68u2_w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1WVSRct8OBYoCSG8mpz0H3kXfkP8-Q1OAszX93mH0scUrGiXOOImV78oM19D61PzB_Ke63sGWC8bJ3_Lu2wdkhbCG5XHTmbCZToCGouVeS3ANqJY05cQU6eofIVsTfdTmtfM4x0RUA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/3-MkK6jLxGDxfaelzVLrRZcGQ2GcUhx0Vj9C1M2MtoNKpvcCH7DPIFu6Ph8o4ymL0zCa6Wc8ftxWcNY0CBKTulxjb_KrsYhvxQQK1Mrt6tg2pxrckIsHN3micn2BYciIf3y_Di1WRA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RONvO_fuJRHmQdgfFzw2bb4EoL6ifezQ3dzFQ3s1ghKxx-S_n5z64kZ76FSdsIpd187cKK6N6EDQuhnnEN4JhUg3zHTNxifQB2R4nLo66KaCzHBtstqcBBOZatag1HIDP5MiNHBMZw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/xAQoX4RXJacAJQMHita13FmrbBAJAWnd9lEVvGyUlV97OzZ-ekFX4Ck9kGpAa-9plCetuoInkHFTZTErL2WdzBRgVpW9AfzIyN4I859eURlInx0_JrmKo1sPlis0uBKglh8pQB2psg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RQlvpbcKdimE3UhavolGWetgqSNFTinbqWiZgEXDIw8j0S_0pC-3iO76kAwarXC6IoYbP7ApBK2C101UGWUKq8x-3EObpVETr8OLlONfYXLUmVEzF7Ht2t5E4hHjUA_tLI6xV5qVzw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/WVrNOF5Kl7d8jBb3JaG1DcnptDADQy3vZfU-1ZGCJpCTyMTGEEFUImS97D9hPoBKSLc-THg8Dx3FHJRDfhPbIoMz-wgbzGSnCtxgEaYIAbZiFJLLPLtdl9Irr1vYiyz6mXfP_69x4Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Jbap63qvBJ5g79EJHBwtuJji7PrSi1NTXfjfv7q_P4f9q8apWScXEkkDI9HXEYbsH2czAUJNZeaY6rEH_t7PWudXOEFYQLxxSaas8ncH6i7ETicTV05JpJoTA4RM6e7siNzfxotp-A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/0wDUkboB7MrvJa1a5LiV2DeGvc5BKq5Cq4TScNwmUFyQsaed0VuoQqI3JThZKSGZbnQU_jRRUeJKGZmgg9hlZ7GpvahBQ9D3C9AbrQEj_nI8le0yN3mm1z_7bK5m2NQiknADqfVThA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/TvfGYV4LODZVPO3U-KYbYIN_vuz8THDQFCK2y31538cPyOb7L5WfC71ZIuDFnCQKLJHf4gFpeYMw1k3sARZOj-0GYb2l_U0tJ7KOAeCMmiACBqNQp2qqTmg1jt1kGkxIGKohCT6E7g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/VZypjAMUdbbzD2328jI9lSLJKo1dNAF7gChmybzknfeXv1dWvDUpKDhd-azqVvmt8rtq3mZt1YvPuNPkUDG8RvrCDijJXUGAH_lNxDyjJxuIuBBd-1-FMxq-pYTSw_-a6oIBll-1lg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/JNoxP-DzkQ7QRfCzDMT5qCImJXq5NLJqMJf_ccoxfifNKDt4Yx8uU7S5Tn2wfXLVSXXDeRth_Lh6pnzHLIhoKJjRyM3kDlonvQwnMIShRu3Y9GKlSePvT1WsoCZZ0wpEhUcslQAHNQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/6V6X-5iYvl20jyphez-V8zxW6kUuFDlLX2EdSnbS4W7SMW9Tfvh1VtTLoKHQOe5f4vR8xVHGsDLqJdPUlzRnKiskJrHOzgEvS7bLxFAY9ETnqeX2NyGf-VwM6iHyKm15jqZVv6H7BQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/6-iwwcZ1ZzZy5vy2mxEC5Gyi5vPEN5kiWAAXv3aY4foK3z_oHxtvRD7BAWEUBf2MKliDKVygY12FXOewz-7sP9yqy2qvCZm_Dut8tgP1YQQ1gtz8-b6zJa124hsbo9F9eDNfUJZJIw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/TFHyYuhxDvIkOVdH0FhQNxQ9zCl5g0PEx92vOR2EIhT7myk8nqnOD7caJuBWbKj6UnkN9HnwoY3lhfL40qq9JCvmR2t6DMQLpZba6lMBjNUm451LVmwoPXD1ic301NmCDOW6tt4uIA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/zDDk_4QMrPOGaqzi487BiygjrDFHR9ndDocrB-s0tSE9KqI382tFqKyhGRy5gHtaLGpQk_r1FxvzFVPEUBq9G5wAr2kr8JMDW684RTxwxB-kf6xj_mgZvh1sETMcNela-vHHq0_iZw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/A8UObRAiFCI3y-JRt7bdWl4PvGMxokLBXnrYwcuPAnl0DqhYdiARYiEE6v5oTVE2g_9JkPm3cN-Ag1cbzIZCwaA7hArbbk2NjDUcanQPUBIbNXd41yirFYTcRpcWqdRRZt0xXOFvXw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/-0LWdIKMqOn48aAkClt4P0dbXrU_Bs5fQqOXfM4Wxug1ElIjPrzRtaikNdt1DlCX0A3eQ9HYAGmRvkQqOGOtHmntYQ8z09DZbJVXWLkVwBgeazFFXWDfeBW-U0EZDvuzI10X_InU-g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/UwTtFyiB7U3iKspHZHKyLzWtJwjNtQhh5D-feEHxu8W5gT8OsycWNd7KDImEFcE0Q5wVDx1JWZgoXJW9HBG4FbVYFUXmK5tZeo42MF1WeHkrodgNuTa-1VH0muOG0XQaY97sY__Q6A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/o3hHP-DNysAwyJfz8jxsY8c5Nc1Us5s7GD8EALldAQcnLxsXFh5KWtfk1BpNnS2Q_xB9PLQrqybFGulPUdmb2GYRAxa4I-1e_3NjKdBqlKfXEWy-BISVZgj8skKpXjWWHdSwKMVnVQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/UWBOAGTuj5640jcclm8njaErZxU0jFO4T49TXbaCCT8PeLSsLVN05E7fztDVwr-1ep2_lcGp7KehnCg3pae1jHaYdzoxe1xqRucUM9-MVGmbpGCpe0YFZ4RHHfIq4Xz6SNuYUjHrmw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/3VGDY4IH1GzOv9Mqb3UaaRxhktr3yTetl7ZV0vMBbDSvBram9sfHOWVFWKTnbilLedKwCYPbDidL5l8nEKPr9tD7rq91S6H1lzmRNBgFlCvikb-bx1wheR8xlbbSzUI54pErxsOtCg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/2k3Neb2RFknHIpRgCOyg2AS7estD8yhemfBzCoR2LyzpOAcf9GI9aYXVnJ6QX2ip7LEi3MBuEAYqga_GbC3Dl2Pe4Bzrk4NTMnwMbirlH3gEkPbWZaYXoNX_nu09evBrlDOwoXuI7g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/BAHDdWzqOufmCDUuEML16uIUzYLpWetFIR14znZIOFmdh6kVOZ3_zBWunOBcCqAEV7C2zAkW5HjgiSoqxwosJ5R8tQ5msAea8z-F4ldJIGpqIfL7uPDd07otRLGDAxvPVayXwPf3NA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/tE_7DQNebXQhfDq0hXbV12FjRu2mw5KdCIpy4SloaxJf8bv4XLQQYGuGrGM2jxFuY9DaT3_TZpNq7_3dvFZ6N0kCgsCZvm8sE0BMgevgH32jE0ADh9L8PrIJc-dqy6wURM3-vBXxog=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/lL_v8am8sKo87xEc1Q8MRKNbjv5toDoKIrqoIaXkNLr_Mbwr5y-9iIXelkASTaEvAwUL9wqELqTaQgxqonPpwWBJn0plFSTisMtxA3SAdfb1iy_9McmSZnhAeEaZEY4uKUThX24yxQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/aUZW8OZg8lA8wKe6bdVk6afW-6L-itkiXkAncNtpdGTOmSeUj5dH5E_izfUDfBvIBQx_OzRyJTibe96d6UVHyHY62GhX1V00ulRXUJJTfEdEdgAGQzKdWYSnuEeqQQvhMCvvyGuzHQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/JLe8c3bY9A4Q9XXU978NdkyFtOskE7USlnJZ077DrsyiDtnlyKJwqngtxj_g_cLAHqUTWxpPv9ODVQbl1tl7WIvQhQCmfJ1F2030HxEaT6ISoiOZOReGOVMtXzAQaJs1nkWlrXNL4Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/_2aoRJra2EnnUkksUKe8iPgFh2ufNom9M8dmiSq_dXR4ZlAu3GX7gGCqzhDmpYSihaed9sWBt87Il6mZMBdz6B3hvd54_K_RlJhYqLqKBQrfDZZHaD-gmHcqne-WZZh1S_q_xXIUhA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/2ZtkkQkkaZvh5rUBFJBRDeD6hThaz0lAO-VQ1DXCpiVkuczcAy5VEVjvskXjI-9Qp0KPVbwIf9E83300RwESEA7p82tcBhr8iCad_gtxOC--qXBMN5izDXkfpvqCTv_L54FLCOe1ig=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8O4mQnte4Psbx_cwXntpLnLyQmJpwfm1m4LHEyxgHgnF32MDij7U9bP_S1dESoxmapd9FQhQLltJIpDh0eteaDYfJk952alMHtPxFSOvB4gK-QQHEAbnRHXJ_uFXzsfIVM2OkRvJKw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/6gCg6YuSZ_B0kOsNenv1D-fsqRlMHfyJOJB_outjF0pB0wH6tTQn9utBvazdjuJTAlCtYax0OINg0eYvBCfcn-J3tzYrae84YIPsdX1PIJ5AWZysiOvCRAEhvRsUkOH24zPdFpMcSw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/xUbyPf4axdsBMSJoLIzssJDPo9-ANEEmVXdD6pmoAp63loywrPwEke1k2YLEQRI9rUk2cHX4ADzuBwUonx54tIc28ekoS_oUk83FpE77ME-nX6i2sMjkwyguomg9XACAtnGC9UzHJQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ANWz8Hhpy_qKo0_2xll820ubR2zwpzAn1DjaivTOAP42ytQfE6qchsGHb47hyHNBRht-SupKMguJ24m16K_CNanDE9tPPFXFwwEuXwbJaw203n7J5lhPzHES2Upt5ikw6PCemu3m2w=w1920-h1080"></object>
						</div>
						<p style="opacity: 0.0; font-size: 30px;">g</p>
					</div>
					<p></p>
					<p></p>
					<p> <a href="https://brainstemalliance.com/2018/07/06/community-code-day-arts-and-culture/"
							class="round">More Information From CCD 2018</a> </p>
				</div>
			</div>

			<% include ../partials/footer %>


</body>

</html>