<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/chat %>
	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">Community Code Day</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp">Community Code Day is Fort
									McMurray's first annual community technology conference. People can participate in a
									hackathon, and they can choose from a selection of speakers and workshops to
									learn how to use technology as a beneficial factor in their endeavors.</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h1></h1>
					<div class="col-md-12">
						<h3>Below are some pictures from CCD 2019</h3>
					</div>


					<div class="item">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/dB13nia9DbXiqVWA9" data-title="Community Code Day 2019"
							data-description="48 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/M6dhpSaeDhUGe8ZGZv-8u4LMWiEmIG5W5wCLeCVfu3pKfevwRx7ftnzMTvonD_00y7NacK30DVQdO5E83TG0PCz2zOXRaC0d7oY7JXDEa1zqMMUs3zPIZrap7ijghc0OJpiRfKy7Zw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/dRSUmULn4G6wxRCg4Vk2nSCkSZDDyzINOBNwJFZlcCrF-t37L_eSs-_xcGwpoVVMFGLCLPSXXyN6xcgr929DMDRd5fECGEFYQXKD2yUm-zArZoc9ggi1pN444q3UfI7ZqOXd9U_Xpg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Xr3tJK6Erv8CBr5DtJYsFqXQSFwUe8-AyvF9iiIN3dKHVmsIvsy6mosqqBXcPtPb0tBCpwxiT5NjafkYcurBRHM7IiPkJ9H-Fwy-BXAS2M_B-46abY58X5QVsUDys0fx2_wLHOmScw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/NslvIpF_vtzy67D-3Q3ICnvQb0kefGaX-oMDaUPN-9G9oYnOPRT4sLRqgtED3_PLit8bfUCadA6oiw-8ZluJ26XXGoAj3Xp9_rpz_f7Iqo9fHmVFFfjjUI6OD4EI75rauQvUv4ypog=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/iuZvVtLT54uj51m8cuMIuqzCKRqYDS7kJa8Zp5wZukhZZNAlT9oVwTL728BOUWM2GDaRM42BoRVE1vWUeeVOgsww-oIAnuVQ6_VgmghO7jpnEsPZkYlDdTwX9uySx528dRRIwwiDuA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/GJ3dNC9e_Ea94kd2GXq5iobgU4r_lBlMPkx77D_1fC4VuECHWApcldqc-SjeLP1WUiTdruUDl9vl2FjtQ_UZSYY809G7O2lb0M9Eqe597VtixJwGCJx1poyKJNSqkOtpr7shUFhndQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/gfs1P343rWKaRO9hbKinRVMnLE__bXAYy8Eesz533ziUzskz5E34QhhTn_irRzSoJuQtjwZwle8Fjh_sIrJbik3YMDcXrqfvZiFZxH0WxG6VsKmqRHjv3ATPapQoWkCOHfXRufwtUw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/qJBN-ntiI5Nx7VP-J6kWm5YBkIBXuNtTHw9mWQKi567ntRfsZh6jXESUXmNSy7j360P5aaITErvvHCU4DeMlCd-U4xSGysk6m7x_KDUEJAVuuO6c-SESw8ZJyhlMEWmGvOdrvlCR2g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Y3QExz5w3wEgwTxR-UeYWaNlPETJ1K4KbXEzctIBL2MhqRM_YdFvFU-kuki7hPwnKr66ETB6CB-vFZEO2oyqi_HtW-VSbjYSU3NFCH2nGTYAgyyhJGnmiYjS_ofFLQbN27EJ6TaxDg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/xpMqcvhelPBveGbLOwvt0zfKzzoDtll_uwqIgdhj4g_IEaaqC9xXv_TNJmFLNNF8DkJZilS7tyyUdlEQY3Gu8a0ruRjbbRTs3td8WF-ULbXKcbG04uZEQAm5-t1atqd0JCk1yu6uVg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/EPr0uPnTF8_U56hS_yJNMBlb3H3z_kkzT61D3r2AYqH7j2la81bXPLJpigOFbmmT7Y1AcLL_OJT9Q8zFJZ3ocPbJJHTTA8Awid8Dj_yxNzvXDOmh354HAseO2MtilzisZbBGkfwpuA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/7qqrUwMy5-D5yiGmqrZT8NASn2v1Jx42MbfCaxfVrGP-2dLOXmmzgzudyr97qxuJGRmjy8Jf2WgVV07k6CQon9qw6CQY_-RsDx4bocdgI4_pmqrLrC2ub-GAID23tDn285HA7iDuvA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/aHfjPZav1v2eWrpYTC2tcro9i9jbRRnvedneCdTTXnbJXJCw1GLPNVijj6pqrpik50v1CDzSjs33GaBoR4LfYQoOg6D16HZtZALNilK4tpGrrVUADdcQlztXI51d0XGlje0e0DhjHQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/mSnzJjI4CJflWAQmw2n3BskOLL_zxHuoWA15XquHx4pECNkSgPV8nkfyR-F5eAsHG3q43zQTpy7GVvqMFYJ4dULG8IduX5oZYhZR-vPl3N7blrv4xfiOMPQsEKqqhWUSlUixgOBDUA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/5Fkxftv3wH3xqWdIbj5qXWX2338H1RK8Nb6tO1oFVBF9gmxaatRY_0fwN1SSSTZ2U9YlVmqJ6pSijmh5o2GVJVzw-A-i6XepA3wEP1haRMHBPHXyaMqAbFYmHW6cJNn2VfOixh2L9Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/TwS2V62Ubz840uQq8OFjm4cMc9edI7zatkHUHylEmAr6JHThNiVnMkmGxOHPcTEfaeRDYK5YxGNJyssgB11kD9oO3q88l6Afeao67MyGdRsQ2JR7yZFnTk7HW_g6vZ-LDvNZOB-usw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ebcaLC0MxkO0sY96cFjLA7aIcy0apwQvEI0oyW9AWjZOf3M3CyJaha8DWyupMZvYhfG_n5bghd4JUnQVZvtge1fuA8OPT5TuuisyaHc8POPp_bXMDxPqeSaX_d8Fc-09orhV1_nJFQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/lWGMiyKSQ3B-_5G_tgC00IxeRMHYrUcR-20CIiHMSb2wI8_ugX1z4432EZRYpr7cYR6RhMN7WeBLkcynoSNb3hd4GIezKAYVxtBgjFe860nqKIffLCHLzQQy_ugAr9txATTMEpLdxg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/zplMrOk4T1--EqxaZalsEPPrlFCJeJsYRTJAwmsSFKNCctXZ1yoskqBlR5U9h94CdCA2Zwl_I0aMGzouf3kZpwgNowXoCmZceep8uGYUCEOT-ip9v3F-Ve0I6hGcPNaJElaJ8Oqr5Q=m37"
								type="video/mp4"></object>
							<object
								data="https://lh3.googleusercontent.com/YQVm4D7NwYzb5qzkkhwd3SSN4V6rr5g82n7u13DluBcFhpcUa3xla_iOzBRnexUoWusf6V50hSEzQCv9lwBJtR614bmOY9quE_E9ZCRnp-r3zTA6HIMn7cqIHdNy1nE3fde8oo9cZw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1hLIMGd3GfYBcISnBipErMUeiJyRPYJsLZSidAm-rCqRxORrYFaLo65qcVmSdEPI7dG7MkQasIG3dwZBVM4-oqbCCaGICa-EMNCy_93BK0wJexlMgotPAYoUhWxug8GXp39Fhf_YEA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1W-900S4k_d7rXdnR0AU64Pb9pGMyVxC-QJ8tmv7k7M6wZNGJGnp7VW_bBDxdS4fmFl7cz5AMC1pCrgON2z8tap2QCtDSL0lYEDusbWm4l1-fxV_4sK8pTH34Eht_-guoNT5u4_EPQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/gMRhCmmVPYuS-Mg1oBEDWW-wiXiL4qTMrMLRTZU_qPIbe-sr6GLUeltKXbiCQS9IqbD0t-W7-bBdPJ9YwHkgHFWVCFxdA-KPLsPkwGv60xnl4TD5DIbImuu9saj8lxu8JO2s9ZNbFQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/yxxEpNQ-_mAGnVgCPxE81p0o4RQUaZYcTDRWal1BfLOrd-klOZt3WMdNsRqXJ7e5_nljBCUfVgu3TZ9L6fSwmyS3eV0BJYSCm5V2SAi7k4H7iwpnlb5RTs6b_fVrcW6xkTdccbjqEQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ON9j3lewziw2o97uXR0P7UV9gEyio77qpKIe1pY9C0uzlDRYXjfMlg-mSOgCiMl9is0NyzN1Xg6RvUXYutWSkIszxw6-Z0oQxFioc05bTz7vBre5Q1jWeT5gg6XAjXeI69rvPKyhbw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/PjW_YXCumsf-NRxOsCXDht_qrgueXAiB87pQNvA6wJcYfchoDwlJbU0HFArVbhNNIhz51ezeDZoE0qe7EpjULXuB-YZiSAnwjWbFOeEVRwOfbreRcuPyb8l-1wapyvmWIMlhXygUxA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/CpFEGdjZcFhNcnU1dJnJTk1dqzChd0HdAUVP8ZpbCdgqxH0tlx5V1VD2j6y93nS-0dP5ap4Ouxeh8uJSClP0qFmySBIR0fDYG1aqF0QZwFt5y_1EFFl5nWdFF_H13pxrdFhXwSjbww=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RSbBZt4W-NDo4xMTH1eytcZFC_BHAnbch6Pw5b3ij9RY57F4DmgHQJs2QSiYeavahQlTVKLzK_xzdyb69JVHo1vqL22ZODmGLJk_JhNVifDIlsKJv9715jrmcwm6MsE2ytMMoCTVzA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/f93Rk7RP4Ob9R23_PRc2g-yNbZUtwyhAH9i-lpqJZ_W9aHNwgxAmz4g7LW-FDw_H32MUX7rlL8BvrR7lmAV09HZPUb__CTJMoJ4XI0p_9w_g2G7M-RHp7S3akClrxWHFxj7odfytuA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/6jQ8_xRzZbSu5uKXHLWT6sX2cwkRtWdFk6saZHSJqRpu9bMJWy-7ERCOd4Guj1LwP_z8qoR0T22ZY9q12J1nJTrKmCXA4Ak7Y7NdMCxqSJZx7ouq5NSAdX588_kyCApdijtKYAqO5g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/YyX6aUfwR4v4T7CuF3iY-TJBp1oVDHTBqrUKg1OElWRZUg6WWaFpUnye1hDahH2cKBpqrqlSYNo6LX7YW6BNJ5hBmRDSUrWRqV4Ux140EcvPH5AWZIJCFLlXuWsctEnE6VRL6QyvCg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/EWvGqpiY0es06hU2xyudpzzcZqaybQHOwj06A70MG7zUJfV3BMMjcv3GHjkpJMsvsJSE5jHMD7SInTrXtKJT8mf4zn2tfXj2kXD1N3SB5cKnOkJP5Eb_IIN8IxT3KdhCYzndYp00xA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/628pMgczHPe9KChwyRbg4udvkArqsDaxldGLe7wwwEP4J1_DR5kPbdjSmAC3Kps2BKDteD9b9f5mTz8Ew-p2zjIwnw2rkg8byDejLffrfYIAXYPVtSH87TKdVoTTerbuHkkMEj81NQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Y2Ve0F59NzdK-SswJ6At5dXHTeBg2Dqg33sUOxsLrvqKC5qNjz9j30LUIDSm8pc2GnfryZiXvtR0zHaUEb6KROabPIVhd52rM2g0SKPJ2mMjFpvpzTrEXbxSQ_D-Syd15s-iSk62BQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/uEHMstXUNUNss1drkVtkrzKek3byu9l3dy9FBM81z87lbU9jFmiuizP1X6RT7MTPubnaCtt8oPG5Ajv1H0VCe7hvlGwO-1oUuPuH5602uwJpSbrbfirY8cZ1RYjXWpmjNHnUd6pBAw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/AdT6IcaKLDFp5yhtnj5kB4VQOyMT5zXcgVSCPx9ywVma67ZRiFCgHh-vLF0eQ3oVCEhAhZEdh08Cpxn-CtmjIgpApcBXbRSGz6D2ogli1zrMa-nDwiTxqj1vZkLBDmjUmPgam2pFgQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/HGozVj8qcn4yTX_5hf81Da81LTt04XHEVDpSM4tsdxK0VocdcZBq6Kv_I0s1f6vOom9kzfkf3QkbdHyJMYLowjGvFKljm2ec5qcBKcxw4ZLVRhz8mBLvl88xmYVgQK53Db6xbk_Ovg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/nXfbSopt2rleiwZtvaVG6R0W80Gv82a4XDE7V0jAls88WB2yH5RkTvT9Ed9nvG8TZWKla2kzfL9KN7Cj_2S5UTZv8Vz_MThRaqIDTfMk1FNrwOmyf1UV2lHHC6YVEdFZ5qaREbBd7Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/MCmnsAPJgrS2a0e4ETc77upFMwlYXrTRdd_AG2cr_nhynPPykOqzw2Yjamj57Xt-0IKFIPbA9PkCTqpvsiNgopfh9-kABqtcLUSjF53eRMX0c8xUkgpAXkwVu2BOtEvc6p706oFyDA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/KSgaqbTc-3UkXDGWoDDiHhSQ5SvPbZP86YzMNOn6yYbNq9ctyes6nMxfY70J5goQLKAf0lsFnQOK755W_aTNA4LJi0LByJuCDz61OihaoGsVEkonAuujebb-0AFvaDVFtyXVPeWqsA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/3RcJZYGMgdVQd894wJMXU3AwgebHzNyufKNyAZhzsMqqPzZLYuxfDBCk2Z-wzAAcvNhSsUlODMlT5tdDEccrSpVJKulC41jS4YJaMuIFmJnACZNPuPp0Kv4sHIRQIU1XrdMBtCyCGw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/7I9hEGf-k5tf58Rtb6LIREzhQBaK1ZsB2_AlCHj4vOCSD6e2anBc-8odwCOGKD_w6btfmhRPhPo97U-_Wg_9EL5aBNsqj4Px90MXRYvB8O3a_yTc3xCbfl9R-ivPqhHN86EDYBGGHQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/z2IYqkFFjRXvUhuW2YQOXtiirbdxnaD0p7V6M7hJMnqyZlpc6YnNIz0qpP54meUCbFRD5zkdBD5__I7eFhLAwP_6fqdVZ3NalDpbp77dqPegz6YkPnWRcjoW5KzKxkha8P5WwKTr8g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/YYe6rOBjbGBh7rh2DgfaJCH3ifC6I_FH9hByZSH4Yc_kQZBFLjdmKZK8h3SuGj1qzxdsFsVhWCo-KG-Kyctj1T9YB1HahHSpE_Mo-r7Dzyp5RqZ02KHI9mgHch114KCx13VwIewyRg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Ff9NZlzQ5yjHn34yJ5eaabgNd59T291GPRPl1drQ8K6-UVVMHA6Fr5BSnCcNBc5V1lBAMcQPWYnIZtEcybBA_7m7KkH3YoSd8Zm8KqlNQipnhIi7HtuyxGZujlUpTKHMJQ3s-plRTw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/mDXi_D8TldoBsHqEoX1tiwvgKmlBk5zsRNfePuA2BhkOr_mihMblgH0mM0b-3tF1LL04J834wUJX-CNdar_Zi7tkVBO--UYlLju6dxUzNW9x0pSGyM6UBTKqwlykVLEsOKtsXsJ1tQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/PgzgZ12H6tB1zgtFlkxlBmp_I6nkXEnJhf84RXN3UwIwEcuIC3ZA9VJUMzPQPGtx6s64Zaiyjn05ojQZ6OV_pk8fPBI_aD0TLnjdFnTsyng-0APF_RGg2iXboj5eO12J10QnF8M6yQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/iF1-W6tENd35gmUfnNf0Yi8_J0ghkFFfI0n2Ee8hNbLYvYLDIZKnM8rotEXtFsTHF8Jd9Ta7zuz_FZS0_Ch2obYmWe0iZjGb30CXCm4RoNP9KkWVz5MEDpJEmElEjfiWkfd7La8Q3w=w1920-h1080"></object>
						</div>


					</div>
					<p style="opacity: 0.0; font-size: 30px;">g</p>



					<p> <a href="https://brainstemalliance.com/2019/07/03/2019-community-code-day-health-and-wellness/"
							class="round">More Information From CCD 2019</a> </p>
					<p></p>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<div class="col-md-12">
						<h3>Below are some pictures from CCD 2018</h3>
					</div>
					<div class="item">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/ii7WBm2RLuNPvwof9" data-title="Community Code Day 2018"
							data-description="39 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/Ir_wklmGOjfyrbjT4wqnVOaKB3Z3s9qtsIxM07e1MhpYkagJaYU8X9Vk3SmU-8e_DJgA1tx4rDvvKw0OEtGp09GvkduPxBHdDDqhDg0R3rzapDgTjNtvfPUG4JBKbeu6G1ndWvmyKw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/G11IvjBhLGIYHhHLopkVVJ_qqxiMreMG3xvN63nzVm0Vbx3w0BYmuJ1qIZJaX_mX8-FWJ411njl1ubtcyNEbjfTcPRchrfNCD3ThhxpTQ_ZBWQylXQ-fLnAoVNVR9DzSzwMHpsAZvg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/hir41BnbjIoVliGLp_Y4Q5kW3EdTvSiHOY74sSvvYSKTOlMrrdOD5K27iepNOoj9m0Pz7yBwz7zLmudrvcXOfQ5REKDcTWxZu5dKdrOel5ggdb--nDluJNenn0QrBilFMoJ__CDDiA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/LrCV8WjnUCs688-Vbst8bB5F4_LFZiMJ2tbf6VEHvcu9pRgRIHbD4EbZG5ylmDXPcKA1gox6tdcOZ3jPE0X3bjx9qSMGHDyijAKr5-1iq-gKuPXxlWf-TzHGe501hFYIPPNdgdCAeA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/fSzYp9B17WPzCf2zGB20JdQfsIgOhE7kkTB5yYzvPVzjo6YadmO0MkmFyNFBYyt0eX8chgaBXghq_WtXWjlPdwrwxuYPMJQIxMlgfJ06pKBHzPtZtFOoTxFZ7Z8BZVE_QpQEz_bJwA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/xnu43gNth3KFiEK19FbbaZMZs46RzWI95B-nK5y49AFzn2EJtvCrcL13cnRCJBSZurhcEVf9rvzX8KnU_8DgH3mtcTY1eCns8NkKlw3yLzUPb3nc-DijhlKa5o2jsWBTraethhoRGw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/EMIDCP5zyiPCYFcSpyXiqqR2Db6niV3UcLY-KJcLJ7Uvb4jWj67tDmlqnHqa6eIXU0a7mnfZjWW2lI36Y9cFiyKZ1tUbWn4d5bVWheIA4-YqglUWl7Zpvq43iww6LHW7kwQEinYO9A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/6XTKuvaJ5NVxPd5Xnlc2CwJBR5LGQBpxz4ZjAsZVYuV-OBLNWLdqoMhymuChajFbgnRBCZKdTBHFIcWJAB1qIzh8xjYpVhX-SOXfEiKL9hZrBbi7Z2C6WuLUWhHBdiHQ8G-MLmN0QA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/hCatD3pL0BrcRDLQ3AwhiQrPKrvAJAj9q_LC0nS-lV-VCqjY3tM6R5F6nkFzcE8w4h0aDQjhf4VgMPLgQvEAScsRpmSH2WVIvC1PHxXlk2YZHyMvDTbYmFE0pNZfrlDe9nyXWXs4hw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/mOwKhFbU6r5pVqqMfmQRL1MU6k9TZlwtgO53kqeIQAdkph5NLIIbETMzd-3k2OKr9d_-Q0d-e1AX85HbxgRB3KtsTM2eWgkJejeprEQa1jslzQ_PZul2GEkQl3QP1vLnH6xhAPM2GQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/HijByHZ0mP8P5zpqtGu2nqYw-4T0MI-qANL25OkVckL0_Y5U6hoJqbaZkzgqbxnK5z6YhTP1qqHjtcgpMxhjpsmi2XSPgXObSibTxzOmVwJ-RqCMgR074-9uhA5B8dpey5ljIIkOQQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/llSeW2s5lX8ngUjsKaIHGH3_J1wiatADDKXSHVfT58ypV5dXhYguYCAdZmtjBXhIBuoFXvTpChpIxe8akZ4A9ae5ZBBoUkdZ-j9XC11CWelkyCTOUn18DURpQBjZT_jqW_X0FYlcfA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/O2d9mCiEw4BBIlatRmhfLRO-Hp8RifqFBoAYi8BpbISMs_yG7gS6L3MKITDuIqMQ-suX_fazoQr_TjdPCN9py3dIBtasPo22RUNsEmlksONAFWB0OYputQb2QCOfpIpF0OiFziVrSw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/46GbX1DYhwKmX-5Ns1r-x-Vn046kRwTll7pZSYWhY32flLpQvkhRlzz7TNudsaPG0qQdjklGJzkjEGGNOG7e2Et0Vn1Ev88kTP_29zZWRV_isla2s88MygNAUOSE-mGPv_ltdb-RDw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/5omi1nku_WUW9w7ifb0xbWngS0qr510mslyp65aTmOi2Jfvmpvnlg4WHs_jvItl1gjqlEUX2zCZPTTpJ9GZ3EpBJ6qV3gYj9PeLutksDIqNWtqluZskhtAnfI0tBAyR5R2_L5sWVFA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/gnN2W6TB_ZpCB6VfN7cC6goEAzMNxbhfksilfed1Bpf6S2TksQc0AIDCPbGKzxLZvNJrNlURNPDwCQkGnyCT8Dy0KzOPV1FzhswE7y_WSFzFlXT9wI22rntGKdDyiX1QnPl5Z73zyA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/OrJUq94VmpHtTV2KRFUe-wPLaxlS6x1Cbf1mXnhG5rfuYplO9_cyPQfoQbLw41v1yOmZKjlMDHqy-vDbay2QUTVEuZ_h3Sdl9scq5UXchzhIC41Fl1rCbAlhdekWUuWPoCR8INFqzQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/JvqegwD9n56SgBcxNY63-mmtIKOAOjFKpDTVtOjV4pgTActCLOXsjM5Sc7g72ON5l8k9Ycexn2xTfRiB-RsnbeypZqOivjwrCj7z5j47UHcvN0t6VGGJJs9eLugDVfQldg5T2NLo9g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RDZn0IK6wpCx2CUdHgQEPEt1pSAlMd9UZxWjG_WvUD6P3gpNcprs66X5JnkaseDD0G1Usvfb_AHDDaZxOgYI6miBRGL_CVBnOWHo8ui7Se1lqLCN2aVJapgIc8NZZBTKQHOIWrHhhA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/rl7pGrG_xRejnfU71BypX2dAnKPqvWbN5YIbZUyqXJfNjusXikU9W7EnUSAM1wiKiACySaWmzciDy9MMUzhCkAqbPq2saya-CTGfyz0qZQj-X1uZSnM1LqnLlTpmhiGkG5jRRNty3A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/7sxTiLzz5zUL72-BJC0SFg-tE7lEoRteePo5WjThEwIz-Xo0HtsGQFtTIR7H7uQTsNeaOEN_2oUlyX2qIirLtw4dNU0BqgyycNNVaM7KzfzvQdBwt2q3P5-05u4pooFuBPFKfeWdWQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/C3_k8ciSnNeFv-il_hLhprevLsl59EbTUWvQ89csfqR_MoVzFWp_I27ssP5Ltd5tDVmHQ-NWvx2KYGh6wnqWPgvsGY_F2FgBLzKu_q2ujQaL9y7c8kIZX1NZxrayTXIC5_VzSpoTgg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/PpVWjQ6TIPa2j1Wkc-JZ3a7wEPmzQJCwWytC1HhjFTPdjno2UmOh94bg0vyuo_7SAg8qMM-6YBdlk0jY1UL70Mj7KHTJnfcI5GkqPEiwHjuGqouSM9uWb2F-6WPFPGrr4qR8eAhHkw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RbXnHkfWk8mDHEv1D_RxDXoITXGbCXLGePvNNLnsKt_yG3zzcJN4o29hcWbOkCqlnbmynSeIF5Qwov2v2jzeMHeIFy8_rO113gOBAAmR8pq7jhCb9SsWDYZJW6VsRumI1WfXy8PGPg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8DQLtqSFeTYnr-hSKQ8eR05VopiTLCaoHWA29w6T5t0uATs8Qj6whona25kUnG7MGNFKQI1XfHRVXHNAjKNKkodi6YaFC2MFPOCao7gbj4angVv4Qt5FoUIURE2wR4uvLSKNKI9N4A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8WwrbsgOHRZ8SulxmXtrs6DrXXqvctiEFNuA0wefwgScyvHyo_XmehT-_cGN9fwj8kI8ACbAny1ozoQ4cq0yvOGfZwa1oNcZPIoE8xk0HH3xbs_FD5tCDGiaO-Y5huY645z_rKwl2w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Ep5LdZNLmM64TaLV330Ep38vCU-DWkLk_tN5A3Qdpa58k_AJkjcUcr31z6Q_VHpGb5_gaOQjH12dMShRBdUAK8DihFQp_xovoHuhqA4BAzssVoetVbvF3_gBwGYT3Phi5tYV6WR5Hg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/yYc5kVT7Ouat2J0IsSf2Yn0BbAUYE7Ksaf-I-jx_3LUkajA-LhY_hdwxdPqV2nFPXqYFVxaHE8VbySY7rD9WLy98qGeKpDK2GR8DXSz1DOI2KSS5FaBxHBrvC2s1taw_m7UPJ-LS3Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8zuG_aZjrLT2aTQqjdUGIZeuQP6xb8c90dACAUM8BiwVeM4sNbOV1jkJQXHzQk20o2VUeg6R1f4Ywlm7y76pVbuTvAVdz37Tv1KYoo8GtZ3S_7wEQDAoViqJk6wznFHmqgaBDSVibA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ewbwtuZWyem9xN8BAcBcDgbQzCKgTXe4IhS2ioQc2so1oUmjOgQkV6ddOVnTOh00zfeAlTWyqrGj5SpeLErViWtUcvmmGYj6PPivTyMGIaOjVGLiyhnpmXpZtOnGnkHKLvFo-dWc6g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/prwBdTPADYfvOpvdJbhdoVYS-8KR7Ho18ohEIwf9KE2PaF48ebwp_ozywECn1aA8a_Vw54uds2jGHWl7jkvfpirPF58si9IB7Z71wXlxjk7R_k1zWvmkMOC2C4ak-TR8AB1dhHI0Cg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/HgN9YkTdcy8JxVkmAYyFS8xKjJOcvQ7_5tTT6Z745X9S924yD0vudZjIIWaSxTV8pFYXdqmRRF8ml7QMRfGH2W1X0KfltB5xrC7K2k4fD0iSXy-KLIweQX-5VtL2LRE1kef7O_n8nw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/kn99KGS4IcLSjyEt0hFOCgynDXv4tdVbJFrydQ48gYpz9Y-bcOnykGzaqddv-VLL7GLOkYxuxW5XbsyA4_cT1qHGIR7fBhSd8ueOmnYTp86mxWD_YwgwJXapqzcI0Lob01RmbksV3A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/V807GOhSDNuhhD93Vb-7vhKgz6HWIrVq1gwKY99zvFa_zoJHWp1O1QCVy2t3XE1HHor3Z8mJka7PNRo-9VYxEnUPSH1FUGDxw3IypDHbsyA6i30PX4Z-k9U-J2jvPdS5Zufh8eIbPw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ZqOlmpb4bJlw9H7fz_yX8uby62KH7IS9W9q5gB8evBeBi2fMBpMXFFIknjx4xtOWsGVMdEdkPZcS-FZ7jhkQ0dguet6_tq6xtqoZSGTCMxQBuB7kTxTjvM-Qfz8w7oToRKsS3jZnLg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RxKhqageV2APAXaT75J05JUBHYTunNast42RXet-Rl5tT6OgA9-pg-ts_y28WjwQoUqsl5uqYsEcb3QEOMCC6r-jd5Dh8Q54Y3k_YbdtFypIp2fxfoD7EwItUWNtczYXcfXodO7aig=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/NHEs83cu8mzSVpvAqT4h6QVf9rieguo3ywOm1soSc0PViUq89PKC6hbF3UU1JeXR-qbvLGFOd7Nc4Doqhe10Kx_41n3eNR0IB5FbYLoinQM9z2aSO0wxtwHsL2TUv828lbVp0mKvVA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ISo20G0vSGhPW15Qcque-MOi3mYtxRZUityaD-GiMRXTYhbwISCTL_8FrfyVMzDbARGuSsMefh9TLo33PK5OVZF42xWLlDLV2vR1tdTBEzPTmXTX2ZvMdZa_Hqru2LcR7FsCpljsHQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/m-rnpDJ4ihIeMYC28MLulCVe7osd9MEnWkocbgCUlRdKsOswJdBmt5O9Owtkaej7ywIH3Acz0QrdnN8nCf9aNPe3OG8VB8VTcPr5o9tE4wDWc6HAigU270UrWXjA5UcI0DS8FC_xaA=w1920-h1080"></object>
						</div>

						<p style="opacity: 0.0; font-size: 30px;">g</p>
					</div>

					<p> <a href="https://brainstemalliance.com/2018/07/06/community-code-day-arts-and-culture/"
							class="round">More Information From CCD 2018</a> </p>
				</div>
			</div>
		</div>

		<% include ../partials/footer %>


</body>

</html>