<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">Fuse</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp">Fuse is an open house showcasing
									various technologies and promotes science, technology, engineering, art, and
									mathematics.</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="gtco-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">

						<div class="gtco-container">

							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
									<h2>Fuse 2019</h2>
									<p>YouthComputing hosted Fuse 2019 at Westwood Community High School on December 21.
										Fuse is an oppurtunity for youth to showcase various technological inventions
										and it also promotes science, technology, engineering, art and mathematics.</p>
								</div>

							</div>


						</div>
						<div class="item">
							<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/hjvuQN7rK3KqVc2e6"
  data-title="Fuse 2019"
  data-description="23 new photos added to shared album">
  <object data="https://lh3.googleusercontent.com/CvjXJ2l93zh9HjOl1A9PhG_elIO4rUtI9tjwOPJVScUi-k7y6mZbvR3wqXBtUAn-zLuyjGpVahNDw-rDCKIRsFmlDOKz8y46se8b4aSaMBWCRsKp2uRHt3fU9hfxYjjY-eo0fO-9uw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/VAI0Mm4iQa9ihbTHTQR0IOtoDrVO1iPfHEvoINZ0BELlLSmpPY6LRsttNb9Yxunr8YbPnK07nwPBfYxYJ1UkkrkY7YNHqJpp-ICi2LnCtE8ce9Sw1HFdaIHjeOJekuiUsqQjRUgf9g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/5tI3R5255vV5qsKfwlJI9cNzlYSu6FYNXQg9aKEcBaFrAKeU69rvuKDtGSgGN1pXU3-g_57PAc_df8wsvKlc-WmmHUNoAXs8xjkr6iHRVINZmSKLoF3ncX1oRG1E6hzauhn4xFRJPw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/_7cbLXnHHcJpvUWozZ3pbrJHga5LtT8MwFalzj8KQkLQ0S53-GWMLYn7d_PZGxfo8PA15Uq2fgM3B4qGhAuy_B_Yo6U8hLZHj4N2xwt6f4-9DBnVp_mpagTyZhQnj3P_kW97MkUzPA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Dos0sjFP3KzawDqZGt_txzJTuLf5xbpOJgUr5QmvvfE9cWZX1-Bfx8i-T0jnaoljMZEYYip9ZndPa3x2E_d_FhCkEZDkpXIg7dp5yga7ldqjyDixzTNp2CV4stFMVFuT2kyYGoTCOA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/zqIMcn9XEntNg7SE2x9t7sZFqt-bPItVt7QZttzuwv4AzwZ0zAXXK2bRJQ3ji1OAicg13ooTZJG49KwsarJZRMwvxquEp2bM0HEmts9fWkBOkOGgJJRw475SJ8-MW5mkcoctm3yn9Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/cMsF47W25vH69Bs7VE6i6HQNecam9HR6poy2cV5UBP0dsmbuk-aryHRWRzI9YLBdxJk1XoZDTMIgq8UquamBZOErKewnQwGVhydpY5EKkxx7Y2A8ExXzt8pm4f7vwUFLn5OcOSmugQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/LqHCI5-JJm2sYGml5PtOYGR-3tgUIt-JdlB7GdkFC5sEsPABTIrMtCZOOFTtqMNbgG38F7OnNznNzvJH87xB7qAs39vw_le6iRHOQ4gsoy2FpDl7L3hfFqbDcr1Th9LuwUuMXQWSlg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ZldQ3WBBZCnHnXhjVDqivKxRE_3hDOQkYzvA0duIfWprZVMSq2y2tSM_5d-cyq5MG7Ps8ujcJszdmxqEkabLVBdWvfx3ppvP77tL5bMuNz3TXuMo1_jR2tE9jdwFB-MQ5mCPIWOzQQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/uqp1BSWvhQyRMk0F4yW698-LleumeqJlKAGLYYIXyXMH9Do-0eurm4HKFpyEwjKHPBPxkqILZikXdVKxbEQrtdDLjF2iE_GWukCFNdvXlNwRIQ9_XN3UFGLymutVAdrJWHp6t_wLkg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/7vxIj30FgwXV2SGV_RUdkS3Rt63Ml80Um8cD-bI6N1kAth70AEeFVUjCH1a14ntqDpLVbL3ZbLHVaO_btFzXv4z6P_oMHAoCFt_NH2fO_Idvy8k_BYposOkEbq6yR5jFFRCqnV4JLA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/hBAWx3_BqNyxv9CRyiIpejWn3ANamZlXrwFphA2Caq0GL7UmolDXrzvqAirtf68k0umweEsNj3iQchIx041T5ps6tNslzukjx5tMQrgE5nPn6eY_q1hG2AHHZyCSfti7EugdCHXKcA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ziHxMni7csEUgQDTV3jABztgKZagd-acIe3WisMGfRGPD2Usyg87wFed6_zGHiSuPkstlt2d_kqhl7G6RKaMb38JIczLZOP4z-Rt_GDK9TbfLjnP6wh6dCz0k-uoz65wvGeE_UO1Sw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/suZv6tF4Ho-hTP8Wei_E0Cwknvb4jRZtGACtlhVnCMWA4Rk3CsoAonMBXDHSFOL-tz_MuzA6IP6FvcIVmT9DjLENUA-_wBniq8sl4V5w-_ruta5tvZ8fmxPZ3BAiG_mTjqV3pi_1kw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/kWfz_P1sdMCJxmh86L69BHsBuPiYLFLJkvu45lqKaSud3r1s9q7O-PoXl8D7oEhSS3RusorVlbYx1GxSCxTG8_7RbosnPCTqSSgvCax0clmRk9z29z-uGDrlvpwPb6ARNZ8-QwegKw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Krvo9kB0gcAXocHoVlf93y9CPLE1zwOq6ztBfvnVTwWSLeizq3SJg7wA37XlTZ58rF7-vBBs7aBKzZc78VszZOtNcZbvfMiy3wLUu8u43cyhhtJcW55zga5cHW6anorYKyisQ65mvA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/wOwp8325EdhGzktGUIf2bp7VBdlwrQnVunKLuAtT0x9AUZttA3fGwj3te3Q3mK2TtCf5CK97ZCVCs2S6nnWlF8Y1PguLj-kPjWWtNgq8FPJWdJlsrmG7jrMT_s8HY2LcXWs4DVcpkQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/F_zQCEhlyUlBoyW-lwj8TQuDRL-9lt5rxQpb2sY9eULFTAC2Uaoudp4JhDn2UpZC3MAyQSygQVzxwJs8K5ppJMubGAz-FE_vZRBztnkrWOZwF3LAL7EBbj0A4iypthPCmi1P5ZpOBw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/c5Jvc3uEE0-Nkh-lzZjcajYPYDOB-XHiczOh_IJT10Z7gO8hKG4Lm2CRbDVQ6G-03_IPZw51tK8WtR9ikv_yIW7Dy5Km-560xMR5a-l-rsp2GDT4cRCmVx_-EG4_9yBUQJDLr99blw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/BSFgYMfr6wUTubaYvMx0JLVDn3JXxUYx3xw2elHjiCfEld0epdAXIjja6UYT34WB4tmPcCnhJf3e8WqYpHHL20pUaKs5BB2SSZM6ceavSXSWZnDhG0w8i1qDIzC7T0RWFY5Tt-urFg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/2gJYZ1ICr-USeYn4wHud_SKyy2knakZcfQTDCUZW7GzLs9fTHNxOnxhreZ_blbzFCYHxAp4XHVKnhJc3gZEzGgjAjjr8_SJ91sF8QPauSXPadryUi10HUTLvgV3ZCswLJp3C38RKKg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/u_xFVVbKYhRe0-rTxSurW-X-fH1BiuXA1RLGM3BgEQJD5V7-loR7SQn92dbYgbkMz9xRX-U4dwcRAN8bVrw8tVJqpZr3BlBcqxMUVCpqUWGvvcE6SKO2bNSywLe_h93fhFvGSsCtnA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/RlRzk5TKbQgmS3hxyCx7e4HAfUS9JSiXlXa9yZhqQgYXebZFOK714XJfettxaPqiES-2tT747kAzwsni2KvC3NowzY6SuhCuSqqKMs2bXgsNoUIHIJwWtvQ2bImDShBy2u8Irsd-xw=w1920-h1080"></object>
</div>
<br>
<br>





						</div>
	


						<div class="gtco-container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
									<h2>Fuse 2017</h2>
									<p>YouthComputing hosted Fuse 2017 at Westwood Community High School.
										It provided an outlet for local youth to demonstrate their passion for art,
										mathematics, science, and engineering in a fun and creative way.</p>
								</div>

								<div class="item" width="100%">
									<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
									<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
									  data-link="https://photos.app.goo.gl/E81ma1yLNCdANTcH7"
									  data-title="Fuse 2017"
									  data-description="27 new photos added to shared album">
									  <object data="https://lh3.googleusercontent.com/jQqGlbDgaWnCM7dvHNGY1cdMk4OBLy0_VN9FEwd9fRoz5bklMfnpDMpP0UsvUkB9Qsrb0ezCwQUHPaEoKR9DznqyGKv7dKsy8VQIZUPS6gb2odz1NYyUndjfQHLDmmCbYwTERbqfGg=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/26Rpa-dK69_HZDgUI2O-VUU0MbgYowltkFCO_wJiAcuFU0oMCUXM9KR7mWyxfOkzQSyIREP8un2o0E40HY15ykVUizvV2wbwB124PajiAC7DJ9AwU4i1NCl9qOi4D2Ev1tsOkBSsQA=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/fJdhvQoW-eXVpqLFS-gto2cNNrFd-NRiXXYois_oW5WzYU6G3sUx7InowEHTkmjTpHNHRta5J6vKFsMsqtd2d9vgxPQHETm_-WzNDJrm7lDdi-W_XrUMupPkIZrICSL2F2n7ekFaSw=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/fUnbRBn4PEnOBr1IayOieY63nDP9iAjNITWcRZ4ttZ3G3kyN-LR3XmJkxqZvvusBAvO97hGQG01w24s6em8nPwgl5bmFEIIfONkAQwrzk1-iS8wG_IlulUttsurk-KmcT_q0VTwR2g=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/y-5R0u-jHB09jEt0V8o-pX5BXhT2-jLcdzP9phLe9dFQQP_mTUgAsyzeqUQ6LFhyxs1ImF0woXHQaXvYR-i6v62qJ3dE2KezaZk8JU_-OVcbuMuDMxh2CQJcVMaSOna0SCsXYyln5A=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/kDBYIdqPoFUO2EW1upRDzDHFLMvB_j-U8f7PO9IYNaPsgpdaXtCNks66TGEub7Z7GY9pFFlUJbbjGuWcZJ9_LiJ-nwwgydR1UuWF83MnjUPitZjSDQ_9X_fZtic2-JGw4dvGUqB_pw=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/y5wdC86kaDa-GGIdirgEgO_AUdZXzYPcRuPQDtPW4H0t0ZI1rq2-1sOQR054DMEThufgDlhm2QxnOYrsyuSIGoSW3v6wUOo6c41cInzlIwWpiOWoeljHqNfASYUVOfa_vDze_3MGRQ=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/h6_qoGYEzg1NOV2-9gnocV-OnnK1iQtfM9iXQvfFzrbbrkTULK5yMm-JGBGc9rbBcwJ3LjIzrmkJ9U71uic8_Sd8hGSJg4fJW0EsRCxEynqv4oufWColOk_wpnpQtDowvBa3LIgNnQ=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/eCaIUAgsxwRuQUNCwG9PV4UreVZxVCj343E__T8vrQElB89_uMYmMUmvv7d2ec8qAONU1lCQKXfgDVcjQ7HlHZHcMEvAOymB1jZtI0xtrp_Vhanlmps0yWezFCTk_qJmefPBRbFxvA=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/27Yk-_JnW_aP3yRcAcTe7WxluAwaGWaxcn0soN2f2AXYdCRWQpI2Bb2TmUYX-HcIm-6sFvg_vpVC_U4gxypaTUjs8qcVz56HLCWGGY1tSa77BgoMM0Z-947VBCDLLSsYR4SX7B28IA=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/Kx0XHow1bKQBxH6LWDjZv-s1oKuSWEWneRqSu0JP1hQpV6NWshlXNLXNg9FwHRdijfoUC5p0NzxFqjIwYQYRviDtAsSVqB3_j2ofIdgcHMSIpnllR1LiNXsbUSPg4a5QiVWaQvSEZQ=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/MRyFF6I_L2ECW2sh31rQEyHY2xUkqdxRxDERs6qvo3oWwHazVn9I9No_sNShv0noTbKhMA7Kh8_G3ron6rhV3444fxfhWbK2OcdcUUuWC-gEIFVyCRjxndJZJuQ8qmlQD9Z22tLwLA=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/XeSn47iU4IfVdT9_HRaeqOYDVt7ER0XcS884HI4J9bK1ZdoKIkYiasoAkEheLCM36WlYKbnheHlEGBi7jSZ3OGjXiypRn0K2piZzPqdEa7m_TK8yd8ot53YKN3kmi4lJkhJ5EBJP_A=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/Vz137oA0pcG30-nYYrBCpmZYtLiqW8jeT4DRC_1HUWl_nEofG1thRCgjRgLkSBr9W8nrqiDDZUiU-RRTsTpSDfq8PNF7m5xHeHtD38rqdoI0pnZKI4fSciCIR-D0TRDZUMh-dWSw5g=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/mVWuwA2AbnkMq3nDwrkZBsBNce8E8KIFFPskcGVuXFFCDs7aFLwH2QvqOv5d98k09EE8QL35VaHqXk8nhIDNbYtkqDsl0ruCLRTUi8ZE__eul9RllQFkE0ncUCHq9Rgb3Ie1u_TXSQ=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/CWZXR5waMkUWK2Hy0cnbAjbBNFq6FmT4d63QKfz31wzpGSB9UbO02--5bMAvZyuNiJbSeRRnocTXYg-j8roOaueLHx_ztqVUVe7ZyePySI54k5yjoqNUWgjZwLwXdYBE-X5tYCPeXA=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/SsLDKvwW8aeRTzh5UVyet84Xz0tgh7rGnGJzza2RBmv-xqCuDzX0riZ44fDZ47HVgmvmvxyXsepWQbAtWlNqv-Yg0pLl8RTZoIO9ARkktrCTZkrO4MUM8IamUwnX_XgJMzqft46aew=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/MN6l828cn4W418Aq6T5LTbezj-h8gyXW11dnIc2WdXc2kIoOwuSfnDIvxxPpQ8Vw20El6sfL_kCxLYqvGcEZMsb9mHHTdzpfLwEofOYcmNbo1ipvJn2GM2siO6ICtC-jDQ3PQWohWQ=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/igprBRdSpBVLVdmuRIT59rT1_UqEsh2mRUoSYZT7xsfLXhUh4vzIJhRRDeEQm59i707cPMf-feyUmXoDkblXcHoWkcUCrx0LviKLmYXc8VXuJepcjdbWXyNWMig1lLizccjixWKbHA=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/QbrbKo31GXzdab9vKi88rw_581IuKOmKE5La4xLKwSY-xALjnPIDlCJwrdB4aJE8MGP72MkbCsiRWi8udu1Dw2avA_OBbnCmAWun7cPp6YW6gAIIbOGYjKzY7rUCNnnyLVo6M5aKzg=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/y2VF8BC5aBgBICnO8BNjdLmrogOnWH-RAmIfaUuBxjNnDYLaW2ELRyqxjprF3o68avtkmP083q3gbVjyeXXCDVK2mYfbuSK8wsayinpQA6-_r8EOKBdN8wngn292KpMSNrtERn-7Dw=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/JLKqdL3JZHx3jdfY6v6wcJUpa1TpVmuxLm2ovh-I2VXVZgXm5BKDzkHlAR7VS5TB0nmQlxiVI7DG3cP8DcdfELREBa4rN68mtCviKPxDVWrukDWQE8HyqsfrgbSJ_1ZXfWB-J1GHkw=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/g2hBsfMjSa3SQJo50kZHUVLJsqMVOvvId4l8t0rmw5VHVgJ5j-zyDcMsXO8KdU_XLuYTC2CRuiWfJg53zaTp2rQTIAb8QC9wGfCfyxXYT0JsW947ljT5UQokFJx2jdl6G-1DVDafTg=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/dhuf8p579sQinpUKPBtkilbVc7S3-7j6Yl0fIbvwAx-yf5QfSruabq5gLGicM0vh13wiXGiHAD6EaMryJ8TTalRulPS6Z8S9HYfWPMQOo55rUutC4G7dboeWwUhqZB4A09BoV9CE9Q=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/GKE0wHxlMA4rTc31VkxMAz04sZAiY8lR46j15XyJzcuVxjMgt2xxsJEwhZbonYB9ZOHQWBPNRxnQ7CeKM-SotG0R1--3uXdCI7bYEJnQvMRGFClcVJAz_QlljOfns5oTqnQC_wCTQA=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/oKakmKApbRsda1X5RntOIulH7aT3HiUUAXWsDKsQ-b5fceoQcRalj_Uyd7t2DnYVhaaAUksvajeuAXyp0-tzaa4iTCkRiwEnDpY3dWeVX7HEmpUGIlkRXiL_aV8raeUi_VSx_K_v-w=w1920-h1080"></object>
									  <object data="https://lh3.googleusercontent.com/voZlBhAgUJTkZYKZ5uiE4HDZLMxVyn79JhzlF-XWZukVb-RWiRIxBv3mT1BOZ_fklRjU4Km1cHTQ-6pN41YO3JFaS4OZO0cep0m8fAPTg6F9N6JfsRgyD-VnvhGB6BhDQKtU2wlPcw=w1920-h1080"></object>
									</div>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>



								</div>



							</div>


						</div>



					</div>
				</div>

			</div>





			<% include ../partials/footer %>

</body>

</html>