<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/chat %>
	<div class="gtco-loader"></div>

	<div id="page">

		<% include ../partials/nav %>

		<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">Inspire. Promote. Educate.</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp">Spark a feeling of awe, action,
									and support in <span class="tool pink" data-tip="Youth is a mentality, not an age!"
										tabindex="1">youth</span> by connecting them with the tech world.
								</h2>

							</div>
						</div>
					</div>
				</div>
			</div>


		</header>

		<div id="gtco-features-3">
			<div class="gtco-container">
				<div class="gtco-flex">
					<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
						<div class="feature-inner">
							<span class="icon">
								<i class="ti-announcement"></i>
							</span>
							<h3>Promote</h3>
							<p>We promote the tech world by providing support to youth for their needs—resources,
								networks, funding, and anything else.</p>
							<p><a href="about" class="btn btn-white btn-outline">Learn More</a></p>
						</div>
					</div>
					<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
						<div class="feature-inner">
							<span class="icon">
								<i class="ti-rocket"></i>
							</span>
							<h3>Inspire</h3>
							<p>We inspire youth to feel connected with emerging technologies and use them to create
								meaningful impact.</p>
							<p><a href="about" class="btn btn-white btn-outline">Learn More</a></p>
						</div>
					</div>
					<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
						<div class="feature-inner">
							<span class="icon">
								<i class="ti-book"></i>
							</span>
							<h3>Educate</h3>
							<p>We foster an environment of collaboration by giving youth access to an educational
								community knowledge base.</p>
							<p><a href="about" class="btn btn-white btn-outline">Learn More</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="gtco-features">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2>Our Programs</h2>
					</div>
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="ti-star"></i>
								</span>
								<h3>Ignite</h3>
								<p>Ignite is a branch of YouthComputing that holds events for youth across Fort
									McMurray.
									These include guest speakers, live competitions, exciting prizes, and workshops.
									Look
									out for STEMpower, Fuse, Community Code Day (CCD), and Launch Wood Buffalo (LWB).
								</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="ti-cup"></i>
								</span>
								<h3>Junto Support</h3>
								<p>Want to make apps for iOS? Need help debugging? Need to reach an executive chairman?
									Want
									to host your own event? We’re here for you! (1-780-381-0421, info@youthcomputing.ca)
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<a name="latestworks"></a>
		<div id="gtco-portfolio" class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2>Our Latest Works</h2>
						<p>Based in Fort McMurray, Alberta</p>
					</div>
				</div>

				<div class="row row-pb-md">
					<div class="col-md-12">
						<ul id="gtco-portfolio-list" class="latest-works">
							<li class="two-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/fuse-2019-highlight.jpg); ">
								<a href="fuse" class="color-1">
									<div class="case-studies-summary">
										<span>Fuse 2019</span>
										<h2>Technology Expo of a Lifetime</h2>
									</div>
								</a>
							</li>


							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-christina-2019-highlight.jpg); ">
								<a href="stempower19" class="color-2">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2019 #1</span>
										<h2>Presentation at Christina Gordon Public School</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-waltergladys-2019-highlight.jpg); ">
								<a href="stempower19" class="color-3">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2019 #2</span>
										<h2>Presentation at Walter & Glady's Public School</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-westview-2019-highlight.jpg); ">
								<a href="stempower19" class="color-1">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2019 #3</span>
										<h2>Presentation at Westview Public School</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-gabriel-2019-highlight.jpg); ">
								<a href="stempower19" class="color-2">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2019 #4</span>
										<h2>Presentation at St. Gabriel Catholic School</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-timberlea-2019-highlight.jpg); ">
								<a href="stempower19" class="color-3">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2019 #5</span>
										<h2>Presentation at Timberlea Public School</h2>
									</div>
								</a>
							</li>

							<li class="two-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/blockchain-2019-workshop.jpg); ">
								<a href="workshops" class="color-2">
									<div class="case-studies-summary">
										<span>CryptoChicks Workshop</span>
										<h2>Fort McMurray's First BlockChain Workshop</h2>
									</div>
								</a>
							</li>

							<li class="full animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/ccd-2019-highlight.jpg); ">
								<a href="ccd" class="color-1">
									<div class="case-studies-summary">
										<span>Community Code Day 2019: Health & Wellness</span>
										<h2>The Second Fort McMurray Community Technology Conference</h2>
									</div>
								</a>
							</li>

							<li class="one-half animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/ccd-2019-workshop-1-highlight.jpg); ">
								<a href="workshops" class="color-1">
									<div class="case-studies-summary">
										<span>Community Code Day 2019 Workshop #1</span>
										<h2>Introduction to Web Design</h2>
									</div>
								</a>
							</li>

							<li class="one-half animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/ccd-2019-workshop-2-highlight.jpg); ">
								<a href="workshops" class="color-3">
									<div class="case-studies-summary">
										<span>Community Code Day 2019 Workshop #2</span>
										<h2>Introduction to Python</h2>
									</div>
								</a>
							</li>


							<li class="full animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/lwb-2018-highlight.jpg); ">
								<a href="lwb" class="color-6">
									<div class="case-studies-summary">
										<span>Launch Wood Buffalo 2018</span>
										<h2>Fort McMurray's First Entrepreneurship & Innovation Conference</h2>
									</div>
								</a>
							</li>

							<li class="two-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-main-2018-highlight.jpg); ">
								<a href="stempower18" class="color-1">
									<div class="case-studies-summary">
										<span>STEMpower 2018</span>
										<h2>A Glance Into The Future</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-westview-2018-highlight.jpg); ">
								<a href="stempower18" class="color-2">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2018 #4</span>
										<h2>Presentation at Westview Public School</h2>
									</div>
								</a>
							</li>


							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-timberlea-2018-highlight.jpg); ">
								<a href="stempower18" class="color-3">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2018 #3</span>
										<h2>Presentation at Timberlea Public School</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-stkateri-2018-highlight.jpg); ">
								<a href="stempower18" class="color-1">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2018 #2</span>
										<h2>Presentation at St. Kateri</h2>
									</div>
								</a>
							</li>


							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-waltergladys-2018-highlight.jpg); ">
								<a href="stempower18" class="color-5">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2018 #1</span>
										<h2>Presentation at Walter & Glady's Public School</h2>
									</div>
								</a>
							</li>




							<li class="full animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/ccd-2018-highlight.jpg); ">
								<a target="_blank" href="ccd" class="color-1">
									<div class="case-studies-summary">
										<span>Community Code Day 2018: Arts & Culture</span>
										<h2>The First Fort McMurray Community Technology Conference</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/ccd-2018-workshop-3-highlight.jpg); ">
								<a href="workshops" class="color-4">
									<div class="case-studies-summary">
										<span>Community Code Day 2018 Workshop #3</span>
										<h2>Python 2: Computer Vision</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/ccd-2018-workshop-2-highlight.jpg);">
								<a href="workshops" class="color-3">
									<div class="case-studies-summary">
										<span>Community Code Day 2018 Workshop #2</span>
										<h2>Python 1: Introduction</h2>
									</div>
								</a>
							</li>


							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/ccd-2018-workshop-1-highlight.jpg); ">
								<a href="workshops" class="color-1">
									<div class="case-studies-summary">
										<span>Community Code Day 2018 Workshop #1</span>
										<h2>HTML, JavaScript, & CSS</h2>
									</div>
								</a>
							</li>



							<li class="full animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/fuse-2017-highlight.jpg); ">
								<a href="fuse" class="color-1">
									<div class="case-studies-summary">
										<span>Fuse 2017</span>
										<h2>An Exhibition on Science and Technology</h2>
									</div>
								</a>
							</li>
							<li class="two-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-main-2017-highlight.jpg); ">
								<a href="stempower17" class="color-1">
									<div class="case-studies-summary">
										<span>STEMpower 2017</span>
										<h2>A View Into Computer Science and Robotics Conference</h2>
									</div>
								</a>
							</li>
							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-waltergladys-2017-highlight.jpg); ">
								<a href="stempower17" class="color-2">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2017 #1</span>
										<h2>Presentation at Walter and Glady's Public School</h2>
									</div>
								</a>
							</li>


							<li class="one-half animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-thickwood-2017-highlight.jpg); ">
								<a href="stempower17" class="color-3">
									<div class="case-studies-summary">
										<span>Mini STEMpower 2017 #2</span>
										<h2>Presentation at Thickwood Heights Public School</h2>
									</div>
								</a>
							</li>
							<li class="one-half animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/latest-works/stempower-mini-timberlea-2017-highlight.jpg); ">
								<a href="stempower17" class="color-4">
									<div class="case-studies-summary">
										<span>Mini STEM
											power 2017 #3</span>
										<h2>Presentation at Timberlea Public School</h2>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-center animate-box">
						<input type="button" id="show-more-lw" class="btn btn-white btn-outline btn-lg btn-block"
							value="Show More" />
					</div>
					<div class="col-sm-6 text-center animate-box">
						<a href="about" class="btn btn-white btn-outline btn-lg btn-block">More About Us</a>
					</div>
				</div>


			</div>
		</div>


		<div id="gtco-counter" class="gtco-section">
			<div class="gtco-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2>Fun Facts</h2>

					</div>
				</div>

				<div class="row">

					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-ruler-pencil"></i>
							</span>
							<span class="counter js-counter" data-from="0" data-to="17" data-speed="1500"
								data-refresh-interval="1">1</span>
							<span class="counter-label">Schools Reached</span>

						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-face-smile"></i>
							</span>
							<span class="counter js-counter" data-from="0" data-to="1850" data-speed="9000"
								data-refresh-interval="50">1</span>
							<span class="counter-label">Inspired Students</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-crown"></i>
							</span>
							<span class="counter js-counter" data-from="0" data-to="33" data-speed="1500"
								data-refresh-interval="1">1</span>
							<span class="counter-label">Events Done</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<span class="counter js-counter" data-from="0" data-to="4" data-speed="1500"
								data-refresh-interval="50">1</span>
							<span class="counter-label">Years Run</span>

						</div>
					</div>

				</div>
			</div>
		</div>




		<div id="gtco-portfolio" class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2>In The Media</h2>
						<p>News articles and radio shows!</p>
					</div>
				</div>

				<div class="row row-pb-md">
					<div class="col-md-12">
						<ul id="gtco-portfolio-list" class="in-the-media">


							<li class="one-half animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/ccd-snapd-2019.jpg); ">
								<a href="https://woodbuffalo.snapd.com/events/view/1244749" target="_blank"
									class="color-1">
									<div class="case-studies-summary">
										<span>Snapd</span>
										<h2>Community Code Day - Health & Wellness</h2>
									</div>
								</a>
							</li>
							<li class="one-half animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/ccd-mymcmurray-2019.jpg); ">
								<a href="https://www.mymcmurray.com/2019/04/23/keyano-college-to-host-annual-tech-conference/"
									target="_blank" class="color-2">
									<div class="case-studies-summary">
										<span>My McMurray</span>
										<h2>Community Code Day - Annual Tech Conference</h2>
									</div>
								</a>
							</li>
							<li class="full animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/lwb-snapd-2018.jpg); ">
								<a href="https://woodbuffalo.snapd.com/events/view/1204741" target="_blank"
									class="color-4">
									<div class="case-studies-summary">
										<span>Snapd</span>
										<h2>The Inaugral Launch Wood Buffalo Conference</h2>
									</div>
								</a>
							</li>
							<li class="two-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/ccd-mix1037-2018.jpg); ">
								<a href="http://www.mix1037fm.com/2018/05/27/63157/" target="_blank" class="color-6">
									<div class="case-studies-summary">
										<span>Mix 103.7</span>
										<h2>Community Code Day A Smash With Coding Community</h2>
									</div>
								</a>
							</li>
							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/ccd-mcmurraymagazine-2018.jpg); ">
								<a href="https://yourmcmurraymagazine.com/articles/education/2428/creativity-innovation-in-wood-buffalo?fbclid=IwAR1Wy2dl3vW6CwQNAeDHZ84aR3ASdOi_H4pmTHyBFyPba9U-T3gVTr7hNwE"
									target="_blank" class="color-5">
									<div class="case-studies-summary">
										<span>Your McMurray Magazine</span>
										<h2>Creativity and Innovation in Wood Buffalo</h2>
									</div>
								</a>
							</li>
							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/yc-launch-fmpsd.jpg); ">
								<a href="http://fmpsdschools.ca/view.php?action=object&id=22231&stream=Homepage%20News"
									target="_blank" class="color-1">
									<div class="case-studies-summary">
										<span>FMPSD News Article</span>
										<h2>Westwood Students Launch YouthComputing Social Profit</h2>
									</div>
								</a>
							</li>

							<li class="two-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/yc-bridge-radio-1.jpg); ">
								<a href="https://www.youtube.com/watch?v=c7joTxOvC4c" target="_blank" class="color-2">
									<div class="case-studies-summary">
										<span>91.1 The Bridge & Shaw TV Fort McMurray Radio Show #1</span>
										<h2>Connect Youth - Ep2 - MACOY</h2>
									</div>
								</a>
							</li>
							<li class="two-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/fuse-snapd-2017.jpg); ">
								<a href="https://woodbuffalo.snapd.com/events/view/1104996" target="_blank"
									class="color-5">
									<div class="case-studies-summary">
										<span>snapd Wood Buffalo Coverage</span>
										<h2>Fuse 2017</h2>
									</div>
								</a>
							</li>
							<li class="one-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/yc-bridge-radio-2.jpg); ">
								<a href="https://www.youtube.com/watch?v=HBimkQks8l8" target="_blank" class="color-3">
									<div class="case-studies-summary">
										<span>91.1 The Bridge & Shaw TV Fort McMurray Radio Show #2</span>
										<h2>Connect Youth - Ep 9 -Youth Computing and Community Code Day</h2>
									</div>
								</a>
							</li>
							<li class="one-half animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/ccd-mix1037-2018.jpg); ">
								<a href="https://tunein.com/embed/player/t121368701/" target="_blank" class="color-2">
									<div class="case-studies-summary">
										<span>Mix 103.7</span>
										<h2>Fort McMurray Matters Episode - Community Code Day</h2>
									</div>
								</a>
							</li>
							<li class="one-half animate-box" data-animate-effect="fadeIn"
								style="background-image: url(images/news/ccd-discover-2018.png); ">
								<a href="https://www.facebook.com/discoverfortmcmurray/videos/621909058144298/"
									target="_blank" class="color-1">
									<div class="case-studies-summary">
										<span>Discover Fort McMurray with Melanie Galea</span>
										<h2>Community Code Day 2018</h2>
									</div>
								</a>
							</li>

						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 text-center animate-box">
						<input type="button" id="show-more-itm" class="btn btn-white btn-outline btn-lg btn-block"
							value="Show More" />
					</div>
					<div class="col-sm-6 text-center animate-box">
						<a href="about" class="btn btn-white btn-outline btn-lg btn-block">More About Us</a>
					</div>
				</div>


			</div>
		</div>

		<div id="gtco-products">
			<div class="gtco-container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2>Our Partners</h2>
					</div>
				</div>
				<div class="row animate-box">
					<div class="owl-carousel owl-carousel-carousel">
						<div class="item">
							<a href="https://brainstemalliance.com/" target="_blank">
								<img src="images/partners/BrainSTEM-logo.png" alt="BrainSTEM Alliance">
							</a>
						</div>
						<div class="item">
							<a href="https://www.fmpsdschools.ca/" target="_blank">
								<img src="images/partners/FMPSD-logo.jpg" alt="FMPSD">
							</a>
						</div>
						<div class="item">
							<a href="https://www.rmwb.ca/Municipal-Government/boards_committees/M-A-C-O-Y-.htm"
								target="_blank">
								<img src="images/partners/MACOY-logo.jpg" alt="MACOY">
							</a>
						</div>

						<div class="item">
							<a href="https://www.keyano.ca" target="_blank">
								<img src="images/partners/keyano-logo.png" alt="Keyano College">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include ../partials/footer %>
		<script>
			// Number of elements to show at first
			const latestWorksLength = 5;
			const inTheMediaLength = 3;
			const setShowMore = (id, listClass, length) =>
				$(id).on('click', e => {
					e.preventDefault();
					this.more = !this.more
					if (this.more) $(`${listClass} li`).show();
					else {
						$(`${listClass} li`).hide();
						$(`${listClass} li`).slice(0, length).show();
						document.querySelector(`${listClass} li:nth-child(${length})`).scrollIntoView({ behavior: "smooth" });
					}
					$(id).attr('value', this.more ? 'Show Less' : 'Show More');
				});

			$('.latest-works li, .in-the-media li').hide();
			$('.latest-works li').slice(0, latestWorksLength).show();
			$('.in-the-media li').slice(0, inTheMediaLength).show();
			setShowMore('#show-more-lw', '.latest-works', latestWorksLength);
			setShowMore('#show-more-itm', '.in-the-media', inTheMediaLength);

		</script>

</body>

</html>