<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/chat %>
	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">Junto Support</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp"></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="gtco-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Junto Support</h2>
						<h3>Here to Help</h3>
						<p>We want to make sure that there is nothing limiting you learning about the tech world. We can
							provide support, technical assistance, resources, funding, anything at all! Do you want to
							learn how develop smartphone applications? How about how to build your own computer? Do you
							have one pesky bug you can't get rid of? Do you need any specific harware for a project?
							Please let us know what you need through email, phone, or the chat engine on the bottom
							right of the screen.</p>
					</div>
				</div>

			</div>
		</div>

		<% include ../partials/footer %>

</body>

</html>