<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">Launch Wood Buffalo</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp">Fort McMurray's First
									Entrepreneurship & Innovation Conference. </h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h1></h1>
					<div class="col-md-12">
						<h1></h1>
						<h3>These are some of pictures from LWB 2018</h3>
					</div>


					<div class="item">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/gQX8e8WSf1NTec1D7" data-title="LWB 2018"
							data-description="21 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/d9enduKO5A3Qweg34OQDsptHgi4D1bV4Ut_cglcW7ODuFna8OHRb85wq5VOX2TNbaQgTdwJeJf1ZWzB2F64vfbMUTltdqazkcwDU2hFdihJc4cCXnwdobIgh3KdWRnM99CUmTywTzA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/t8QLJjtN1pntS06WtAR6F1_xk6k5Q4qklHyHy-EMPR2654kzDKwy_5sQYVQ3wo-EquPkKD78iA4RM3_rx0tQ1BhdHSQifsE-etk2-1_bNsMGYDWz3FEzAkwZNtD4h3DGnF_UtkxetQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/q_iEQBdFl8aGZcjpU7vzknhiyJNLOki8Um_zBsLOQZLoz8-04yHKF-de0tSWTpA7SIRB7VXRwk_TTad9fMjJSFv73l30w6xT9kSARAVrlrP4-pamYFn2DwBZHUYrkaZKHBIwfRwf0A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8Sf_vhZidLBjZ1PmWGllkCvpaEzTYzOIjlrzRPDj-grABiMVIaKnqzYjdI-xQbQCQlRpGmqS8lDmgf9HiWo9zNDyNJTa4V_rYh2zNnq6_hn25yE99eL2dL2cl8yIH5gHTF8qKiuAYA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/aMTosxxJk4XR1TthyG9SfM-3VDKAuKG7-uqk1ddbCo9_tMNVnO2cNpHmBLeMtVAEPl0MZRi9OTFuxl06I6Od-ngmmeNb6LriLKT1M3vXV2LrvWgcWBeBfYmlINCHt6BTqnj9qDFYjg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Z6Y3OXbcehJLRw3hyaC9mIz4D3oljT3hKb-LYzrNuPkBG1pm7mNTLJhYtIGyYPaSYk1WXCjERpZc_1JbPVbYP-z6zOhoqQPZyNZdx2qrB3x2OQ6H0o0ACntgPePCd_Z0Xwr5-eMvfg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/7Mu-O8MBc7SecSChYLGlMMv4FnzzaX3HRrCzQd8thhEpojBnnaaBTyaFYzkOU_TEtBIerYRj86-ODjobKSiz8c7J9czJaeu1Eh0yTvJYUf96LSqz2WNqWP3zS2Nz8eC9zjPiQsbu_Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/wm06Zuif5ttad7Sk6b4xInZBLt-oYq6_Gwk7Zjx2kMHK9NiB4axodnqKlDidlCm7YBU7Iy3HYy0FajyI_XYYqyBba54IXn6zAwdWScLtweTc3qUgMVXeQzzU8uQjP9JjV3oxrOQPLw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/5l-0CgkpQMPZpTPkJ89EaGmE1bn3rmd8plGGhFCGs8kw_Iempll_8IOa2EeJxbn__UqLspgOQfAiItthNg-e0pQMEY7bHLiQvnQW2Liq3Hk9s9J0XarccyyNXGjwzCFKFXG5nysXbg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/S5lnf6LCipEQxqWVpoTRaWEF7qZVpa_qHyT-NHzkUtlDG0aG-nF8qS0clF4GmziKuoa4JI_UBNWKwTxscpmMgIxQgIrKkSjKoM8EndFkbRZG9J56HxMpogdqYdFHiW_ILK7IQ1X9pg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/YeoR5wGcNpz6SyZz4AxQTwKQTAFkUFF-_V9BjYn6KGS_MRlYRg9QD5vgahm0TeVJ5inuYunBiLc29gxRxLmrS3a3_QoJufzqylf-Mkwq3Xqk0q8kZlHj3zJuRZ4mEClqk9TrdpROXA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/IT1kw89Mlbcp3VNk50nba4Y3wlP4N7zSGiq7fCr5UdJb_xZrVqB7n4smyp5DOZx543-QF5SedUS1auyOI8JM8D2uZlTWo9vV7czZDRyy-Yc_23NRccrKNnwY-poa7R-AJkv5osfvgw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ptdQq1UqCFHTws7924dFfJxkmg7uSPJxIqnaWDNrUDVh1W72HTaNrtGCga84f6GIx6AoIlGDUCM_bloq5jtfvREHxEl1YLlneLg5nYW5TfqIpBDMMYWLpIcvy7yyhJAr23aWIXbOvQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/e7h_G-KE_wm_5X9VoYbk1dreN8A6fDi836Yhk-cV4SPGVeAwr2cH97ubBZeCN6LrLcyrGCXut1_ZghxcGGNH8OyeLKoqqYvtZcuTBoX8fO_vxheobsRsme3R8lFYYIJjbbjT8LWFiw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/_ZV478wYmwvD_lKOwEqb9Rktu_T9VQfQtn2Sgt6mr9iGr8hWObR2uUzAO-t7pDUODwyris4dx7mxAM-VVBSPL7rwltL3q6tTRB5Hkq5Fi22RJcOO8pLWszSLDIXnGLBWjtv0QXSt0A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/-U3jbuL8WGF9IMIlfc_c_PXIvuP2RbRy86Q_kLAezVpI0ayLTLVd3NNQlfC2FNsLgVlL7LYwpRAEV614-_YX_eZVilsT6Kphy5p0H2TyREdiPQkv2sV25hskFpxb3R2dhVrgK51eAw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/cCU3YdhCBPpiTeFLGLIx_EYlA6hGMEG4J8tFKmAxpCo2eph9WuEXbVufChOi2ENn4gV-v0_bTLdJcJk4WXncZ43ssQxHTC7HEullHiBQ9KMlYq2VxKwuLOwqynvnQUudATljEwi55Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/awxOUlIZC2PvIYzDccCjea0mg3-P90jZZFzXtKQ2rMH9t5GZ20UbkqWQdxZgbQhrstdTPrGQAI9BMmbgIY3ip-xla14LVd-OM693Gue0kVu9sH02AyQtDi3YQvROpxbsaBg3lKONLw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/7AaPd5iS-K1oL3DqUanzkev19btZ5E41obVoCBnlXcyErRc1pRKfc7FC8GkTPuBRxDhl0hiZasrl3t8I8JlWGa7zsrfKCKQU063PleOLx1eSHCkpMOVWNGBDlcRGjO26wP4J7C-4vw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/E2BsT74tf8mE3FnG6dQb_3z-TIJpl7PyhDR4-FCvErdvvV4Y0eZ17WPbjiWttZ9qSgb_gyuf-GV4hEHjPBY8dyTaAc9qpfCpe7ndyPSeWf87-mkUvlJmwj1OZowAlueu9CpngxIYRg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/f1oy_gdjNR9CroCV52brnofGWzbhXf26Rt-Kap1l_SjqxjGkwyUVdXgT4R2pUsLZn4YMBTI2WJoPxRXrw9jmVmiTAdAP1mhnxSF-2XExeU4bxefL_k9vMVEbUMLcwMfR5pJm9yI8oA=w1920-h1080"></object>
						</div>


					</div>
					<p>Launch Wood Buffalo 2018 was Fort McMurray's first ever technology conference. There was a pitch
						competition which allowed participants to pitch innovative ideas to win prizes. Our first place
						winner recieved $1000, second place recieved $500, and third place recieved $250.</p>
					<p></p>
					<p> <a href="https://brainstemalliance.com/2019/04/07/launch-wood-buffalo-2018/" class="round">More
							Information about LWB 2018</a> </p>
					<p></p>
				</div>
			</div>

			<% include ../partials/footer %>



</body>

</html>