<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
            <% include ../partials/head %>    
	</head>
	<body>

	<div class="gtco-loader"></div>

	<div id="page">
            <% include ../partials/nav %>

	<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">Launch Wood Buffalo</h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">Fort McMurray's First Entrepreneurship & Innovation Conference</h2>
							<a href="https://launchwoodbuffalo.com/"><h2>https://launchwoodbuffalo.com/</h2></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">

			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<a href="https://communitycodeday.com/"><h2>Launch Wood Buffalo</h2></a>
					<p>The inaugural Launch Wood Buffalo conference was created to encourage residents to pursue entrepreneurship and innovation. Throughout the day, participants learned from a multitude of guest speakers who facilitated workshops in a variety of topics including marketing, graphic design and business planning, to name a few. There were two panels throughout the day where panel experts were asked a number of questions to provide their input to the crowd, sparking up quite the conversation. To wrap up the day, the pitch competition invited those with an idea to pitch it to a group of entrepreneurs for feedback on their idea, as well as a chance to win money to put towards starting their business.</p>
<h3>Pictures from the event: </h3>
							<div class="row">
				<div class="col-md-12">
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/Launch/lwb31.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb30.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb29.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb28.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb27.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb26.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb25.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb23.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb1.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb2.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb3.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb4.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb5.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb6.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb7.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb8.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb9.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb10.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb11.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb14.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb12.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb13.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb15.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb16.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb17.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb18.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb19.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb20.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb21.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/Launch/lwb22.jpg" alt="YouthComputing">
						</div>
					</div>
				</div>
			</div>
			<br/><br/><br/>
				</div>
			</div>
		</div>
	</div>	


    <% include ../partials/footer %>


	<script type="text/javascript" src="slick/slick.min.js"></script>


	<script type="text/javascript">
	 $(document).ready(function(){

		 $('.mu-speakers-slider').slick({
    slidesToShow: 4,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: true,
          slidesToShow: 3
        }
      },
      {
        breakpoint: 480,
        settings: {
          arrows: true,
          slidesToShow: 1
        }
      }
    ]
  });
	 });
 </script>


	</body>
</html>
