<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/chat %>
	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">Launch Wood Buffalo</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp">Fort McMurray's First
									Entrepreneurship & Innovation Conference. </h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h1></h1>
					<div class="col-md-12">
						<h1></h1>
						<h3>These are some of pictures from LWB 2018</h3>
					</div>


					<div class="item">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/dp1SZeNqbaPiwiAB9"
							data-title="Launch Wood Buffalo 2018"
							data-description="21 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/1sX8fCamzYekgk_qmD1ZcYJB1SBhgLxexFIaL4ry3IYm2GYFK6s8tiZuiplVb8Ia8bEbYuxHi0As20w8EDowf30cwgpqp-OrffeuDhpNJypcOZmYLXwj-olWubln_citcKlVlkcYpQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/sjztDjCDiqXaEiWtihhQhVeZXR0tq-iuh7mG3A8RbuyOi3chq4zHqwyrPg7qIo3e3_vdksxoIqyxCUbAXRZ19Mv5TlFQg_yUte8PLbw55mPFCpxvHK6A8CMFl2AcmlkArMIO0K-7LQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/eICsUaEW-asHC_ER7Rqju3Z06SmgFVZJhzninFQ-0Dfal9YlIuZ9qX3524WzD61IBp3LhrRZNbwBRnaT3Q2TmXSlaQ_2iGgLQGArzKx7iifmpsA3rxGtI8tMsYmfecUfPiXFDsvAqA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/JWS8qVaNTvyZiahfIMbTn_ut7KCLtfQeup0V75_UZlCS9EsEOgeK3ufJRcLVV8PawoK1W4duz3bdlu50QiaDc3314c9LVJClO8Xv6z5B3zukeh4O_ur6Hgjk28vbzL9aqvWqc8XTkw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/6is9bb_od-ElFu72YramECr5g7T0sCmhFk0osRktT1q26QGwbQdpwn4idOctOeERZuS8ykRpXphASckAZiTSPE4CpBW0ZstHCwIX7fmWatf06OWUXK0s9dK0kXeJs-2IkIgVLpvTPw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/htmVo6GUQwIfgnSdFaCHqmImdVI-Lf9I2pEi1Efffw9Z9tUEhvqHBmTt1kKvxKehA224R8g6Y1ntU_sjh73RQjw6748TvZ88N7_IAKLO9vPCdN_VV-UrwWcRsHtNFI59K0U_P1lchA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/GBadX4kDXcWsdHTYJbC9waXI8_1kKTdcWhKLOjyDwm8H1angQR2Vjez1ec2S6tBFgVg-NsRzr9jt2T0I5c9TppQdo0Hz8lR4DVAGizr947sEORp6z0pBeV0vYfdlayFUsDirxBwf4w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/LJ16pZiALKPX_RQ8GBCROKTfj01ygJK0pOaFvuljhFshQdG1fiC5RnpcLU4cS3OTwuQcP7PbnGED4rORZyx1xGMklxL2IeL2v_x9aR88RjbdB1XD1Hh3qNJERkPuf3FA_J4ACiIZGg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/UWjFDAEJaRcnKUgzxH6dpxhKdPz3eWWFm53gMhaRt2vGxOQy-GcTOGKTpOmbqHuG-wd9qnOWvGRgqTvrKYM1LMevVLBaE22KqaYfI6QjdYJex1aa2_A47qf96oDXwD8zrenGhh8dyQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/9UKYMuDz8bI0oHikGxFLS9oUEXkzVu2rPSjxSozsmEIjwk2TkGJFDgr2Hk39ymD_PUubn8QNMEXPFi6fGA5-igDk_wN1_oWumtV9KLYEs7mCR1aAFlPepdEHZ7gHlC-zXPjUcsoqkw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/l5ncTeK6EOD-TFxPjD_GbxzO72xhydtLjHnGJek_pt4aaX1vqS0JnDPVb0xspF3UViVW9gnhnwAIQ6ZvbDThuGjPW0bdMgQxoEQCreBeS_1T4QbRDqN1yJ4TQnKqkUD1drETtT1bUA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Hz_IYn7vN8L84baX4tgPVXvCFl4MKjwUuhILlQstfDwD7oPtvqhlGmlC_aWFbX_IyaqmmxDVWQANiz-B8KghnZA_ed9Lq0Ni1EGp0lr-7TAqSDoKnyc8FIkVkK1x74UUEtaFYs8Lwg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/nZc8zGre4M47kzWhq4SBYB4fSlDDNS8DUeKoFZ8Uo2PDTrmE83Fvd7GvUFsLN0EOZoooiDkrdZ3FZvkTKXCaTNbHd-1L8xStw9Tl1xCbuA6J34abx3J6e73BprmMSEdeV39AFOe4Dw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/6lJ93PC0BkFB1l_moFo1SZuL_tN8Z7uoGs6Rc3VV5FRomky7bmI_-UiaSx0bu0tWqnJVEYlvz2UpNejKYNEhvjjlPknyCUpaSYn8WfresLvcJgJe9j8Es9n5vKINwDrRzQNk8YVxvw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/zIOVLWnojiogXs6P1da_mf8gUDXXTrbNKHAv_lSs0XuRdBXqvw6dlBHXEhx8Hgk_W9I4XIJvzYH6dkXqlpC0M3ZzG0dqLQyKLzWjkNO7FFlT7pOAdRos7MhZSTK9yu4IjJnkrPB0cA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/T4OvNDvToQbyRw3ne4Ya7G7Vd1drYH9i8AKDupOI6dkP09W0astiZmAyyLsQmg922o4Y-zMsO_uaP4ub80aQ5ZKwnmDZCl3BvNpi9R1sdM866OEMTqV5-TddykgvKjGLXQkNSmwm3A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/3BSS6s66bhwngX4aMtpZLSSn8JcBvSWq5_nwKvylqBmOnEZLfzXhXZqDJByISOWI4pR9GNKNQ2nX-MNWdnSP78QHXUjrNFnR21UqeDzgAZZmLU7i0-zFLNs6Myj8Dqc4bkcXPllHUw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/X41nQxsr8Dfkc-FsfFFFCSepPf8WQzxb6LgSRGQ-G1v8uKvz7EKEttJBCDyzNXcApNt_aAXQIx_RiFJnyQNlzUU8YDJynhaJor2NL4EU3Q5vp6OmROUYw8xbaF6EWRhG5OIo5NR_QA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/eD6NAJYoq4WdLmJLfcaW8rQNJe8HVshpsX56D6P4XYcsAa1UqTm4Gsb2Jl79_2bmLGjnap4LlLnZre27mcX3K4-Efg4hwi7y_MpkAXXmCXCc3VHhX1wTsbd2AJm7zx5cy00qa4r1GA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/5q-UkCYGuRS5Tj6CzM56ARokuS1-ALdvo76kf11cBlxWyAS7XkqTnCI5JTHesMjSRdn1M50X4P2M62pD05BQlLbW8FUlwMIMhUxRVbz6-KGuwBup5Fn8xNYb1aixpr8Q0jBW6oH_Mg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/SM_bao7PXdbBXYFIwuTrxgXGQ1YfQHpuXQAsp_ByKCW3LGpcj22xOaOAAN8zhQqaJsBC_nIgBLsTcyrfK8T-2qD9fJnfMgvZ7JZcEYzabIT59V7wy3XkZygeYz-BXhOECNKgTY1_xA=w1920-h1080"></object>
						</div>
						<br>
						<br>
						<br>



					</div>
					<p>Launch Wood Buffalo 2018 was Fort McMurray's first ever technology conference. There was a pitch
						competition which allowed participants to pitch innovative ideas to win prizes. Our first place
						winner recieved $1000, second place recieved $500, and third place recieved $250.</p>

					<p> <a href="https://brainstemalliance.com/2019/04/07/launch-wood-buffalo-2018/" class="round">More
							Information about LWB 2018</a> </p>

				</div>
			</div>
		</div>

		<% include ../partials/footer %>



</body>

</html>