<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_2.jpg);">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">News</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp">Check here to see what is
									currently up with Youth Computing!</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="gtco-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>STEMpower 2019!</h2>

					</div>
				</div>

				<div class="row row-pb-md">
					<div class="col-md-6">
						<p>STEMpower is a branch of YouthComputing that holds mini presentations at elementary schools.
							We are excited to showcase new technologies at various elementary schools in Fort McMurray.
						</p>
					</div>
					<div class="col-md-6">
						<a href="stempower19" class="btn btn-primary btn-lg ">Click Here For More Information</a>
					</div>
				</div>

			</div>
		</div>

		<% include ../partials/footer %>

</body>

</html>