<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">STEMpower 2019</h1>
								<h2></h2>

							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<body>
			<div id="gtco-history" class="gtco-section border-bottom animate-box">
				<div class="gtco-container">

					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
							<h2>STEMpower 2019</h2>
						</div>
					</div>

					<div class="col-md-12" style="text-align: center">
						<h3>Mini-Presentation: Christina Gordon</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
	<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
	  data-link="https://photos.app.goo.gl/hfMi78DfhpB87V9YA"
	  data-title="Mini STEMpower 2019 - Christina Gordon Public School"
	  data-description="78 new photos added to shared album">
	  <object data="https://lh3.googleusercontent.com/G__L_olRUrTvG-DmMm9HOfExrY1ZKGa5pSVcH3_bEpCYU672Fqm12vcTNGP7tt3-WvjVcptSQzPdZ1G3qVZVahgtLCV6FNL2wR9UMjRvgFqT7Jm8JxIx4riSLnu9ttHYIV836JAiug=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/c7Pqhb-RpcnNArlTmhzGLpbjzsIzAq47lzXi7W39xTaYOyIwShMvjc1JyILpKZH9YVAWtl_BB-F5SY6TehT8AcjJ99hGH7mZRYwGn6x4eMwaV5XnIYx48ugwT7x9HxxkygrzEWNJEA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/Xou4y4SGJsUWxdqayZtwNNRx4vdjLAcO8IJRGPTlr7AmliW7fbFLzFx52u8SgVR3uORSxka_L7ruW56YGiHtgbBvqUBsrOLLOj0CeL3H6hY7cNE3D7v6uK5kVztkp7RFj1dxtEiUcQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/FC0rL2D6_Z4y48btI-BZ0ITo5106RVdOMbH03pzDXXczGbCVmgVqtQvtq9N2DCAuJe5VR1ehPeMk3SHaHurSxTaX9-jMmekIwQUpIEaDda90u91hburhR0EH79sCWfU2OX-Rwp18zg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/lgIesyg1kOG2QFWXZ_c_L3U2FubuEXfRvXsd5WTOk9eKgXP1LdwA65bgel2fTMShS908dRFqA0yAyjxYI0vsE8KOaiVFf5fAbpjnJEu4L8yxMVeVlAGH5PSSCflzCY-QfZ3iGO4rRQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/xrYAKH1pcU4HSAx63K9fQtdQ_ADeT8CiIMVtHnZSAiDkCZMrreVAuzYbeSLPjpSKuQm59_3kbcXj1ZUZq5l3In469z9rY8Uh3XNrK8LWsceT5wPzNU4BjyIEKqeJyVC_as7a2bY1nQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/_2PinVij2duoF99Fbe2fTqg_9AqnX9AKF2KbFAH4V1MsK6IspDVkpP23OVpZWeEeUgzeO6tetdUbDA2G5jQ5yai7zUPieUCyn59DcVHnTqqOHiecUjvGDpiqyLS1rfhH3-PJB4velQ=m37" type="video/mp4"></object>
	  <object data="https://lh3.googleusercontent.com/7cfYP4ItlHv1h3sdnyrUgJER4UsFrWRD8aSaiLge48Dih0bB3wpwRtMfekpN5KdxDv6Aa4PhbjGaJYcKZbIwQZg4sHq3O7rcJRtB0DA4jANYQoNK0WT6degbFvEESFXPq53dc-eZDA=m37" type="video/mp4"></object>
	  <object data="https://lh3.googleusercontent.com/tL3bKtJnr2nPo4fepTHLqTUPYeAqYDBgKyJR0tIHsBHID8aHGyrJ8TRs0_NPagF8qSn7QQlljVDbxWV0BPI7gvIJe9PiEYR-CYJ_Ae9bRhSfNzPITZ5xWsKFJvyNBWbZfofuOdRyyg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/iQ6HQ7njZXIEzzQ3CDnFonk_rMwBZ0wyxP_3YBLvcmiSUfYnxVIQ54BRYoMvg7KMJA7Tye9bGiDNBKA2ZzaJL7dRm4rCJ7n4eJoE0rG7hMmvPrx7e7BHGZT_2qXqAQ6-EFuuyaU-6A=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/jFuWkIeJckkR7QizMWMTDNL-QAgcb-m1jBJ0c7zgcUEZ0p_4LLKVBfk03fpnNullotH7AFQqcW8E1VdCVjp03GDC3gWTaZMmvoltdNvi3c0GXPnnDuCjKm_yjC4y-8Pc0o10AzMxjQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/24iOriLK8hUdm1waDW1pIjWHfE5gLoiyFkPqABx_H-ay7BH9nrt4T-vDfkyHxQ8UmvWb-UZ-r9I1OJdnjApGX35OFTav4C89rSoS7Q8Z48No2e6mmP_TN_mO4i1cGtHHc4w8d7zm2Q=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/a4RBQ1glK9i-9ZZvZKGdQg85wET15ka_YSlmrqlUjg42dkdwtJdrYc3yXGhPsgRkqGo1ZY_QXGmthGZn0BZM99TKImdxnf3zsxOmubd_HcQ0IZ5dxS2Ja0xUo2vSeX2wXbrl2Q71Ag=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/VEjn_vs9rCqqfX1l8HnhS3AG2qM-wQP1q9fmuVEfyxXj_JfIiWVs2OopgE6Lf5ods2guQ90U6ChZNbDJQCRp5AWz5z74I-xLoqzxwsceNGnAB0HLKDjytvAqjlJS6A9fCgRqjz5iuw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/ZqHCcmvYvxD3676U0__r7L6Hr5hJqvwiurisNEzxQgsjnQwj1Er9nN6sfrjg8ztfyixrNrhm83wYc_nQXtdrRfXp5E61x-x-D3bC53Bxhj-uSHBSCbU8UW9FYD5HNy0FZXUxYDmmZg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/EtuMurIkNHfjCjYzaJ66S-94uul56PKYqW4QQSSbJrYQoC3p91DqZdn9a-XE3rb0GysNM-M1jCoBUZJJdQlv0YnurpXUSOOizbaUhHEnNtqHl8Dg6GSnsBUZ2_1C-8EqB5IReXkf5A=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/J57IPfvoyqyDEA12iCkQzlMQV2m7lGSIqxc6jnjfRtAT4jZ_HrK_c_pf2voIFb4IqdXxpu4mlx4D-uzhRBjL4WrNEZKHilbBEY0Xay2PKojL3f8tYdHAQpr62rlXXW-rOa5abkZkMg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/PMyz1O40lJv_vGB4SNej6a5sptjksbJYcJT2lRFQ1TeeiyGxaV0DldKVxM5PcBuklcWZ_Dx-7R5xJRf4f4CVCglj5ne7lJb2DPAwymfzKd_UnstUXHwdf6p0fdxffvzsyqW7T-J4QQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/LHgxqCsgzTODq54OCLFzqmR5K8MI9-5MSD0QVzqjlDnQyVXdSVGcgsSKzs2qYHNKQ0NCCioSu-6DGL_7SEc3-bPZjYgHTpObWMDi-KRH9rMosB97OMubBA-wPNpkv1jBDTU761y-IA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/z4nENQ4UKPUtnGSq1mWkGLn5u77mprRJDBHWI-CD6j9zwbUeNYv_zte6zyRJlIloSCc6pF8iHVXgwT069Jydg3xClnnSLwcudoR4CmnlI5-0JJ-HHxjYD954OPFPibBkYiNY72VIAw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/wFU5NNCGiac58qHP8iODOm-Od--8QkhHf8O2XCgr4Cbgz1BOnRGyqPHlk8JwgE2j_31X5S233HfQxpi4rqTYuQkTK7ZT7HTytPaCOGQgZlpWH9dhCMsDv5i8bloHounbEsOpEJC1rA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/SzosXqTjfl760-hls3TDYwZ68CcJGqjHPiikjj3gQSYbhurWQ_vhKDYmOhAQvvWK8RqmQgGLbyuggECrs4jmF4MHAJj5Aq9j13VLWtZ8QmF2oOt4uKdlox2RWbLkvPwctG5VdWFUnw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/dPKnFHBQuJuaiAGRAnDpA6vbtc9FVON3uGJOIB-kxUyuYUJ9vDVZO9S7cRAs0KL-0gGStzRkWn66ecuhyjmO0LuX3isJuJZhdw7p4dBvM5GWOGJTg6Pjt8lFPnETnsy_BU5_iNfR7w=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/CZTwRRCJS5YmDhzIpgtQKAUafltgxW1oR6Avdd2OPNGgJHID7BdUFrDuksRFY4f9Bb0jI9XTUTZgJavrgzJU62qYP4eBkwJo1-QLYHjXFQYIJdbYGmr5GVDvkGeMA5FnaVxE9WnfzQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/SOgdR1dhjvuGLZyCEdQ5ph02c9mk_qbdJEB44wa0ihbV5E4ppDTwKV9RnzFdyBfJUD_UnDTPtIYBR5AQ6L6-MIrLtDupQIV_og2-WMarU1hfhlMcqs9kXKrqOF6rmVMiSUrTegOnkA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/JoVJWxsTn0UiV1pUubS5z0qRdh3renoIWoiERmQGfznwSdY7x0q7tP-NcOeeOYnJweB5aXnzFlqNGEnLWD_kovr44Vr_HveD8fdYdNQP2D9sLdNToZJiIbkZ_HIzoZobQ_wcVBgLcQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/-yBF9_2GL7FYNJywaVJc_S3C5FSTplGR1hI8Wznu00sdJTcOABVbzCKlT0iPgorGh6Ao-rkDduvaYKfw40iwN_mlwIl3bZKnzUHzdEa4rji-Nfx-AJTE39YQzgLtr9redj-xC47keA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/lIywseNMcvKRnenuRhKUNEDpxo3sl7S_LjUR_SWDeFx74V8IruFcrYiznmtlivwgCmQsL8k3R-Fp-jcqMbejaFRfiKop7XmP94oz5s2FyOZtLSj8VbIKTKmfr-9swuIoXZpcE_Qs6Q=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/2WFkC6E2no7y-_tF9C2645hYQNmS9s_MCnWTGAtJ1NW9tfyBLLRQqKLcOtwk-sBIDdJGactVf-5cByBvOpb3l-mjAjsOK7oYRnE-eyuAkw9l8KGhvCC31W4N2twkfSTJqYN2xSDG3A=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/WmD-nbEYTrD9VCaqflEfIqtrNg_7ShUX9KtT0YTM2PvE0Tjib7bzfCGgpNWK_ddiIkXxXWc6zExEvTpy1g6_d4r9rsKzoCf9YS5QJ4D5UM2SL0UfmFuD_be0jNh4LQ4f5U74TFLg3g=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/Tg-ITheHF8iw8dDPuCC6x9hSL9AZ1unk52JMKiL8SpW5dUjw8IkOnyVpUonrPifHmiKx27QINsQwTBs6LdAiXvU55OQuOCeaVfByy5pdxTc5mNsgrXgLTJjH8TRPgiDdnvVyNa7klw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/o6MTvtO4wXJRKOxLPxhza3-b37RPIgC_vS9ztAYcbjQriijqv5fybtz052c45MalO6G--vNVc86OWwc7trejcO3IL1qHS_QJnGgcICU6YHNDS5RQ4V1hN7E6YxYF5efUCFOhYuzuWw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/5jcfj-hKABq2RFscBoZdogDscaz7L-U5QcEiD2WGB1tqjMQPj-lD7CDcm-g5gOy7le3zj3TMH_c3z-oLyT_2y6XoUY6IdiuW8puo9L8q_qgI1TqN3KXjdce7y-7AZXZ_-ZqP6rrheQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/LTTYmb2VxihM3z-AF59XoQNWMlZsCjpSckAaCvl4KbkQJ9ReYgSLwX0wISr4lDnOnaCVnHrYpiOt5PhZ7YegbXA9aVJqsws05VOhVeuYib21_rsKOSGwqg7p6AU-N54-4wjMvRc10g=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/Vxo77GTN6BNh2IGvOsqR2ljAQzg7csezg1OQJcK8LBwxb_pkybNUm4CrJGs9yXAB06ngqY21vNWAqxBf_S9wBkBjjQE7zQG_5Ew9mTClJKmLLL2MaFnLMDqdB5ovkxpMLEzA9dOOpw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/6WmCadV4wYdvEFf206RY1vrfSmMkXbZEsPIu5JcWniJe7E7pXOtqOt3Gi4bdqr4eKlxPUhwW1FlDruP7a6OTW9OCj-B-oWZU5CvVgz4_K01dQG0-vGPhdbXD5l7wZf_-186tq3KpIQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/wEtMtF76-xfWPg3Eo5Mf68hLDuD1sJh0O8g4T-AXWbezEvfYPPDK7TkpC8NUUvAkdHJc8ez2-tfhPAf82E5j96s5Yo0wAsiHqB0CKPoTsKResvWz74FBoErbvT6IhsxBrUOkcoSWtQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/HGRnfTJ_1tvEhuT7pIB1wzIRLMSLKPvPUNLTUASX99PdeWfBnweYohocR5E8_XN8ZO2kSaArRCaz7nAQxZtEAUBcLCEx9zDzRnJXP7NnpyEnNf5Gtt64cm7t-3HuLb7VPyxkAK44cw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/SBS_rE8xWBl7uKNAdeQ_VCzxjf9vYBCm2jQcLg7Zsc58vkdfQO9vA2aabBosfReImvTTOZfTNUx2G972IG8eGtJYH82qG1uWQLs0ho6Sm1K9m5HO_kV4m4KugGkP8pC_-onioIsWBQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/5tsb2eNjHdM0iQSUNUQ6MoP56MnyJrb1kkYCQNmj_51qAN2RUA1e0kfj9ruZ3PSYBV0w-adkSoVYYh99xJijavwNe3gepVeApRsBFDuJ_odCUy6xDgRoo74cVgMYybs5HPynr4SaIg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/MBYnuciIRoSWY3-3L5wco5d8JNcLymgcNnwgQBIo4k1KamALNAMVPuf833x7CXkAwz_wexdlG1C3TWxd-6x_m-mki609H-Fu_KD7pfJkKPNmFpBWcODRRvbD_-qDy6ChhspLjfHv0A=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/YBTMYTfK8L_20t1RqOlQPUmRFZ5_TjpVDWtJM8tVdBBrJyK-kuDLOj1MBRnp2GjZFu1SrMDDZaTp1MjMBtJV3jBc4IdgjkxKmK_wAj0TyWF5V5QRD_55XFd59d3A7UselD1425ZCkA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/OGOPEirREqrmioIR04nL4rk69XXyBMLNElz-2bCDbiOzbZi4k8AAz6u78Xr4CURpcvW0tZQsKP99wjg5Fr82sz3DlBCj3Vm1qQaZ8WjOV_7lP964p8h8zLSW1sE5leKe-oh0dPT1ww=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/hIOJgMaTDwifzaJ1XM8DUGAZMWsH8USWBiUx38BVJIeMLpVJEdR2lHKrnQqIaUOn1WoGIsUKk3jwCzD5gdZQoNM4FDlyZiZ-8XGw7dC1bh7QGxD6fLeeIN2sEM6YglF9OdQZDdXhcA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/Z-Et00MHpXwseFyjjPlhFGV-GZtkmJ2fEH0McPNw43UnnKmsWlx5d5r3QKCVaquDxFdPiaZCFvlT5JstZxqgIYfo0zR8eJ7c2OeOTaqmBpC5qH_H1NK_RuPB2ZIvyK9uozHnZxwJew=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/GEdzva0mUJyF_ablrtdfIsJjXCe4MfEaP39595rH5bPWRV8-rV-9I56WDf7EDkwvyvtANT2IrCIHLdmaT6dPFeZwmeH6xBVIJi3P6Iy2f1gbF4nPOmjhYSnDPP0EVgbAgkpsfNdK2w=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/ET6xEftKWP2nmlgypASha5V4YhRhe2GIvUe1cL4nag-Ue6MvrM2aQn5EbDVcwtaJiqCf2YklYViBbE4EezAogm6wuF7EBj14Dtz_ryU4pS6nqZQX4fTOTDUhqwrR9KVU3bR2Fu7p9w=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/_equa9tk4akoKQ0DT7fvsmX21YJGfoRtmq-IE9rSAd5eonegvFeAj9qA8IHkzaKQ0Bz3bg16CqU9C5rMtD4I5Y3NOn_QD_5v5PK28BJjd_pJ_u92VQkM2WmsHvZQ9YqNE0dyCel8Dw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/CAS3gd5WTWIo1vk223vKtvKD-tznIaqLbM-1Jnu74ms0km__TJ62R81sNavIa9nkgY6b9N4rTV6UUBsJB4BukJE-_72ADD5PZSE_l9ydGZWU3ohaouAkAzDCDqBLx3X9UbPxNQEqfw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/XIFXbWClmwYK7lgZ5FiRAdKVV3ErDVERcGz7hnHvJ5jHOT6HwfgIdngTIHah8pGmddbUlK1BtgnQRbdHjSABlEUxN4MvStEDdCAR7tVEAOy1z9eGsAOUgUqsZo7Op5raAWLI_LKRCQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/DWOQd9WHBvp4Fi7jLkg8zHTAbCj_1sKQXybDq0hpYw0TQ5f_wce1WvloIwCF9vDLJ_ZG_iaE8ZSCDguf5ag80s9XZOYN7gXnWYhRASCGdJVPqAzch6B2ZS7RLCqyu42AzjYmbAdqEA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/9uuWHkDcR0zEVYNL02eYrWPQQsSsQ9ud168JX0U009Q7ryQDatY306W5l7QxzfdbYyZ7v-W-Z3Fq5Jytx7KSZgZlWtSYCdfrY-JKmPDZEs1y2mYpUxdTXA7vzxYUk9OGW5utsX7YkA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/3dCioBggnTjQpAvUOc84SZ0Hkf5b1faFfQnTTB6c5vQdXdS53SVazGVtg5brzBMlInD6I2G1BJ7vKoiOvzdf1Fl0-hCGS9H8A2wVGfnCc-xH68vgDzExfExHMh0lXwxPy4A4Md4Uqg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/s3YxqtOOiALftflSXXYTyUWdjNoJB_-TrbPm4r2iqQiCWAKsA3mHy7VHx69drMzzyOvaZK8IBI4l25yRGOeeMT55Z1aPfkziFAgFP2Oxxe-mmYqGfHGaqphg9knJn3CB29Dtw2M87g=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/5uiX8YOcwl1O4r_wSvbhOEnWLQ5InYNom9LBKYzaEZd_w3tXFRV3ogtBjm_qXxkn7NuqlbHg_hpc_U666iqPPlKluCgXx5XANgyq1EkiiQyZEIxn0oafdx022quX4pWAnOGCNekvTQ=m37" type="video/mp4"></object>
	  <object data="https://lh3.googleusercontent.com/ZqNp09EPe3Ly5yBZ4POlJL8lYplMzNU_mlZ0qKhWBF9k5fG3d-cbLR28sHzPDcgRBXGsDtQ3ONCuEr8Qs-r5Gc2hpXssRVIzwfyOET62s6pqTPEW4rkdxQ9qwXtBV6FuxSfj2pMujg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/sRSvJg_kg0f5mPpK39ePbIsiZw8unmQHVKqlgFEU5w9PwWmLSIIUp-tG2oKZCmIId1y3V1D8dYyOU-QLwJNzAZb5YrWRbq7fTMTWYrQlKSnhA2zWFZh2_4LPyny_3qOCftN7H5PuwA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/-fXn7Pvc2sfPvPjr_YxXhksoWOobmTT4xE8UXnT96F9o-o1vG0gAp2Ax3uXpBBcdRJrmHSAZJWNRbpsU1vVm3MKBRAOeZ4FnR4s22-OoxWiq3vtFEt2n-fKLqNVTAxhy60rsr2dyaQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/25KxSC63T1dJUG6Pn5svZ09-kvxKz_CM_KCXAH8JKq3ONRvh3oBXhD-eGKoQYDyhxGNMuu1S885BqDNFRNqG7sHVvJSse5M99Fkxjpn1M-6Sy3nG_vtt34PSQi6NdtY-EVQvhmfwFQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/q9JiQkk0Oz1NTG9T4j0hjmXcztKwwfc8oi0bQ0tAbmUPmuv3tG1BUKSrNs7Y_h64i-wpg0YEn7dO84-TE_vx6omE9b3cr6SDnaDOgG8CTsxYLOF-X4hElRbJZ-BE6ZzazKJrbTjPPg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/m0dODMu5I69BeI8Kmco_s8_DsALBwvadEgD62OSTes8urTdabe9UIfXAp-r_n_E4nlQZwDLSF6KOBj2___rEvfgtf2LWW2OBtptq_tnwDELIysEznTKgtzvTDyb48_84335D405vgw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/cvrWfmCy7pKuY8jaz90R1VXGpHdmxDp3p5ZFE43wcDEfnb0fbpZhdPRO_8AUFPkhlD45M6IhFKTxoA8LCbKkNFc42f03eOW8_idDd3R_l-9GydkH-0EydvIByIG-RtfQjxghHynW_A=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/CHexJCWrIQiiIfI7GHGIEvUmmltVAwAYv_MtXfXJlVbUJh5Rklm7xGYNgypNE3Jj7dqBHbT1GyIneAVqv76NNTYzgr4djvGkeFz4xxSesnZQjJ5nXb2GEdnu3EfvqS8HqSZHNz7u_g=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/DC4XynW5Yk_d7r_ER-mdam4lFQuUyHqeEb12sdB-N45SZoMzbH3Rk5qAUNbQajxsPcabb9r2s2uFTELX1TrdrOGVGYfy5yqBTvvSc2zQzG2Dg7KwyVag9yPkltYW5jVsw9uZmKLBCQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/8VyKk7eM1uIe-oNx2IXFOgQq2jpG__5zJUuj1tOPLP-I3zSqSElQQ39uln_TPx7WDsFqjVXMBCLpTgotD8rc4X1zNxc81RAgldZQBxxzcgGPH4t6Wng8rgEvdjU9DJ4eNXCpuyFovw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/dhocSY6y1d_Ihc5m_cSeSY9dbZGWE5zYnmA_86VmFg9Lb99pVq0cNgaYrNVRvjovBnIIJtvb_oUXaFucxpWX6smSVjZ9eRjw3r71Vrbd9Tpan94JlBG9EAcwO2XrX4kB0mF-_SlkRA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/0E9mx66sx0yb4IqyPBAD1GJ_2fMTNdIEcxz5376ZJx3G9IHtNWW2piGzvBoTpB76QNBunZzK1j4OOL0Tz1TSihuqJsirmm9Pwo4MovMznDQWSUDnQySM-9w-Jk8nBste7AORCA22EA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/JsPKPAEwZiJ6hOWUfwDakqI7MWQSNY3VzRhYczETqS23BAQlMon9inH9hWgDuutE7iVxRrXJTjTCiuBSd8c6I1hFVMEqFRkOdSuTwB5JVY8CkbLIX7In9IrKER9AT1KmjaU5CLvBzQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/mFvr-1cqU4CHfOsKYXWroLFUIVPLbOvBtiFENyWa29I_C4j9OwyF7M0v0Rf07ym-lJUoCEhgDiuljF80sI7GitjAqW9V4G6Rw3U18Di59H5kJMwq5x2ZR4euu49dNgW844TGINowgg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/npbYvYPWNUODYisE4nyy9C7J70ZVEwgz6gSOomnm7MhyX9nHvdn99ULzwJU4-BK-Jtoyid9WU12GhnsHy0LN9AN_ZB_WWe6qYCJIKy0hyq4QdI-mh-EzjJb33kpn_tji-u6AN78LOQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/CicJaavbAA4khi7e5TkH9PKdd9T2p_Za1zkChDRas-1LDCMcwv9krm7VBXhevec8nxQHRLdt9eJLVVjO7x1w_TjquZJfWnXU34EEtMUDn3LSxqUDLS2gxhKYk7ypjF869JzttNBXhw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/KHZpIGKMZnbURYAJtrky97cnvoGIu1-UAdWUUCfBRBYdXNOSq-NJAA3YRW_rDSP7eV3MztngSKDYJ7OWqOqB0DROvg9ReTWhs7Wr7X51wx6NhhrQS505YP1EDhFzlaMu6xqsJ7Cp8g=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/WPpbS8wiumk0cb6ZEV0ZUB4HzEe88-kYdW8ftOeexW7GFj7hwLxE0RY6XkGLF5tmXeWwlOgd_0nf7j4Li25vaD4OoCaqo4Tuc-8Z3qSLoTD03QkjzyLZrDx7cHe4HSDIgcQi1tI2Hg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/0Cm_eEP7cPqF5N3GFPfsE0mnHnxaYYgMTczxRRmgY1m4Uy1tI19Rbs7KQ9MEr4B3EeTmxnFalVWjaD3CusGjMWYQshyyLpHwS9fugLPYqsGA_MiBNFpJMEkkWuwl6d0RSagNbvUyDQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/sBR5BKDKnQUJ3E5jjq7vnU2VV7cVsoR8KQY8M3HS9ivELXhh5SygYQ1pSFnf21fGFfAlbTAAT6pmeumukt4U_Pw2n-bKSX5MEoEgcb2ELGtBQ20h-ssRmy6vxOMCkq0QGpdn8SWnpQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/IU0onNlZ5PNNPIHUHahf-myVn_cou-w69EGbmkVTIoZwgp0Khvxhna26D3AJ5D1bPMhlJpA6dv6SljIuwXeVN7A_78GhsGR_KDN83miiEbxd2JEf1joHeD4Qba10iaxJuB7ApgDY5w=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/9mARRnoDQBGRq-XWgf3TRYBMgshvfy1JNRCGM3WF4Q4bvNVd6jCpnYo8Tg6jkKIhe4xqLBSEwZrXTGLPZ_Keb-3Gh-SjZq8fXtR5xd0LTL2R82-IWZbM9ZAe5keM92U19V2Q74Vzpg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/fteZAien0bEq-IH7bNvjwYfi8FQGTmnQ0i7FEhAyTRqWpAN5jyBqncSzXknVEJ4CiwypJ85gsWzA_DfzniW8JP8xntw5xU9elfgotlUa02xgaYsB_uYJf0G8u4GOjTlC2YE4cBkHIA=w1920-h1080"></object>
	</div>
	
	
	
					</div>
				
				
				
					<div class="col-md-12 mar" style="text-align: center;">
						<h3>Mini-Presentation: Walter & Gladys Hill</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
	<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
	  data-link="https://photos.app.goo.gl/MrnpE3qePCxwb42x8"
	  data-title="Mini STEMpower 2019 - Walter and Glady&#39;s Public School"
	  data-description="22 new photos added to shared album">
	  <object data="https://lh3.googleusercontent.com/lxj4RXReyTYFuCOoxfbBbgWV8sNJl0cbvUAdpXtMhfjmTy1qcHwXJur9ALgrSs3fc_c_VBP-RnWtQRkFxSfmN73PqsHXjrs4412OhceOlesJDjC2GB9Xsp-e3u9Wb_jdqYS8_FGS3A=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/1F7pnGYgj8rQQikvnYSIrw2C8bX1rn4SRJAl48PUPInq_OkoHnVoaavLqkniU1LiwPh1VM0Fjm3IvCValKNIP4mswNM6wfZH7IVlGWljwdxMsnMLqQuugUpAX5jGPVBRQAknPN7XhA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/gubjswzPzpC5Qj0mbi76zQB9jhn9GWL2cFrAeSZekTRWTAElI4spFxQ-uxwYSHT-riVsFBsdvaixxbSyZaYzxNoA5H9ioS5qqV2fIuqyXpYk5VlXDbopzjtFEQReEfGloIu4zZBwcw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/yMebybEl6eYtRqasZ96OBLuqFPbaj_s2nPygz60Ge1mVv2gd5O2hq080KYPt5aErHfUouyNAsJXjU3vZEFWOsczQU9jlQe6uSB2fbnO_Ppq-jtucDHGO6YTbKv7yZt9kIvphwXeCUg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/pEsdOiCgsIGiGQbhaeDzQYWvBzhfpTBpW-2F9k5a2gZk5uUJghtmGMcy3wLlCxWmJl1LYlfA5Te0LckOjxwVEOMbHSptzFueW12kXGzvFu4LuCTb7JkfOxcl-QfT9viS-0C7Z2ZyAw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/NOGLNGFPQwxQM5MRmwbm_qLzQXOxRYEUFD61QdhJENs9Q_cQgeowMz35KMTJlDBxLGJYVzx53K9xbS0kOe18340Zfsyy7qAoni0I-2GIA4CdvWpb8-qw2mUHztH3Shzn9v6LAlzsDw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/2H48GtFcqwG2wtKk1whELES9RcSgK6A_2frHFQCRQIvuCpWQ9IE1bUnbDzfBFzQPzEjR-w3r-orYU3hNtFFm9DgQ0udbyo6B_CVw2947rlhQJWig97LZazyVhp7Pfl4kqBhq4DFZpg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/JSrwjiLDttT0K1ugMrBzUq663oWcB-4MI15cE11PPFE5OC96v3nNXFkYPngi0KKGrdVg1TaSFRTGq7_9N16a1-DAtPO6QImwlNzrhdWPG0qhlFf1O-t8lfSwYmygUoqoMT8NlRQn8A=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/x-Y8_QfUTY2Axhszdgv036HCGL1k5rfy1LJPnC3wO_-eBenGVMlUm55g3NVcB3-SRGHjGFRG9ZNtEcLY-5i4Oyjauw-jM_eaq5BL6_Yah_0o6Jc2HmzKAC_hBg2hJRDDlrCsllAwAg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/765O-JZjYrZSyBAHu8m3IlvYIRha5cKKOFJtNske5dT6vhLZuhILlcDnmN_CvK7eXroJbNx7xzwpnmLhZ_Bkw0CdK9xB-bSFWsjsq9aNEk3fs6U5EoR2DJyOOEjPaVv0-tdOJbAjug=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/jUdxDboXZyzKGUxmA731Q5RCd1wqG2rcFL_bF5Gfh_rt0VEFp_vdRPuLf9cDIFkLg2Vw67GTlBlWx5g6P5xd15Hf7UUf5iVU-ZYNm0Fx_rAbDFsOXKEFObwVkjbes8jJHsJs9RxqxQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/22icXD0b1A1yqCa7cdIjem-I-9SD2dvRvwlG-gvWeyRB52PL0YgrxSCu_mQ3qiLqPxVuiqUVYvEWZwgmc6ss_vyqSWh1SD5GWSjM29763f8cb5UU_sHZYYHoH8T-sJLdTCUePBqVVA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/0Qo4xG4weJIpkK5tIJDz02_XXZqFPyxqD0nbUr4LZMePcpy-6cHykMM9a6BF6z77j9ljzMvF6gNyfAy2qHrKRgNHYcySR9aSuDruNHN5e3VvGiEZvdtlOA3nr8z8EJwaB68jSCpmhQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/XTNwWb6vXiC9Gn0oN_sivvoYf5XgwQ_qcPu2-nwZZln3DApf06tBFW-JrzybWgW7BLJnfpEmbwUDEglBCqJCk1qZRa4qPqtN8rqW2tKJtnRSdXx9YEfRkdWy3R7NdJKuWnn878cCfw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/1Km0zu26iO0vKDhzGbmtFUDjPSmcRU1JILDxis7RofkC9EE5b6pC1M-N7EaoAz4vlMUnnJ4KUXiVMC2EbKJJwek_9n8RJkrwRPhNp0nN3uV4ld5xS93km--cja-83Xk28DwEU0xXhg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/e5Uh5tE1mVKEUGnF_XdK1ulnekV90snLlO17_mIHqzvXNnJ5oTBY5iT80BYZObNHdeNsFOAsHsBNQyngDYirQbviY06RzseZFkBzo45HO3cUemLdNhveR5RP8shGNHwomDbR_hgjKg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/c233y4cvSdmR4n6tfN5ihiVv_41ZfzzMum-zn3yeLr_onejLegvkpw_Ro7uoKkPlPUe7moWB8WrEKQvZcEydHlFG2vkRxNQaPKcYnCcvvG3DpoBQ3vtsawWamg2VgefuK5IgFJU3lA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/xB6hbD9_DPtRuGespnAsJH7rtSS3W4iFH3YpDfKVOQ7hWr7c3BIk7gAsnd_FFsqktBKAeh_LjZYXFwidigdZHlXprqlOHnva_lom2pWBV8dQwhFlhQADDbTh3d3XH1F0NgPCMUEFCg=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/44bb-sYhzk3m-Kiw_2FdFm8o0zqexXKmYSKBXHt9fz6MymS-3jmWRaaSAToiCDgjMpavzlmkIFKxly1ebaAYFEt_f1YMeDUxE0iAF8NJFmOoesPkn7k23YFxCd9gevpu2UvfUOcBQA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/Umu0U1l2s6bvyVLoXL5GZm94Ebpp168l5B7XkYjXKOS2nIg6y2aM3HFMm6k_kIk7v2_xgi0NHWhOU5G_QdOAsfhFZ80ObyawcFyiOoUx5ZWgJEGK8tvPRXIyPOjfPtofBdh1qyj7qw=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/UBH7OqDoyaTrM_RWKsc_xIB4TIGOVrMNPBpOtVSqaH2K_dBvFaHLsjPfcJKi-uKgH6Aw4OE0BOPmKrtaFCG-oBoNGdAiLVv8f0nGAPsRPQ-ybPShVGt7L19O4ygLdTUQgEmpcjNmRQ=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/S0aUMS2NSzXVt-W6oVKujzZe6Nz6taYfUQrJNXRmiIWte8xn0H4_2hICYSEpMbCD1lxUfRAl_hENl77QgzKNCgjurPZ0Ha0R6AsTpylKADrPETbbzKqq4boLVrai-ReQ9-Q2i7de3Q=w1920-h1080"></object>
	</div>
	
	
					</div>
				
				
				
					<div class="col-md-12 mar" style="text-align: center;">
						<h3>Mini-Presentation: Westview Public School</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
						  data-link="https://photos.app.goo.gl/T9sWWue1SBbEjqQh6"
						  data-title="Mini STEMpower 2019 - Westview Public School "
						  data-description="60 new photos added to shared album">
						  <object data="https://lh3.googleusercontent.com/PyjkZ-Nj7hjT-qf-XJwI_TlLCjxY1bUI6oGPY3cx8djN-nG0l0-ubtGb2LqxrHlDaWzod7IllQ9ln8bIm2BkDBWT1nDbO8VKO-_STmKEeR6aUu5_dzzk135-RZ7VXHIeSZuuYaEDvg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/SGjeTiXn0-TWDtoj-YAmRLF5zhedukQvfStSOVAXxrqcCTj4DDN8QZPQKR3CF6Y9MylWNgUT43ic5Sp2suUw1tgVON2eyZFlZj6xgl5Xp7dsHNx79xs1t5GVvyqzugjanu4O6J4vJw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/o1E5HJibHSP5UuLw85qepbAU1jJxfk-pfvyspruwrZIFq32Deu_Eorj2G5M9JkQYGTysaMChlseOJViuT5FpiuiM4kApiz3fQONdvOqfuz-e4EfhhBdj8QPAj0EXhAkeUe7u3PX4hw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/GNr59i2vEGY1EJSkdoPSetxERlQrDdJIl4hhdrxqT5867PrcqVavTyrd6O-xLm3xC_Jvc8sp8bFYU8vJ6_EVKQd3tHhEzlb6fFFNN9JdfV0lujjn1w00MNnCp_4f34Io1-za-YjepQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/XmvFCAfppQo8qaiORuRmfFUrZNOpl_NQxiLRKGwYLrCqa7r_WIt0_C3wGflGnokfZkh8znxqKCFnGsaKd9oAcbCWuKMSDPzZt5-jSPtiZRPbDF6Z-PdNOzCBmGdWjMBxYFGlkS08Hg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/NMIWsuum288tPmdCRr-WVckXU315kA6sPMIMY5oYnczeAnhAmbLbu2CdLjqybBS96MVZORkRMRJCOM0FYTQ9GRMOIjbynYwwMfQTXhjQCOMXPPFaGSXUZGUwukQtLBjTZjPQ37N8NQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/2n5DBuTPAr8ND_yHzvDmWz9Y9slxk9QRowDMbp7FvmxNZEfitC5Y8y_qjyYasa49Ckqn32F37ZL9ziJC_i6RH5fqa54v1pBkwP9A2QJi7QTvbibZk05OEAwbm_IhPTRDL7BiNwguHw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/BwjtNt743azT03zGfKxb9OrfhZcINc1qSZVYqZpXECqm8epNZDrShPYXq3ccf0kcAoia08GHpFmb_NOYY3fhhBRDDrsDZTMqtERn9dcKeR9kVOTTftrND4SbcNnQuo59oA_BvTzcfw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/vzrtJyfSiJJjV2Tqski-Il0vWH0St0dK4Pqz-rt0G64_Ofv-98OHPh4h4yJzPCjf15OnCSJdnfkcsDokEepLp0vaKe6zCGPzWRSvRe4u0tjtWXVJGRCHBcW0tqo8nPPyuGXuauTlKQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/SVLBiJPdvjo0_g5QkrAEX2jYMCAEWfQ1uEicJgeNu0XOnDSXci5akY5pmTZ9yG5JRfQWXpYwBxGXyK0E0jTbCBxqP8D8ErqSnbV_Fd3KMBupuEgnRJWQflazTOZFebp_58rLVi1xCQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/nwrga2BKbV6YZPB-7LkFh6qMlwLbQKIJ48-rQXD0P6zHAWOg12aNokQvri2C2EW50oBH_i-bIhVNNxd1Mm7szH-vIZM2KRI-zIMb0KwucIyASr3C-tkdhe42YVceubwZ-mTFSJLFhw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/pC52d7aQ2_RnCXdzivYVh4x-YKIxaC1Yuh1V9_tvvj1bzql-JEF3XcHtIKMGEnKlwgz0N0wqoZaqWvMo6dSrw_eVb8O05lr-4mdAhqJ6EklSx6AOaEqkuHYrN2Z8AcPmjNNLlZhICg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/svpTh0APWYLy7fEoU4BbhPWVyIGoUuFmvfZ04hr1cJt6ch7iWXl4hoyTJVrseqTeZhnses9VC2y3YjRoH8a7pCEzE_H61wqSOqoj50CTUsuP0yf0fdhNkSjoR4vHeNAJVkNkllcbFQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/d3QUFsSB7KvCHKr8i8_5t98Db0pSCaTIVM_MOxE1BQOTnv6MWBX6LLciRutNuIBj7Q2NLWucHFqFA_xENstgcULtQkk5YMFb7nH0XwTypERcyuj8THCtDonKgKZu2bJ7l2g9A7kcKw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/ZumVzh-pS6y617JQRX9PDWey7vAXkX_nlkWHBiHKplk42lDVWCPIcQ5R3XLucPRFpEHnySZCIIu4OinMynanas-yX0cEBvNZnNccLGdo15Zd1U00brtfqzCP3IVhIanh-S9HWVNO6A=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/EiEc_kTI5pkIW_wvxcWyrrVPq3I5FVnJNTe7eAtldMiHc9QjEJymNRTkOG464evOc9ZZbmraVd1wbLdOpzVgScVgoXlNPNKBfIGzTiPo5yH9GR26H8d-D_lAcSrC7OM_STiq_Ccrsw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/fGDqqtuxD6HV2fF2Y0lQnfagrsDVoyyMMsojf8ZK65_igP9i3RI3ucVSDJEY_KASrBMB5aW5zaHHcWUOIMU844MMMzFzcc4r-X9h_f0Quc5cUSK4aU_ublX3hemtHSx5YlBTjcL8pg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/HsOQnqswXkMRr1ez4ztYI-uunLi7olC_e6PEIVVuuiafJ-V-L2g1HsLX0pEz40O38JphFVEywp8q1K_5d6UW9xhNVKgZqpb0C2TBbXE8PT0xY8mjpuQhoL6blcdjhMEec66KdZ939Q=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/jvmfEUFTAY8-Az8frc0Pe6kG1pfZnwtzBS4ZoAz4DJUA-9PxqLc0SkkbDsLl77Ylqj99QllzAmNXi0c9ucd2DtLBecSkbpZaFr21PXT5OisPtzko4kpqLIxPEw_sFkYNPOe7xlF9BA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/rjwvrE7FAlLfvzDjD8VAA1Dq-3gAR5qL1CM6P-yYTMEzC6mvqccD54ypXySkqq4FjuARgXuoQRcufzXV_qn7p2akYQ5oqmZFQOloeTRcoEWbOqxht981NQya-3Ldgszc-6hO4KRBiQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/OxdULFirm07WX69yxs_S3jbJScchKPCJ1p1dOAnyP1CQyVP1h7iG8bUhsweAegOubTmEQeGzrTWGX5K2T6iOtBYyN_n2S0W-_iK315uUQF8Vq2m_T68Nq25sk2I_8_DkDdFTWLVy_A=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/TW_W91FPsOuJsNjCq10jG2C8WS7ybEyi-DREQNZ-Nq1nkJj06h11StQjE1gzVBRH5ZM-L5ngexKgfgmvfJ1hNWTBQgn1-GxGKRbCCOecf76e2dMHG137Wn9oBglLQ8smaVnbZNRlzA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/eeC-V3-o6wArjgikEjoD2pyhSnpyFZUwrn5qjnxSOt6qJ9Oe4k4PSJKrk-2aWx-xC2T7LSbT4P5LZYx4g4viQw-p-ot18rClPdzQJlYFXkFlx7MiQmhqQQvk0P0GA-jFDXSNwsx-GA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/6_iqjkf7NisHUC7udr0D-zNWudGQBnAAHCzbYUxbQ6qs4_g3czSzukaBGHelfoKMx-Jw6-sOX3ulz1iLNhNMQ_ilwv7ZQm_qXs-Gao4ccb6rLs_ud2fZakY6FevpZPQJ2KROUuCTyg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/5uItmVCnuJDH8ed-YBJaqXXrtnTAglqIP12EMJc-Ezu8GXAYtYnfo6o3B2tB2b18Y9VR_BPCN_djL4x5FSHlF5WZa1MQu_aSRZK1fvBWt-YqjwaV1RyrlWjGzgGvG2U9Ntpv2cptnA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/CmSmqV89ugj1JCyIGxqVkN4g1zcj6XkuVQzfvmTpCS1SlwkhXOPbNc8ji4gArGtU6jNgmRsbsG5nCYirWIWwiqFXXA16Ao-b6Sc2yxAcfCbj6QQwGnJl7vMxFYr8gSGw-vdmH2JUKw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/h3GR6eAP_GGTCR2SMw9xKyRUxtq1hiT0h4FkJHytFtfpyLaRziLKlQ4DFmfj5jWknJ8yHS2Hs9pFcghK5CsEefwOk90uqH45lPsKbyJdIDgtlVSvBAOmqzOvN23JXn0m00KQENszFg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/mNVfI0y_5JqJYZbRJSSG8RgN8hT1XbxraSFTO4w1dlFUgPwaLrNXDyJrzHA5tKIqaIlExmKWf7r5O5P6pqZsUFm0faODEygbAQMpUj7Zjn4CTr7W6zVkcYeOXUqQ_1XbFzH1-hukAQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/DXmvmS__nufyoTF5T6zA4me-6gDO2pD8OySaXh-0GLIiY-31TiMb6p-R5mGQUECAildFKlWx2U1oOrDAxw3X1iE98rYrq-5pdykL7jg0o9YuY-xl41cVygZSJ7WhPNsyLHEyjNLuOw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/Eu9oeSGf9yi43kuVghOz1hnxrJCOFzXL5eREo1FpA-hxDhEkYkzxXGerMmjT4rxh-U9ngJuqcbB8m5PMURmTygPrUM_NW7E5J9CeUMc7W0M8WkbSMIeWuA41weVCMxsYVz7id300-A=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/Xv7tK-300XVmIvPnK7iwH6JKkwKxjuGhRk8UZt4Dnr7kHnUok1llxzx-0Vsu1PBaLFHnerJwFU8KQcgI1X5Ah1I3gKPEFGLpsnNttY4Pv3rDTruywG1g_0YWaOV0uXIm_U-bn9wiLA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/HBSVs7z40IljvuRgtTh877DPqX5Xg5630o-0o7OnrGKgnYpO6A0w1fCXWKHltenYfwHwhW0apO1PB3n1E3OKoTSgmL7EUmaG-YR-_3BSKVelaUhwAcduIjdHOU7jUxp8DXtLSeyoxw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/M7QLYlf09wGng7Mzo13lXXcc2JfXXK3ztwCSNU5ay8idIRW1PjTvCUX8fnmpJjE-PwLVVqXm2Hw3wHFMU0L-9FGAgPTVARwtOVz03bqDBpAlMYAoJypkqt1KsjQ9R0Mc-s-zQQQQVQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/vhMFfF7TPWhhxEBnZec1YUf3KuK-BVizd8EVyJOLGmUqh3kFy1an5evsCBAOYz0-Bq6Ed3umRGmH045jR9XYBSZVXjCFtb2dvODodlhKEAUDXAZU4tqfSEMptI6I-VkkO_Hh9PxnAA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/zDsQXlsiVHVf9c5KTkGBP5EoGpTYXln1aAdWT_vAKAtZLwIoSkv0fRVhdBhOC_R43MtYm5HBDHPrqh67e154EN4YRkHJEPN6yHGY4LPlUOKpGNeBsbNZac5HjGvuKOgBRwwxGVOU4A=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/-2QauMI_JYboo7VUCpPIHoJX4A3G1x89LM_f8wVemYimKNsMQh4p4376bxYwfG6VBp0L_iuZlnTWwVkqPzgGuFjvev55q5bcQlMUCEy6P4_lCNIVLcNiijLlCIqa9iF_WIjHzHyKhA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/_ujpRuCpL6yKIJZEWBF3lctS2E1_cDTo9DWsBTz1jR8B2MalfNspySUYl71cUAuljGzVHopBfhtUUOOYMB0aj1Xiozbq1_2jbSg5HUXpJZjv7oRopM6ueidW0J0bYc9I7I3cReIwOg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/jNH5r4nvbAFcM6U2R8ODGqwetdM_02y5jmalFAL1rBLQ8qPL1VCLcDduyiwi1U_Qz_-t0ukd1do0OEj7YgqsaFV4JHv2ZAZ6ZJ1fLvfM7HAZTUN75snGr-lL4ie2Ac-mvfgYRCCd9w=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/F7zaiLP2wLFFI1Cp7ECfJkNULbwAR_hfNR5LSqj1NQmHADi9Wzp72k4gQjD_nZL4ep4TLweKf4GRc98aLcdL1wnQOMcIrGUsoWvzu7-am2uc12OepW5xZoQL4-VoYI08q7nAJGRAiA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/N2zU1eTPhyXET2JpO4Ld8qEDzjOpg2lqyKP1PEdfQ7GosoqJxdH9jK3CDoFwzcsW1NSq-Xu0R0FrOfYLMY92OauLpdtnb8RCzXn_3YwoBxDXadihm5VMUAF0pWmJHtNhRIsou3IZVw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/hZA8bUwX8gG3t59nP_BCRmyTeOHugjvDrKWh9mzDl3u5qnQpgGTdYvswk1kI7Qgi5-9AGC_75Agcpqa_xgvAR3LBQv5iaVSlaSbxcnDC0fOEtPq5NNSh9rOZ4WGOVOc3spIYNckgfQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/UhU6f27GLOqawMHwBFvIeOXOuUi3Jzj06io_yZkZ7mceQuMu3vUn7Z0GF6lhSAHuHzT-RY72YeuQCD0UVSJ89RhR-D1uZ698mpcP3xcLrDYpMKrjiq5Xmd8ZQH_010xkwGiFEre6pA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/cwePi5QM-7CqjN5Namg78LOexzgFP9PXSPYsxac_Fm3evKvt8Y3kWXskY6SkA4iVoloDwtTKd7zWiUz1G7ao0bY0UdEXc0YgbHM-wBacWIglRn45ZFBrHq4-J7-cm6fEoKqtJLSqxA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/QfbceDTE3W_S0bI3BkbMt3ndTXM5CCVFyPK1KDrnGU-m1s4F8ALpAlI73bHp73ZUgTy_p-SlwVzy8CSnEE2Vgxd9LurmBERUyewgM9NoeEiYBHe9TRPgsck8cSzdh1rsPs3rRMDYyQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/27EDUICSywsQLaCw2sjzHt42AO2m3xOOTLq8P_-GOoIzs5AlUGIpr_aPvOTYXl-yC-R4jo_MGYe68zLqo8sD5DnbmQVmRpwpgmG6HgTisY9EhX7_0sBgLzC3g8pc03nwfIcW7BGA8w=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/hIH2W6MmG9gxg0Jyw2fcboGLIIoPERYH52bo3QPyNeBTBDL4sefhJydBLHzOQeEzw_BoKhGytIpUn4YdKSCn9-ChCakcYAIzENkjEp1gRWW1iLLjdgBnfcCM3j3D1xEHp7hdM7Njew=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/sjqIad-icBalcOPusz9HDNZQdmDqHgWgq4RqKquEhy9DVqxjc-zLnKaytlFhftYqVm-63MaR0OlBJsu_EDFRcXt9uSiL6D1GDu1XuWOFtfPcc5jfqk8l3lwk_0A7RhB4dypf2x8mrw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/rqwcJ3ipbTu_YIFT9esxkerMvQ2H0Tf3EzcD47iS9-Go94XneLjBriEVffp-yw54rxRAJdoUBCMrw3p4-88zqEkBXFL_8qX4urX28yoE5DfF5Atw7zFdO4-4u_rIgwsvmYLMxBF_lA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/8ZSC55Dhnol6zhzn6K704sXW_Pnai7jOHWPFBa8rI6JisazECs7PjakxU3aqArtpeQismJCHmMvnC9L2CAceMFT5VFxC6_OB4Z-xGc3hJAibQLgm79_tO-Hm6RqcPsOlaeHXKK-CVQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/nH5_xQp4zkMoehX7rrEjCslrCmXYovDrMKhRZ3QchJsjnZLl2dVYtT9QtYIb91tmQRCVV5sIU1E1vd_HeK8E5wimIcllzURiFPMVyJwe94D8nff0hp-ieiN9O1uPW_G0iaaXKy0VHg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/ZURvPPJuTzWxBxlQql831DySVq0UBvMhWVk-tLIH85z1crkM5omdBQUFOaolpcUs-XxB_hzIPiRJ2WU127OMydlFyLdarhounMHNzx-YOTFmW0AkqKXK15n5A25jvYyA5ymJTCC1mQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/uCE2RYiHZlGnPi-8CXRnM3bdS5KPfat5g_yVjTK8BaKSuashG9cTLyWe2-YlRebB3IdZQZe14E5ddF095SLVgCVDssTGAC3yzmi4JvK-ejEzZaHA4Hb9w5GmYdeh4yoOZ24Xk_TmgQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/U_aNTTWfsXHZbHB_TugkW_doLxhFDhxwsfdNjlV5SkJ18ozFBfGnf1xkP2aGmrpkqpNhtlQ6ud08o4JujDFDJpqEPqBaruR08eavSz0bhKO39Ue4AdFqxYO0JOATi_Gq48fSKJL4dA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/tLUusNwN18vix6FW8ctYA2yfnY04IG1kupoQxpI7e-B4UDoYraLH_Rt4cuti8-XJ1-qOx46hM7-vLQ-NAEDzI42wGScYsxzlQMRmx05jI9pgSlBJurrpvBD8rSUTPvUrrZNAQ-Sxsw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/GKkMUx_HWCZG7ti3AlEuez7QXAGFdd9OTJHPDvHt18-FANALu2eoGZjBj7xCTTxkyvdQRQNRI_skS9rUW_5xU4qa3dY1j6_0PeZQRUQBWhouueydEVL62SYCy2Duv43Xc-LrczZRBQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/SfTJNNAMrOst8hP5EEjD4PuShfK8OmXs_dVC5X3RK6hYP25Wsyw6N4StllTUJW8pzYNEaQuXxmmxJ6_UU-8BnaVdt35GB6QYcI3gNNmV_H0s6cnT9QOseAYbgCBNy6cuEf9Ccb33nQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/-xx9AvDccdRCQDND-BRGucrHjRaVn_OtAHqkuwFNW1SrioQi6V5UHhaVZpgtDPbpY0n0KXkF0bcz8Siey4dDOEoAgQYE86Hlf-5Snw_iiX8thv602bW8jDqLvW-wWJYQDO_6qLNZnA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/yQwdtL9X_MNIE5AboVYcMJLvar6PLlTwtld5Oify92LVLCP9hl66XdHDo-ju1-pe-RklfOZxF3pxN4yztT_YkwRNy7vTymW5t-8qodFyT5VwjPakogX5vu5lkS_Pi52kvcKmDigTdg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/sHne3cacDoIZrgtxgySMa1air2vtLMOPsS1o10BeyDdP63Ne25f8c1Tpizt9_W_TrFz2mmTvF3wAmqTKcSPJVhj6zVWCknYew44K2Y_9Mbw2DkYsp6xBfCMf9rUAdSrOFdpzuPrLxQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/GHJ1ZiBcqor6-f9yWzL2eeKXTWbNhIlKJV1SOOLCeEjU-u0ngHLvx3f7jK-LJU_MuaA-8VAoHDPtCFyZIe6jdd0B9CYygFkOt70RUgHx5WCjRTn2uRAleztX7Y_12Xexg3XYjQD7zA=w1920-h1080"></object>
						</div>
						
	
					</div>
	
								
					<div class="col-md-12 mar" style="text-align: center;">
						<h3>Mini-Presentation: St. Gabriel</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
						  data-link="https://photos.app.goo.gl/YZ5SVhg6LedVsx1k8"
						  data-title="Mini STEMpower 2019 - St. Gabriel Catholic School"
						  data-description="41 new photos added to shared album">
						  <object data="https://lh3.googleusercontent.com/I4KfS654li2PApng7oJOhh5RuTbudINSJKF8JJbEPENiyGUmrPqqHyQg1dZpCj_h82wv0jUknUE-n3GVnjlJttgyHs6o0LVpxPLnT5r1kkDKu4QkNbewX7n0zjU-ADvOgsk_O9C2Pw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/3SAB6qpVVgEXwiUTTIbwNXA8I0UmkxW1AZBKj_jsoc4PiTVgAanRsUDe9LPWoxHLLVVnEjI_WrPk9-kah52V75-hLu5-4pRIzg7dnNB8V4VhD-FWxRj48XIERPn0THhgts1mpJ9V8w=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/n59lrxK0KEgKMWKTXFQec3rxVUQaeNlgxvairpdeBkAxFIzcksru9f6Zz7UO25U9cR3s_UHw2frjXjFnwqHCJF-u1mqNGzSYtZ20YQ2ecCFam8Rv4YdE_gBktha9kSIwa-yd3IYS6w=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/-2w5qi3ET0QS8JxuFG14LM9lz_VCchZp02W4ZcXQNFg5wEUfTFEKyGGZN4GZuVrl_CE_ksE6i45v-JSivAstExZDL9PenFxSO9TN_vlotvbCsVuEWf3Jkv-aWPCV29wW90JW5ouJpw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/ASycfFL5l49TI9fBnZMIV_4JZHZ9I-GBoSlpV97LssFkqUiXkqP0pzW51TDkPBTMj8LpxT1JuA5yq6ICwunR2Tl3xN8gPyEUhQ-YDJISTOtj5zKw0xDrsIk_zF67wSlaB4vlTITlSg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/fI34y8-xbm6YHmWwQCRNrL_6UduoOfi9S6UUhi3ftBZxJnv1hDsDLegcTxs-tUps2BJmHGyssa0G9qmUPsFz2fYp49U-oYhCDPQps_8wsleU6rnVw0fTmpfAk3MmMMXEnByvnzjE9Q=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/xzfoUR6J2zk4IutBHrofMCzbEiV4sM9ic6M288eL4QIqkDbrkt2n42H7ZZ-9wd5wkMgsvHAArL-C3l5Ai9cUpuFxJjS5kaal2QiqEcpmkMa3LTbN2Ww7Jw97aeUN2kcuRlzMRgAEZQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/Sq_CVI9l5M6RpVXxWigxHQHR3UQTZoIi-lbnxWm-bSMW6YAAZ89Ux1h01dsRrZ4VeL8akp38D93w9M7PQFkzHOQcEiB9rPtuA-IAisQCwf4jXQF9wQvakNIHnEp3j4T-QSc0quj4Rw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/-8XrcKvBVZoHUaQQG0PfwO94fbOf-DbE1mY50P99HuwYlf5_y6bJVF7jfv9Wb1QXV8odKZGqTGJ5iesIYNsfUztentrc1hytYOsZZP-oQmBfDRx2BRe97re2JyPrk_TAlpDD_06KYw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/GqtwkrMYejXhYXBDacSP9Ks5ZOLK8_A7ANZKcX9f68YMKuk-vJDkYlXdz1UmRyklv2-cn5u4pzsKWFKISol9J9zsWbSnS6nTDstoGSAm09JqLC3js4BF5lVfqjdwL6zrngCihyhg_w=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/mNqcG0ZPGbEYmZ4Cw7cERJTFvJoaq3Vi2NEA9gRtkR31jncpG1HfpoCYqF7pJAUFHvFePY1DiE3EEcCX_-hBz24RTSDhZ9DNMdS3fmJt3GDNYZCHwBNNyyjl5IbPU1yAhZ6PdGjo9Q=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/ZXjn4j5MIbf3gElVkqIm8yG68cKRreHXcGCwKRpDVIDy9KZQhhWFCk2HA_92NdAxzducKlC4hddW2PXH6Ld7GBjm_f5Qxll175lyB2RaozF0Lh0JN-AiCKNG6xtBWERzB4XGwlcQhw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/Yx9nUg5u5O6oI8WX1te4aazkK_AqkXfGnL3km0e4cPLRWXHqOyd9IW-C-PnJloEDvL8G97JfqUn1BvQzQLagiUVXxdTycnsnC9eCYZnGwKtMlNkO8T-neW80ooZ7Vb3fh_15EJ4gqA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/rQXirgV-bezze5toY--4a2ldxANhXHbuYEF-LO9cnEczr5_9OkHr1e2WM-axJQoPG1IVejeLxfrRFlOw0XZdaWYfoZnpCf1I9JTPxPkmdroTAtlgmrRSYDYqZGFLBaCMG5sNELWVCQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/KFFsiOf6xWebQB8WhAt0AG7xiIeFGN3W8C9woeBGoYGJ04LMAo09XmeZhZ_JhZZ1QCPN0H4TnkMWA7UYEKhBmf8GrqCohBGT-QyoGagJMSxL6y7Bkvtfo6SvyViKyr3OCatSohZcLw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/KZaZJPBY49zsR7466auhGq3qB4xnCWQxpHPhf4nuq52tsfkySPvk7fu5LWDr8wuLkxN_gKQ_Kb24wgWimQQ3rICfdHWmGKd4nRkoPUWbePwnkkiMPHHhviDchw7LkgeAiFG7UFPPiw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/gHR8vwaUGnLTWSSyuxkF82GwngbJXo5doTLFu2wGseq8Kr3MUFK0tG4DxaHO7G9pAkTGZwSCGq_Hj_Muih3Fwrg6E8K_-CVFUgOx_yUDC2qv-nq9_0UrvGLAf2ik1GMtVBpDB-Cxcg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/IkYurdmGGSzabBeSUHzLZDScMCSqIQTKiBPtm5ysFRp-5jdfz2lnKz5JCFg89DqVi7F-Bfdv3NnK_DIeGrPLYWkTwN5Fu_EJC79-IFsbrSKB7_o5ipE8VrbO8lEM1A-1KpbUOqgVRA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/sjKALQzjqtxfUtuFi6z5LkfvYKQtwyPYBe0asIiSy_lLzEi_q0iR5eNtbgPIxWDYDOtFGhi3KEWtD4BlYDYHIoai_Znws-FjGhg95hCynG8fPqmoekVEUzC57rDAqgOEXznU5d8O0w=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/30Q23R0YTo_XgaRRYEX7YmMNpz1LEsgC4c2p61kHfwzrnFbrjN1j0wMoa4B-Jr5Bk51nVXjutol56r8Utk_Kw4UflWOLFEOM1kZJHmiyV3ZUzG6wFQoIAsHji7Nrh4C2Y6hYx7jyXA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/x53h3MXMDDveg4HYFt1eh7bm8f_pmII9ImHFuQ-Dau9SDN9LeXAVbPVnZ5nzycQVmwaC58PkYGPz0CmQuyKezaAlqoGFtq4ax49DRV7MgcAU-6nbwnAOz6gsonA4zA-QmcMxxnlhMg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/4rMzqo4wyXgpYBsmXOwo_dm6tQ94RVqxfUse_SfPXidymYcxKRqYDvEP96FZX2l6VIP9oAbVayrh4jexjiBSh8MG8Di36xHE-jEBS3-QoK1I1lrUizkZAeX8XIP60tHEvLow2z0HvA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/6YAAq5o9MFObXz0i4geGVADKay3_iKNcPuFyUSm3kxfu01J1UZ9EXye1hN7jd4b0slcw8HjsQCPFN3wp3wfYtka7LPXSFW1Kcpcq6OxDsTI06wd4a5kgQtNqJAPrpdY0Azv6mj4z3Q=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/Yi5-tGdTqTexDMBgb_pQ3v1sZjjMHL3Maw3k1UZ4kdbbDFaAgi4W55m8TxszxUqOttMUyIidWhJ2H0ofBxjhMYclnAYkjqJLruq68CSaliiQ2UMux0YoGoMJrHmU0OOcDFNT6AzHbg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/SkRdI3rdwB_LhBq1ZG_apU3Rf_azqr27GN6zO6LEPSezlLGc-rcUflMdt0MPjlvlJk2BoURGN1njwVzseMzL6PTDIRUXDG12j6eHzQ5KsoT9SNWvWaH-zukgfMpUMotruDVaBNdLjg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/pEXJ37FObANxsF-gPARiF4n1y1lg7b9zidPKzTxFugIDuQR0Ul_41h-UbVH8jahVYhstauZIk9A9SHo6lZJCR_fo73ldHRoNTgtfWqCHOJujTV08gBwrjrJtcWDKddsq5e4-42It2g=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/Ynu0t2fmExzBXt_S-qUPkqQqjCRS8mGwyZj85F_STkS3ADT5ZX5yPBh2RZ5yeXZg9_DNheuZu4APUD9pExRtTUYLG2JkTO3DLuYmK7mQFDaAyXRpP-bGuptLmOQDjdUDCWI00wdL4Q=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/ZoEpyz2Ot2r09vjC2DmEl-YHwFixF1PXi5ocs0XBwlO4DIpuf6Vj1v_L47j-v0n7fkUv0p04fi20cHoRuaIqJJfKE9kRi3rUOpEDn8rsEBhxky1EYk5UwblAjxpU91BTQXoJRBL3GA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/XSFpEG8stB7quaqR2jHXKEYKJa6px7QTS-dg-hMbW5TooIOAIWlIk6zVti9Hlt4LfT7FZ6Ak2IMbWZHUvbvBYpkMjKPt43AP2M_IxVLAyiOv2lyxmxXQR6f11chyA5nPEoOqYujQfg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/GgoJdk3bfyGXmPSQu2SjnwqXQVRhpQIyUgSTxowCzmMcTI5ogR5TQlQNWxoDsXEqsxGLkK9WwZoDbMCv_ivJSRjDgRsuGXnsEMT3mGUN1vzWv8snivx5F736Zz0hs_mDEg_lmYV7CQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/5n3Gqjo03fMXfvsnKvcRYi9UKQbmaqF5HoUlGZJfLy_zEqFRZCKbuBCSZvpSe1gJn_lsXT32hl5cznJbAAY2QzNo3MQNHQKTWa0OdYGcWEW6MOjV_sVhuFIupx0oSBbX0qlf070vpg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/Onp7HCyfLUg2PeVQEUl_bXa0wKLTfgcDVXZxOk0eR3WVczlya0uAPHA5sXCn0VlyUo0kmnmcRuhX-CWT8e8-cieR4FhMhN4R9kv4mu-fUYItYLEG8WU57BTdZdlARVk5ru7vhZA-rQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/tAEo8p2gG-g7kYiYmHadkCDwBvOSMgd2K5eberGib9hyu9M6kpAwtRjbkcPVW7YFBwRq1xajX1-mWUY6I-pPZU1-HouVmtxoW19rNL23ZNFdg7y7un9UwkmsUuNJ4p9q0omyK6KLrg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/PSIjL3l8BS8ZEzFR50ovRTq-S49QNWwpfrDW8ga_XFxOClv0CH3SMzIXiYny5naxQR9KyhOafX2fnDhaDW9xHzKpoFPxKHsU80euGYF4dIuxjWJSj-2B9kOqsWQGpp8cn6tvlIil3Q=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/m2kz25UPiFpk7W44WxOvFXy2L6fpYqf4od2IvqcxRDzoa2wG0i_lgtlEivgD11CZSDAi8qSfFoPR4mlHQYVWBcGqcySLFBlSlqstp_x0X81PwxAqcWSF_CDAPqw2LeV3FDHBbLu-Wg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/pEzYN1u8jxjn1oF2ZRXhAVbPObW_Q4r-qR0ZufPm2uT2RMScDdVsffOv1uKatnVzrRagOyXo6JVUglzO6t1IIiLrkgQYlE5rYZWJrzFSZ1CNav4fEuqmyLvnOAqvGmmjbNdOgGxT0Q=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/vGfZGISmIEbCB_4dIEvl5xDo-dMuxcUsHFLl81xLflD68TPt4-7W7Lqpg1Hy4BIhAvD5bvhiHyPS9NSeVQ6ssWWY3sfOWXGuu0xj7CNmnP5f5-PT1RDArNvklzASKoUvtXVUiarcug=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/QX_BYtcwhB16Wg0l1oB-lFUe3JoXlEyxecgY1KJfilHd7jt_8-ug3FCcEuFand6oZ0KA-2RgrEQ-eq5HFEcaWU0ocapuXhJFhR_drNvJXZuK9smpaf0PN8xRVgsiqbM4jxsMatC-Pg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/uU4r85PLIlifxNSKrqgTf0OTTGgZlGDrrmutKDoQ--xfs2-LyHf1BF1lXtUfhI24zApEfWT4lTGVcGlHt7dUiTD93hcmMBKXz9oCSACIqlvd-XgUpRWMxcWzeWzX4XPvUaz7qX9TUg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/Pm7K1jtnvHkjvttnVQ1Vp-YTKXSQvOOmiSieqkWN9F4VcAzA0dFnwhJ7sAUM3YIwbF7Gcz_FyCrOq3T1_EIbibFcG_c1N8zVCevNnCgQILpBKCszyPm4Q5WbCZHOD1A_ovFi1vWumg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/EmjEg6tQcIEYN5SjomKGVNRQyAliGoaVGCkrENTrNIVosld1wAFGEGXy7FbEoqrY9OosjtI9VYEi3OcUCJ1dDXs8ZQvpVpzIfYMlNKiS-CSP1gjq17-sHshAB9WjvKttNscONxYr6Q=w1920-h1080"></object>
						</div>
						
	
					</div>
				
				
					
					<div class="col-md-12 mar" style="text-align: center;">
						<h3>Mini-Presentation: Timberlea Public School</h3>
					</div>
					<div class="row">
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
						  data-link="https://photos.app.goo.gl/88RL1Cd9AAjKw49F7"
						  data-title="Mini STEMpower 2019 - Timberlea Public School"
						  data-description="16 new photos added to shared album">
						  <object data="https://lh3.googleusercontent.com/_I7IZddVDyyB1kqFsrjdTayIeurKTiyQz0BoO9mZH01WquS8nuwPZAf2tVGvMBLWSS6NzyV4_EuA54uRskBdE-T1BXP_HuwOfU36IdH4SfumwSpyvI-6Py8gbkEwH5ZYjcalWw-cpA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/KnouCLsbjOgrB_jhMUnt0Rq8gtFg5bjj8lOQnwmNKJjyrs2oFbPdPwugG_fLMbwNH5I_qfqEcrmnQfo3G0KUKaVAvom0nuNlUQs_q3udzKoLHyT1XyPjZcP5EzOFJ9A9EqW7cjCT2g=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/IeJTz9ho2LXqVkwMXiQINqT48H5pW6osHatbtlRgbvy3P0CGpl24sRz8reOqEKup9q0UXICFXqvi83g87JFhi79c41ak-iXEcVDwu5B5zxlPOMse7QES6nQ7V1n_TuPnfSMOeFoz2w=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/kDUCjpwnE25LHDC6WOfNJeBmiVat-ptQPT_WEeMGzNj8D1DCT_ywTXa07SxKL8csUbiqBJLo8RyhckNfOcvQuEtKNhKZWlnU3WQXnXkMfV-xbrB2dNIugqzd6tCSgzkJctDvdxosYg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/F88GvoNTb0wDq-qepD0JOGrLCtpLQ3aGTFedme5Tnx3VVSQuVGJ_S02Nk80u-Y02Kr9R4uTYcMn3p5j0f8uJdsRVd2MYg40LF8EzspLWBgRLgkg9LMfnLxnucbZzMHQqSOT6JeuwqA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/rXkOHwWzu-lKlvIR2o3wJPsfLPh1ouZ6ClA7-1QHYq_ig66p6u9duDxk7pqiT6Yd4CJuqA7pKY0Mp_hYV0VYJSjYpVhoNFasx2ecbYwsx1UEn2Mk3hBeSMy_jMGMK5yUq6471WNxTA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/ZkEl1kM9W1fEUbfqpYvWOGBdCm_e7d5ov4gtyz9EXBFX_JIx_W4uqh4VqfVP6CyK1mBv0v2ioB0excWbEuZdK8gNI_TMJ5OV3iOICXPtE4_vnoOC4k0X5dm_Ou2OaGWOrWCnpwZbqg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/fppkOu68afL0rpzgahrxiZL00QzLizSrxGP8tmiukyU3y9USNVDYVHLCInk4xVkvzcRKPSsJRfCvIEeZ8oTZI4c25q3yVzmscZk2O-U7gWOGu-fcwZqssT3j8je5JQy1PfVKEQJpEg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/5XV2o76AaKQfm9rQXSatltO_e8cCwpE68t-r4Vnk4Hgzfa20MYBRQe-me1uYRO8nuT0nzQqWNUXyVwUhEkrBtDrPaW-e_FSBGcNFV_CsVupz6roMjAFIYOUQqFGxXa_9YIFid3Jj_A=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/_f99JqJFSQgkx8A3UmsojECVQaWJSchBcM2mAHJLqGkGig6jiNm-xZzGpgL10czRHy68dmZQikh-Pbao3ekLj-rhqsLEeNvvNt8TXWcdB4I8qA4y-Vn8afLhujkj8wRtQaWZAacLgA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/PCOGd-Y-tU5je6W-D4AEh16cD4KS9JQfArgTqW5JvSKs4y9WkSuS_aFDOOlmA3GDRqQo_g12BzoLtEGwUZM02O752gp6a-DmYfYaHiSMGvPXKJC-xr2sKIA2OPkrDAC39AoTd0SH7w=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/uD6gLMZd1n4sggEu_QM0RSU9CfIqeSeXSY_gMCn-N-YYZPaEMf4jGkQevVI3p8eSEmTvvfCVmZTrYGf-s4Z-j4fMMD4cws6m5lV5sD_zsQnxE60UoUU5iSJicBz6IiaBIvZhGdJGAw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/ewQO-EM3FtC-Xjd2USpQOQ7_ci19zRnLEYPYmOhk0bv1c2jfsxG2QbgrM3-3UeI7LRUjRW2Yobkp2-DEsRGLRM_xC2FBA-V6bgJckPlnCaFCTOvYFCu-kAQ4AX1QXDDHj6RD6L3Ivw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/cCVCo5vq6pdphFwCmk_PtPoocjbsragC_rWc3fJfXXdkKJq_tX0Af_s9vlIOr_5kbIb4AcU5PpMSCPi2m0Gb8fL7giDFlLPLtIY1nlDhaCalHlcFP11aaCag83GM6mvcrM1HZxzt6w=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/gfIAS86gCTfn2JWAWnJe1FMz88MYwV_2YBYUWM1Gf29G2g8tHWdEDBoGAp73Dd2sB_PdUbWD8YfXMdS98Hxhxd3LAu8E3N9AXohifEAosDVd1gQcf9s-vvFdA6VkFqwMXRZxp4-smg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/fy_VS8pmsAoxzGVXakt8ig8NFWwfr_bfb_6Jnp0MsdsdnhfLORRCB1bGIMQeJhbWyyuhKSu4_f65y9n1KtO7Ak5fZ8-gnteiDmMy1Yc4cbZLsaIopFbI__RURJoksJVSW0J0Hg811Q=w1920-h1080"></object>
						</div>
						
					</div>
					</div>
				</div>
			</div>
	</div>

	<% include ../partials/footer %>

</body>

</html>