<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">STEMpower 2018</h1>
								<h2></h2>

							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<body>
			<div id="gtco-history" class="gtco-section border-bottom animate-box">
				<div class="gtco-container">

					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
							<h2>STEMpower 2018</h2>
						</div>
					</div>


					<div class="col-md-12" style="text-align: center;">
						<h3>STEMpower 2018: A Glance Into The Future</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/hZKKvFVLPybyynLe9"
							data-title="STEMpower 2018: A Glance Into The Future"
							data-description="41 new photos 路 Album by Krish Shah">
							<object
								data="https://lh3.googleusercontent.com/nJhbM_94DDdgwCN3JGdjrTlfoQFQyxk1ScSm5tI9c3R6YxOaZiWucpkBg71Je0AzDNiGs8i4nMk7kQMjHxS5Vw8cM6jjcmmJk6wcspvhaHXVpsfe6O4vYnVqvLwjj-lpaCW4FTz7lw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/hhKxx6vcwo0eDrNDn1lSkW974vabAs_MdsMhHidrYMJK3PUtkuuy9fzAz0uCHCeTUSyouCFlV4cWxZsORWIwwaxpxFm1Nqu0iEFBW_U13zFZlC63oCLe3tBVQiHNasrRafSW6L_hdg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1AvXTGkPwmHIlZ0OBQZqnhFvjwoD_G0EHUSJB78HpgzLhGYLufaIsqHHomHjCL_QfKdTo-g4x50LCrbfxaIzErG6bLReVSaTqzlln0zmo0XOdKFkSSEgWTGG1T5F8-WLjc8p6atiyw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/NLbC6NITfDY6SxLBYrL1mrHsAUbIQnFdCUbT9rxIUygzZGo4sxtE_ru7n7UHLBNHLjMy4hNWqBZiMYk_XZmSYqCmcKS0s6mKlVR9NXGqF6us6TckDy0ixjZuXb2ykBq9M9g8-6pGEA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/3FYe7bjwbk2v6RS6hlyN8NLGZlwHI0IzF7su4yKxpfVxC67fxncoTu9_yn7ni2FSjXBP8MhsiRNnWI2jheXSVq-mLoptu7hLXj0rpfM__6hNoDDb_ID-jv_NefLy-7V3jDwa2Kd3BA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/jMndGK5NI3rSqOLgg752L33xlngLCMl2Aq2rokKn9DIBlu3jstu2OkQTBC11Fib9K-hBEgyfv3pH-x1CKkMX-dvNXhpVjOGtrcuHIejSLkWRdDlGpcqyglWTBwwwtg6MWBrCYOs4RA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Zm7m5t_pq2MbREXjdKYlpuSjU3WYsTaSURq17ZOz7U8JkE8K1f2T0WrLCDpPt9YW86cxv6sEMBNCxSchNSNM1lOIOSPnRHBhyPDv4fu0IbYZUs3BXfU4yN2MxxFvrdd3u2Dm70PnzA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/MFl8YEjTPc8XOjMsCsvAy0_gan6A8_J_FF4C167TW8oExCrPl6KsDz3oAlYEiWVcKlQ6IRKATeAs6EIK2oQGspy4R3fUGzx54kx73uXNpLP2YEZTp5qFq9EVJr9UJO0mRdxMV-xDjQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RA7W5hPkwdzE1fLDihQlBXPabK4-GirygQThp7e5kf0p4cgTz7rEFWsUqXf9JGThsLqLN5K0NKS6n_1Keqv4c38PanK7RvqY1uRCxL4atYWI7TUyhVlZFV2wQEHe1uBhcLeFoXN_Hw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/NVYFV0Tty32P8iUwaZWjntFvRjrds1gtH_ZahBlLw69ijsxPtr_ddizPPhohBK1ggx3AIIF2WcbwY_8pMnVpOLXNb7VgbIDoldsdVbNnpt7Xgq0tzX2dJrd1umICA9s9EPHu4b2NyQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/P2gj-EkGBwI90FyejLfa5E2oC_7K6b0d2dFjNq1xUG9gBkQuyt1fh-eV5Q5FqDHwOGu3SEXnizHHiYmLnv1x9t-7bJ-SuPP1MCyZBw1te-SdYhdux_AyfuIqySYOakFbIlIWqrw6zw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/xAl_gUuhMr4_cPKR_xB7wd9LOZWLjO7hd8U8dlmki4bv3Md2RFol4zu1BckgBrYSgrHFgLsREfKWvx6k0QpIPJOopxGlCyCa7sHCSCODWvzcrgYPm4cFKIAOQaUsubiebdcHlNpXxg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/QhQZlTOOmLFZa4C1StyQZTqfhPzuEDo2FTzo1PRaS_dS5ICc5TY89u49nBWERxiacQTmlJZym9af-M7AneH-nuFeAAqltM4u1M1TfClTuZZ6o8fXN_yA-RhGJFM1ho0iuFtDqI7vhw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/oIO-ycOsKLsGhxStUiDk8cgnsM-5eJAn35qPtuPXxiYouf30ulhGLfCCUHWog96exQ94ieZ_k-ROlbd0WfPsUDOfF4j1IyeFWJV3wzLYZ3985ng00Tk7I0UUvYkbWfSUOIc7rlcdRg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/7pzKBXNTap5Te-hHw6mX1xcGn_yUfAz9MEj1TL1mts_q0YXa4HEBbN6vGKuRRw1Xvy9NlAe6zTcggTVBcHnNIIWR3HFNVyYnXWzHbd295HXL9q8Ka-xePNXVUDmcwWB_fNuluD9NOg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/H-o-CnCG98jMM-MltBc_RwCvdbhI1siYmP8Zrbgxf1W01ZV7cpesX4z3GvXycQdfvQKhC1xGjx0H7z7JtP27RLyPw1yLdP3ZafAZXjwxbuCgjAz-OoI30sKuFfZRctv4YH_ODZy3ow=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/hFyNYIkFPuifMb2qmojZklKYtnKNFY7tO4WFbaXaoQpwEytPIWazQnCkUdIk_87tQxmbdTSmJCTrtkEWmhRLDHSDpown2D_PUkdWj-cHUKylWjaBEKGKFj6BpnaZ0cooEd_TKvHUyg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/GjyNVwAvfShAvEmPhyFeL1n_2m5XFwUzQp6KEVZWGkDCHeOf8ZLcXEvCnJQf6CUNWcmsosyXCfE98YiApHi7KEXZHCwDVNj_RBXZJn8VS0CumAg3aVTAGDQWkQhYFr-eeRVGNdkooQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/tAgmCDAhXaKFsVVIAX5XMRkfHY9fnWlRK7zzdReYY1iVG9UMgKB0pZl0m9s0_1WT56at-icN-YL2j4br3-YWsu33SYLsyeB4gmoShxhoEGeOYQE2S_XBSfxsr2dFavRMJAFaRCgYEA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RrfAklKIEq-Y2UVwvo523mz_pvuNJr8LjhlhwsIXSKw1Fa6eJWe5L8P3Ke4CoI5UvGqRvdI0U7kJQoB3UQI8MbckhjNwRQjGQRiF0dFlNCW3GNQrxsXWMRt4qw6kI9R3FKfERNXIug=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/KtezN7egj_qmV-fXqMxyL65eOjTkZnTO9onuyn88adekyxS0wYKBpB6Kvo_CQWS8G8svyqJmhpOjrGqx8QbBWsT8fGkE059bCFbT6dReYNif1pR6prPZtaPpJZzGSWcv38w4CxOEag=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/salZXh7mN4M-KNt1SG2CaLhiIeNvg78wkGJ-axxx9OUhkJwPGqgvmS4W3rU8tVqiaThf691ZBJP5hhDk1wNGBiV9J-qE6XsHVU0gvI3Jxy5GNutjQofpfvtuvSGUkSZA3YXFHtGUBg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/y86OD5VnwIrdUbz9cJ5uBgmJEQl8N48cSKFx9iHoYl_Z1NTtBfY-n2SCH_fIp6uqFIlD3MlRo3-Rx3-ofJm8BIMqWx3f-MHCF-8nMjDw39eAJjXFZtMb1Yfvbvbfm9Jr43vPPGqq7Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/OVftlIL1tjv93xhfvhu7aa7nce9ngxEH4Px1mCp16QSWkEbGSrFrkScIzHKaxdacc6w43uO6ekoY4KNSHI8gJhXcJlCp6ifeysWhuJpQsPtNU1QcRcTWkMWjMAnhwTQeGoDzu1tWcQ=m18"
								type="video/mp4"></object>
							<object
								data="https://lh3.googleusercontent.com/jsFI4Sr82vZ3sOLA08u0TScMlz727rSIf9JpP8J3ttxHv13ncLViirNfwTCHTcbpp9ADZFPLEqHsJQYepsFTGo1fuiHHKnuYIgm-O4AqkdStg-tcyRGdGxeaDIKXnrjwllZBwb8j7A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/V17Urjb2-6X_ppXeuihXr1t4Ep29FsinZAHfZLZXdZgyYc0revfnjwGfAFkV-_0h9Wq05rvJroeq7N2N7sn7mys8vtcICfM-MvvaIjCdGAR2Thgvj37n_j0CZ82_3AujKRRHnUZfhQ=m18"
								type="video/mp4"></object>
							<object
								data="https://lh3.googleusercontent.com/0SZbCedVooaCDfnbKpnOtUGuNHS7unZc6SPjoyl2Pzmv98cIt1KtnlD4CfaTe6MKLvk59cE9cNavZoTf5-lkw4qfoPhkbHVErdEqxSr5oJYmfkzgTM9gJqHmTeHEsqHEgfW7zHZXtQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8O_98nM0kss8iiqFiNLmyzfFj1E2qebvahJGHZshXYS2s6gbFPj77YiKV41dEpK0U1aK2ekINN1UhYV4GRJYAjuOTk_XDKn_O2niTWGPyZXSdiTD3efvwoowJ7_xMsoWShQZS4Z_3w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/sanQRaz9AN6Bicj5kHk7jZ0IiosgRLwjIL3qAN7SoxFpugSneje3q1f17zg8OmhRBbpxRprJ3nGf9DMd0T6TsPOaVDOqBbQxh-UfbeeeNkaWHEy4fNVph_Gxr5nCbn6AX-567rbfbw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/9XWzSF-DGA-F6x0V1bxxnJ-K1SxIICH_H1nsRL-Jx8E3drKczcvgZFWBbwBw8w0WwE5Q8LR7Erciu7LRoiBDGgwYK3gCZlMyKzOGTN6fBassubNBxjUqGxWQKgC888-b_sw5hY_HaQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/5QfM_TA6UPlr3TcL0alu0tZpbyHbz260ghcou6zv99oMEapU4V9bE1CBWIdLjzto2qCzxQ1L5G4abwSF0d9CE-QkcByQBPd8LoaMo7tZmFkQtxahdQY2fGo7hEIv_jgb8ci2wt3xiQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Vacsqonr725uvQtSvCOrN2bQumB9jDQhMG4OVKbwHuSu5blW0PRDl4tDv0QCAEijjK00on5VSNMpUJMNqhkJkQ_TbsnDTirkG_02ojg4T-SVO0WAzcgS0PN1iws6BPiXjtHdqI_PfQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1NHEhdSYgt3zTTA5OaoLQ0a0zL932hkC4mav6bUqgYWNOn5EWRt50foVJvsvsceSy_D7izFpEvtDh3ERrAusbolEjyV9DDZAEPhXcnbORONtJHOqoFki_c7k7tI7hSxerK17ixzfuw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/yyAYp0REao4STQw7X2QrqMNzZUIXtKRnRZBG2aOpl8zDcDkFigBs0cmdHbOmLJO5gfZ6Wh4TnLtbYHsE7t6sY4voqN0l2y_x9mV3lgPMvji0tDG_4CNCx3HxICQvikqMLnDIN3A3sw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/DMAE3nkgfQZzo6YM48Z8BZ4wADdO0nB89kYNHzpzqYZwAJ7f7Hj7mjiMJ420nnRmD1awm52z3x_B2dRY7zJEZogESfBpWN1di-NJUAOBxjqquAx_XqT2jGxw9TcVJIl1sUAB1QUgDg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/M7Xpng_7fAckQnaUzO_8HUyiYMnw9uuCuyGJq3-dFtQNosipvDdwqB999g9W6wB2GNdBrN4jgpCF4RDrM46-R9nixoWQ5OFqA5jJmSLi-M2Uhvho3_-aJ63B1iYotOi6jItHv-c_BA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/lvJAHphDLIwVUN5w-BMAw55ZeFLbvgI648ET6UrfD3CMUgosba0wXb-VdVgQmfzbpgGUEmylGSDTptbw0Z3ISsA8vw2vzX9Yv4RgwIW4eRwA5FkWgvTtyvDwnxKX328KqIsGSfGIWg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/J5zK37PtFTlPTzEJ033UCoxOs-eNYEJNBfOqBJjstS7BWSJNYQktklsAclo7nBdfQB8g1qQidAyr1BktBRpYr2V036RlGo1HL4fFvy1VBgUr39ba57-GhmaZXHvctYhDBzv4BaJrRQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/kUkjf5894G68qX0t_qWCscvcOss62ZVIw1bQhILQlOG8a2pvAwSiurWga-OTE5L3lSrDxYlkuUuBuk8dDvFj-G7I1zeb0u_JUtxHbNX8p05l-jcThY-oo_wKkwY8QhhHf036e2JQ2w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/SbfmEdG0Pum3zTnqAPdaaUSvXtvyW6CTzbPFYCQb1iIfGi7xF0-1uUYX9rurI_6fM_Cdc1lWPw-GHmdlJeJ9OFiMpZQEkXpJy2LXtyKs8A0-3oR_cO5d43icl39Z-5WrnXp_LXtOxA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/tJU1bvZv9Ug333CpaJHF1r2-2Uw31T4f_p_JRsg-4FJHhFuEgFuqQBqVefLT--lvP0IiWSIWNd-mLZ43mG31dOI7SQ8T3acF8VwxJjKRruxatA_4oHl8uHcnC80MpBTc4PYJ39kLtQ=w1920-h1080"></object>
						</div>

					</div>





					<div class="col-md-12 mar" style="text-align: center;">
						<h3>Mini-Presentation: St. Kateri</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/9RehQ3Pbkp126Zd78" data-title="St. Kateri"
							data-description="11 new photos 路 Album by Neel Patel">
							<object
								data="https://lh3.googleusercontent.com/yNFt4g52wKtUleAZo_jt9_Iorq7A3ZQqzaKI9bRpyaVj8l9ckxF1pA-RnUY_AsjHPu_v76JxeVU9M93yvLSRLT-oH24Xny_gqSFP60ox_qyYAc49TUBBLudGl9Tw9kn1vlAjgt2b=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/oDuyHhsn0c2-t9fv4qif5r1b1CglS6cN2gIV1s9Gdd-xnjF7DHDcHynFaSA0ThPSLQgNW9RYUoqENmZIIzIAS9go7vGetxZ4Mc4o-mS7ZZnFikSmDcGEyXh4Dr0SiYtjogzqQ0H7=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/M5G7vjaMZEcGCmMyr5XSco5KtcK1zjokvMVe99qUZXmhNavj_hJ9RG-MsksCfLPH124Lk0NVqO82_1LmnlQruEUqHBCL9_5sr4DO7fYAA21jiXCPb6LrtVYwSoUXf6aU_Af-Tgh0=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Me4FbmxpMneiswEAtLFGMvVAg9C0rcVEzyIieefvFRCH_OPXbFjpME6CrbOAJGyp8_xwcVIJH_VJqCcR2hUXJhcjoBghW_uCOIg8lHhAlLi59fpZJNRUE_ijkBau0q6P7HQNrpAK=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/zO8dQhAQ2THRe_TJIuEaIdiWMS9Wi-zjOSEzp2HwQ_ifS3TpZxSBfwXohUIlt3ZiEprpDOD2W8jkNxnwZIexq95Es0aIokHrMtepW1KVrMGb4T4EHyJxZ9pgUwUBsdovG73bG3zZ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/b9blX50s7HDpWSEfDkStpKddV3DrzBp-nhOskmEIAfJUhe3GC285KXX1tblXb4LM7w_boVi2Au43m1AdlsN4f9MYrmP-nN1e4y8LaCatVbv_TnGHnSQz-PhULvbzZw-_OZ8rCS3J=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/DLtbiHAEnTx53eKuGyFIHBPSo4HwalIBhzWj6Jk6pb2R2r-tdsU1wWVY1q2M15yQ4ZdlYAi5ul8FuFwsadfp_xRhJ7rImocHRmR5S2isgqLf2Wz7KNIGNGSO5MyCzhuUQbLwV3yP=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/3IXm_pjfrJJ_OggRCv4CrwBRVYg82lNtK34AIGPLVuO-y-P1QQmhBuQP0KzY5Kun5MFRtCL7QhSp5_DqAUW-uzNjEIyaTERUtkS9n7yQYrkkuUBLVzBKWagB1Wzyf2R2qvCT-miO=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/J3_TZ2H5sD9ZNsQ-6I4qKHbc85LBvn692UFZ9r1435jc-NSyxOp3Ump6UdPEh7ZQAui_UukTXV_ppTV75vXF9w6Lp7AGjrtt-XMqu053OkbNTndKbxK6M8zjasd8o4DDLD9NBhhW=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/DXiqEQdZAo665g9qw87NAAdmuK2Raowuy9XFG1QERwtxGKwl3L4yAYvV4C47g5BWUO_KJvBU_HgG_ytOWc0n0K-ctXOLDgA5yNspDl62wjdMb04v_DmYf6GK70YGP5FSxjke5mHS=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/K-7O7ZYWfuFrjaH3kmCTeWYEG0kiPyuRKisXJrVDxnnaXyGUnH9RbxCa5UFefYmdAt9ZBRKMM1iDMEzoWdnncosYcCgcXQ-MYmLqfpXIFjSEXUdfMkZAD_0g6JoGQjJHxD2urCOq=w1920-h1080"></object>
						</div>

					</div>



					<div class="col-md-12 mar" style="text-align: center;">
						<h3>Mini-Presentation: Walter & Gladys Hill</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/UNVm4a8BCGq9KJH16" data-title="W&amp;G"
							data-description="8 new photos 路 Album by Neel Patel">
							<object
								data="https://lh3.googleusercontent.com/djRyR2hHIprxC9bCymcGMvGpAPAnBjlAPEWgZSntSfs-vUoGqnGNB1wQ9nn65zy0j_B0YJBq1z1JTegaFSjm6798snFbjs4DR-dDi4p4NWUVy6i8AYRs7Gl8cZ1hwuvav-VUhh-I=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1BHGxlnd2RkIwRVXqagArdLC05Q7Z5usKykuJ3dvByobPClUYlLy-0qAPrrq3Nac9gSPcVEFdJYrLwdIA90FfTMQjWtTsdVH9bDvt38Y6S6Yk32q_66LeLdhg1TAIBvxVW10JaKq=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/jBCXxmFheredvWbRh9DNjXpzkZvwOVLP5lEcpz9qdEJjLmQiPJPPI1Y6DvQXNdQ39m7xOg3tC6HupVO3fisufZiSZAm9Swz7INrx3tC-wK50oA_mFzs7USNpZEnoQzvX1A3bKQk8=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/LpaBQhE3pNhor2feAKFUfJeZyfpsJsJ07ry4zDoq3AhG5e4X-nwi5-u2illwm1BFSNzhNDO267XD6xljsk_NObuOWlk0Gkn7OYHtEwTJdGxx_a0xac0eHdGwHePTDeuMNN-uzJ2u=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/iNjHsWRlg5EBF3JaedEhKDWO67rHY0_4OzY67Hn1qcWEzfddP7tt7QpVM9vNpdxRrjrOkUbPChEVBJcQWFHhvZTTOuNq-yPpnTzCUGR1cIgwrLsj1J44Djv4f-lKYigYRRj2w91w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/kpj-RCtCZsy__Bh8g5e4OQOD0AK_sfuZ5QyXEQHYSItKwoqKLqQz8X7cNlWGdljio05amApSFsRjf43WkE_qWWmc8IKAkVzq5hvtIhTxr9vxxYSCGIVF8n2C-rvfnhHxjFce4m6o=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/hkTb8KCJfVDOCB398RMbuX-ZbTkiAtIehwdid4FJYzEVm_z5BcC3zMLLCJYQ5AjPG_0U9kFagNUdukqA9YQbsv9Qo2mdOr2EkhhSsdXM8iJcGwyua1RE_HSGPK8EpTu0TjAZPzNu=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/bdaWsOuw01bi0_DcZsWvcalMBNl1StQB1mtLpasOl48lUWxWjpAhCDM_Jaxxz9N5er2Z1Y4cWCSg8EX6uCLQ3MGQwZeiR1ZikdnrvSEVbX-_JdwgKAzqLL16FkR-glqy7RgO2q4r=w1920-h1080"></object>
						</div>

					</div>



					<div class="col-md-12 mar" style="text-align: center;">
						<h3>Mini-Presentation: Westview Public School</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/ztgccvxphnFia7pj6" data-title="Westview"
							data-description="58 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/xhwBSEwvht7Z9MbocPDj-KwbX2SFtqY4OCitGyYHsNvK_E_1hA6iStmlzad-ini7EAiW5Zzg4YGsocei8Uu8zOahYvIbRLA6xoE9OjhjW1HG9U1mhErbjOdLUt5Bu6tXMKV8n2sa=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Gmtr4PmiKNOu-4r6MW3In2RVlReChsFUqKV5gp1CFrlJ4rvpl1WTy2fRUd4tgxsCSRZvJRSWDzeiipIuOxde_TehkKR0ke1QP6J9T7F51DUxN3e5Mlxq4UbHufzeIAIYUY8FFYLs=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/y9meW74VBOYbl2P4VeoXRkgTflbGk05-kcV9nw57_3cL72FBrjMPztEk3iLya06dVai4nwx3jN9IOmIcOJAz8bQdG1hD-y2rk8LINsFum3TZooPL7Y8yuOONGyUMcpIo7N1T2qf3=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/_FIV0WT9eAuQ2t0rBWuchpc8cwqGglBsKv6N4UTuK7D3A-2a8HAmnP6CqpRdCGxBNga6nRyazAVBPjO0PyKySM3lZP4ZVnrN6rw-WFHURB2xlRemLsBHGu77cizjQcNR6vuZx810=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/0G3X72Dre3BB_wag_bVnKtP0yZ2NaVORG0rfGU2OTzWjOtyWmGZ7UHot4Ti6b_i3J9cLcbTV38vzAtTewzA61vttKGHFiROoF8JI4_ddB_euq1V6szGtmUtF27YwD77Fxzy75sa7=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/LAS1OjDUjfnRhqrmejB8mEtd0aNSEN1tE8X182tpujFhoEMXDl955liTxOVrnTJCyCCSOOtjp6k1evTjvhSReTC_1sGu9eRRcWrddqis76KQkjyyvBPcVmoEXQ9Crwy74s0MAJLM=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/zyyPwdpafaXo581d0sY33VPFh24c2X_GfAC9T3WKYN1QArzpLhAdGZi33Jdu953peJUqNhkrejcZKTRhoYdHL0LI6AR_2Zf-kWkv8r4dYn0VVFIB6vGphU8C-YWkWEbohEmZo4Pq=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/4XoTDFdJe9VEBghRcs60ouIoWjad5Uq8YwUrK1v3i_cnqgXsjdiUwUQb3YziQ6HT6MekgsscGFfPvv7PoGY6luiE3YGrf8lz2MBouduz3bZ-RPswEmBES1QE4Y4uJhDpJq_djMCx=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/dfcOQUBKKiFDooF8ruvsAB1AewSXhlwqd7h-UP2gbtAi19Gm1yWsQSOyEP0J9U8oB_rC8BorilaX6GaJtfK_zzGRVMtCrqfK8AWePfA2jnBKuo8UNqPa7wb-D9i7c9OVYFnebutl=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/aHAyCATNUOXmRQJR8ujUMSQi6yW-saZtCxAM-GFce6JiK5R87WJOhMYgI4mjNPQ-X48_kqIs2U8IOEVPGLFiCW_SNRGXIUihdXau6Z51VoVlrB4s7n-5uyutUHalwr0aoLy6tR30=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/fjKL0RjB9ddXvzhI4vgJlSt69mDK5qkRCQZI_vc1PoI99ueHB-FBsqIImg72LZLEZSx6_l3FYXPoPfJCcJ-UntTMoadz9BuLA9zELMmkkTDUD7nxQ3uEwHJX5h8au5hJInv3Ola2=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/OYzzCCvJVfUrdsPMJS3OeHZtn9dc0piMkvL3tvCiGTC8rQCTeyt7nYuHQ4QPZhhoEfPfnxfBZhb-BSx_rlVtftAfJW-fM134IBIKzA2OJTNXIyTiliuAMw0YzTPXbzyvBdRSijRs=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/DxT3m-0-XdYWECQl9BftZsTpwiazNSftm8cigAfg5yMFxyeOsxMqlOUOCLfNoxQXN3G89rGiPGzVzGb04U9x4i5dyy4RuaixbmG59XWsPhr9QEDCIvA-tT28xubFGRa-7BkP71Ku=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/w9IRVFCCJDfaTVF1PMnFXgKq5rf6ykPHxr5uy40hJ35ySOV8wWEvFgyTPlyScv5Hl8VEuXqQOSbaamqQ4TFDsUQc0L2cSihyisMhA3dakbj4VHO1SRoX5Y8ZSJd8aF77gJ5VeLPt=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/szg2UGQLgODiKTDh9uZlS798xAhKydQ0kgO0OSlsLodTnASqh1ZIsmPpJzHba2UHvtGwaWf7hwmyCe2fGCzOtbmoNoZVExoWc0mDfCDtfGlCSzpGGiw3e4Z9jxladkAaYTkpCE_m=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8pV9i6FJwABVAJ0gtqoQ9vSiiAPBsWr7KFORyIERfgEjFe5iOAbV0EHICu5zpOsWBCvzjvyZK4v4WQvWQoXyBgUBpHtW_OK84IWLsRQDDmgqLa8lAHAMEwMdvcab_ItxiZViYhW9=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/3Xf94PSFHkhGvMXDRkDb1rN29mWnNfIqFN5uHT9hsd2Wv1NysHmhy6LdO2D3eI1WnO4IJxj-GjD5kZdmnrVEQpCUMA8LFZZYHcbBKncxS1rwrz86dpMHSBPubmj58kzlB-5xpDwC=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/D-GA5QYdsWl2WxAoTXdm9oXDz3EVTxYWkVvWLN2uCitnV9Uv7yyKy5vIo7G7uTMRsJ3zwtKWC4WYdlutY0N0VlU0YE99elvStK3CqJfyIaOMFjCugY3KCZ_n2leXXj73lqtgCab_=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ankj3NFNFlpJjwhHsNGqsaY0QwAanb_Rebgk3WYNa3bWws-9jXsYbVBOYaLtqWUgfT0JZDbUTX27_XVuYfUIQMjGnhz-B6AGVVVLCgSmdYKJEoqzFIbRB3vxB3bCGGwmd3asY-0P=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/k5W2PoxcEoalwHPIbdCHNoL4iFMgdUFtrkBlOcKxTHIynud7D0dcdhSwW1XVWzffxfcqEho3JoUyuptzyJ4JEJEoR8nrMCSdvoHkn7gYHzxHWfdv4hJnNdKMId7sWx3OncJ7s8wd=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/h1iSyaVwg5xkUk4grzK0NKTidIaoB0NJrySlCf-apE2R25EslWiK7cw1EeUQ_EHjH8GoL9DpUA-_LjN1lXtSFiWjbrNo03LyGjnH9TBgNA4-82KLIO4QZ3rkNOkvPPFN6u7_wNQz=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/7aT0oFfwsS-IDCyB_d1w4i7MktopOl5FwNVnwomBDfvRdODiw4pUOZJbQJkYU5LKpvZRBnOc4yrFS5lBH7RulbenpoikyXqyjvu0DyviSWuULDU5yFpXNbSM09uT2XxGgzKkdyNn=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/MLtRfA1vKYOPaAQea-U5vAE4YVZUwpzT8o2Bo2VyS89xfKxPaq3-mzFwJaDMIEQXBZzWcnhdnRdGOSPyBn2oN73HKk4yGpCzns3gsND3c3TzWl1npfL2OqIxNBX5i_A82QIUjyz6=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/DH6drpsFhgZacqEmfFgkOSUUgq_GEjhs5fGG0DRxQNzka4VbCZ8ylr62q_6KKwa-uAzMSgRbTzjvESj0W-LnQp20zyhPHwkrb-BCTFyGF4LpX9Gj162MhxP0hsD5zdDQUn08Fs2p=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Ly-s5nhVcuN0n1nrS4Td2t0RMfM_REPF0CKW8rSRdz7d56mtNy-x8_ouRs7Z2b9ABeDV3KDcr9eWs0fTBIHPkMe_NwQVoq1y4TIUkH392fqYjQdTkcioEhXwT2s9WCadY0U8azTf=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/yUu1EQJQjmNwZeOS4dN-K2j_PoPu3Qpnfce8H-H4UimgQCz364yBUU1-MbbfT-1wj3RYIonTDWYuVfJz1UrPGQ4HLVqOdHZlz3xVkaK1tR0Zd4vk2f3oKR1HVp17mFnT-v-iZybL=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RLzXztCHqfTnZJw7IGbvkxfHnBy6jHaJWLE_IvueTXpjOi7tSPtAwD33RXwRLBDRZDBCCtym7odBXxUIwew0CD1sHWj1Vz36LssObXThNswyiemOgXXfrqd6Eyh-DmaB63cPsYbC=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/0IOLlNrGA7orcaHP6uxrmZgr7AmsGJqTk2K96eVqQ58A1_eEcuJf9X9StWwiv4p8ZyFTBnZktN81ms1iGWOAw_IbJkkQdOeJp_mfps3wOU_0Xler7fM0Br-0rNMb3ZcGmvnqnDxA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ERulmybWLfhzX57UkL4F1z8TD_3q50ejHNgDP81ctRdk0A00G94syQzCVVeypbWea67fcTL_Iokw12dggoP4o2kUPjIcQqbWlT3lDZJPIdLZQWIP_MPNxXVSkc219iZjEEF2jsHH=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/30py-nSY113pQ8k3Og5qUHYlYn1wRbPgy-RRoS0eM27yaOFealFK7bnqXQNFRPcTfJGcZxF4_v6pPaKsIdLCTJpQwxOFwz7fMvJ8NPVcRx9_kIYoCG3C55qp0vZnXYIksgueWEUz=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/w1_SkiyWPFuq5dfNsmQ_whE6H52CkAwzubZ6rBHxG5s4_E5dhD6vGFMvACBjxvSgoVveTK28OBs6EwOfFgz_nAfKhdX2BC5J5qgor34nqFgusX7TyRHPBaTeQ5xtavT-HW2s___q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/b8gwLmUcaCNqpfxaRGigDFeBkj3XfK5VXclMzhC-VUREgfqVKdldD8-es7LGBLXPEpYXtXrmUyREE3gKSM3CCDsgdgJ21FRNspM2biSQnrLanxHx3YFdizQUsOQkFAZzzssp0IrS=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/OxVo0FLWRzzxHucs--hVeEX3Xn0lpYkRIBylGL4lHYkjXU-KjDCKoZhv_fY8XgDC2O71ICD8tV55O_9rJsg5PzeQuZezAM3WG8pMyZxrw4DothIFPUaq4zX4C3SPoeikGvR4ZIHI=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/oURmYQUNDHfk9g_qjRFCxrN6mnGYcdfuwJlj67zqGOJyJJseHrkxzZdUJLSwG4Udbc9zS_uoksQoPn7BgaB_xJIGvuxN2VsXC-Ds50twvxcOt-olQKzoLdDfsfZruvTUalirLoCZ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/5ks9I5OY_Nmgr_Dn3eolU128O02ZoBGz08ebHgIEZj-T47ZYworKxp5f26jSFpjALIGiP6ALkPYzl9hLH_PcPS7G_hcytYrYXkoHvAVnlo5ES8lBW_t6VKRocYzcRDJWPxDYqpUG=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Yglpresnx87zAlURajoe3vryMVFyMD-Eo_yT7cMYPakKuxg7-XGF1T2zqOpr-aoh9bdaC-gak-342eQGG4a--qqkEHQFFUO-Tg9BzyEhiLXdbaPwweXcl-1oHQ7b1VczzrhZrYNB=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/EvKdilSm2-Cac-Ts_xgcWyLCn5FqT4xsBlm3e0UNE6mTNbYzvnGPm6CVG9GP8Dml_lwanoJdqePyYLeEiALrv7o1NS8AZd791AJGSEhPrn3PZ236Yed9sYSQ0iqSH2-GMW_xxroF=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Q_zqe9UXzFpsMdv6z15r6HGuLwiovhTiKM77RJhC9y1H9ZgVLbemqA93UL4x_7GD4MDsSrWA3rvKo7Eho6vbGUltrS22l3ckiRtB_q9VLFbH0NqroCZ_zrkXqgaQejioCbDGAEi8=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/lZ1iic_Ac1RDzOaU8CYjWV-jHXwzJ9M-m0K4uHh_-unk0-QqSuX4de2UHc2AU23FvgbESDz8US_K62H9l0gt34P9SAVVNz6t2fs-OLS1QNwk5VkBLZ56hJLVNFaNSsnllDuF_9KD=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/WVpccftyTCIMAHc1fe5U1nL2u9zzNmszaH4QPGJeEecFtGXe84W8PbI9HphEoJ1EyfCV0r8K7D7dRI7gJEgm1YUhd0QFOrJm475-e3b7P-OQpY_D_4gHxoeqrqrLL_B88puWQiYC=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/tcqoFdvlG5pJZGlEGlHb_vCedBxWzdOm4cgCd06QPwnTP7-H9t2iheCkd60Cl_jEIpxf0E5ToBly5kd04U4cdpO-WnlqQugMoyIKoT4rSBM3B1ye_9QAvc1iTZIX1yIBA2yvAObp=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/G4E5u6q5xhn5lLuD_E4VfqRfbZaiq0ZYXkHRUaqA8VCsIGgdJxgtlJmbS0dbAUY-dhlTbZGzPhbb8NsHNk3ae0ijG1eleCRBST-fVvjdCyY5DniCGrz6PPyOfPuXOQI4DXjhe8g_=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/g9d4x1fK3T-XCIsuNYFv2Z3SJ44Fv6mFywjbUefWpoieaFX58gPWfGl0UvNkQsdQa9wh5LWMqti7jc8FS2GciHgI8sVMIUXbJPYTimKDs5ixpi6-n5hITXr-kIR_B-_bOyCId_QA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/vlCjtflMEZ8qn6g_vts4EMf7eRBNQHBiOHZXS_saTGM0p4Lx8hKNUlQmUaGRpwHFBGUq6-V_XEIa0Dw_DiJ6s-Qqmy2VuvPw7yrXZDSp9urcJhvXFymx_J3WNHDby7FWYlV0FkFG=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/KUNrOZWTFxflCkIdwPC6hzirMigfQCXjRXHgwE3I2AMc3YUTVv9-VXU54G3V21WzUOy4qAGQyRv_3jc-i95_WUuRfHVYRjTnru53HcWtMYzKhWuZNT0Ks7AfbHkFKeW-SugwJtuZ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8jz6VkX0kGZQoiluI1jLLOJtDDFX4SdjLmwBqV36exAlEKN_TGll7zeR34UVUF_Cw45AzYYms-wV_xwBh9O4koP9aSkVs_fMZJLx_6kLUBuOP8sEFfh5jZQzOfxhwL2qT2zy-weD=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/p3AN7eF3YTYiKzBY3Eh1AIwxCdY21wXY4PoFSpUyiFkEScf_OnKUVdH_MFFWYhZyuTaevdkRqVjRjXGS4z6PfoLY4w86_mmj0WriVlcyPsXd1BuAa3B9dEMnoCzHe-LGcXEIiwKI=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/exTWwNrZW7SsJKJMXrLKxHjTKYmm-wOrgdbYCtS6860A_EA8x3FgETojbnlikIOg0aqH02WsyZADMY-usRAypYI49Y9J3Sl7hFTst-JMP-miFmheysQ-eevmX1_Ib4IO1dFUIk64=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/AczSsfjfrlgkppTWfLDuWTeK65jpbnCtp3tEuVAZvpbwIeMfAEQahaQD_-4T6sETEKUqMZnvpcePCs2fGXVQyBldITjgy0y2GySq1Kx7WaYJ64fr5dXFpo5Bbb-UOqgsJB7D_BJx=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/eTIVN7LIBjOZ8-Fi7xn_Uvq8LnPTXY4gSd1b2zXwuhRiJ48OwEbePLQsQVaMPEhPbiq4_WnklDFO5JwcTy3W6u_p_FAoDhv3PVqBX7cnQ3H_cpNk668yLfEOYSDmjuyErz7JAbKM=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/TJ5c-pIJcE5jZYLsy6CGUowrAi2xllTK2ZSjpKJ5r3SB0RiQkAKsyE4Qta94JmwioXU6XXNzEXlzU-_HtYzEqilcC15zesw83Kxku9K90XuATrnpvpryfFH2tTM3GBRzj9i04Xt8=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/5ZBP5K5oKAyNDLcRH-Ngp7V0B18uDN4SW-tcmr-7tKOcT_1-CRAZrnTuFtVSGVNLuUl1GE35XI2SiyePRDuqRB1VqxRdm2phs89zKXdEViE0NUknjkscyaz_idPSUspMdIFXiA6G=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/dA_Z0PuATVBHPI_fRd7nZk7GRWMLrEfo0udfofhbnUimrOJbxNMuOTx7IRIUBcaQPLZwq_2c4GTYZlj_q-WvXh9x6Bd3KcbYYfgXPP9Cp5yi6q4bAvpHzgFLGyRhXoB7BvEA1LOh=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/oA1Mm_uGAt5nMvmrrNCQ6rbUiclQiwk8ycfi68keVZz2CpgdIfekPvUZ3KQJC29-IwqOGC9eBfA50FTyn9kFiXhaAUBAPX7vJxlGlblrCQqizwMC9ZluAWQni5mwenlABWFzJ_L3=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/I00WhJZ9gLhGljVV2FmWYwvoRrfCpbRVhJFJsE7NgBNpuAIWWzxmG6aLNIdHgWdO_u7PveGwc8coXUB5SG08zReKBcgrYbG82vjL2ZkIIAZdQWFVnLMfNkiNz76qBcd8nDM5jfVy=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/zqLNyvMiXKpos5tfQFZgaCIQhoXFXzO3Ni2YOtLQ1T1_NKl6jS-Q5dz35T4y9aOoi8M7CScxcdydcoElPAhWBer2IOwqRhxqu5Q0935hIHR5sXRnkkWFWnYfvObbrGeUhu3NeB0L=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/-rxFm2_7IdkB3C5TBomhd1Q-8CL96HuJVblQCKeLBFamgK94P64MZ49Epu5fadKgcgnEVv9dGw8owk75xaP-__JuuvRVvU1dO-XtRtzw46P6JKXDOXSB6UMiy3O6eOWg5XQY4CJK=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/-ScZy0F8pYyvEYu5OSJa8_b9GT1Hl0sLB3q7z-4ez4V7Xb9Q8le8FmGEb7FUyLF1_68PzinR75h_dtwMYV29qbOiwQa3jP_uIFIrMKz5imDoqd_A23azIZsM20IISgM4F8Ok5Bon=w1920-h1080"></object>
						</div>

					</div>


					<div class="row">
						<div class="col-md-12 mar" style="text-align: center;">
							<h3>Mini-Presentation: Timberlea Public School</h3>
						</div>
						<div class="col-md-12">
							<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js"
								async></script>
							<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
								data-link="https://photos.app.goo.gl/tKE4AV8DzwpucNTK9" data-title="Timberlea"
								data-description="27 new photos 路 Album by Neel Patel">
								<object
									data="https://lh3.googleusercontent.com/72BT3hh57d1s246S2ht8TmVrumyeU1NESaZf_TBBZ4G7Zye1qce76Aj6NtFg8ELc-6aBrGM3opyj8NsdSyDJjKxX67Obs3R3v5I01FtrsygipOKJEolFGwLRY0-D02KS9WOVHgBy=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/0ihygSS_TXMmy6Re4GYL7uLy83RoqX93wAqjz82ujPgB4uSFtxNDiNlgf18-tPJvr5iFb0n9agBna7PoSibIE6Wg8gGMkHd3Ly8c7tNoZIYYwv5DeShs2-CUgfYj4qqT9CMEnUoL=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/Liu7qZNUe909kX61BlMTP4mXt3kdqRnryGyoWLundnJkJJh124OqQHqq7PrSKlw_fi4Up-85IXBfare7AgtIW8S7IOri7A6icR7c3xnOzumw2neFs_cfjIqIZZVAmjOklSgKkqEP=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/t0GFn97P5Slpd4amTMrUYXuGqNcTttKwLaqxP9GpT93yVfgaiAQ4cPSeJQsjIQuBT6CCLB3jDP0irM6AMgGBjrItGDEjqa6Tl7zvA3_AoMOsmp4XepOJZyINQ_EdsCUIevq077pW=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/UGmYoTBvNYyXlGxyZLi8YsZNVe6DT6WGQ91LOs5ZNRDlk1_FSC3rMSo5KroO4NKgTjv2C3MADmFqqiS2wkYVV7blYjbM3VmEZpaGv6C3zJ-jk3s1ytD3FtqJLJKfc0YopDMSuHE2=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/VQib_UBfqrt53fXNczY-kD39HpmE29ub31LdeyPqehCLlxzul576SV-3uM2ScbJAgwqzSuv7Cy4_DEu2XtKDguVnddk1zgcAGVmZx-BspfU_-YQdRpB_Z6LI-KraFt6dWKW9X-0O=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/oWZCGnu3PKUjYUwFrtZkA12KSpE7YlT2k9EYHw8Lqlzbd-9e5pfIqMhGMnYJLEFMFJo6AySkVfzuCXoQmFSwAZe9W2DILCoJVJBr05xdhqvsgz9OHUc0Rj5BGCjH8JmZJ6F8fXDQ=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/ZiBB2hMn8cXl1NONr7ZJ5OTkeY0tYRdT-Uv5sHm0CJTBE3n_QsvkMCZ3E50vZvlff16PQLbX73o-GEbsIgMlPSWqulsM49vH5ixAhoaFiwUbSburr2Ypl_F3cWcBKcWVo-Ho1MgF=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/-Ld0GCdfarDzjjcmdNNtMGzJ-LQRUm_UIhXSO6k435_TT2xUKdhR4azQlTqmlyF0gKncZlxDtX7kjX4W5NCi9zPpW6mcqMDL7boV5t_SeULn-TN5gTlJA3M0qEsnTUOC_Xr7VlVY=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/Sg7S1p4gei4sBP3eG2mgl3Wsm5-CjR6WTGqtBHIOXI1OivPDFEYhW77nLkGMArRsI82WE49AuoMGVltts9y19pYHJdAcHCXPAtEEOcxy1QWHqrMplavwqUWQIe9LtE6nDk11_Eov=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/mKcPFx0jToRGyDWPnvwsjkPzmL4Uxz5aF3E0xBN6Mm3aXhEo7A5A24yCZKIIHdkSdCBREFg1CSONlkZj7axzpJtnPDH6dJqCtKocYxIchbkf6Nbh-yP9H5CC1g2r3S4hkryoZE7j=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/TdLki7-aQbktzqtos3BbgteV_iefV39Thkh9uSE7uQPxWMFx-aSdDgf3INilghd5f-Tpa_BrJCSNv9PUT29kiHmwvs-fNuv_l6T9VikqgCyI4G0WCuihs01uYxyRBjgZKI6b_LTO=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/mV7smz2iZQFxgmSbx__ECC98dHqj23lngSJLGd62pTejaW9C90HRY3bOlzaw6Cx5ps5WhKhrTixg1NK8P66iVsZavtfPi_rLUN52syIL7g9993ZQjg2ETkNPNgf04JBbbTO8VfAI=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/UVWv0XTFDVLS6W1Kzo33M1oWqVfRY1dMDfVW68POQZpsAwEV_ZL3ZYXc2qeXGXSbNOXJyx2XgBsKLHaq9te5u9WlYm1N5IxxOdR5YRkllOuVgg_8VV9tp5LZu2y0DPIibw6DTkH3=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/8ACUcfdwvBBVblxVAJUcNQbndOXuD5IpbUfHvuINUJwRPenTatcU_lyFhNr0Bxt-R7L1j0aUZTD-PQYY3g87z2FVcuGawfWNFnBvfKuWTA1xUNMjzAlP1pVMZ0m3Kh7acme7Aag_=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/OTzRA318Soc35aMZQALAZVm2-qp-Sw3IXMHD1e3-pnwBIKgepfBuVgQUcRBmlfx8j8RF4a7FDPpwGTjHCNdtv8SGXnfvPr0tl63uaXEhefaqB29UgVgvkxUTQsjvcnRewAuh6q99=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/rEogUuloN2Zx-U1VnSOjJ-JDuGEACNZiks2JvUrnISDhKw6452AJ4eBiW0Wrly1P2AAd9ErIwi2ekzf6QScOtBGSqH2RAMVwkqeK3va2ixK8IhpaVzcyQOgE8-7axqrT75ozTsS1=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/Fq2tqdPdNuf27gskDwBpOdm9wYSGRB5naX2c6fhM7NJ6i8Z-QrPqvDHG3JNpRCHaEfvH2bkVFkD_4FRDVwDGvAZhXbfzOqQrOEfYwvJbAbvEuRf6w93mg6sDkxJZhBzhg2a3qdKx=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/eCQFHQkQEOcQAZB0UQvfLK3TxfjvuM1n55CkuflDTNaesdtRq97x63tDKA-LFfRuWt513Rr-ELaOQHpYI_teCWMAYWE5e-jxcct56p_B2KsnIR007sA6djOTGnPe_LVTfSHNDxQa=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/B5PiqngYOYDKRDRuVHfpdHjDpivubaUJFgkj6OM5Jy-tqZCWJVPiAj_2l-v4aRTN3csQsjecAXHEioxLLQmOQkb8InWD0fhxdQkDFLA_xogEJGBvJUbsLcJm7G0hwXFNcRCWwBP9=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/-kRbrecfwwAxN93WQkYAQzEJPmF0_Jge04WlSVjMIsFTx62aSUE-fV_2EFSPfXZQmIgBbR5bA-4bcpkjD15Dj003vgzNZHYMIsev2MSnJNNfAxbhpAUvkAYYfi-eN8F6fAnNSOwz=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/iGvEJtsIZK_iY2_NRPjoo-l2TBtLHnU44SzatJ6YoiJZvTMZoia2qXhZUo4hHg_N6yHwFYKkF74jnWHdtT8F1YUl9xeJ9Tye_a5nYndYzc1X3LqVDBP2J4OQRl7NSIeOZsBKYTFq=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/cYPWhIwrtGmiDreBU_Cswlum5XPxaHlxgj3NOJA-9vORJRPCXTwcjq0k2GDkeyKI5w5BWnU6BuYnnCrlfy34lUG2W6MLuwqV2SJUPplwgpEUvgbRXztqkfv-jMXfNhi0N3at5H1-=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/n2N9EIVnfOA1HRnCoMrNeuP-cj16c158wgJJwer0S4JIAhP964V5doRddg3gJQsU7zyAaq3ODERErAjD9G-VQeBptDnq2R-IG6MvBBjevyXpvr3Gf5V7HOiAFpJWwfKLCzskLnyi=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/JixcT4tGfiZj-VYOgaI9CzY5r0ttixPS8UIJln2m_fZbTMRILOIE9G5aDHLMzJZWolFOaayMMmqF4rqX3u8fXGoFS8Jx5m3DMBhd4kqeDa5C4FwVLB-jMEmri1qn2NR3hwYDfQXX=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/QMuUTV5SpuOb9qijRejCOsCKV6xcVQhCe-6oo-HBSl-Xi5a5a9YcB8B0eRAIE5xVfpPcZut-HbPW60b_7b8PqHTfwYVhV8aowDbmm3Xkih4ZWDAiGwiM5leUZ0hdmr6q3mETgb7c=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/eyguKl96jr1izGd07ILsnfa7XJEq9nUAKqGYMde5tX8IUWRXuRRNrR5cI05lorKN1Ek1c0-um-J_5f97a_lj0LFmDjEj2R08ny-uppRr2zvk0IRekB_5U_9v0XPnsSFr0cxsI1MH=m37"
									type="video/mp4"></object>
							</div>

						</div>
					</div>
				</div>
			</div>
	</div>

	<% include ../partials/footer %>

</body>

</html>