<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">STEMpower 2017</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="gtco-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>STEMpower 2017</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h3>Some Photos From STEMpower 2017 - A View Into Computer Science and Robotics conference for
							grades 5 and 6 students</h3>
					</div>
				</div>
				<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/85VQ243RLu7rEo4G8"
  data-title="STEMpower 2016 - A View into Computer Science"
  data-description="9 new photos added to shared album">
  <object data="https://lh3.googleusercontent.com/mmRYuAlFk73wyWyVX-V6xpJnUkcugRFIZsf7Hm8EMYp-6U1SW0SqYO9ivMNuWJQ6xIhndEMz0P1QxE0H-5GZB56_mbq4VKYG4hIQ09aCbxrL0xm0OTFlvt2P3gye5xJ0o2_TLYSWKg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ZdQqismbEMSaUWHoR66pQdY5GrVCfmSivlkIlyw8uJpvEYSMNsUJBWwy2U_NUnBvGJMkkXKshBSb8WfJyNkTH26WhY6augZX6mREhITWYAlLoH279amhpGUj00B40JJXWoJ2bo0znw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/nh4s5vYXg57Xr4TZObbBbiSLtl4dVZ4FFal-lQvhR1IicHFVRMRCarD9KjdFciw8f9FYu5ZVnAHxw4pEAKcF3CZ0UB4h85QrRwvr45GwwSRkFrDY4kPV-3hVrr6_cLmZX1a7I7JVCg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/sKiRfvru7I2Gmnzunb_Io8vI5Elft1KNW6YzdH3Xuyp4X8uV6ojdeKjA-EYse3NN9jJh4vUax7ovUbzbAICUnypAzLekh5GMYldXapXFOie7tTe5X0coz9BHQtdH4_Rcq7m8X7nGPg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/qzeheDrrIKRv2wGoFJuFKDTOFr-QVXbJ1reqr008U7bTSGH-GbLoq78NWlcNKy7rw3L4z9df-s88JBiCJvaR2OxRhSTwMma5tsGCMtmtI2u9zvN0A5WeWA2YUys7hxFAGlndWsgkJg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/JaX3frJaNejfaSTyGRkaL_aHovOkTU2oiwF0EdwGVKZfD4cGUgJXKO0FH2UZ_eEwvqFQtmLFwDkb1GTn3AMKSPF4reNCgEiVIwV9lYRMFKpJTQDrbtvI7Fb5YhQTbxaxrHIKt-pTig=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/6EYuY7MMdm3GguTf9Ikvl-pxyJh0P4N2tMflMKxF_0BkphIAVoT6RfFtHeUlEQrihPp48PYSG5AHR-jt6rESs3EQSyPu1B3AbHf8zHe6m0V8nzfJI0uzBIVFe7g5e74h_fZ91V6FzA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/d05d-KossTsF85oGJ6Wxwzt24NYexJzF5VP9D4M5etSXkIhDkMZSRyrkxse-HKwRhq12Mt57Xl2oMz6s2tlt1bGhwPDRETTk-_XxGheIwb0jHhO37httDM6-6CLKq6b8exQCkKcBsQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/H7es5CdXN21jyQLRqmH9nQGhphu5ZV5i-Mq4zMX66pECesAMR4Lxf4jS49EOs6nwhT-1D6x_Zo8u4lfzDXufo-xRxERcFssqH_OhjYv8RHZK4UTjnCsKHGoBId2KAM5K1Qs60HQQ3Q=w1920-h1080"></object>
</div>







				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From Our Visit to Walter And Gladys Hill Public School</h3>
					</div>

				</div>
				<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/anyHEHS7Z9ivwAA17"
  data-title="Mini STEMpower 2016 - Walter and Glady&#39;s Public School"
  data-description="8 new photos added to shared album">
  <object data="https://lh3.googleusercontent.com/yvbU21oXbA7UdQBvccPkG21oJmwuLQ0vcR0njxt8lN753kFaiDdj0t526EdR1LpMsvhtUt2MvUrXLqykQJMOZ0rVe0nz65PaPPnleBQ6VbpY8vazCdVE4yzP_oIE_sph_0MVGaE8cw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/3ymp5m2JYwnv3w5ZqXYru-X13QzIRZwf_4RFVzfuYNb3inQceEHbxmRXT4QZ6N3C0sgR9DoYxKPBbfnTHliHd9fbWhAhzdZKhphDMVQczNShOkeQ7snVUNij-46aGKdzmt0ihTeS2A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/WB6bD6pSJSaMCtBAyt_U4s3i3sxMxXlFwXLJfSzwgU-X2PsKk1w0a_xsmCdmtP1jxRvb-rGpU2BLcCu4MstIl6OTuQFaXAlz6OqDKGOJ1xAIvctTYcpbEA22Ahy2KFqVViuiodSv-w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/9SJ9ZtWAwruD4ywgXl7cyiJwF89xer-zxp023-q8jfXCIF1xkVeMncBheJD71tCVZCaFLaVz4Z3EsfAgM60pgOEunqrugCrkQHjFtnAcAd7VnHIyCefu_90X5IT3xnpkvJQxKOL61g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/rDhesSwZf1RONVBs29dge9HXFMKMQGwo9kYQJas8QVy-YTm1EmBTnWzMCrBnue3w9P4HDvynGYPiwlCJfYS01FTMUawQzmTJgT8i6vhBzK-va-3ppvM6hGMDHSHU_de65dt8aAhfUg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/P-LFHujKIIqp3zNHJceWu1KdAY_yWnlo-wQNFL2pMNtpGmcqv7ezfKfISdPgkHDKRCIslqu2lAe2v5HLGXbtlNGATYIhr2socKTuBkWXxbFCh6UZIbE5eztJYL1d4uhutSlROrV6eQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/5Q0qdQTdu6S_5d1MM_y-zIIi2faMETx4JCammlkV-zZNHRXn8-GskgoOilSlbMbgk04XuCJIxuvjcjdsE1mgZhYQ3WmsuEtWVTNONHtUahyZiEnonGaB5GM44UT1Kpztj_PLTkl0iw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/opxJvgb-MCKhfI4qx3-475KoVbDJw7Sh8NHyyGOEl4KJBcGk3DXcw-eT7F-q4cE-qxPPvbqxtpp1yTa-fNo17FYIUF5m5foKFr2rND1JKV9qAV3sxn8i1dDpEYr01QEq7bzmaT5wTw=w1920-h1080"></object>
</div>



				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From Our Visit to Thickwood Heights School School</h3>
					</div>

				</div>
				<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/592h1ttxNDkhYtLGA"
  data-title="Mini STEMpower 2016 - Thickwood Heights Pubic School"
  data-description="13 new photos added to shared album">
  <object data="https://lh3.googleusercontent.com/MlpEDSIhTB8z6jLkX6ckH-BQ40LwRfNfMVGUQmmoYydhbCdclIS6-bEyhu6luvMEZJrwu_70SCaPYLA3N6In0PFPd0RZuY9XXBq-8vigmKsk-7BJr7jH0hlz907Kn6IHASPhEWtiMQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/JQ5FghiaPSzQsHvAiXUeUJ8z_OUuUvGEljJuO5zja-hQ1s_EFILZhT9rphIugv3yvCTYn3-jW9TJ-WcTA6K1XvMil5E6C3X--Amw4YgfeIaprjIbMhdU1Uou-PzbqBLrhHzzoVpUyg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ZQTU97MJ-vTqcLkWW6vjkObD6jf6wYX6HmREejvHuOFcqlL9k04Zji_V00ByoDhekqOGR9IvzEw3C5vY7wwtId6e6ElR2bxwVMolNDMoTOdp9EAI9tH5TEJePiwYIHo5FspSThYCnw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/TU1SGThoch9XHrlnOs7N3uTt4EdMQlnktbBm2DJ7ijbsRycpfpVcAqk0NT8O0p55e8w77QT0NHWZnFsvcFm3okt5hI7l1NbDQ07g0d7KOR-MOghDlTRyQ-7Z4tYSQfXklkEIhc5GWA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/32ylAGtlx7FX9rs7-f7C8SBVsx96Hc7uLX-SixUeh0Og4Sn4UwzanKMqMgOzvWLZO2qA3xk3etXYf_n033Ry9ST9iH0bAqWMu4G5xBB847PVNt3a673DAVUNssrJBXU6YtCs4FXNRg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/wBlmDexdfA1o19Tc0VTSvO619IINZWJbBb-5QNGQvdBZdH3DViqe-xVCPNufsa5sbL0uvrDaf7lbx8Anf9gB0ku5rHgmd5x7tDpfH_PiIr-EVcGWz1q-B2eEvplcpKlJkFl9UCxk3Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/iKtK_3MHZNpz9pNyNN1Iaxwn7WXT7h5W99ctZsUTqD2fvQ3azolK_FKNbFe6eLaW95tNrv2yAOH5SUyA-T9CM8h4utMckeyXdPg9StdndCpg9JWxMrhtqGP6XFnOl0183L4kiE6kUA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/7vPZm-mQetXlnxr9V57R3JlI8lOw6JCS8MZMG7f_5mNSdHHJO3uB2t_tkR916OHexnAZ4URxW2qHVwiU0U6jLSYtXOIG5CpwB-II5jVymWYJJ-2MjZMIaLTA1RdXBrhZzOIueknpbg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/dJmnDy32M2Bo2yYwiu46KlyHT8i-VOrMUmVQ1UEryP1j1Hj-Zcd26WxOql8dP2cAyK9dixn01AaKeHpJY6PJKjf7nxIcAt7bz79UnAKEXqNuKKxzWY2eVcjBFPtGwEpDBb_TeVcMGA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/IhJakmhWrP8zHg-V7M-qZk2chKxoqi1FyMHOD6Ic26ancuIwcCrSrKH6jxrbdh64kY3Kvojk0xAvuSpttyabbhB67rtGFRcSgF5UQi2wvNn0I9dNhVmNfimCpP-WZms-wiH3Gbc3mA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/PHr1k44pEUetovl6771mNt6DV4dY3teJDWK58CCuwhRV-prNzdgp2sHWFpLJUbzpmTzHXqmglxzj2j0ZUr0YFc4WQ2nroQxZhGe6BfDo95DwSI7XGVgnKBr8oxj9nQeMvJnp_WnX0A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/-4io1OjeyMfOI1Ps8LxtF9WBpWDMeLh3kMWjFGgHHH7mlKpkdw21rVoEH3FRa19LhDV2D4HwfRpdgamZ3ZDw_KoGUXC1kJC1ZaVqHT7EqK_6s1GyVE3t26AcXUB95TWbEkIZogmknA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/3U-cZBAtHaUUjIlXi4G2o0JIMM7yNzcGVYBqCm3ImZ4nEjIr8t5rrgTvOvPeYwiN763kbhd0HXhL35dMFKyhu8_fj1j7lMLlik_aatMly3zhzzJAzpZzrowkdGiFQDKCblfO2hoYeA=w1920-h1080"></object>
</div>





				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From Our Visit to Timberlea Public School</h3>
					</div>

				</div>
				<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/94wzkPWcEQrN6gDH9"
  data-title="Mini STEMpower 2016 - Timberlea Public School"
  data-description="4 new photos added to shared album">
  <object data="https://lh3.googleusercontent.com/xKzgSiBJMN-rY5J0qm85mt4MRLUITWpbRuzZG5JXfHQZbKawssTs9Gd-WgTT2YYzxG4A1JIByuGH7_lcUN1PXkwXTxKUiRrasMYq2Q1JRW8Xfbckx1aUlM5RaKNcBnGDmtjhn4BAfg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/DTeGdMN05q9n3ujCs2DLks9IrTW-lWReska7xgbHQYXZmEAZfEbHDIgU9pnW1p9AepSKU5dHyf88DLBOhw3gvKWr2djcBNMGBRwFmf5gw9olJJ0F8Y2KISH7fLUelLhuedWfNLRsvw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/-T7sOl2PDkqJkiWHZuYpT_86oHUT_VsNZvbCGHKaT_UsETitgz5fktDGBR5NWfoSiAQPetVjE7sCUQu83XC47PY1Zc3yHAEg-9XslfY36AHiwlcotqordlrOEhyB7jJ9b-VMsLkusQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Bgz-6ajd2OvMZl9ZAhYcVFlDg3S3UGoDelahPrYPzEi2ESlD6a9fXFbTFeCsHCx6ApEw4DFM83yrkqMQZfQ_F6ELYuqYt-AkKsfcGYE9Ne_Ex6hSKKxLkBoAe-ZvfVRFo9Pjev1N2A=w1920-h1080"></object>
</div>


			</div>





		</div>
	</div>
	</div>

	<% include ../partials/footer %>



</body>

</html>