<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">STEMpower 2017</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="gtco-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>STEMpower 2017</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h3>Some Photos From STEMpower 2017 - A View Into Computer Science and Robotics conference for
							grades 5 and 6 students</h3>
					</div>
				</div>
				<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
				<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					data-link="https://photos.app.goo.gl/9wtgavgjaKKyE7Wf8"
					data-title="A View Into Computer Science and Robotics conference (stempower 2017)"
					data-description="9 new photos added to shared album">
					<object
						data="https://lh3.googleusercontent.com/ErP9rbGibG_unVijhwuitpMbJX3VYGdP4phQskrjlHXxcUeB66qigoXMPTwW_g8JYL7XlJvMOYMyO61Ss9PaaRhcU5p9fih7OaWwtVcEHvBJDqK4Xl3SsrIrfCSHqrzrpa2UoMX-6Q=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/pm5XLioDNiDePFJcqdPxj5uKBswSuxSNTakDljAe_S_Ti6epWaPbZoLaZMzkFsv82HYvhFSFoSV2LOKgcylOXvW-CpfqxViitsa--ufbq9wBuT3uP5fZIT2zysP01Cjvh8hR6HJkUg=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/1OFv3J2hlabfdvUNQswWclIBOPF7FmXdyn4KerfgXg_VlQShNmA7OWUIX6HhuXg5ych56-tkjQ8O7D7-KfcHw0st3jjtCOdrqctFB6MQqHCekooeGxLuSm0b-LuATbrJB34TtlwzLg=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/kQ_km1BYtDIFHjsPHL0Q6o_PbqbBVx6pu_AsedUnKHGBtNfct-8NnpbnR7Ky0JONmS4-uT5mmrTxXTz7cVjQqaeSRrYLOZ5Qm4s9_wTWFrt35-iZX67Wmu_suEfFWq5ruhgrAR87sQ=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/dha7j1ocsASXXCFPWdor7siJ4E-soN6Ej-LCj6Xad1mmHQR4XFIDxNjeqgScL08geltLwNsC_hAh75q34jqtC0PcWTjwbG5q9OX9lW5KjJxJSMVjWJPwapjWUyWEXSwhzWaNpQh9YA=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/iL11Y6ZGtVUj2NwDoAYw6oYNRP-4zGgs2I4tHwzyBoNYYZMZOerJbGlfWniNxHpaat24rAFs1lkBQValKQLvXPaEi-TeWowNCahDEBvA1KuIx1qwPe8niR1Ka--RdWQT2WjgDc3jsw=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/cthnoV_8de_YOJqODxMm6ftQYyYqy0wxMChpCBoojVypHVSmJoHliPRWAO5GtHQ_N32dh8BI7GuYBPolLN9ifo7Vb_mKcS1ZYhugLBvF5rdQ4uzJ-lXwrmFu-qUPCYT_ZdyMuZHRuA=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/YwcmIu-DdcSbSLtk84iVtGJWxer3EageL9GSKoYeqjFphfx0EmpWqnqKfRbHVAStYq0MwV10f4qpBVcEyhn3a7bdiaMJePaqxVGk6qqGKKO0hh3FV4EbgO_vLE8rs66Rw7WT2SINDg=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/3mM5ii9aMAM82hO9OE-n5XKoOH4WbarZGjCj-RDfI5R-1TvH-tmIlkybzP4s-3SleyEHEqpA0n98_n5yvBnnuAQqxBHzLSxa6c0fsEjCh9t1Xvm8bcKTg6eU0F7zlEztL0C2vuVeFQ=w1920-h1080"></object>
				</div>





				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From Our Visit to Walter And Gladys Hill Public School</h3>
					</div>

				</div>
				<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
				<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					data-link="https://photos.app.goo.gl/bGG2f6rHnSTTF2628"
					data-title="Walter and Gladys Hill (stempower 2017"
					data-description="8 new photos added to shared album">
					<object
						data="https://lh3.googleusercontent.com/f1nkUOXFCEw3Ixw5aVhEbkNvIeVGRvQrrutkM53emc_JoVgsWoqzsAoEw6ChwDe-_ofnkh_jz59Hsc78ys_ibYfNqcRfRp3bisRgVHWoXRfZQ8gC9W_MpMW1VtLxyIADjwhh30dQ6A=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/BMuMnSlOLoTW7kmSyemh0zaT_WYCD6YEmrf6eF4wi8Cf0_WNYGIT-tWFp4LCML_KUhn9K_7d32X-oJqnxo88GI4z_7swSXQ8hAvweupUt34soTIxwk0sW-3YSg5AVzXsX5mOnxtnGg=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/bb03YVpyjec7cHxhQPPurjZTrVD26KFQyTzxRjWRD8j2YYZrikNeDuJkxDovxivFq4Z48yXxmqeooMEsPFq7uQzC42Gj1voWAlWMvvUqTEIhm3Gwgrtuu7EefIzz8d6tL4NE1H_7-Q=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/fkFcXalRGFE4Ywgtfx5v44xDOaE-Bio-DZVXZYzaCgYwnOyhbl_H9bVKWgsDCRS6zQVB5zCU46JeL7VhZrjiIgdDfYVR1W8Rm4mXuJYXQR4mCdvuK-m8wRPiW6boY2POoW73ZHC_xQ=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/zw5f85DGAOKWGt6B17RBfHxiOY6DxDEmmnLYDUJxo_6oUcLiZ5HR4cJsYcxQgHLWs7OIsr98gD8K0kfedXvciWGTRML7rtMpn-V2fkuLd0n1b03G9DG1YPJoL_6mzCBWPLhuMdgykw=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/f4ZwMnecLvHQvje2HLZ53MBCGelTvalYZ2NJb1J6pYyKbNIjz-Kzddy3RLSegwT2iqIGmaU9q9BZXCKtzIBnjQE42GbmRW1YH4gBYVsjUDCehsxxTFSeqEhK2RbeIo1ApG4LUkQVAQ=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/FCZYcroZvUxZ4IwJcKt0HhCVXGXeC_qDgRCrjLtXedpqRIai7O9w87-zSTH4p1eWCSbGZp4RiQjRiHmDCEisT8oVCQCjUxsfwZSTYwcdm-o0_BkivVqXi-TsiTPCzWMMIxUB9mCxHg=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/-AnNboP2MnuNwwVB9R0ThzbO-8P1DS3r-UZicAwr5KgdE0XhKukxMCXLOGLgKRvlywDDpS4LbRjQj-2whu_9C3vDLZ80UIC4wcgWAgDStxMaHV0HGHoB4ZCoVz6svlGHchMP_rGHxg=w1920-h1080"></object>
				</div>



				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From Our Visit to Thickwood Heights School School</h3>
					</div>

				</div>
				<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
				<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					data-link="https://photos.app.goo.gl/bcdKpfxkYaVAQhRG8" data-title="Thickwood (Stempower 2017)"
					data-description="13 new photos added to shared album">
					<object
						data="https://lh3.googleusercontent.com/W8UZ4eExZf4to-AYWAIyHYEkIhXwljZscq4ueVOPdIZ_kNOz4YeTeCopzDJ60mBDjCe5CJgI4PRp8LOLvieo8LA9mUOoxsvwdO-eZhVAFU91hSb3uCtGnlI1S2ufoIiP0EdEkr4r0w=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/qO8dHC5YdSz3f3PhVWtk485lUTv5eAse23xt-Cp1CppICDEN04BhjSuSI4FNeVJ12K9nlRBD5IU6XnMe4ND-ACxuQ5FLByJvKB_LaJUdLNKbJZ58ff1Dw2cM-K9wXEGWB_w3yEoKMA=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/pmF4ufTjj7R6dp-pm7erWBZK9UqAIEaF2Yf70HWHcCQGG6hdhlfG1KwwldTEl5pXZb1lDM1a__larMtHQt6zA3uJkM4VRB6GswSxSY-pjCCBxMFCJ-n32A8cQdR2vMpzpMyRaVk-VA=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/vbO_Xb9u3ASRb7ndzPfuNsME4H5On3pl5Wytd1zH7afU4dTFasOHKrmnz7J_ZDiiDflBtiRQm8KLfgvpC5IQ-9USsc4LU2Mk6yfRswAwmb545ZJG6-NZ2jjulC7PhmI7DISm05IszQ=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/8Hu_tUnrrw9VHHim2HjUlg0hWCun2sdHbbGBkxpPJ5D08D5CidanZK0GRM3X42KpKorL2tMDwg5J3vSiMeiY9kq5S-M4G0t0y7_2okMo3NRKc7TFlrw4oHFUU-__oJBoO96u5TI5_w=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/0s_2kcgwGIx3FEiE-Ly6nPXy1oI6xtj0PrlHze9jsD8KyXO7Zq76l3geNJdvKg_zqa4LTSoZTB78JoDK0qqri61BISYaQgFBzvjqzBx7g1-tljjB6ou2Nbcoo6eP5SaWpfnaxZbDiQ=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/WpzGE6Q4DkWZ_3uNg9JFLP1Ti7C9KEp3x2X6ZbPcx0Ybz3iRehaEs4RKWzo4jPTi2ah9gRvUWkmheVcd3RpswmIdk9myOPXlNIO17qYhiABlZzkBLHx8J9kyEh4K6zalPTtAV_VRSw=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/o_LxMVGttJcnJ1bH_cekUFOG8px9ORMe3uqVsZXtkse9PyCoyYxuObwL4KmrRrVo0hXwfLGc4osX7uOwYOATwQnaORxhBaKu3Cl-H0klbT-V4GKcw3h1NRyDorrxQLlKUCqVY4ofdw=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/LE-uZE44qm-jbFdxR841ik6ry3ECdm1IOIQk4JNaBwEr2W7EmSi9puX59wk7j7W9TNUSy9hgn94VOeew0nRwSkSEVylUPOJkL0HtmOeIW36vn3xXbmnG6DIvCy6y02Wcn-PAOy3dnw=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/OwpAD0KYSTYibvMGF5WK21f3RYXBZ8RE4WVs_naXc4LbY6H2xLUYyf0e5D_pD6zIy6SogNRtkCoZtdmMqnCjU7DiSUPVHhsmv3scOcQ0c4_dsUlZ63G-xk4qMNT77YFJwhm3lq-1xw=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/_n-dkc7CBRlA3tDVbScus-DcIjgpPUxW9FrvWdaSERY3j2630k2pdd_PvFaX_oVxqOaDKwilJFYOYYVkAMXrvM7Q0xbRe7qC1Mya2nzzBhi7XtwWGAP1lFYYMmSQuBvvWi_nxevYRA=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/KjC9j5q1rgd3n3_dGTuEBPD4RWZnPY-2tBMgeMHIImmPLf3HvN7DgyznJ_fruDZYQTVaim05fl6Jh0y5Ucd0NnmrM0CcK-5rMnpVWAcs3R_zVRBzpRvshU_Xis-4ku3h6qmVvJRwRA=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/5EcUzfpYPQkJXf-2KlMG6y5GlzV1G8HTL4uGUmPNm27NLS1_2XNqo-iBdDLvp3s9Joy1RV6_XpUo0Gmh0WxqcMEf7Q5qGMHmAbtZY4F-wJ_E-ZPaR8htkbAbBD-h4z_TuaqcOH8loA=w1920-h1080"></object>
				</div>




				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From Our Visit to Timberlea Public School</h3>
					</div>

				</div>
				<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
				<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					data-link="https://photos.app.goo.gl/gPckAtgBWdgxULqVA" data-title="Timberlea (Stempower 2017)"
					data-description="3 new photos added to shared album">
					<object
						data="https://lh3.googleusercontent.com/9KRCr-4gHY8uqA7K2kBqXkk9l_j7gj_QGYPMdM7lz8GEY3P0L6TMDLjUPvSF88lxTbd0yBBktF_8V36MiGKqOeUNESufQCRdczGjtjvyrkfo6keSDEYkNamuYHaQx6Wb0dU5SSa97A=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/aA-Qtler-9WrPGMB-10MuHcCTpXQjt1_rM3dpiKeZxhgVJhazQlBdZuir11Ssn5HjRW3wA7vynSwHjVtViuYCel5hj73niwakLOyRMmSdN85et2AhBJeQa4DcchfEJaoDOYIOMrskw=w1920-h1080"></object>
					<object
						data="https://lh3.googleusercontent.com/1yIU8lLxQIXnOWEVz4JE4ruw1aoDmiNuDTY3ezpXKEG_YCaCB_RtqEPIgVEUx-uyxc34cYRTNaSNSfZrXHlKYuM8QT6zdYFWBh0QKcaFOzARt1HKwRpeK1R6m1dWSlGJ8JTZAIQRYg=w1920-h1080"></object>
				</div>
			</div>






		</div>
	</div>
	</div>

	<% include ../partials/footer %>



</body>

</html>