<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/chat %>
	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">STEMpower 2018</h1>
								<h2></h2>

							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<body>
			<div id="gtco-history" class="gtco-section border-bottom animate-box">
				<div class="gtco-container">

					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
							<h2>STEMpower 2018</h2>
						</div>
					</div>


					<div class="col-md-12" style="text-align: center;">
						<h3>STEMpower 2018: A Glance Into The Future</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/7roxQYgiHFx1TUNQ7"
							data-title="STEMpower 2018 - A Glance into the Future"
							data-description="41 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/ZoraNoEAUVUosYfFRDzsnUBDRf3BiRW2Wsio1oTVwBNVOOK4JQVlwWjVsb1I80FtQzxpp3ICJ1AMLYFuC05mq_nVaMD7MSEXnCsUYySzJIzPSDtSfJAwwLpXysaxDNJO9ILyMkQ17g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/XcZZfXDfq7u42foWGxpUUSEWhw1x_Thd27EI_-BY3EAHdxdjHZkbZEMACSa-WrLP3H3iigk0xyb2T2KIUbL9WBQAc_9b4dAY_HaPM8G_AP4AJWu9lLwT0ycBbm0rsfwpgiHg_zdEag=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/YVDo_HLLi0wqXzw51prsyno442OnSSIsVyPMZ9mkJU-t18H7Lm2CQjwODLf3x2xtywV2_fVFYeAUa7toyRIxgOG4no3UuHJlGwG44hAddaypZDi3mG15oIuqMStMqOQwfqaYa9uUhw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/7NR1lI4YNbU4wpr3te305abrHeZqFj8NiP5NaB966vbKeDGgvtCbX7XfWrYbY2_qVeBjaRkqHCvn5QkRuC1dcgmNcxd3qINu04ITzaNAC9WZ0orM4rnsmd1UJ8c4FYzLAGkli6Hv7w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/NLBgEy5BCty48KOn-k63ZMZnLmHcVJIzk3ARsLkf-T86tBfvFHzZvFRW_4iZL9WYYw_2HUxMwEddth7Sh0DlUUdD5xCKr8r8wHmUsXtzMtzmKuoDeocNjvPjVt6AGctEtR1KaUJzLQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/BseOsXlovgfoq8pTV4if53FIYnw_QtekAjFAXY5aD46CPInyQQYox8xjl81JRFEIRcnH3LfcaZOgbgKsww-L3-cSZiUciLdShFb11eOIS_LjTBEoRvmwM-Qs4qOXTBmPXxjLYfaqmA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/SCACoaUWWTlZx8XBCxaLJrToC26d4Ca1UJMumbbDTdmMyl34YTh3HXPtg0uXQ69VvjSj5kgXjANzKaWc-gz4RzOVjN5m8daWJE113jDyam4wQj5KFSHBlvFegCafyuGuP-Jmzz-8Bw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RVAVQD4OUL_aNYjMoTj3l5hctnlu8_PpUF2ArY7_LWRDYTaOTpmLo5_BvzoQ2gOlkSGN_AM9T1qdxvd4io--kF9ygRHgI6y-4n9uiAd04QqJpXBZUfgFVnoQO8Cg8_Tsue9-omM4UA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/LHNriMEaIwqn1EKBcg4g8JSK9bR86ntr-wFdXc_rHcGm_Cv78dlXFPVgHJQK6eVTPJSoxKBkXAFeJy6pHPQu7wa8b0sjnRmZv8r_6FrEl7fOR_S_2k74zgTtmmSTFL5ngfcwZr13qw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/h-SDNUONxRo2wljhYQ_QpDfudS6_s8Ru3tvRmieH9dc3tUw6GD96h6-mJ5Vy4lfdX8YZ02MLHLskbYxSgeNtwgPniwYmJLm8CPTz5p24bD6WCj6mS0mvCqUrB0Z2KJvxzcH7icH5WA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/AR1XXSsCdcrhrDhxDAuwHvgKokCVzH4-iVs7J7M_roIQgTQBM0YjMf_zHpVlIElYthnENU9lAMOTGvzoXbzH-_cRF2CczOKzZGzGN9vxO8HZ0szSc0PSn2CDkWGu6roXqI01ONvHNw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/PPKXFQZttSiojJkvEwhQolaYblWCIHx150flSk4FdWjeRoF18EFYF2w7613RvGR7qm67rZTYkq8GpK8HITsWqeVsHPrZ_a-WM0d36z__qn4od9uo1MU_wDrWxy-ppIi9JAdJOUgYTA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/gayzKBod6_G59U49EtOnxTGaz3Z_m_R6qYmcItqetUjyzJfe2LqPkJe_BA48Zk2YS5rB2mqtn2cEykeXYGFONepVs50YC16XSFUNcZQQf3zXyzF854E_Gvzku71CITaJGO-obzwweA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/9I46MaBN22mqnc2fQtFcQdbe896LHJi7KzrqXcSBsu-mKxYIvvj1KOO-bXU1jgY0mQs1DGATSSw5UXOB2iZvw9JK7Hpmb9CvXGVcdVZAque70d7b40kQvWOSHiCvCqczSCVSm5uL-w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/2iTVB5XOELbzxUK5WLzh02Zetp9GeA9BWhpgFGx4x_Yut6vKmR6N8xSNobFhWhCUhtM_eFhSfY8bN7vseH-9ottFxs4RbQv0rj2_WKs8Mvm9w8etHgpjvbPGFrhuzC2ALMLTLlhqRQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/XpKHTDIzct_zHqKthIVOoz_797Q4Eqess3vig6SqxgctRI5LsYanEqOeWhYAeMEdO1op1b2LtmhNzFDYrfxWenWv9Jy_KZ6y0eKgWBAgPHa90bbgeQXkEcXuN-OMCeZIRAtxhVaGKg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/IlDCb8bCUBIgV7JkfF29h3nZ87dtpDO8jZ8cXXcAXV5vjUO2Z4zhkGaEpKJQtiIVyMSHfeDpYAiqMOLzQ9ettZixj5OrOIBjJPOd6N4c90p9Iof8faw_I2H366f7OlIiVU_89h_58A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/-gakc_bZGU2incJUyUvmaPDa_n-02vDLVgL4FRpVxTplarNRrdwMiyyX-QmZoEEm9ITV_XAfKzPtb3ot-eahktb3JJFs8P-KFe8PJ9kvGEZuJxFz4IPHiO0qxc8JPR951X2a4eQiKQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/lCTBmfzgG-JL8e1UffVyDBZPpE7LtAeo25IUwa7KiVlSt2X9DFEw9x9yAwSE_CipDDN5PQK6CMKlxd7UFaEQaUaira7AUubxL46WRQ-KNFT31erZJDbF3G0d-33FFDH7De4FveoS9A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Erfie1UXXak9LlQTrTOtm4c8ShQWQr5jGngpsS6mfnLcEPUzOAcaKY6wZhE8aO1kTLi24KQbKLh5O9daeqArFpi25RArhDEvAdqy0W9JXewWgAsCPvx-PSteVdQe_8rW4WHdEk04ng=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8Q2mFMcMNsnFI7VQEY-omgCI8fk24ZITt1QFY9lo2QrezSFzGtVrlbEXi7MXJWwBPENY7dFxWesbxL3ri02je0W2iveRxAPA_FRZZiGX26ibedvUD4ZbScLABFlWJtBtMl1phK6dHg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/hdMNG3UU-Wx9zEm3Pk8qm-FDcwx2NedDGZJZJtdTA5y-c53zQau0UBEX7ePqDjVeKh48AfidBIOKE7ZYXiOQbrWjgqV6KDJqhBRThmBzFIYk5Egt9BJPlFo1cc-FZTAmijzY9ozDdg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/FgmAbKPdIpekqMypwDJp88HrVF5bwvZ26uuJtuaudFv197TR9t7eCE0IJsACBh7fUudxycKBu2KPCpXkMUZD_eSNSoYBtPG124MFQGMFWJDO_C--h4Wv6QxWFBY1uIXF1JV3gV5fTQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/XI52DSigjU9hF6-ev-KKBVn2Qwl-PmQEZG0-IbWBTaaC1ey_pxzur_ZcYDAONOZoEqrRzotZnQqsMmXFMKPXu5BgqPnYxiyQmbnDuzzuSIkttcAgWGUUoj03cEU5vd1hXK--OaWO7w=m37"
								type="video/mp4"></object>
							<object
								data="https://lh3.googleusercontent.com/9lClydUVuYanapiLe2Tr3ntknzOTr3tgNU6oPbQEgF3sPGNraeiSMmFYHegjtngbSl1Mg9en2iw21wwkhbe-1YpamDzgPDC38BwnChwIqOKsBqQTkPX_ZzlUa7rDdtOZX6gUOyzTFQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Ujfe_D-k8gjQ8UB98yuvCdwTO02p0d3R743HmMtgMeHLgrcMKOusqU_YNslzAX_yCkkHPT6tmAX1jG0r4LlZNYF8_F2-p5w2lHUkEJjnX2qA5x0SutksQHaayV-FTUCy3OVBexIXjg=m37"
								type="video/mp4"></object>
							<object
								data="https://lh3.googleusercontent.com/NrgClaq61a8uVEg49TIA2aRup7p2_aKlMte_Qqc_UhFBd1kkxUmNGnl8yP8dD3_yNPk7cZvumwqZpgwXWrmzr9BeUitphDSKZ-vfU89l0JlaqDX80DVqT6N7vEDP-VHgaN8gT_70LA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/v-SDQQXWNcYaDEs47Ulam6pA5dM5lzH2iSrHii7nuGk-LznmRYWA1PUJYd46uND4Bo5ftnzsWQoB88SdTgQXncQUgXTzXo07VeV2jRNF5ZPE_6whw8zqiKD1Bz7FhgPbndtTKXnlCA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/wgO4z75IRfCHd9oozOXsmv6nA4bww2QtHs33-nsFvoEJRBS40AwIwU1nAL0JqD97jzqfDYeQVjZ4hyZPng4QnkujSSSUltOjl1MD5U6KfSvOulmRimc3vbRIg1Uk1MIxhWvdHCHOVg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/92cS5RGSEPkYWw5VPv8mwL1wyp4zl4mT0vHH5cqAgrVrSZD0qP8KNuteHxY6Q7F-wokaJkMPsE23ukYv-DCWwtK3tKCblmNMI016fM9xDqXX3_Dl9Ds0ODNu7lS30InmRI79ov7NaA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/D0k8TVSulkbRh2aRrJr6pMGuvjAvUwl45RgN1CBXKS-34aaS7sY5YdfUdCeV1n6nnxIqAymnseZqn_bgaP8Qi4DeglfXrF6UHRrPAJ-uml1hvMzwEfAIGJwvEOgs4QWzj9R_I6xFYA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/DAy41eOSKjJ4A_wgfUyH_2iPRsKFLK3b6Wf-ZiyuxAA20NmwGUyqQS7LbY5luu5tNUjyuranDMmpfipgE42l7t3NGzG4AL0y3KMowl9O1_jFoH_9aPRmiyY7XP4xhXLP1M5wQCEZRQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/m4cggXrXjE-GwR83Xbt_UQlSawScjX46AgvJA_dNlRXwUf4-kJLa3UWJtn-xln_Bg4MtxmFmY2uHIZwF3cz6FhrGEl7XJyfqg1OlMreU2X9a5bm6uSu1fBIJlvbKKGJoNmAZq41TWw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/d4cGrQdpVw5t_ZK2uI-eNrlZo5Ftwi0OSXIohGQ7CyBiDxtAkifHGKIiqnx6cU8LLXHVF3lH7ubDQpKdBEJwGKyttzjQCWlV6u2ujzsypXTv9pzdIr_Vcg553-4jWM8bA6FVehc6eQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/j2lrvQSEjjf50VC1xO-jSeq6M3Mz41m0rLV72emp_YHcFTidjWmwtTWPEVeAd9ZdbPwkDj7ZzouT67-YtZa-dQop6DKUdMFXIKrPk7iqOYeNJQ8DRP-iSCZa8VLj1diVKSBicsa9Bw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/QsV4OWbnfdWEfiDQspjJLNtAAwYdMJgvWAPzmAjJjWmTzNOxiAk_oCyWvlB94KjEYa06_S7ZpfC2-0kO59_-nUq7rmgmTaW9OY7-5Miest-Efi0MF4OHneOmleHuKLCDY3d0xoYKeA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Yj721sySkL10EpNbz-fvYS8i7HgHMmqgE9L5vB_z4ETlDMgIqctsKFVGqUz0CJesMhYzq0dWaYURkn2RVzIIKYu3MGEt9T40bkgZoh830FuElOJUjBjhaSpT3N7tugZyf3NcrRKy1w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/d1N1UIkJtxLnjMpEqcPooN4rntZSzn1OK4aJIRQ1fa2TwBgrPc_ZgowgU8SNPY-qKw5wqXn9JB4L91aYDJGBknv82OCaOaCi81k3PZh3cAxUd2moE1g8gM42ENuVOjyVFolKfMLIsQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/gXde036aENWRyltdNXrklGy4CQurMi_fZY-CyXFOeii5dSAPxblh00e05gvxOv0FxBkQ9XQAkELwX7iLIDo09Ez1MHGjAc6OHIVbt9MfqXB8TDZn-sU_64gBCgtlctn8LPEBSXt31A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/VrQlcOUv8M22XAkUG7M_etYNvnzBlgQJk-ZUjLx_W4CkuoJ5i2wlu_d5EePc3JvfYTJKGJH4KPudxvHV5kmXaYEPi-IxYvD4fLFlUzLrEgLq9D08LMiAipPrP4SA_gjH_J6sRaee9Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1nuJZuSsaP0Mnp5RjHUUceCM7ZGDXAjjCZ9mhRgfTfOiXzMwFNxj6iwwrMec0e0M4VPIMUIvmo6GeKfNpyFiw6xbvpasY-vmXr2Si7_yFMVmBTHJdg3n0DVZG9IFDtyeoCSd8wTFyw=w1920-h1080"></object>
						</div>


					</div>

					<div class="col-md-12 mar" style="text-align: center;">
						<h3>Mini-Presentation: St. Kateri</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/VcnFYzmi4a6BejMR9"
							data-title="Mini STEMpower 2018 - St. Kateri Catholic School"
							data-description="11 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/C6XeIViD9l7D9GJfiJmHhTkbZcCJ1SgndoOrlLvQYTKW-mjrP2BvU9eO90vikrF1vG0ivmr7up274pgZNok79vijdaKh0FBxzyNhwQO_craqCZdK093Gq34NEhnbZeL5zFq2irRQkA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/glH4f6SykIqR4n3qnOhXO9E6XYu_cTvPhpRcUsqxZ9cNeA0wHDN7kx9N8VpW3bdFgkD5WwhHb2ENn6z-MF10ITBx8bEYFkuzxdlM-admg7tyf1xr0JelY5xPomyhcfmJhGIM8nNicQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/qncXxmaFLt7zdz0K0u2BJ0Lj18oD1jGS6EVgDnCMZAHFEErdheoL-9gdPBQhSqHqXcv24_EPeM-99BOdpKUZa_E5Q2A8I54cJ7-HroHYa3ZCGC6_HSgYdr-iSCwNOBlF0xWcnYgjyA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RHqKf3nL1pJEPVB7b47mCLNp_4NScfSlDVayxbQ4yTyhnOyKGCSiHf9aiPhtxeKG6QkMHwPO2ZEq5iLTajFxTjYlnL63XQvoY-e-E_4py4JW8ZJV9y27VqE2kF4ai7-7rpF9wpHxqA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/uIItzDmtRGdyNQ7gpgea4hZ0Utd1xBl3KDEmls6BNWBVlSbBVQDmz7_xxSUlFfhR-5OYURgp70xQP1P1V42PsUS1402NmcT_6Wgy9-LpIY7NCDTQhYlJQkqOGJznMkOx02boesjXmw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/60t3Bg0YQ9_PtThllDeI8DJ99FldgHd9U9T1a_Puy7f6lPdGa6fRLCeh4Cyo_mSvCK7N_qOo-pbXN-Uwr6laGLDEIXnxuWy9kgNb3h2fFFRL3FY97JVPWIJJI2kp2H20Gvv5lHWEIw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/4-cbQovHCJy4DNMsTCXjPpneAlMI6sdzbplfuZsMRMKDM0IIj40I4EP5iXJi0a8_Gwduq1hQ3tJ_AKDpNofkigQ3Tf7DNYsFmR_Fr2bwSoqzCtBPckD9LDZ3JZpkYOaWw1HggemC5g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/c3R5yqjByZgn4WtkRxNwpRTOc9XKXGwDGAaI-H_lFA03y5eDpU8Ps-hvWyWeK3wJ04iztLGtAyE_c1gO6TrBjcV5Dtj_ARDzUu0HZlqVMeK41PKraptUJl6rITGw3GpWbKlodIdnjQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/iuojuJU0HODaJ2MWG95K4ln24TKBkTpjaRdqf2Oezq4exV5g6_9eSCvlbpVShDkWWRazEkAIaxfUValTzdelxkbatQs18luI-yVVN4oqkNEzjpYjh9nyYkJVUGAahhWA9KEZuqBLDw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/zIGn4bZgEPHhSr7mYaJolaxPrWrbRVTDyiznIKe8zFZJP5dFa0nuU2bcgETjeCXIFmWp9usIMx2b0qgtgYGMunkCYOaNicAQv8clDYqvQEdUkMyELsPqgegsqUp7TumGDoj-PXYWmQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/57O0E9JBdwY35S5al1k8j_bgVIdTOPeod8cE1JHSx0W3jWjGIpCHMuWLdjIY-0uf306mt9LvAbUHh9MrMaeOvG0UrkukWR9QpwnvLV-ZgOeq8FuMLUSCsLYtlUmH3um_NRGV3Tb1mA=w1920-h1080"></object>
						</div>


					</div>

					<div class="col-md-12 mar" style="text-align: center;">
						<h3>Mini-Presentation: Walter & Gladys Hill</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/GNaNDMN68yDEBUVy9"
							data-title="Mini STEMpower 2018 - Walter and Glady&#39;s Public School"
							data-description="8 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/sbrdKQgZK8_dUB9gU7FH6a35nnvm-zbeD_rh2byhMGNAx9HJdYc7WpH5mp_pEFUznw8MkIopuFsCSSDUe574OEenyJ-7R4DbwZZIYVdYlOwoGbOCtM4v5UYfqeAQHSAMofePMHn6rA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/orpFr9Sh_Uy0jxl2r7eoYeLfQ-yh8a5pdF_6k-NVQSRLpfZS3PlJVFxFyM3fg5_nF77NNbFPvIAhOx_Bw2zOgHY2-6-DPf7l0xNQPD9WZTP-TXI0a3srB6rfztiqucp4sOqmidETvw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Akw7Hxft16yPqN0fKlpnYpGbG6wxZHx6qelnJeJxznMwBS3Q8BB-ZqlsZ14r2BtndyPUEbzdMAgScPqcGhcqkLFD543MmI5QH0__QjF7hUdKr0QPGXVIxfWvW_r1jI6RT-CW5hElJw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/9hai4Zao96GeKQ2LnirbRBzSbL172_UkxCZSS9FHtHOLg0x7JQbLxbzLbKVnHozw8H4hqWu-CH6uQT4-ey_WcghadGTc9pHm_o0KqGOXGUk9KJ-4EWS8JgBB-DJhZmPvOBK95j1i1A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/o5H560SvmxDZz9UCz_xr_2aAcYMYFJ4QpdyD6zv5RafucuP7O6YrZoqtqkH1k9XOP2haJawC9h1ag6Jl6zYyxutBpXKzMTzDMnJvYSAIvnZs04W2KEd0tdbVHd8u8jm0RCSiRHMAQw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ZBCY8LatU7wT_S9vz_EB98ShH1s06UIYrHkIXDpHAKrCWQF4OxHjmtshSelu6XjxvHqHfKu7gvuwjfgUR3bS42i7kYPKHOUFef_PDPGiJqKOPjaMTDHIm4cA3Sfkfbt6G0gsS74acw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/WmZBMXsEHU9HL9x3mUp_xQyY0VaPAQp6WBKV-xcVtRecuu3Qhg2Kn6dUbJJOPxKJ9HIyyx09txzDZFRe6qxQrQN8nAekQGh2kIMV-uTB7BpJBqshZtVej4AzRY4dGSdTi45cAJ2ToA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/JC8OaukagYJ39G0hPLiODr9T6dGP7b5dCbuKZo1JbNuzpEzD7Mx-Ab76-yahACvvzeeKsQXmLmYw9BG7bv32NcOpoNxRyqwNnB4u4EzUmamUd3s0xfodJWkvEDiorbvl7_psn22qZQ=w1920-h1080"></object>
						</div>


					</div>



					<div class="col-md-12 mar" style="text-align: center;">
						<h3>Mini-Presentation: Westview Public School</h3>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/g9hBnsiySBHRRYkSA"
							data-title="Mini STEMpower 2018 - Westview Public School"
							data-description="58 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/X7cdWPOGiyyIbkQ027RasT9BfIq8bIi0m6nwm7lpiJHEr2EU72W9B3ykmgIWKnICnj2JPb3Tn46CPl70cDbOfVtGknNeoqDumAyWwmHDlKwkP3FBXAM1UUOutULmchZKY3Pg259PKA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/vSHZAb21vJ-qdMXAs-YAQGrLxo3w-ZIC-foE9QTFw64aW9DzHeKLKqkvebeqr-kshg6j5p81foZxZ5knGis0KpjpfSCOtOa7LsL1g6UkkZ0dfavIkSxtZh8HwoDbTx8dcy3xLQ4RRw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/3C7A70hyuCh7JzYZ2J5ZYcSyrq7jovbZo57IEPG73pgytTqNH5ps3ffFifT2c8LQRNl7LTVX5PdAilil8kCcQRngPA6DtyJw8sFfhOeF5FtLqTficNagSxOJlWt2Efm7zIg7SJx4JQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/YI3H91VK_EAHHi-2soNFRKMxj7NFXUgYuK0_OSdkzYk3rq-sagal4-ox1cCgXl_omca4B0Wh324Bef7BhmYup1i9rB1NepJG9wbz1W8X6S3nYArurq9EF91MLl9nyJcswzVaVvD31A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/FX-iCll01VxglhPFwUtYTgWDWuidYXQNvjx0B3fLwtSZatGZOl44d-7HkVAbZL1KbaSxNbBy3rVqB3iOQlENeerWus6SNDdgrUfVU3El9eMXy-yPYTGV7C7J-cKE5n5Jhxi-2Fy3mw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8IteEgtlygggZvTDuFZ4tDpGfuqgwbvW3nX5yBTtib9rh6JbiL9dm2Yds5Ok_CLDuNIAH9bWgUUMmjxnzJYgCMvMaQwHPq-_96Sn6UFDHHwOVRhhPY0PntX-2f8d9qtNK4fB8F5aag=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/nEktBIbKoW_wjZkUhOB4-AHTujzQ4KU2Fkb7HKdnVjTWhfHWOd0ZZudvoHNzCEmgBkjCQfbsngpw2cOQGrIyAW55qVRmQ1EP8AqVNHvBpj-0oFvEILiPvDsD_JlKPUx8qOHfAVrElg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/AYulpvn5PSIZr49OqnVoJs7fHPi7-pxVf8BNPFlBuhWkut-eabxRd8Kutz-0tyYJphRH4TU9rU1cqWWPLKW-A-szTnaASQbm2GicG6yrcutdJhDa89146rD3bIrf5GQq0TSK1dz95w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/6iH-xD46cisL6rIrW30x9IyquxAgncoihMF8iQtQ3cdyxr65qDz4Il3klyJp_-QOqF152lhdlFrSz3It7fhC7LNefhEvhfNUAPRisR5vYtrjTKyyZiGSUoxJNYoDI79enr7_BQC9pw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ZFbEflI0NVkb5f_uhSUEBubrxtgwQRfahVZlEVVXJrkBk1CSEUS2kZCqVW5o775sLmw2352a3e-Zt5in5W_WEohEyWmLEzDbtNLyKwdk2enaIU9bmLYP2zdFNOqworCdkRPxe4ufhQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/OPQefX0IHdqWHsmGBLRcNl9URX8Y_YlU1bKv5OC6yTSEHfJdKd0bAAzKi4Ee9PeWJXAXg26aFvyeMV2Oo-C5IY4VOTaj7vIMZrgNG44DTTS-8mo0-PNGY_TPuWi65K3lFK_zNQYF1g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/0JDtUxgfmd5M_9_b6A7BGT4A9TQefOt9CemrrxtG9NTz6-LvqpP9aoq7cHfMUPv75mNIy4eRUhxbhiWXBYvXRCoJEsbiRIwy-IKs8j_EpycWzi8Woe73HEN8JokeKAMGQr_YcoIhBA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/BdfVYS4QdWBRDyzrTt0X-y1f4hnGEHzc3gekhauHjIfjlKNY9u0Wr12loiUbpiHMtPL3bu-gH33V5ZFaXpswLOyIJvEQeGwBCt8jRNrWzmj_JWpMjF92RPGuga-dbkviBhRdK7VsEw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/iifoOHfxSnStqdo6CvOmGZW6141D5dL5or6s9RVNRJ3x-WpdA0FDqD9H-_Jo_A6vV1pk5SjivztCkdPvtGaG1D3l45Guu1VCL9bqL9HF3ShnZMEP3KP2Ode4L7VSYKQMA6n1z-gbrg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/6R5_63t8HzNjecK7kkTMyxFWbNS-AENyAn3J7AwLtS3cdTMM1gsLDBTwBOdxmybVQaMSH7Yq_aEHg5wJwHy_U673QMvU53ogWc-18ikIHhk-uepcqQkEfdESVBpw5TvNFWjz9rwq9g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/2dl1LU0nWlWkHxU2Q4awajy_-XQd7xUf0QtlH2sFU88G82IyRC0dEGf1TQRuWhdQq4FsaFiIcXuVSuanSdVFrrclH13aHM3YsfrEdcYXzNzjZetoI3yyHx2Djoz9iQC4Cxcc1M3hpg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/eXzUouHQ0cTMMCnYI1BndGcvXdjxur4Us-qKjM3LWf1QYBLTvYuAZIhK3zg-yjAK5KuTRzFKdbqpcM08uX3Ms7Ww3xY8jRAaCm5KWl1plLoHQ1P4OiqCzpqQVuecajDMEazq6aPDLw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/jepz3wSY61ok6yyIZDGuWHlq-smngVFyjbl8DGdUt1XelKlcUQMtXcx6hSlBlAJkIS3setnKZeAtbbb5G5T8dGMSGqmSMqocdSkdmgtWyBUgzq9EWgeNG9GmaZetrBZ2k5DSov71gQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/zt5yUt7J7pGHaCJ34DQprz1Q8IQ1yGWysAnMvZryW10xAa8xyawt1TAamnIUpsZKHpykopPCXExJGB7pS53wCHAtjxXAUN0fjeqaAfOH3l3yXdsRygh5fcXvRjZHl89xM2ODwiJtmQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/qU2XLAWKcWpi9YgSo1ZuSGO_O7zagSOgK5sWDjKq390Q6BqtfsVYuibDBOFJ_dJ_OIba-QvunpI1V1edlAe4QJShQxgu7DF4rlXbPo9j0QEb5RqWVWKRFt92DWoXnddp43gFJh1_lA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/pgR7Ieq9c6HEBnwYEbdYDJa5XhYyOD5nckmglPOi09Tk30qV86mxZFdxHehaBUW5Ol2cF29j3rlah9u7oBbp_qB0XfHUCpktqI86FJRuQ5qlcYBfsFQQO19oyRDTLjvLpSVOpyouWQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/4F7fu5FXw4pSh8kM22RM9XYkQLx5hdJHw2853-C6ZlQT4fERLsFydXj53BjtCVCb_QofqiH5fPK1WWw-WaRQsLUaxF0rqX-8pjosTbZFli4AxToz9vqcOktgLo7YymQtM9e5t3AFYQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/xr8zqGzk4ZRf8ZGr-gChm5kP4J7IJBTCb4ADZ-BkNCTY5fbAF9l5Prhid9Xsntj3rMGo2oLFnP6Pp4Nuq0Q-aAhx3jfZAumV2RMjVQZscfWfH6oAsw-UkDF9_QY83m7h2Ohz5OQsVg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/upq-zW3gY83AzXxOkodr2qrXmUMeh3YFXs9iYdRYgvy6h_z_h7jWC0BwrL30qN8ApL4bsWkbAznA37iLC1JPQtOWGCZvJ9d7R7ds_X4b4BUtfkeopH58ry-DrJrsCKoM1hqwj-J22A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/m-bsTIfzM_H2nS6X3YHjYGw7ynnxQW9GsM3JKfet2K0acsD8v6QnFHsP17KC03pwWCujkUG21xzSLxOtzw_5l12ZutoJuzX2W5HVomLsLjZB-80aYflssY9GP8bZKXtz14SLhvT87w=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1tYk25RgrSVXOMOSeTghY7KzeLb3Qs8Jtvqm8VenpJcWy9i6DAvVrngDQJUMOZ1fS_afdLz3rD77OypcxpZkFWlXPH1UW3LUsswXJ0ZZK2bPb_RoW2WmUBl2HwkU9RROuRc3E9DhoQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ribH138-TEfv7N9I_v1H-2CQ1xzykvoXtyU8AXOmuwxOvpUlRtBF3vL8ntJ0_8GMXrJKeB6tYXHy7zpOltPhXU8PSYbqbitHlALdxrR7NgivnM652a_mOzJLtU6-g2cLWoD_YCzqDg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/7AGpTZEfaXtzXBhxFPaFwpaZRJsYSQt5YkylURu9Fd6kQ35RgNYcPi_1FZQt-jOR7bdWW4X4LCee3ddaP9zS4tauP3c1J3kOSBHiM4cTTaFbFz7tlxlRn6TwBSyMjOaL_uLhXfcKuQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/tVr5MOe4O9-2DnYTEtol938VbJvdSM3AGm07a0ibbjoUZ6GqmFOmhbxDA82mtfz75vHaZJWfjTgr7sSriSzfHfytUyj_X_if8ai5v06XajlnDNNFrMI2N0MgoEa4SgHV-FZhxhmXOQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/qVFyKT7D-Zb_Vppurhc8v_cxmAyH695kiWN8wLSTkUG0y7N_9CZZdTJosKF-Vcq2GvJxfVVBWSVLdAUGBFdmfTcDusBAvWOyqo_7tuFsarFCGvIhBJRbdCBG1805B9rXSNjkN3S7lg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/74wNIesnc2M0BoKVmQiUJuZgQPLPcyXD5K_Wo1Nc3h_7Y_El3vR7kTd-NuD6PLZZn7Yz-QQquT2gfEcsRfNHDRbaI7GzPxFwGvRNGPMD8jmUYiOkNI24eAbziwjd4rIvPOzZ0S6kUw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/XKHtJzA2Q7pw18OogUluAnTHYE5Qw_K01jQLN4mzvHma0PfhhezRhMeMtnMeGjoW3WydftWf6NNiocLt3gHEYNFWLV1278qsWfrPrsUqvJjcEy_-wYTlzw9Mf-cxYtzF0aXPcdE4bg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/EI-R09_GhFtlNkI5rTQf6NWM3zVrqTe2QmGms16OWCg76lcvo--RI8UJdK67yx6pWLLklJ9ckepLKd6-3fYaeStvGkYfV-h_zlIwCzsOr5B--l6P5FebJqKXAI126Z5EkNLpvvzt9g=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/tdz4OvzvM7TQ2FhvhYYoXDTVPwp1LCOxZG-eQstXvh0oAA9pAQ9Pd79rWgi6aU3DuZJK6nQUYmIKFk7R8qFL7ErpdDwkPhSghhzHFnh-yWwTSmb4Ma0a_gFgPWQathQCwpkocvmRng=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/QXOofZf2_6z5iyL-3j_2IFSCBj6fdJy1Qm7kjzeklayEv2PDlKQsJdoxrMLZWiMPKGgZ3-e7p7OsKzqEhlPnH8xg5Jx16qEGNOD_-amoEOAUGChPWJ8vjRRuZBYh_maYaNrt5OD8Hg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/X19xw4O1dBkKNxTAmJVVoLkqTd2lEHkDadHkxik-BmNLiMTgSNXnD13ePfNuhjbVU9OiZAfkz5-_1DKClKeyhFDawz6mcBlQipJPW02IzXzAU8z0O4Qqc8rnz_EkDK1UsKIAxQQDNw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/8ytKxDCJj4YgT8uvgiOithEH_tDgzvG9xBMU5HPy5agedaO_b048BDMXZF-XcWDFZ6DcgNJkd87MS1YzTTiHwX18MSjG9K908Mw3r3XNRxgXIW84JDdDqzS0Xy1BUI16S91PBPp70Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/G6DCe5Yng4oSN-VfNii5_Jpr-8WXvpx123wFm2dHv8baAXKgHRKRBWG9YNMCRnVcFf2gtsmvECbhxS9SRbgqmC-u52va6vZPNEMoUznPZ1kPgF26-gY65HfuqUZyywq_FAbyAC8WoQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/RLiC34kKVubuzkfz7C9WErd3tl1dus7Zqws808aJ8AoFPtRXbEqksWHTeYf_pvkPowpW14QDaKmv9ABeTD6vmMzi3eS6kH-6pr8ZXNNrYD1V-hsDmW1dGaP6xYyBGi0eVubwe-OnBQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/CvZwGfr--7pBp9FvrzqHzs6sQdlKLQVmjbXCRubQs2DMiG3c81zIvCuhSIheCYdwRQS0TtDDe4sp-NpkWu8fcM3XqwN_t9l7-5uimOOGReLh7aQGz9xpv_7UxoEKPgHSAsU65vACxg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/7s8O0gLzkKVnoJG0rH3fgs7Jt6QAJJwplUkZk5AY8LJm2XA_zM9Vo6W37Yga3NJQTlNXhUA-FZ1qBwGe6-TuNopP7A_-wuqhnCjEuiSr7WUMXtDJbsGy1jiKPIclkT7InAs-qR7HkA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/LIlix_agDuL5a-CmN6cEKpQ_MXUIzD2SceUjPIkqpZNkipB-gRBSf6TMco0J_ZQNq5BjLkyxr99xN2j30E05OkhTXsMBqWnvtkQAaBvDg3Z78Hm5UKhgjaAj6sWzk-rNJHnlh5gOrQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/oq2Heycuv6m5xC0_rFzHnezP0pnQmFGyZNtbkk3l7Syf-BiF8XRVyU_gI2J0yfsmHjlQlcVrkRgKfHj2OIaFf_NS9EixU8lMLiiAtwuZr0jaog_MLhcn3E5-1tqeqLkezUVwfz4C-Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/yDO4S8GM_zieog9CMnjss7x7rHqv4bXyEgTmRRQyP1vIjUzfRWRTcdAEDpq4TAznGgdp2AYI51XXCSVWkiUo7WQmhkhiSk5rhNGcGRqTyUbUxVTMrU8aHMYVV8ZqbAHQ7k0CMmBzpw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/rOCfJaPUMsXqTxW4bUT4iCEifVFVg2S-Y2-59_40KyeRYZap5WbY7I3KZp5jPPhKOgT_qsdprCAnUsUhKBl9BkwGGUFc13KHfyCU_U92V9vHOZrZVoyaezHl-iY7JNhXleI47RUmtg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/JXwg7dZkiA0115ozW2h1OcQa69g4_GcN2rjg5gHj0K8gFKNXgPFLbKSAnCHBDACDdKfSeuKHVAd0BOWzDhZruZQgEOAScOzEr12OjE2YGVG6XtI-FNoOEkG59TP4k8zBG5OUVYRMww=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/-dxUa9vy7DGMz5-DsdA3Bf4tPIRrdpddGeQqksTMzFCw0dAcDpsb-747CugRJ-RLghiIFqxSM4eHjmyP2f7J8UTrUYp2FaQGCno-2U0rSyYdj1amW_8NhIfv7RELuyXDNCXlW5D-FQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/-ERrgR8q8rdgeBPb-4zJjqJI32XRPio8Bb3K8JV-9gwr1WOvHhG9_ErCgLV8FELdgy4w-C3AbIfyzQNKxd8RaffyP_7WNADbUerwb1U5_UPm0vwPnNLMKe-0iqSdCb-VF2xRiEgQ3Q=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/D2jSUThTIx97x0V63IvJviqtEsFatBWJkOhZ2JDWaDUMtj0qkLLOFLiCzjSkCjehA5Elj9sdeSc778qsAlqk5tq3JETc0qdUkQTodd8KpRowyZb676VwwZZ15KSqJ8Pnc1SezlZoTQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/U_HebCLCAxEp60DQNLaQE0ieDO5q89-ugXLmn8y6SWlkrY25SmpQGbPBh_m9zDEtvJEQucZbfLEYW2P2IFFXs1CXJu7MLiaywv_B1fQ3GoT4gIi4L_jzdh606bvHyKtN29_HuWbbwA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/qMDJze6m1xpArUJ-hhI0L6vs1Uau54Fk2q2vOrCqJMM6XiDrVFVIniJTamxJWECwW_0XQtAsu53MmasWWTAflIWximFSHtm_Gm3uUMPH90vYefrfudxkRfykYAlkWaxGXQzhN3mVTA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/HwGgA3G_Ipz9RvrJpQXJKG6OmPx79Q5tc1GE6DoqJGCvs6jZGZH674jnMnhJHWMg_kLO0O_FpQX-VYkG2SiIFu7DN7XUfNiN1jsns3NRREwbEVFEvJl45akwkqFGpscDpbI3vi8YNA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/6lOzW419COXPCGR9UCEI4_iTQIiu0BZhdCVy5VVdWGsH3o5-SqJz8dbEzW__2RuArPitAuUPYx9VaFxk13SBj9hxrqXRoQQEkFcNdAqFoiUdMtuvPnhhtnyNIofqjJbPT0hneogtMA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/KvkuRpJ_ggiyGKPb_kmCAvQ9QxUI7-Zs74HPrYHe1wmh2oMhfCPoxj8GJ52_C0fhVHs6CQXg767gCY7jJdZ0hByv-32zYiOch_MqkGlUhYydq8PSEnIJc_G8MXpX2KpGbKmk18KDSA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/tJdByZTUw7alLyY_YYX33geg99e8i7Oj8-15i2JwHyPdPFyqTV7DarmQZomidi7yJanH9zXN6R0qiHDWX_Amm1PYj4S2y-LRxqRfu4U5EvIIZrQuiWBStopQCPpOAiruyPKjKs-SLw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/W8fCYi8qapr0RTiDRxxP7-WPLS67fmiqZHOmJfpGOD4Uwxj7i6ArmPar3hGTWKd65TbKNwTnLAkeclHNUVaC6BQ3JN03As4Lyv9EMHUOlHl6Wr8yhb7bzHGqMNNP36PZIpfektjhWQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ThdTPN1UumASSlINJHef-o0IQmmSs3kSgOscHPtE8U4xJLwZh47AYuzM1JGNbpEtThE1f0aEIVqV5OSEONm0lj2dgnZeS70cTRH-l0G_rspnmZkDpPDtRmxA9poS-6orzfwYUiFWRg=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/oLHULae_s_D0r6iwBuynn-D9WgzXVksha2D4rwpLb-crDDcfrWEWIA_UzidYsVwTDVJonpaze4eJQr8-0jE5_XxvcUr1--m0I-RsfN4xEMsf8mNNlnNMFeQFLuYsqgtHYKH6baeIcw=w1920-h1080"></object>
						</div>


					</div>


					<div class="row">
						<div class="col-md-12 mar" style="text-align: center;">
							<h3>Mini-Presentation: Timberlea Public School</h3>
						</div>
						<div class="col-md-12">
							<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js"
								async></script>
							<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
								data-link="https://photos.app.goo.gl/yVGCn9erp4Rog1G28"
								data-title="Mini STEMpower 2018 - Timberlea Public School"
								data-description="27 new photos added to shared album">
								<object
									data="https://lh3.googleusercontent.com/jR-ORwAevgsvJ3_uopLI-2VzLzWOLtne7GjLdnccZhuBSvKJfm9rtSbu_NOvnEvKJ15d8s64h5qeyaQPLMzGyPDrC39rQ4QM7-aOpsFBdoEWMsflz-0zA7xCQ47E2hZVv47yUZyocA=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/dB6TxEa6MqpaM_x73tm1T0aEVZW4g9G-_gavzzNQOYuFn1qwocA_6uBfz0bxtPP2PuDhgiWtsqOxzj3tQPpjUEzfJcZ3q-dyesfIrm874Nq0GU3idt2i12HQ3pt48crVPiyzTae_Ww=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/VU6sXKHhE9P0xPzZEiVsebFgXGa1rqdkDZjqKM93NZ1G9SVxROd4gfTpfcv7GIWLmi8Y06rSBQWF6mmxN-PjcGN_i94tNlslcx1urwzI-QY8pauaegSYHRaN-xKA-Q26FfCyNOzkuA=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/B1gyObCJhitPjlePG1y4QymTeJQifDN0hpnLy2rTOqiYabqHrTU7bw4VxFiAu7W4OGouFtdVl14lNjNV5RHkPgP3IB2zdhoe3wqM8SB5_fAEpu6njaAZda_BXgWWJZicoaLDDiY86Q=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/DgKb9d7qvdgxVro_zRfqVaZmoPENI8NW3yti0pOrT_jZ_xqmuMQGBfG1BI2La78_B0_L7jzxQf4CXQBjpnJsD14FPOZLdQaVbjKxtmltyGfvBJ-odyenJhNonrlwec4GcKgCzbMH4w=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/lDPjpM7dvGnsLqlHbnN6Vw7HUW1bux_cxWge0lB5H8jG2P6vxiMjFjPKcxCul8OWzCZSlEkxbzQjvvlE-dcTMzYIaBaaPXSsGUQ9TXHYdAQjXwmU9THHTTE5UfR7ti3xDLE6FGvp5g=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/T23tb95q83V4qK-74BsrgSbCMczfnhACmbMHfIOgc2NNo-JmxolG_Q7lfldp33ahKhtqgneO7RjUQlvRngmyQQ2EK5o7AxV09wk3ikMmt67_s7l6e2FC6OZoGvAFyascACEdAGCsrA=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/LjYOWYCPafClQyYZ1-_HaKXC8c3p8JW9MEqwnpN_8bPqpRDdw2fS11TKv44UnsuinSDajiPRwQpH2qF80Nu1pYy2bPzxJuIb6mZ-hJbm3OAZuLB_iAGV8LzzVOeQ3axjswHQnqacrA=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/TvMcn21XUO-m3i0PqqHkU1QotczYt0kbRjB0bgEtiCI8Swk9y4WveHOA8ga9nclORGt7e7k2coZfZ9UDVkOsmT60gN3Qy0YZ6tluKesCTtIZ3ctSLO2BrNiUpNeJEyfaGizOqokZ-w=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/bn9lJDybyWC4jMZ7CHehyLeE32nkT_BnWiEctabAbAS6qS6ChAGh3djsyg6xkQZ--2WixdDWmLvG-Y2y9En0F47Jk6Ldt2zBwGV818GCcUGQqET1qGfR1tfLxIllajdQthDkCI8pYw=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/Bk_v5NstwCTs2mDtPe7kLqNyecysF-QNR0KCqhHL2hR5W4lK2M--8FDNG1ZK8aFoqek2g38Ut1h6sHWNzfV3svcp6fCD2y4SlChoWJ9koRlTbCzJ38wjArBGGnVtkzgmi09dRn--FQ=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/7aVj3xJsR2rcO0sSRnfWYJ03nF5TGa9t3G6FPpBJfyMpMV_VqPA-WbskS1COd9gUOmMFoRRu22P3dNpxOuHIE9zCBBilWKwwFHV2oVueP_KnkXok4TdPVqiLF49QKZp8ws0vOmq8CA=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/U7vRqFXZGaUGOGwzzrnjV9RgHli2_e9DoneOCwSaZT1FRLiVqA2z9H8muhBqCXnfzYmTXYyVrWmt7r2riWaRhc4MxbC8le8nAzJ0aI_HIKXpjjkoRlbhHjGLVuFYXWa7gssCsOZ2xA=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/5u5rfmKqXGhba0L1ySw8C6hYjm-8f_CDity3T9hG9UAM2Z0ek5tjcYtsHreTW-CjA0_arJpxdM4ffrAO7ST0RZP1rkCB5aD9X_0_swwxsEkpkxqFaRB5WQ0Q_6Gmq70Gv51aQgQ-VA=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/eU8lw5lOeqtv_WGzzFm-rOYBP10UAmeBRjv9bL2znZKYL43byVifU_SFjirLOR_AvEJe2hae9D0ywcw9kdazhqv0UMDS_o8u7xLN0hsQQ-ldaWcsqGHIfu_BpXtY8RKVMtmNXT6UyA=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/Xf_D7D-C9pxH_dh8i3An0OJy_DWqsYETlAXi7h2Ose6_5hMyJDXaVc4t0VpytD3yy3I1GqJKhLM_w6BgD8Y6wiKrTsfFvNnpXusRi_ffHXxabT9O1jQ3VfQd45fJ3V2K4F_gyHknrQ=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/ge8En2fYT0gdvVuVs0S2day4GEI-CUUWiICvemgZLrxnP00N9MgPKxXiEgFDYh3ILBQiXZ5Omh5bNjDk8fT0pIENpJe6vgm4NVRWCEqkF-CfU76YUV0fN__2Z354euqSSwx-GgClhg=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/26dXcd_TWqzn3xUBWEzpsXHpHz2iN6EZYdyClbkVHq46jEQ1XXPNYEwySoFFAObFlhLKPjmiKE51bJVQFVwhE09HVeceIpBc-QH1nYo6ZEbBhv7H0kGvWtYKTj5X79lAtuC_GLkoCw=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/l9D8f7MJUSdtQeed2odxKoFg5C3sujhxZackzPZ6LaymDcBGei2tj9lEvPnUtZL9-y7gTnlNI3hluPpBoOHnXOfC91gOf1rzx1FDpIYRVYptus2zDG30FtdBgZ6xcZ8RWEROxCTIsA=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/V1vAaogTBGH01C-n0sb1jL5n8u9W67az6ICFMvF6IpO-TgCKetp9gHnG8_IXoe7a9Nmq2uRvjHIPuZh7wXXd5gAMgd3Zd6LtriDXeyosl_5yYB-h_oIfdzjmenfUmM4ToQ16UTt7sA=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/rp-0RDfCL9hPSS_Wc5mdHUFn0Ck5V4M_zXh4fEyJQ7nEDkDlagMXbQLLq4CeiOsmHv31rFEqli7D0FBnReLlr806MZepLe_CI6xwrHaazUXqhF4gjnKg-PZvcIlRd50_eH2bl1EHdw=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/XgVmZHlyNK6jI3pjy73slx6yU0qFGVjwRh9fvGAToozi7RqUfrpzVeictsmE_jITCBFrXK_IdjsI13uOR7xicWZLrv_4rstEpCdQ6I88r9pZOrYdhUDMCBGdvXpGFp9AeUZ2Q7-_Pw=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/X6crppUaFYGD4sokAkxMdd8kyQKJ-w5gm0CWvJxWY_7ePDfIs9RaJkZgAzMlvElGUWXo4MIZnA9UU8wA0WsVa2ymOdsD7VP0uo3PhuT0jHhqWYK5DkxoPBQhEkpFMECWM-Uu7pWpyg=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/IuAwrWi2QII17g-58cl_XmOH-tG7MIApFMhTueLCW2BoyWGZ2Tck28BCgijiaJjgur7fFOtAEhnujs6cvpfXDDHwwIJ0_-1ex4B9d-01psBlwO9XfElT55BNvNINrlFp5hyZff4M9Q=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/5Ly0sW81VR-ci7wRhpiOWhcd0fobGoMmYLWJLIP7qvTLt5i4s3dCRBPBeG4CIcJQDkYCB9Be4HY54xVoPVU1HTn4Fj2tYqzKdJeUjP1RcQJdIC6j6_kH3SY2e0odubQ9osfMFD-PsQ=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/NvV2-xHZFYFJtJy9KXdQttAA2R-tpvR5YuSJgFhInBThybG99ABLslaRF5pM6ed6lftei2XTlAzFsSBSgNuo98axd1KB85WaK1lfFqquU4LHsrcgPD7SZSa4spD6FEQ5cQpUI_OA-Q=w1920-h1080"></object>
								<object
									data="https://lh3.googleusercontent.com/McyCBZKSLPOQVNW7MWHQpoZDcUQGi1-ZCipFjuhyq6wQQK2orGwgPaAtpEesAzfBVeK4hz38ZSIm6wSSEoY_Wd-i4IzkI9aX7SDTojNU3S-pXcdXQ6NeZohggjSC7uRv7ankpV92Cg=m37"
									type="video/mp4"></object>
							</div>


						</div>
					</div>
				</div>
			</div>
	</div>

	<% include ../partials/footer %>

</body>

</html>