<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
            <% include ../partials/head %>    
	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
            <% include ../partials/nav %>

			<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(images/img_bg_1.jpg);">
				<style>
		
					.round {
					  display: round;
					  width: 30%;
					  border: none;
					  background-color: rgba(38, 0, 255, 0.938);
					  color: white;
					  padding: 14px 28px;
					  font-size: 16px;
					  cursor: pointer;
					  text-align: center;
					}
					
					.round:hover {
					  background-color: #ddd;
					  color: green;
					}
					</style>
				<div class="overlay"></div>
				<div class="gtco-container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<div class="display-t">
								<div class="display-tc">
									<h1 class="animate-box" data-animate-effect="fadeInUp">STEMpower 2018</h1>
									<h2></h2>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

<body>
	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">
				
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>STEMpower 2018</h2>
				</div>
			</div>


			<div class="col-md-12" style="text-align: center;">
					<h3>STEMpower 2018: A Glance Into The Future</h3>
				</div>
				<div class="col-md-12">
					<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
					<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					data-link="https://photos.app.goo.gl/hZKKvFVLPybyynLe9"
					data-title="STEMpower 2018: A Glance Into The Future"
					data-description="41 new photos · Album by Krish Shah">
					<object data="https://lh3.googleusercontent.com/nJhbM_94DDdgwCN3JGdjrTlfoQFQyxk1ScSm5tI9c3R6YxOaZiWucpkBg71Je0AzDNiGs8i4nMk7kQMjHxS5Vw8cM6jjcmmJk6wcspvhaHXVpsfe6O4vYnVqvLwjj-lpaCW4FTz7lw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/hhKxx6vcwo0eDrNDn1lSkW974vabAs_MdsMhHidrYMJK3PUtkuuy9fzAz0uCHCeTUSyouCFlV4cWxZsORWIwwaxpxFm1Nqu0iEFBW_U13zFZlC63oCLe3tBVQiHNasrRafSW6L_hdg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/1AvXTGkPwmHIlZ0OBQZqnhFvjwoD_G0EHUSJB78HpgzLhGYLufaIsqHHomHjCL_QfKdTo-g4x50LCrbfxaIzErG6bLReVSaTqzlln0zmo0XOdKFkSSEgWTGG1T5F8-WLjc8p6atiyw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/NLbC6NITfDY6SxLBYrL1mrHsAUbIQnFdCUbT9rxIUygzZGo4sxtE_ru7n7UHLBNHLjMy4hNWqBZiMYk_XZmSYqCmcKS0s6mKlVR9NXGqF6us6TckDy0ixjZuXb2ykBq9M9g8-6pGEA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/3FYe7bjwbk2v6RS6hlyN8NLGZlwHI0IzF7su4yKxpfVxC67fxncoTu9_yn7ni2FSjXBP8MhsiRNnWI2jheXSVq-mLoptu7hLXj0rpfM__6hNoDDb_ID-jv_NefLy-7V3jDwa2Kd3BA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/jMndGK5NI3rSqOLgg752L33xlngLCMl2Aq2rokKn9DIBlu3jstu2OkQTBC11Fib9K-hBEgyfv3pH-x1CKkMX-dvNXhpVjOGtrcuHIejSLkWRdDlGpcqyglWTBwwwtg6MWBrCYOs4RA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Zm7m5t_pq2MbREXjdKYlpuSjU3WYsTaSURq17ZOz7U8JkE8K1f2T0WrLCDpPt9YW86cxv6sEMBNCxSchNSNM1lOIOSPnRHBhyPDv4fu0IbYZUs3BXfU4yN2MxxFvrdd3u2Dm70PnzA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/MFl8YEjTPc8XOjMsCsvAy0_gan6A8_J_FF4C167TW8oExCrPl6KsDz3oAlYEiWVcKlQ6IRKATeAs6EIK2oQGspy4R3fUGzx54kx73uXNpLP2YEZTp5qFq9EVJr9UJO0mRdxMV-xDjQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/RA7W5hPkwdzE1fLDihQlBXPabK4-GirygQThp7e5kf0p4cgTz7rEFWsUqXf9JGThsLqLN5K0NKS6n_1Keqv4c38PanK7RvqY1uRCxL4atYWI7TUyhVlZFV2wQEHe1uBhcLeFoXN_Hw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/NVYFV0Tty32P8iUwaZWjntFvRjrds1gtH_ZahBlLw69ijsxPtr_ddizPPhohBK1ggx3AIIF2WcbwY_8pMnVpOLXNb7VgbIDoldsdVbNnpt7Xgq0tzX2dJrd1umICA9s9EPHu4b2NyQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/P2gj-EkGBwI90FyejLfa5E2oC_7K6b0d2dFjNq1xUG9gBkQuyt1fh-eV5Q5FqDHwOGu3SEXnizHHiYmLnv1x9t-7bJ-SuPP1MCyZBw1te-SdYhdux_AyfuIqySYOakFbIlIWqrw6zw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/xAl_gUuhMr4_cPKR_xB7wd9LOZWLjO7hd8U8dlmki4bv3Md2RFol4zu1BckgBrYSgrHFgLsREfKWvx6k0QpIPJOopxGlCyCa7sHCSCODWvzcrgYPm4cFKIAOQaUsubiebdcHlNpXxg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/QhQZlTOOmLFZa4C1StyQZTqfhPzuEDo2FTzo1PRaS_dS5ICc5TY89u49nBWERxiacQTmlJZym9af-M7AneH-nuFeAAqltM4u1M1TfClTuZZ6o8fXN_yA-RhGJFM1ho0iuFtDqI7vhw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/oIO-ycOsKLsGhxStUiDk8cgnsM-5eJAn35qPtuPXxiYouf30ulhGLfCCUHWog96exQ94ieZ_k-ROlbd0WfPsUDOfF4j1IyeFWJV3wzLYZ3985ng00Tk7I0UUvYkbWfSUOIc7rlcdRg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/7pzKBXNTap5Te-hHw6mX1xcGn_yUfAz9MEj1TL1mts_q0YXa4HEBbN6vGKuRRw1Xvy9NlAe6zTcggTVBcHnNIIWR3HFNVyYnXWzHbd295HXL9q8Ka-xePNXVUDmcwWB_fNuluD9NOg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/H-o-CnCG98jMM-MltBc_RwCvdbhI1siYmP8Zrbgxf1W01ZV7cpesX4z3GvXycQdfvQKhC1xGjx0H7z7JtP27RLyPw1yLdP3ZafAZXjwxbuCgjAz-OoI30sKuFfZRctv4YH_ODZy3ow=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/hFyNYIkFPuifMb2qmojZklKYtnKNFY7tO4WFbaXaoQpwEytPIWazQnCkUdIk_87tQxmbdTSmJCTrtkEWmhRLDHSDpown2D_PUkdWj-cHUKylWjaBEKGKFj6BpnaZ0cooEd_TKvHUyg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/GjyNVwAvfShAvEmPhyFeL1n_2m5XFwUzQp6KEVZWGkDCHeOf8ZLcXEvCnJQf6CUNWcmsosyXCfE98YiApHi7KEXZHCwDVNj_RBXZJn8VS0CumAg3aVTAGDQWkQhYFr-eeRVGNdkooQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/tAgmCDAhXaKFsVVIAX5XMRkfHY9fnWlRK7zzdReYY1iVG9UMgKB0pZl0m9s0_1WT56at-icN-YL2j4br3-YWsu33SYLsyeB4gmoShxhoEGeOYQE2S_XBSfxsr2dFavRMJAFaRCgYEA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/RrfAklKIEq-Y2UVwvo523mz_pvuNJr8LjhlhwsIXSKw1Fa6eJWe5L8P3Ke4CoI5UvGqRvdI0U7kJQoB3UQI8MbckhjNwRQjGQRiF0dFlNCW3GNQrxsXWMRt4qw6kI9R3FKfERNXIug=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/KtezN7egj_qmV-fXqMxyL65eOjTkZnTO9onuyn88adekyxS0wYKBpB6Kvo_CQWS8G8svyqJmhpOjrGqx8QbBWsT8fGkE059bCFbT6dReYNif1pR6prPZtaPpJZzGSWcv38w4CxOEag=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/salZXh7mN4M-KNt1SG2CaLhiIeNvg78wkGJ-axxx9OUhkJwPGqgvmS4W3rU8tVqiaThf691ZBJP5hhDk1wNGBiV9J-qE6XsHVU0gvI3Jxy5GNutjQofpfvtuvSGUkSZA3YXFHtGUBg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/y86OD5VnwIrdUbz9cJ5uBgmJEQl8N48cSKFx9iHoYl_Z1NTtBfY-n2SCH_fIp6uqFIlD3MlRo3-Rx3-ofJm8BIMqWx3f-MHCF-8nMjDw39eAJjXFZtMb1Yfvbvbfm9Jr43vPPGqq7Q=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/OVftlIL1tjv93xhfvhu7aa7nce9ngxEH4Px1mCp16QSWkEbGSrFrkScIzHKaxdacc6w43uO6ekoY4KNSHI8gJhXcJlCp6ifeysWhuJpQsPtNU1QcRcTWkMWjMAnhwTQeGoDzu1tWcQ=m18" type="video/mp4"></object>
					<object data="https://lh3.googleusercontent.com/jsFI4Sr82vZ3sOLA08u0TScMlz727rSIf9JpP8J3ttxHv13ncLViirNfwTCHTcbpp9ADZFPLEqHsJQYepsFTGo1fuiHHKnuYIgm-O4AqkdStg-tcyRGdGxeaDIKXnrjwllZBwb8j7A=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/V17Urjb2-6X_ppXeuihXr1t4Ep29FsinZAHfZLZXdZgyYc0revfnjwGfAFkV-_0h9Wq05rvJroeq7N2N7sn7mys8vtcICfM-MvvaIjCdGAR2Thgvj37n_j0CZ82_3AujKRRHnUZfhQ=m18" type="video/mp4"></object>
					<object data="https://lh3.googleusercontent.com/0SZbCedVooaCDfnbKpnOtUGuNHS7unZc6SPjoyl2Pzmv98cIt1KtnlD4CfaTe6MKLvk59cE9cNavZoTf5-lkw4qfoPhkbHVErdEqxSr5oJYmfkzgTM9gJqHmTeHEsqHEgfW7zHZXtQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/8O_98nM0kss8iiqFiNLmyzfFj1E2qebvahJGHZshXYS2s6gbFPj77YiKV41dEpK0U1aK2ekINN1UhYV4GRJYAjuOTk_XDKn_O2niTWGPyZXSdiTD3efvwoowJ7_xMsoWShQZS4Z_3w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/sanQRaz9AN6Bicj5kHk7jZ0IiosgRLwjIL3qAN7SoxFpugSneje3q1f17zg8OmhRBbpxRprJ3nGf9DMd0T6TsPOaVDOqBbQxh-UfbeeeNkaWHEy4fNVph_Gxr5nCbn6AX-567rbfbw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/9XWzSF-DGA-F6x0V1bxxnJ-K1SxIICH_H1nsRL-Jx8E3drKczcvgZFWBbwBw8w0WwE5Q8LR7Erciu7LRoiBDGgwYK3gCZlMyKzOGTN6fBassubNBxjUqGxWQKgC888-b_sw5hY_HaQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/5QfM_TA6UPlr3TcL0alu0tZpbyHbz260ghcou6zv99oMEapU4V9bE1CBWIdLjzto2qCzxQ1L5G4abwSF0d9CE-QkcByQBPd8LoaMo7tZmFkQtxahdQY2fGo7hEIv_jgb8ci2wt3xiQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Vacsqonr725uvQtSvCOrN2bQumB9jDQhMG4OVKbwHuSu5blW0PRDl4tDv0QCAEijjK00on5VSNMpUJMNqhkJkQ_TbsnDTirkG_02ojg4T-SVO0WAzcgS0PN1iws6BPiXjtHdqI_PfQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/1NHEhdSYgt3zTTA5OaoLQ0a0zL932hkC4mav6bUqgYWNOn5EWRt50foVJvsvsceSy_D7izFpEvtDh3ERrAusbolEjyV9DDZAEPhXcnbORONtJHOqoFki_c7k7tI7hSxerK17ixzfuw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/yyAYp0REao4STQw7X2QrqMNzZUIXtKRnRZBG2aOpl8zDcDkFigBs0cmdHbOmLJO5gfZ6Wh4TnLtbYHsE7t6sY4voqN0l2y_x9mV3lgPMvji0tDG_4CNCx3HxICQvikqMLnDIN3A3sw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/DMAE3nkgfQZzo6YM48Z8BZ4wADdO0nB89kYNHzpzqYZwAJ7f7Hj7mjiMJ420nnRmD1awm52z3x_B2dRY7zJEZogESfBpWN1di-NJUAOBxjqquAx_XqT2jGxw9TcVJIl1sUAB1QUgDg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/M7Xpng_7fAckQnaUzO_8HUyiYMnw9uuCuyGJq3-dFtQNosipvDdwqB999g9W6wB2GNdBrN4jgpCF4RDrM46-R9nixoWQ5OFqA5jJmSLi-M2Uhvho3_-aJ63B1iYotOi6jItHv-c_BA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/lvJAHphDLIwVUN5w-BMAw55ZeFLbvgI648ET6UrfD3CMUgosba0wXb-VdVgQmfzbpgGUEmylGSDTptbw0Z3ISsA8vw2vzX9Yv4RgwIW4eRwA5FkWgvTtyvDwnxKX328KqIsGSfGIWg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/J5zK37PtFTlPTzEJ033UCoxOs-eNYEJNBfOqBJjstS7BWSJNYQktklsAclo7nBdfQB8g1qQidAyr1BktBRpYr2V036RlGo1HL4fFvy1VBgUr39ba57-GhmaZXHvctYhDBzv4BaJrRQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/kUkjf5894G68qX0t_qWCscvcOss62ZVIw1bQhILQlOG8a2pvAwSiurWga-OTE5L3lSrDxYlkuUuBuk8dDvFj-G7I1zeb0u_JUtxHbNX8p05l-jcThY-oo_wKkwY8QhhHf036e2JQ2w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/SbfmEdG0Pum3zTnqAPdaaUSvXtvyW6CTzbPFYCQb1iIfGi7xF0-1uUYX9rurI_6fM_Cdc1lWPw-GHmdlJeJ9OFiMpZQEkXpJy2LXtyKs8A0-3oR_cO5d43icl39Z-5WrnXp_LXtOxA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/tJU1bvZv9Ug333CpaJHF1r2-2Uw31T4f_p_JRsg-4FJHhFuEgFuqQBqVefLT--lvP0IiWSIWNd-mLZ43mG31dOI7SQ8T3acF8VwxJjKRruxatA_4oHl8uHcnC80MpBTc4PYJ39kLtQ=w1920-h1080"></object>
					</div>

				</div>





				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: St. Kateri</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/stem18mini1.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini2.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini3.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini4.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini5.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini6.jpg" alt="YouthComputing">
						</div>
					</div>
				</div>
			
			
			
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Walter & Gladys Hill</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/stem18mini13.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini14.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini15.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini16.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini17.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini18.jpg" alt="YouthComputing">
						</div>
					
					</div>
				</div>
			
			
			
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Westview Public School</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/stem18mini19.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini20.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini21.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini22.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini23.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini24.jpg" alt="YouthComputing">
						</div>
						
					</div>
				</div>
			
			
				<div class="row">
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Timberlea Public School</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/stem18mini7.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini8.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini9.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini10.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini11.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini12.jpg" alt="YouthComputing">
						</div>

			
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>

    <% include ../partials/footer %>

	</body>
</html>

