<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<style>
				.round {
					display: round;
					width: 30%;
					border: none;
					background-color: rgba(38, 0, 255, 0.938);
					color: white;
					padding: 14px 28px;
					font-size: 16px;
					cursor: pointer;
					text-align: center;
				}

				.round:hover {
					background-color: #ddd;
					color: green;
				}
			</style>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">STEMpower 2019</h1>
								<h2></h2>

							</div>
						</div>
					</div>
				</div>
			</header>

	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">
				
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>STEMpower 2019</h2>
				</div>
			</div>
		</header>

				<div class="col-md-12" style="text-align: center">
					<h3>Mini-Presentation: Christina Gordon</h3>
				</div>
				<div class="col-md-12">
					<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
					<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					data-link="https://photos.app.goo.gl/Z3UqTkyt3PpXhyiD8"
					data-title="STEMpower 2019 - Christina Gordon"
					data-description="78 new photos 路 Album by Krish Shah"
					data-delay="30"
					data-repeat="false">
					<object data="https://lh3.googleusercontent.com/ekOOs6dHS0AYkolXnN6VLtEaZg0Opt2WuIosUr_OWxDyNW0I-dHyoeFpNSYrM6E1fOqSpm6aHFgXsExtTS4eaMqmProYcBUwAUtDTXIj0cOEJe7uU02C_mN2MUc9ayyzNVXz3BEe=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/I9fggJ266fhmkrdkqxRFsvQkp5Y7ZVntYLguRDeeqHv5NLmwxYpVD3U8I6DAhXQ2kyNvmvqXhz0c79avE25D1ilwbwuEwDBGiC0ApPyCoTUSVolVOFlTzysKM2qZ4VvxJLeeJj45=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/dhTvhz4onOSPxAJqD0rczjYDOBSfgEW2MhZ74YCfWr2XZajopxdx08pnWwSyD_EnZNyd93SGc2TqaTtFepX-aWl2rvNA6KANmJf3bppGzJY2eTE_yrQobKbOGQAlVb4f4rF1FgWW=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/p9dRKoh5XsevlNGMmeOWP9eyTTRXXNUM7oCwCocVRFgkGg7KcFctCM9rlbQJvMCi0RWKnI3s1ss1MiqOtbAyYr_ajkGY36h9zRznohkwkeZSP2XGv_y36xy9hoiE-Wf3kttSOIOr=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/VYkYIdgvnQvKhnWhuMi4fbWBhG8M16mhDpfMDAYHx3f2ubLGOz4_6CRJKTyMExDQ2VvSjQlcCKAc9Orqx_E37d-OkHVNrTieeFxkaBhf8w8K327YI4bcNDK_3jsoLY29B0Z3rghX=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/ofFKdx57XqFtOOP2jQgwFWC7_sRIOk5Bv3DLxMf_h2PbSAiiHjq6DkUclD1grEZv90gGanWz_Xnk2SJlsb0_HK7vwQNBFBGWFqVZsk0_rMOZyWFq-jYjHBwmehhg3zkdsboXu5d-=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/uNngar3AoT4OkXI33B1DYN1Nv5z3O_qcEz6-9jjutxpx2KE_G3wnSSpSpKuFFrqCHGWE1Tp_uYdFKt3yOiJdKz2dJSQYBcPAPHwRzAnxxTSt_u_0t3vAGQJzs4McQom3mpjKPtCe=m18" type="video/mp4"></object>
					<object data="https://lh3.googleusercontent.com/XX0oRTmQNLE_g6qiXoKJtAVUpSFIOxY7RhcwEg86RvWumw074qm6YxBCGIA8R8XP-Lj2qTS8C_M_guKaTnievro_N1G7ZchZbFTLGzAWhTU5N-iH_Sto6w0qdIzsbE1KZZwxgN9k=m18" type="video/mp4"></object>
					<object data="https://lh3.googleusercontent.com/uthENVDD2KUdx_dpJk2FR-LfaTS3v6S-6MzUPIoSWRCEoIG2XSGyAv89fsu4KtpphDT4q9IKMj5_V2NWm33Fx32gjKSmVtufNHCIIfWznPyKjvlsZSskxGW6qiIR2Bk-NCKOn2A2=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/1-PufumXGey6s3ZsMqOgNNkb58vz4lp4DSmy6b7KswckyOVEg2YD_lj6oNAK_toQLFw61r_boIYqtWO6E6H6QNZSGJlniRN5U2YWOv_wwEpl1G6kT3voNTgIFd1wlOdsC3q0Eb-s=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/gDyfEijfAmk6ygTEADdu3vjADWsS99Y0yKRlWon6ijCs0XNcCPL1oGo-98veHK-JrI797nZxDEKdLmrs7mwTrKmKR3lFEKAXEMz5HUjrI1L60NUcH2tWooZPrJV4odAkWvR6QWUU=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/zD4M2cw9Au_9gFUgINfEXkYiwmoOvU-MG8QptMYBEsASCkxGvbatMkBeHsSwbcifEFee7IU83J7FkjB3NNOyMOK5eH_babtcAtu54PlNCpbsR2QgEkFyZP7A3i5Wd6teNJhHFUA5=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/FbBTF77uxEj4S7Aeo79F3Ta0jxA78t4QONglAOgorh-0sAa1dk_X4Qp3PXN5yKnw1_7n6vp2iPtN4lWEtptNpvxMfFNuz-9ywdKq-o5BsKzUlDqEHvR8eLEfS-v3e1XaTGMRewT0=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/ycALWQqCHc6XBh5Do0OZpLJLtE5O7a-xk9yMiviqlxI86pOVXprxpotKhNLDVtEnJbFGXLpGy_K842ZUbzkjopGmk5h5GJynZDjThz5KxqbLwsht-DCH2lzPiL1PYhgXFYp4DEnP=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/cnm0EL4KqQl4eiOyO7PWD-fHVQxDlDfNROlkF3HIuINWYbi-t9a9nb2XlzcLqdXGvld3zb0ot68mMErRVj0u35L3GsDIfcMGt6bvZmksqnlfmgsy5pyCNGQnBMWsjDiTzC7bugxu=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/HA1s-kh9KT7zwqZuxfDl3mWbZUoeYnSAz9toyCwDc6OOkquH1VX0syuq_MwqW1A8UxEOUubCm6FX7fueWGbC0qJHDf0n4f_tzz4QB1APnMmgi8gI9wOETGch139DEBz11kvlxzLf=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/xch5EcmJ9dXgBrXkhO8MFlOrbAeJM3LUwBPzxzTDPQfBer2ijwXV6ckLYhelxouxltxsohQpfvnytE8Fb0uuDHBhKXIMi7hHXSdk3zDS-8rXXlipZhg_1vSUkkqGR8vrub1Tujg7=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/NIj1dG3rji2RqU-KbFCTSAgGWCctJ8NjzUQV0EIMbfPyhn9CUFwW54FzhBId3eDQ1xOkmcko3A8OiQayrnhCPxJWDNueO1GgnluWRYvPUoOHBKiekaK_QfbceNCLlj3tJiA3kpvw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/vjwlsSRWRounOMlvmuV08FQ58-dgACsaVXSHFrnAh0j975CNFW9ebSX0xaVs1OvjakOMr7VIyoa3iiJud4xp4HDkcxnERxO7FK_5Y2sKVxxFkSImKB5KkWc7qmkbL5BIwS6lVTv_=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/izXlBkLGhsUygeW_es419yviLFs-WIU8F00LGO2NVBv2nwQJYAm0HW4PcMM8Ou1PrKCy0dMCl_cM2NjMjWwhQyJ28m5fQNSlRfGND2Qe1vmeisWPqzDJl8RQi5l9FkXbvVx8-7h7=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/GzmOKjXfSOBCc9q3e9EPba6dVkUMJdDXUUw-mW_BFojd8pa7s9tmBfqnShdYwlxrJKPbNJ3wV2ARUb0M705tekF5irr9_eJmlDaTR0OMD5Ws6l0rSfrKVqvD3aO0Y8_gvvDi0EHn=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/puz1CUHcHyJOdkGjzhab03xcHg7WN6JiECAMrGLiZR4U2CIpcrwlc2ZRHJIEO7mrHN0jDMjhQCknQOMBRRhVEX2WFX6dy2MJ6uOcaoQQk0djwSD0uZLVgJ87VLE1ruB7PPTVMP7w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/SZYXD9KNcSztUQLbqV4Cj-BHM1ZgFZjVzy_W7WrIBTbzNhyMCcrXU9okUk4_ZFZurBC86zjtM2PfAwnmIVXalroiZYcC6KcOuzQp8FoI3oXcYXg2sRUEsz71X2l-hsjeUS6y8WW4=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/4aey_cJdMKsMtnwdYKK12iBDqXURJ-GsHob3JYmuO29te7SPtq_8byR_4nBp0VdhTRzRiJtGa5XbyBn1JhLy9Dce1Kt8wGHrYrVKt7lWo2rTf406L3K6UiJHcJwL05cVFD5DRnHu=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/sO5-wQXmGCdDBQJJvJTYyBfx79J42jb8v5e8tx3D39kXgz_X28KeIeEF933fgGTpGuAIn9_J_jjZVeJpoI4fNjJ3-2DNmCjf5_FaUVF-AY-sX0Cw-A52eWL718uaEv364vUL8caP=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/RK2WhRMI8Ambt1gEBKisIk6gpBPrQ2JUfudAei-x3b-DJhmUql4Fe5JxrQhvLrNx3rwdEQMZAD-eNc_MJKUqxNHWWOkbp5FtgmzR5-agqaWiLtxIfU4jQs4FkAXwMfTNa0HBuJ_R=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/OAMvMLRAZwVB_KxTq-SdMAvnK65P9O_5EfnOjFv2LlODbbgXzeyeo9Q1GdYG0SHd3Hzbhdcs_2icFIYlDVE458vg3LAMMHyMZ17pypXTG6yS_LyY5peaE8LICHYopbcktYUYwLzB=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/P7HWe0QCQte_iUA_2RbMdOTpyQ9XDc2amLzSJ8rRm_JCoqjTRLg0tTUfKYgvXtBCI6XSVirVTBXZaOXja7Qhtlv5zZNOkadfEWuR1NLh3_e1GaC6P7Z7huiL66J2-0ofiY1qqgfX=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/2l46xrFd3ZKpTB-i84e9RBGKKdsEljKqmXM_zCIDQzLnFUWyJ3mcP9zu0XshNtKqF-A0sgT1v6EGT476kPxG1YR4cPrVwkkc5X7-jGpiDkbr1uvd6cM7S0ifP8w3_hPNIb-6mK6G=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/R8ox5ZQbdJ0lkWbgalGUcc4Ub15vvtczIQ8M5Y-GG7ebrmqe0ZHrlMQc71BiKIFutMrtRVvKP2ynoRRhuP5pqnGu8-TE6dgemUQDZNqYSyZqsOgrmNyLSvi0wIDdBFHAgfNWxVE5=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/q_9qu_4era1ddYNf7zonmA1FpqQtgeV-1Ug2sFgiRapEW4C4mN9WIbmfiqKFLs3hy1pqrxItWcKDeUUVKNgj6wIKeGA0qxpNNtW1rvd1Mn-dCrXsgNHradkwOkE6q7hRrrb_MvCe=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/gk7POT6_PpHzMfCfkPagWrpCn6kSLd1lBYfTlqRNGzO8CLymeyNDhu5LJq0Hoiae5G32GY3Q-n8g3YvYoFtF3AKN-4d-Fvd3222PZbKQSk_FISmdYPU7qgisg-txRJFuTR-6kxFe=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/9UemPSZPq3S77iIMDSLGsYjICObPkqynSBAbGr5aM7rKNAuoRdpazjnSDP6wm1SYMZBLJoghOrXXuuMefALB0Z53UGYrb15K_2Pol-8lPfQDE0F9ckuYV7Jae-wZXCX4jyciE-GI=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/qLOuiDElS2vxPYzwwnh5rtTRnjT715Y1VuYJ5ED-F4mg7hoSCW4D4geCI-h_FVCTb02IymIAuQKGTSj6AsblgOo1RZLiewQr-caTA9Az-8T4RhK-DFveHHTidLnhIDKDyXPRc1qE=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/hifE-o7gOwqFRP1X1y1Bd8dV5QK21qrIblWnHy6PYJxuSc6SvVAoF97M4czjxKAjkHQH_obp3whGf49jwm28_gRPKHAPfXXmVR4SUt5Iq60MF0Ko5UhBJBpK276BBsyp8enIyNKT=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/WpIZVUgG9bfmUSPlP5DKlFRamBmDwr0_ufg5zwQfEo_8e1X7mZjFlhXgo-AptEKrBw9JhOh0UofP5gaHHZkOlBWQM___RcRm0-CVP5kJOfL5AVpti9mg6GRYu6FxURokuH45heIR=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/jkEZuDvc03Wiom-vlx6udZoZOvBO7q19HRzTt_nunoCjguMULuxe-XpwD8vOT6x1v-VAQTUGfhLBSVErOIMpMVyQNNIc6_WclRb4erwnBUDEKrTVBqPh9WkbcBd6P9fFv69dXoIl=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/VXfbyCQPEf6M4Wsy0NWmJW_G7pYJpeaXSvZ8NKiNOW3qe1hFjGPzv181bMUqc2r1se5jpF8aU9gy4C0iArV88Ys35ahA6IAkbQMgVlG3nWYF1DxeYBQuhXmY-Ty20BPrpdi8CKY1=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/QbdkH6UtTwU8E9HhmfSvTBDb4_N8j37LTilKv1UbxfhySQ2YttDogUsffoey5dFOEFUa9Ybpnw8jh_M0EZ1x3vb_Dabz7FMTwhgGFNBxgnMiBCWQk8CtcA5wzW7qLVv_wSiBqSSK=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/JMfo7JrBxF2PBm5lsHfTMKH7B0GLduUurVIm7GkHDGBZWeAtLeKl6Wh93Egc4efT0Cp8esGF-apTdzjmv1K1qYLt-fTgHOmkVBRMKCMhZ7oLpWCuX1sepQf7Kw-VFmn1wYGK_ueh=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/qFLGU6DRoVXq8S5GmiQ61FtfLUGziOQrcSz18QcRCPLdj_QAAKvsQVyn0eerHnQ9eAQCGVFpHASr9DiRccjJN8pfEt__ZbU0T34_2Y5HcYbsM6F8IQPadv8WljFQZ0dfoDr9cBGB=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/mS0Qq7fTr5r9fV9hl_iM9xx_ZzCb_QQBEB5mnExTEGsjLMFaGr8jeuxPB-j0voaJQ7DvStvEJS2BOW4wq_fGLWZtMmKS-pZ9Qz_ger96NE-fWXrvn5pZlJTkHPLvvDcKVO148mbG=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/5AyHBewSk6nYm1RUHKYClQ4w8Qfgy7PbGdAc192v7RwnxxnLm9fN_PlK9Efmbbv72UxNwysV2V9WaGSjJ07rSufY5JELaerOn3PZHBSE254d5T9IHWWZCH2HCxkU_DzB-LYNV2I1=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/BkAe9hbLL3xutjqIYcOGf7VnSaDD3agQfi4hQGjll-Wg61AnwXH0zQv1Axw2XoBvQVoEyaVjgIzHVRmCEg9YOmT6pC1V66HeKbXBN3PXGWYA6QlXcgvKlY7GmHvYOHOexioOaMdc=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/THBc4QeHv9ccgBhfUP7NCIn6Q4xLjJYX5KjNP0u_JYj1egUaWaWzR_IyiOH47BLGvOquHTw_xUZVmB89ons3Ma8cJ05ko6zU_Sbh-KwNw_hm7vLeXbSrEhDAmWRh9_hAwWqONvYy=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/VeJOjnUMD-Lbd6XfRCBN7ihhznGR_ahcyIpHlgGLj0OsZo2W-TgrQ0eGK75ZnWZdBsond3TrbfM6zVkNjxldl-g_6JQ3kXKipWNJPcrraxtUdAl1tCKV_qXZb6MNwmuf4675BE1j=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/RwK1gXh0qJ48ZdXKfjDQ7cGUe6BUrUAl3IpkhYLXjbB9xgBj7tmxlaZMKhr-PDMbCT4EkICkyr9afOduURwYgKa988gIxqmzXAHyMrmtAMpzn1uAv3t4b_EuzqUraO8RS3MCZCQ7=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/0LfkCmiMCe2nf3qMvokozXksOkvZrCEyTkbDEQF76kW9-DMN_FLFY-SvM30sNctBA_22Fvh_TzHR_A4cFSXIVINbICd_dBwsjTxX6HIVeL6itJqKQdafOVu5os1WOsBTMF0gVzO6=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/p2QwhmNhCMLqG2fUNVn-ztmzq-Ip31zbUkgwZJ0VFsUwWwXwfWNPnLEC3EEpzVGZex2MfYg3aTltlxY-Yc_RfpwbFWT-jHy-6gEvNvqyxVVEiv0G5fYP_QuYxV34VUhgoWAfbX3p=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/2Cbv0MGq1x6QBizp_l8jOSTucuJOkc4DQmLW-sQ0hQOY4AU3t3GmsaozAAhsd_Kg5cMhSZqS6blpm8OBDdS_d00bWZrrJOejNlsGxMRXObuEjJKb9SRjJ1MPGLM5Zx1PMFIqZP5T=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/4kC5BRVuGzdH1LJ-_JrdN56FSOECnLJ6xMfOo37VcwwLnh5CjE6XjxMptN-xf0Kz0V73ftmWU24rRn_yIfedR5VH-4bwUkTIkMaj1pseWKxfBLC9pOkoDkUY7AXak56IsP4yyOdE=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/T9JMEyoUZ6G57i2ut8pH5WGiKI5s_5nLKlE3odB0slfc8tM7W1_WrNc5DVRTgilwuB-zLh7U1ePHBIBkmwKe7bxZemktmmT-BmNG9iFmRhO2rcLfdJU8rWz3odI3nx2dt4kBwRwx=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/rFFR-w1Tp7a_mmMr_ra2Fp19izrocds7ttQVR1-tEKdoo5nNUCJ5-cAxS658eNczd3mmFW6JEZLHUCcZwEmndbXSA63P3YYXH4-Skavr1u9cfYXD0Wrv82ZAxitoLKKy-YnuRkTP=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/l9iA2n95Ug-zyRX2vphgW6OgPBy-r5FglW1UESs-RFxc285aIC2nd4XaNXmIBL1WBNTzWECuDLZSU-thGPQOAkQdhjDnDaQ4aVA7dsERUYmbt6VxCI7TDfMMwN0sUrub_bXWo16b=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/79rzeaRSQNWtItvF8yG7AevCNGS5uHy2mo0uvrycXwSpe-wuDg17FQcsTh43FvYS4eij_DjGgblc9YCP6lGYGBuS9DVoaRqrgWoZ-01pD_0ikV_vvobin_EtNVp7DxiYQK15yQvP=m18" type="video/mp4"></object>
					<object data="https://lh3.googleusercontent.com/Xy_44WGZbrL8J66fYaqpXQ3MnWMdlNkzGy9FO6MnlGp7JgL8cSgacEM5H2o0K-GKAxnL_wVc6Xt1NTW0ZjCLfyAiIU5g93bBVjnovh9Ue259QU_tQNeKH3lJibLi_luPK8YfjK_2=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/pIX-k9lf61xQ1qHNVH1ce-AZQNcDE3NKdXpDf_WvSzD6FV0CP0caqdgp_fwzJw2KKeanLbaKppZu4wM4GWPn7mvKFgc1m_SZOWvZCrdBNDH0Lp7ugsDIQPU2n4GP-HbFhVL0ujcA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/uLN9086JIo5vSMtFLyOCK9UJMHVgssp8KRjCERevj4cZdZQPIgWtQI1hLTXboDcuEknKm_13BXJXFauoW2fnotWKuSdeClSzaM0EzSPYV1ZqGvDJs1e8yqiSj2OWOQ3HcDogo2wX=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/8jllBqnMsPV6RgRMPi8H_fAYiuj87rHshGGmP6MffddrSGl_ZSWIMy3TCJFYHaa3Rp3wnZIN2HHdWTMXbprTmfjUr7hiaoSdJ53uJ3HBOE7yIY9L4x5XAquIougGIM-bKgvbh0xd=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/-R0Onim8_JcmO4uExZ8r1dzA_YwN9N8qN7qSBYjFk6dqoE_fzH-efsEO_HcIFmZMDYhxUCWuVEYM3EPF6lqahbQEYqW4SATxMjWX9eJ6QUE52yZBkIds0C9zMNDTvAYow25Vfaqt=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/w3EHZ9AzX5JDy_nR4dWIXF8BEag_-GosuMuFFZUXCZ6rNfsHcFzcbjVUk2g-mHJf6kCNAhSyDimL0KPgp8X_Dm4O_SKe3XvBNbDv_DNWnlq7jQRXoiXlIjhGqENdlxd_hqNtppMT=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/j8WAh_6zaxcZEjCQNY7Gk1uMhRNNfxCTuM5e0R7RxeKHK3BtqS-uuskF_DiSt7bN_iuFLuUyXRANcLwaNhyjnLuyC5BahWvK4SetkP37cROSsNOeWkdX2neQU4OBXyz43ibferNT=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/KZtL8wNqixRIGMHmQRJC2GgpNU4SGCdeK-2fek8VMri_FDwWuckF14i_liteFLzSESgc_CYo2YAsRd2MMyuAxj7sh50eSgk7lLlDcXQrEpDOaNVQpNc_fySLwGhijO8T85kfWcI8=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/B8AyQHCpYX6kJtM22XZEiL8-j5b3UQH-IpnpKW0sYpyXpER6LsCRpM5ZZC5T4IlmyW_qZrFYZVALx42Ed46pTmbcKRhF98Yce198YawZhOTnx3gZ6a2ch8w7_vO_QvH1f_MLRo0g=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Lzy3FoeWZzrelfifYSM5bf_KntxBoXgJvRd6SgEPyOkN8Giq1IKxqSGTWQh82jAGupDsyZ-zYFLYYH0sVZ1nWntXlbneu4COm-gQ74awmOWXLYxH-btNaKDA1yzSvNMbqjsIE-Ag=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/wx05OBpQOj41XqtbqxIVxC3STYxUt26_2NR56WKtNbmIG5Et3pVXBYSG7eX9jJnpARxDNnyzA-4MiTg-KyayRYKcJ2ZZ0FvtqqrLEiHrqb6JEHzWtw3WxLywWraNq0lRbmAedRM0=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/BEIH6w1BPI2MUIAvqoM257uGwCBA1zqNqhPxk05BQ9NQivXf23_cHvgy7dIvGqt22W-hQsBP5jGS-z_UVsLGVkMY1FiJ5ZyiT-q9QT6jbGiMXXku0-VY5l1T9fSPM6-WiPnbka7g=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/ytjMvY93fUCNHUyzNVtLe7W6yfLsmBbEIPppFQJV3ztypc-AOmfx4mE-6y8Sqo_N4pUUGZzX8qe0QoFfbazZ2yRobSB1cDnUJOlKjhaQSLwxo-a3Rhtyced_KBAMIjunaDx6J-wq=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/k6OWf_aFJjCUAvx5Q8T68Vz5nPsYbw4mYXz68ovDMh8UG_0CjWuxabDINLkg_yrekxCgoKVDWbPIk5AqDPfZq9zzeSuOKoCHpfBFD6MfNTXU5SGfZxAWMvEcdxhVEZpBfZQDRQvp=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/PGRZI-PK9P5l_iJcPqTz2RocdmX0MeOY-5cajJYhmT6McrICophFKX0317h_PVG0EXWIntsD-k00mjY6Bexw66hlAGpgPrydeUtDJRx1uISJ6iPQYkVc6_UNLYtrDJPbTsjjUQU2=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/SCsH_yzqHs0vr3DJ-mP7TrqFNJLBT7qhDPfZSnWAn2WlWLTQO4N27Y8zAUqzH-65uJd5r6VodIIe-YyAAAN72Hz3ve9vn3MPDE-Tdhsd_XOccEYKt6_E3i-A-GXJruIADpyQGum5=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Fu43j0MQL1RbvWFkwHwaAENboopmds262is_O-cITYiwDRAzgxGiHVYItkT_ygJbtPDPIhvfQztaoNnnI1y_1h3enCRc6ZPsE1eQNKQ24hI673lkzQCwmBjH66azDjQ3TssmIhyO=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/SWWrml_-CbjMFPKa4RUqU99F80jYm0qq47KAPkjL_44kXd40lZcZCjVmp3ERD4lRrEENUKawu5emhYXrl31nhW_SIybfgDOEHlR294P6FnFhhtHOWPdcaMrBWFqaGQV8Rcpr2n-4=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/fdKwxhJTC96d6vm6yN012_L5bKykuC8YKSPNpr_GpNvCWaJDvApRLAVFZa9er-NuZ_T_uQsHmZjgl0vJeEC-hRVFpa3KxGKOlHVsl_jTuBTlpW_4-bPs9XvcrK86scDwI_InBT8w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/xh8w-pTZrf6MMJaqh1xpniNDRDbOrD4LTyZ9e2zHciIfcfP1oeOQCrBeppdi_kwWhS9lYwasQust308P7MnWYtZgkXQq5SkWjOl4_okv1j1VgZOKU-pMzRmsIlSNbXReRrdBbsMX=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/QkEd6_zs32Z_UN5uHfmU8kwDHuoUC7MJf9Jp2wTV46scm4oWVgjuGLDl508770jmoF1B825e4dnzdF2MI2h44FBXAUXaGgOaG_EAsx-nhhm2AWc4aRAE2dUXtUvSLGxlCG4iEivp=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/xr4yZpvUW5t5H90dvXmya2YDgtszO00jDXz86KDTFWijmk01OvdwueX-FHQLTfirg3EnyU8_98RjqwjEbnu0-cBAh7E3vLOtjTE2Q0eVRHDhAWgTcCBC665_tJHENKSCwb1QdsQF=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/D6AED6JQfb_vYLvaTaXX2b2Z89CYc-l3t7AGGlMKfCDQpX73LQ1JdSlxVZZX38_vXL6ixTod4alxwJlfhRJ0KgbJWikFtUju7focfjg68NxJIF5U4lrFRfw64uyd6siBZA370h2a=w1920-h1080"></object>
					</div>


				</div>
			
			
			
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Walter & Gladys Hill</h3>
				</div>
				<div class="col-md-12">
					<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
					<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					data-link="https://photos.app.goo.gl/H7PSgvAxYTkfGgkb9"
					data-title="STEMpower 2019 - Walter &amp; Gladys"
					data-description="22 new photos 路 Album by Krish Shah">
					<object data="https://lh3.googleusercontent.com/aLuzC4ck9X2EiUK6iGn4TbJuMqtwrCabAyRGahB6IfE9A8Kzttr_BI6WUiMlipFzRFxCpSvYXClJiu64PT_jp1zxK4suutJZE-ip3YM1z409LyuVZGk2NVc9w3lo1qTuNduQSlqlAA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/wc4wdawp4AtMN_d0ogdRHp3SZSBNgKayXYi6bCMpvTV0uCVEwV-llOuIr98-qSHSYVzBoc0aSnhMCrRsuVDaChSy2zmOpKoOEHBzXeb0KrcHK0UrdwXT-TXzxZ6RfnRwo6FbYeCfiQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/1lCY5hqmEltHwrew8hgzt_iCt0maRhVW5zd_oLvMuZkRks2QcfyBGFSXnuW3OcpAfsHaSjHUy3MJae_yoC5VqWPxYJcG3NRSqry3S5CKbtz0k5cA8mr5fXbpheD_7B43R5lENF7g8Q=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/h56KpXdB8O3CPifx4OUci_jblNl8ONfXXXH90w9NewOScVI1s1VffqHmaU7_naKjlHGZ2M_2uG-4Q9cJELf2HF4CofWvRGUf0N4I3Q4jO_7-mUIImWAQXZD-XnL2K3v3n-ecP920Sw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/y9Sv3xNOMgIZrZ_wGBk_I5ZwjheorxEeZDugeAaD5wM6nqIoVknuegkVrsImQ2oesKmZxn0hnQK5339_ZrJToUhLmAmwfTrgebfYerSJ6aDD2eLhrV1IgkenKnLSsqehvV6utTKPcQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/O4iGodWC5Mmmv0HOjkJvNKzA1_ftS7UOwjHTzDvZ2OtboMuTgG-QBhTmReWm2R9cSfyomnB1B4fsUT2SAumAd3LTYQC7mK252cDLj9n9Pfa3OdAGRW6dtgDmoEQxDOdrr4qfGozcww=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/0ddpGmMSLpIb_--Qxbalrh_TLOfflnvU9bRSqoc6ugNIobQPrISRcd8_RUjPQK9tdCER-68dgEBI8KxaDe1AGK5XmTJ3K4BKmAdUIUi9h_Hgno5kGWxS0V07be27QmveeK5HgE4-9A=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/hK_MuBEl5hicgP4ikud4kSoQ3FO56MhOtWqr4WOxBheebbCvui4ZXWl3op-ceDj21DGbjtck_y-RuTeWJ5jeP4lYE7Rfb-CgaPsd1F0IG4u8wIGTFsG3oMV6I4TmuI9MVXVrShQkkA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/lB2Rw5H4ltm1nRsJbwO0LaHnAEiMKg4mfQv2Qjy2MTIpIeKUHxvlA82LzfjOEdFYLurJPtCTeURfWHsqX6e6BoG0Y_P0XTWEGyi3aIxvlVxs1eAR3na_dXKn1x55oRKjIriIznb7gw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/kKc85JDKIXiP3ZlLyTi43opW0Dw--1rWO-VxmaJNSSzFV-pUVWJnN3cXah4SxaOEQxj30bJ-YfGvKt9ZB8YbSCLWcCZao7ueVQeuWUDZ5E_w6xwrBv9xvYpWPjPj_IoAPzVkxN7S8g=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/J19e80ZEyHgHBNCUJ1875SHD6PC35S7rMYUe0PUj0z8P8RQSBSU3maJQj2Hpz6P30wxUB2kyNin8ptqGwfVigrFqKJTbd13q87G5YR2Yw4oU0OcHds5zGWlxnaaV2ShVKJdl7Avhzg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/IJ2PJXKtUkMRT0kBfW32UAwyrP1v6oRzdFzEMy8u-eQc0BENznROW4wiu6_XkMzC6Ck-bK10OEHcUL65j8jM2kUsENsWISZOuypsWME_HKv2WseNCiXyFarWYwXg1428OHrgECkCzA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Hu1A5xxXCqjxWBfzsLLeesf3Gigcuik2_DgPJn4hF8SiYgoDnJWtBM5zaWnY5D2v6qmY7yjXHM9w_YYARu-mUGeqQiXh7bz_fDngX98cQWnZ6J5GSY5iCgcWwBH_Vx1Wh3NAHg43yg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/1znqVCEPCxZDBJUYCT-DmfRKI8m5Ofz0o9T_6YSbyiM8bzX8g4HP_m2DPpz1ys0q5iI3TW9Aqra57X1_4ejvLk-jPReNNlptSkcgo3AC2htwtXqiZQzxNa03pDT768Yr2RsvirrUkg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/C6vMqEioeB3-kYrAgN-LtxYBW52IYQhY7JDbrhNhtEz1GOosK7N2fMMK3VONxw5zKPb_AH8MIDwZfEVrWDvs6i2qJHY_bNs9cZG01gWD7b_j9Jfv6I0JC-qfGaEw96zl7tIPFRAEHQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/SlpQyT8dKycjfaSwpvKyC81BIxc8oKOMhJfBpRHwme07y_QlNR4k-1nCkZkBYg1xe9WsJc2OMXNy3X6ubfgNH0wEgd18tC0Cib-Q_yvzTkt97Ag2oT_S32fZs2ZsWCvrgtjCkjnwdg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/F7oqt9_xBzbQyojMLm_atru_icPMgk8jIbu5Xdi9oZTbjUuwXaors12SU3AJBs_ILpyMgzJPDWI8YPe8HU_tkuCWxIA8nwjR_ksvRxyjK18-CTstKvPCrAceQYzAve_bGq48OuVJ2w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/rJP_eN_ktF1H52mmz9u1bkQkSuCtzT2cG5YpJPskYXQavKyMrjt0IDbi8ceQ_iyBX_1f1ZFnwANhxVc4AKIcHZfGkNv5riv0PgM4oSE67w_Q1xgv7j0cryy94-UapoPae4CpYjRvxw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/03HX5bgi9bDQamcOElniarMs-HfzjtAjYudTEoGbeVLaGbNKyqpWxelXjL2liEakj6udFwGvelYVK1gzv4wt4QD2eijYSnzXGsFE39hlBmQE2x4pV_KTNxSVJADrC7sUs5ffl2Uvaw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/ffXaBNH439JpfatIYuVYwm0LRGN-CAW3RzjFkDGQx6UFNhnbkXf7dFexNjOBpDbr9Abemue7hHNvmdA5fXhXoBX2uu7OmekBwAtks1-MRShol7LKIYG8-jlCCI8oQRkCFsAPFvDNaA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/z_U_P-npiF2SUP4bY6IJndBEAOaK6uaIue6qIJVKZWog-2bDOol_I-sLEc-KaoofJQMLi0Rn5_s24B2NMGP4zjhE5GOdepYgA2l-eoE2AnQ0AeNYk5i5SeT_wZJCDCFikeNfkOjYjg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/jP5Wg4oUJ2GMiJ74B9qeQEtOwvUwTe2mfEY4TXKBsBiheKGmgRtV1FKs0ZFCIobbaK8AVYWv6y2WkKZBlt3gzxkS88Z5gN_-NxTy7YiCTyrf5xToTrsbqZKmO3FQOc-cujov6foXIA=w1920-h1080"></object>
					</div>

				</div>
			
			
			
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Westview Public School</h3>
				</div>
				<div class="col-md-12">
					<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
					<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					data-link="https://photos.app.goo.gl/KVtkxzDhqFkr3zEcA"
					data-title="STEMpower 2019 - Westview"
					data-description="64 new photos 路 Album by Krish Shah">
					<object data="https://lh3.googleusercontent.com/7GqhLijj9NZGBdXahTlFfXR9BUAcCZec4GIcUoqZptpGbNDoSkj_sUmJTuMYlKhN4q1Xb9mKs8QottUjc9m5Xj9j5ze4yZwQdpbUQo3PqjVrBrMU9EgcJlOt_lonLS2HHbagW9Bp4A=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/S-k0Gd6bVyHs6ESw9ogXvaJTVs7WdFYeRUgv2qiWTTSC_Hvpu1I85lcq1qPlAX7hpbre4AuFZKm0Dtj5EEAWiBfWkydpdlGmSItgJRmRdxrIgDgZR7XiZi-ZokNi8gc1fZZiA1TZ3A=m37" type="video/mp4"></object>
					<object data="https://lh3.googleusercontent.com/FnStzJRDZ8upDfs5mZ_O6LmrV88hSYN9p7Ikj7bPm-6s6D9nNP-i6nn3yot40OB-8iK-RSNAqrEWh4j2vSQKXZZufSY8nP_cra8BA82EJVHib0GLUhMFdLNnymGGZ0mMbdiZ_A09IA=m37" type="video/mp4"></object>
					<object data="https://lh3.googleusercontent.com/3ARorze3dor2ljrOzlw4fGX-LzL3C9-FM5amZYNufrXtU6VJDkqyBD1Kxkl2SUv2_8GYMeHX596O0UxB7Lpd9tDjIubOXfxSh1TaKKQ8KiqQyfDDuOpddAiH0yZ0kELEe3Bey7bYGA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/-UQoq-FqvK6LFLN30et1t20cHc24ny3NrhyXixRw4d-9eKzzn4QJ9SJYw5Xxr_2_PBQjnMHvwgyjmDBJmypYmhdoN9pArPzvvdAR5KfiwoCWc-ZApAl-4GdvdJ7Dk2BpTyYNnmsOfA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/y_9o-hyy6ROK01F1uzqKysbXpdcEAvBYDsM7kDAROuzS6OyKC8eGRO_pjj_7WO51yC3C0Z-2wnxznrmiIRadcrXW8gpdXZEAwED4bX6mj130fPe029cSxs_xb8__bs_n86xqmmHjLQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/l8k0Mz8Pr3DuAhGFdYI9LW63oyMh9BBBhFFHzpqTipq5uvWq-NPqHDZ3M4A-CpQsqkPOovmnJ66Gg7hcJPuMZLxt08fKFhMmUWnI4rduEYA1eZPeFTZ0PpRDGxdeNwyzZWomHlOovQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/w8TVt5hyY3TH52-PAZV_tubcRZBAkH0_gENAvn9luG62tJzgRNSNgWu1Q42KSuWPEc8LLosShOqKQnv0OLc9dxzapmg6NsMk9-ir1MGfTDr_DioZ8EHrb_fParqZVSA6CZAosTbLfw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/SknZxXsxcOw_e4nGPaM8VOfq7nwjHq1AWr-VdeCa5Fc4wBTUodTolTcS-rxRLhSBahTZi1hdZHHQfMh6j6MSokk1kRkJ5fS4onM8vNLQpBxZTd7aH3Rd62_1AP8p0Gun6iKgPHxsZw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/8r6fYYvMDTM3lMhH-mHXZUN1_Lbfo9VIGAAR9unAxl3d4pSPoUeiB4mcbMUsF47Y6rn0nw_0zjzySWRVWTW4TGvWgzBfQwFiMiWcaPbPd7pJu3EezbTTU3RnOmEqgohPH8QJlHA4dQ=m37" type="video/mp4"></object>
					<object data="https://lh3.googleusercontent.com/EdWPL6LH6LvWNPsvD5fxPn5JAmHi2L9xmvorwTHxRutdvzXnvNgh-7Fl4Sc-84-qqhWVC-X25UKoHMcVdxowLuOwnALnoyfXqE9kolceCaijLDXoDuaHojVSQMLeYY4n03dqvZgB-g=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/RvxrYLi7fvsJUIlR1QxdCE7XHOP_4UvMv8QZKbyOXlafRwPToy4Xivg6sAumRP7g9Pi9asNY65beCnabfz4SYYIrwDlprUy-RVabEu4XgfaCXGOkke0hfOovkKAAhA1AhL8hYcVM8A=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/8LYQXahY1I-_kkMY_8tTqXtATgmD8B1A1WAwrWt_BYjlac6OK4MENFiAqDT3CKEeQ6K__UDwFIfn6vcLv8stvvOagdv-NrvnHJpvfkONoS48JPx0p9V75fMCa3-5Yfb2EMXbS_eibA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/qVAZeNLs2xbJxBJIwiwd1cDKZeA6-M9PZpTc5biua1QZO7FWJvMDzG1cZOa1om0PgmV95NaADuCfuIIJp1UrihfbbdqAIuOlCjcKRg58v1tah7DUf1t1FWB9EU7tm1Upr0jTlanpzg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/WKv-ItXK7mchgcLdhaOTdQZu5Uzxni6NILlbS_ZjxxrZessy71jSrWZaQjECc18QDXiYhcqreeaJYKkF2x1XNBgeAGFOq8JsrY3Otp8FxJ9DpIsrdsDA1ky-7q8TKOg0H6sgI8Cluw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/YIOSaz1eO6JuHaa5q3AnHtgA4uRRm5M1qIgslBc8j9fhtkwZKQezOI2URjh91txz3ekyYuLW7OLPRGY23GLrQwdZtedw253uSB_Bz4xKNuhNxhJUGmBVBZNewsyaMPlSjcmQsL99VQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/mNw4RJYvk7ifrS5FoghKMskWudM0IsUFXslMPzEvxfgX7b84cIvuy8AYFQcN3A07wjoJiV9S_QOMyeOD_COR1fuR4RVH1rs4CFHNTW1D6fixxbzUDh6F-tK6HjqZZmqMfNOsB2wAgw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Xz-0NH1hb7QMvuO7wkTfZeIyGHY8eHffMgqhHYFysTeHELO6ag07pAkN3SEDDtr68VR3ucC6x5tlMvLpnwFCVWh1ee7NFIL0ZIyfL3lb9vvSg-U7E2hTYWFf4kApuOt75stfotAj6w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/-g37UfX3EjIk6uEPyEOYrQj7VnfkUUO2Y3FSvl8O2V3VXaLSrtjoHK7wuGuX3JQ-XKd1i0US8g4KV0d1ZsCpNQDtMjm__QpnLLJCKe5_R54BSXXCKpVmz6UDwsLvNDdCweLOniYwoQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/2ZpTQ-IS_-mC88Z5dOy2rCKI5htX8ylJ04c7yiFZ4TAd7e8SUuV-M1hu4Hcl_Mx4_doPzO40xYnrfayMPc0Dn1xSMAzQLo0ztA0OvEDpaYrbfGzT7tw100hI3KSt8nG2Mtr9jCCNBA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/rz6MleRb49t77cfObU5e1isabfmaI6Zzthe-jNPLt51XSFlzaSHeHNUja-QUCUMagXLTD07eSpZlnMN-87yBuMAC69nfiVFoL_XukvEQy1kb6daFJMkL8SLPmZS_iRno-vyPL0-lkw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/TC0mAjkl7TNhgStrAF-COPXZ4QmL2QPlS_UH31ZBjxCIyD2pTjivnH2XQzcSUQ2KP-2_t0bmvx2krO4RbYBdu0s0JufjNmQ8vxstTRiPmFIObUh8YifsvlrrJ-Jad81olkqkmLch0w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Bqn3i3_R7IHpWv0-4UR9j_k7EOvwKSXvzUqfFseK_yYXdnYFnmMu-nzvX-iAedvLP3pR3AkreNgZIB08XkI3BmI6wkbt11gQMyTgExfjj0gHkIYRzQ8mZ6DaEmfglsAloRShKUeImA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/E8KRbquJyCbAvfUN89hAjIcIGeIJ9lC4cTmqYONWpUMzHI1JDUfhAqFsozhDWgeMXKkSuavgU5xI6aQnQOuGRg4GdnZtVQxULteTDnt6AQhRDep5kleWuWzKSf4gRnvJbtKHCfbCSQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/gGEArkC4ALFvRyGptyjim5AvMBWJP4Rl-TiWACz246ewCQit1oSJUhtCpgvfKDTrGkCMQODCaKG6xpKTmJTL_8wMCPgL-xECH5g2zUYRs2ClFHGtFN8TyBpqic1KIogY4YohqMmQHw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/lr4_EXP9V5jzwpofEgbkR4MR4VV403D-Y4YV15_Mt_dKwkmmUEWp-DcAmqkHOdeoWmITnp6SDWBu4SF_vn9q1Z3eSOo62etfuvXYHZUOpeEzeKupdlWZeS2WG1GLv-l8vEFSiGmmTA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/pWKHft24XPEwNS-8BQvwTBxQU53gCuXBJtQSG-JZkS8TK-Vy5dtARVXu3DYadlOXInuWzC71fClS7nu-wlliG16Ns_bu_Xgig-JISMNCuK3FbrlAIlfHgFxmaZlJ3jE88ZPw39YQSg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/mUh5g_8ug8BlaMRbkQFL0v_OLNbo4t9WIYns5KDVyLW7Lxxrqepe2iF89W3mUcUsg_sIWHIVfuRKhrcsqhcuFI-JVjSQsl4g63YmmffSfzNygm18tqG1sGKAHr-gVvqXnjN0DweB9A=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Va-koo4MBPaOzj1srTBzlm0Z_6ikA4EfFOQJ94wYlwr8zZ-mptNnciLXX7iSX2aUwoQNYIR4mIIEl3CIDbK0hinJSkuJlFil-M2KX9g6_GAa-1XEYQCxDmKu85nSBFqbiXJf_izFWQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/W8Xa5LHA8OmGDeYOtxDngL32TMmrsl0oHavC4H4PBdu6YMzYXe1pXug58j1qU29JWTa2vZ47fxE7CoxYdnELazJ7G0yK-7oRCryjQxrZUTpYOz7rkCeCrdZGJlKlC_LNeALnajBD1w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/m5KZr0BQPnW3tPMs-XRpZeWa9BD6ht0ivZvgWGAYyTfWv8iXDbRnUlBUpBRKPRcKAuE_eH7X0gDxC5vbsfPUxa90RS0nq5qe3QR98oMAGQjyWlJE7pl6SJAAnDi6tdIv5DdoY6_hJQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/vY48ZYmKtQfAVqwkVNcSWGlG5y8Rnmsz1QX5EiGXlvrKnGVaEi9505CgP45eA2Uhatqra6NWgX3JnLyAx7bImKSNNb3KHy1rnFRfUd46IAL-ZD5jmhYceYFp8CpY6sZy1YRpMo3WlA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/skeqLxQl0ajzcOTbr9UGxN_GAV6hzAixkgAJLCWKpfxZTW7VWsPs1giClRN4Pr1ObOO8MXZzS69mrjAEJZLLwFhESk-QbBWXJbfISKA8-yS2WfX33SkpUN7XtW7EtIwsPRRqbAF6Gw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/LZcROgNI8soppb4AczP78JQWEa6cUEp-Wzm4PEQzex0hhgFnbtK5_VXd2gumwRfyPeGl1k42sOVUXPIKtAbphpSr5HINYWASq4Mk4jgY3E6X2jdpVS6uZDsTF_sNhrwXJf6VASz5CQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/57E2kFdKBLC9Hbfak69eYvyZ_flzR95gXLsVWLrNUOrcTinRafb7sSD_8i6Y0GwqISQqtGGMcbXN1PeVdUN1GrhdO2OkytjEu_F8s7fRdVdghnQ71o7NRim-YX1E4bGjeXNe01U-Xw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/db72O6KlS0JmtpOhR1BFeTl3L_Vs6kJMhWbClv7wCAUowj4A9tZ9LGzuug2WkxzgIJyOGwkMKe5Iu8BjSQSxmtg8Uox9VbPVQg-TOIRloVurCH1sA6j2C_Ctxcn2ZnAdBEm0Kq0FpQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/i_qqzqyFPlHEn3ZXV3tR2QB7Ho_DqArQ77lVLqHgRF9n8nx8o1SBjWUlqX5atknP6SrPdgGodHagyLJs85nTbnwLP-t_7mO4SFKdwbK7915KLEwv9dIgoKDsMF9WSbKGj_mfdFXamg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/IEt8YUXPjHOX-aHWM7eN6RZnBkvexG1YKT7v0ibfwidsHw5v9KglJvGGU07kJ7mWbC7JuoP6ciV6DfAy_0_3XVfEy11YCROfiVZ_KNtTz8xwqhpEKXdLXk_7ghxbgrBJ8LNNbMiH_Q=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/OGLHlEcHSHXL6O9oZW6j5jMXNsJ_qXDQLNTgNEkz-7TXJW9cUvR1UtpOCgT3baHr3tL2jk_rB0Tg8l1QJBqCwCohWWBe3CPmUs1q3Ofb_eexMSBqDRHYZAb6FP_H6GaPUT2miWSfLQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/BNb9zS0_qYYFTHPQ0WHzn41kU6DcHYG97zw_n-5nZfZ_JbmzK483YZHz6MXh88wU9DOcyMJSElqpvx4-0NpkGqHxDpVPJyv0WRwAHj46wV27L1XnE0seHcSJpVMgAIXN_G08crcASg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/eC7VFjeKrBBtRQSK6u6vUX79SJWjQGrALmCPEZzRtojdYuzOpARESBU1UPZ-MKOLsJf4xmF8dz6OEaZ7J-6cbIwbq8vNCJ96ZaTrlKEgKfqhIzfOiqWCwXXLpSpbgvH-wGo-3DLN2w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/nbAI9qq8t7kaRA9s_hvhNdPMsAsc0e78rPIDLrMq4RvfVLvT7i4JcFTO9hWN_QgxszN3QM0Aelhuu7RPr5Sccq3hy8FHRd7f2kbaJ0G9e7Uqc9GuTzRU46juxEtjVJECssv51hvivg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/6vCOY4iSY42V2qbkEPwTcNiWV1lw45RzLw9qcZ9EuqlE3X2us9m0nQm8gvU_crejTbjSLmX0ZvqWQOReiK2dmZpBDH4J4H33fMDMgvYMe75Qx1WO_EIk1IATTdmHq705ITEaNfGlYQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/N_uY9F0OliRxoGXgTVRM_eX-lXXlSdWoj-KmRS6StgFmqT_mLOsUiXCJF4TmoZWXMXtQKo7tb8KblTQhpyyHxojaKuHWzqGsO2dIXTQHMZi3V-sKKJbNHP7W0JHYy04aS2BH8Q7WzA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/ttuZJSA0Ah2xQ5tBxZFuQ7ylnQk3RZOYNVcTAb7iHDgV4Z7bC9hV7zH6KySsctCwvyRzhuC4vkT-sQuqRz5Q5pvAo84SlF-K4koWuJtkzjrqlYWDskJso2KlEaF8J_fKl_wWQAyFjg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/4-ePKCR10hNcnX0Q39782PK2nngLNoD5cdbKoF7BOZnkz0KLA9zUicRy8jdhn-blBJBF9BcEP1LyDyoovghWSKqg3f3cPUYZy6_0_MXG4rtU0vUOVpXMevINp_7Z2P8nGPf8I0UL_A=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/zRS5BVClkqSr1ENW7LIDHCllcf3gGX6J7SDFR7QP990Cq_24JqbXkamVklddNIR7UdwDfQ97qaErMp2qfWXk16xIqrTn6pQzfY8kFSOyh3Owg3gO7do7fdwZMEt2FsNcJWbEBHXYZA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/LfmPDGLrW7gupNqi-YYsgIdduJhrgsE-ufluMO-nWZ_n-BaD0WlIf3KS_K3-Jxcavuykl7PvLzqBnykPlKRqohNCrVDQXkqtfNM4D3gyNC0CU0okOnVYITrbiEJcp-DxvYVJY19GFg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/imITPl3qOCwy7FhVAOKWjq89fc3297YE8i6eMT8u8p8aSWNEH4qdYp6QJ-Q_7qRC3U1rEO9dA-UZwLSTB9YBSZqi3HZiDByP53dkZygFKMqJQitNsakHCkHz-sUSP2tiorjKjWVS0w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/9hNzNBSg33bt92L53kko0AcNk9_2JZ_41DDres3MUjRwE1SUh2LJfRK1IGJjn5_TA4usU0wZjsbjCB4neK-dNdpdQNDdzZ07vS0P_unmxss3LqcwUgE0Cc013tWM0tKQ2hRfO9B2SQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/lRnd1vlEvbdb6YpdzK1oAw_Uhi6XxdiT7arqlUVNdr3M96gFUyE0PkZkH_6oumBZX1JhgyLq5V1-SSVPmtfP15M8QG57FGtI6CjVqsNUKgm6yjI9joeeEecX4MggGDl1JhIonpOTPQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/0DyFR9qZw-eAJ1wOzc04FJ4z40p1yJJYGh-9I9u3veLhAwIougQr-qZKBXeVrGmpYCX_QubMB-1IYkEl7_1dmaEKUwhgAdtoDw6IwposJ84R_n0u5Qby3NfFkpP0KDu_VaDpw4AxYQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Bg3h4tiScOW71GqEV7x7eUa0C1tHL6lGJoZq4niIfwav6KY3Gw8XQzCMB285yk8y_s2qYNXwe4TuIiBAj1lebLRmWsHSP5K40oPX6ewaf4fRFK4ng0zvQw3TCYVMCpGX3tntls4UIw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/ZwLEZ_CTvBlHxz0Po1NvPYKw_xdngc3JSy-TOg_NoSOGyoWg4BS8eVyhJljD0MQ8AkQ9xwuPXpYJNaLRim6dZZqr_mpJudtUvxg8Sa4ezFZ43fZvkEaHsdwwoEkKG-pxWEGEZf7qxg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/sTSV6DPnJhf_LliqLVhjfjZFddXPagdOZh-Xkg_UlsTXApliyIyrAI2iSSc1fxqUc7iqdeTAekxM5b6UmcTnNbA2W6S4YPMeYCeZZ4RqghFzBhyJsE2o0rrV_Ht7HIH3nqJ1Ap3pKg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/uGqoWNzYSgQWpD9A3UV09XC4y6j_inlXcGgL8SVLXbezAPM_0tVNmCQdCn7Dm6q-t_G-zHOCcpQDRiUmirLvqDHpX3iU0NbW42WgnZcmoyeSCPToWBviZCfp9kj598tZVm7IL5UaSQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/SRKcvadYhmrE0nLCkK63hahevsN-ofMrb1K81FSgjNTzVnAY6eXYEbRip8P7jTY1WIcjy4CI07wiRKet19Fx4ImNMWK_Ka4ynVNUQdsopB0RmGjXneLByu4mCrbxpi4VUWOHbr-EOA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/bWaFjKf5FYEsQR92QOCgUiu6nIvms0BC_Dmjm8Gfuuw-IT20M0IsoXseWvxXyhljBMDwXUGvDlZI9YUNXnFi_LWsae65bjhkwTPDQzLAs2E2i2fex1v0J9I4qZomqKQllxLQEVTavQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Ry386617V2zkon3OCI-c7ZzaFsW5dWjUcZgVX9Psr5vh512U165cb4ShGcJCs3v7nd3prmUMFOdH41gCNrKrC0cULBfm_mkPiuYN90gR-om_gsTIzxQDxgwY73f8keLAGIGfaFSshw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/q1e3iIgU_4-UziNLxLVVD2RjqF4qb7oxmCz-KxyorUKyUy4LjxpVhls5OcbtSqQX1bYTvnCRzJNlx68Zi3fxMqwVED9vtrdQx6rDrO_JRqxn8OAEpFmXjXPIroNEuyY3i57H7_r7Lg=m37" type="video/mp4"></object>
					<object data="https://lh3.googleusercontent.com/7mj1Zmn2W3MOgMg6VoXoXvBkx4JaSseunjx9S_1Y4Ti-F7EVQ2cr7AOvk2gdAOGwbLIoqJzeYqXxEjLlhjjFMv2jgg7PefVoNETA1EzkVhxzRs3Ccnb7dGyUHTkt5Xdbv7TCRzVhtQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/jCaNLIxgPx5lee83dc221sZzg8DxkC756eJyOVkwG1a-9M7IuVEakYLlfPyYf4eDrIhCw1jVdgSB3e8hYwXMXPjDgaymordC7BznD0CXHUqsLDjW3Ps5XWW5D1noCughu7Dep1Z9oA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/RUV5n4zNzfzI-9fkNReoTqBEmA8JZQHgP8HvO_WE8HR7Io9PcmD9S4Wz1wycZg1z0VezNdJebXRA4bXrxhpXMvudFc2cDngRhYzQDKoUTqRbVI8G4WCX1H3fydsgEVb7uRH4hC23rQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/feposcAS5xggd4TgoPg9sxuBnk-xPBK2geec68s6KPEAoTTYoTs-OJ0LHFV6tx7WUfnnTx4QdCfK-InJh8TkIJy-uFy0Y6vSn_7hxcPNLYA9ZJH_9SKvfrX__VzVc2yO-10CP8RqEQ=w1920-h1080"></object>
					</div>

				</div>

							
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: St. Gabriel</h3>
				</div>
				<div class="col-md-12">
					<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
					<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					data-link="https://photos.app.goo.gl/bLq8UuGaTtCcsQjZ6"
					data-title="STEMpower 2019 - St. Gabriel"
					data-description="41 new photos added to shared album">
					<object data="https://lh3.googleusercontent.com/COfjEifgN7G6pxI551kk3Bzf6GJ1VuaMu_UO0E_aIYq9EFILgI2IcDP7MEFZPeU7-4GQhdd_Zs6QeI-N-lSdwN1I29bmifCjoOF-F2VQdXqyk9s14nnlDsPKL9xgi-4qEdCL55YI2g=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/h6nwHi4MQTFwIVN6I2KwUPFjfAorCnDGPXt3iOUrlB4ChcBrS-bctWUal7Py7EqZXoM34oDP_Es1Yn96vBKj-t3PMB-KNUteAloJ-sJ2bkgpq5XKZQ6JOO5ZEbF6oUJ801VUu27gcg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/8YbuzT2sFZxHKd349-XIQgzC6ITa5tTWOshUGnWvE8-C36UkwEptkFcdoglccTAPQSKiVq0L9OInQeRbtr3a6S6rAqUv-KZl1zJpWcbfAuAv9O7WrJGTF2sDfiXNAr3IJn8iZId8Cw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/6cg5w6Q5pCIHljwmFcp-w1iqhfPP47Hsd6Axqw58U4x06sIoprJ8tj4Yfy6M5VfY2dXUUWMSAxZLEQYxjXKIIVkdHKs97TUR0VcOjFtsvAcAwslWgubwaI7geU2kwfsN8233bGdjsg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/ofDuwWk6cFn-cIlopXBPnJ-ACDW39E_fBf8Ih3OXStFKwZfMhfTP5lm6e1V1cPwKYi0KVRW-6Cj3UwAuG4ALK-S8TYiSf1JuqYCw9L7ZhJZP92HI15tPdEe-bgDYFRvCyElPWu0z7A=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/AdjbfVqyITu6bEJq-65wZo4tHXf5Sqkw5pVmu510RVyy2LL6igxmw8EnDIaiAeTHBTbgOv2fi5aPuJeHkfIxUKYEEO0BUiZ7kislkEazzE2DrZYG69K2L2dSnyxN-iHd9w9PP2alLg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/SVryzAEsri7h5SO1h2C5dXGx4_cx41-lYaWqqbqBzn6rqGMdGpsvSeKpmC7TekmelDBWNdceGBHuLaqmYyBS1khM_JsGcwUeaMLLaw-qGsk41fem4ehmMzmjrY0KnVU9YL_L1oJZQA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/chVxGr0gn08psusQKakUxAq_aSsEsmwKooATCsRFFd4Yx-epLx8WXXE0gjR84aNmun__eEK_jnGVypRa-VDxYc2qS22v9gG1UIJzl9tqAKDG-8BFheGYuPGbAStXy0X1ak7vCQRbRQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/nlHg2CBB5z4ArnjrqfVfOE8htVbqjD5edUFq6u8BoRxrNGNeGi1KwmHqmNQGFsDl1i30uDguHWkVZdg0xOUWeY6YrUrYC-e5kRnctWUaJ9HO55jhka8GWpVhogT6SpSWoN-lIkVwTQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/06p3sg61LfrALVaF2l8nRfu8uvriulQpX9VrmSg1o6UPlksD_e1OaCDilwaFZXZvzCrYuzex_TVQtTKstIxumk1__LSuBVq8hxW6eeSfXT17hbgJR4nAcoeAZXZNSvWh8JeC0uWuiQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/3fMpWpdszm5UKsS-8oHu023YxYBvrd8-jO_1Lxs-YR1PTcL11zHaV75vlV6n1NbVDXoGs6WBV6F0re0cLTeWuQFyy3ljttbX5bu5H9P_ikhI9C-XlJaqx3rnOy5gNOJTM7vwV8iz4w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Zgfd6y5xJJQ5KNR6V7i-YCiV2u44rtSo3OqM4SELrPVRIvci3GZtvi8ZqDXLg36KsaYS6wuMUQ7uoGgjQLdp1Vm7EUt69eLDke4_7aiL9CT-7oqo8ZFmEAeioXqfqicAUy0YFJMo3w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/PFHJk6WlZPbkmKNh302WxRB8llpb-FthbpFnXyYGJuWcypwOPSdWdhwNXlNaCBF7Be992n1MBWnoEAF4sqDdAxOUTqKrbKzrg6Y0jhS5H2TfA_Jrto6wnxx2kP_T_irha53negkOjw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/b9jwFiM-xfxZi6SdDryElL-wjACRlcSCbr__4DX_wILcuqKL3ql5FlrjpbFH7BBcl9tNFVzfThiIZ6HcUj_lMmzUMfpiS9_PpqK35ZK5MYP7vu-NcgieBIK8Y11GhIoeyfBVhtCDww=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/nhWlLem2vM19NcVOxVDqZNFkkO9qURUMO0i6Wc_CuEbLJa4J-Uqhoi51R8_5h_O05LlFAhHmg-95cASALTO-2gg7rtLu4b7_lcOQiKjYDK_kJ4S4U-ZgRU1kOX_19_5BrcKtl917ug=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/aHGUNOoZsb54KNqfGQI3QTt4QsW7W9Bmg6kvNuEleQea7qGk_XQz5YJHef8BqXMD5KOvhTHdvlg28nECpZfTRO6fGtVizs5m2O0knjhdYsF2IGgDTfrz2AlAOtERxnx_PLja_1pTDw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/tvpfRQdi7YzpqNEmVcBVf3N-gpAWAMsQTCC4Fd8jX2yQMhVG1YLFR-7xLa2diZD1gKkWtnvGyYFWW2WniRrEGH7uszHWdiJjGJqAyI5IP3hvsJM2RHiIcGkmhJ9UH3J0GZRpU56KHg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/itZan0odcWapvCCvvhYr9tzI5QbJMT_l8okJMLECqqvrVZoIxswXlPD6n_0jnmgBP3mO-v6lkC0KtDRzhGdwB4K4eQ2tr2Eh7ziWipOWhQcndoUjUVtCXJ23goE5qsW_NTnflKqZ9A=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/L95sdr1uBIZ49SbCszMc3UyvTtsPNfu3HHahrWsve9GvMaK9OKKNySmCNwUmSetBLEcRiLMeaYDTNON-f5dlMzbt4byc6eGmV0mMeZk_zXeJ5p3FCNuys9VZrPhG-_-mSIwz6RTucw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/g8pzyiEhDpINvkP0EWp4m70-TQOYkrHTQgrTKrQ2g40T_v-5dL55C3xnojmwrs2AFPkXOdDWCNSKXplNeHiwRMHAsX6p73N0nkNYjIcf1v73x29JIUAycUBEISQPgJ_HpBiXAQLr9w=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Pi7MViTHAyYmLaXhvq6kzrAfkosUAaB37mWTkxEwageFvWc2fAUcXho58pa-OdYzpbPNS3fYzHVyfOvivEhHhyFe2IrGUgsGbnyI7syHL0IpgtdJi0vkGeWGXfVXfZxRDd_hr-10RA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/VaKJRvxeRfk6yghUJMpV-OSlsOgu84bF_0FU_w0hC5-Zc4jzofmbOt3IlxsnXnNKHiqbnYpSHeU4-dYzIwOOMcp95ILWhIj72avGOp1rjCx2iua6tV4TluqoPtVpokzGeMv9cTnqqA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/cym3uTYxXcmCriHvrOJBEHHq2KKuOhStSkKkrLuQ2Ica83Bkk4IpY976D8H9A-KWUfm_HA_F-K0RElplsw8jQ8h_tzAJC_9_Cl3gaRRjYDb3HDRWk5bU8TbDJUNvZ9GegKFVsOdwRg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/K6rsGyPs3jPKCvXLL_Y12WnR84gEGqGXqr0KlkR8_dsK70vGjCiZU0I4HsnTyjhLzm54UzJ1tt-i1jTszufEmqK9eCbK9CCbqFqMEzmg3bCe_iiIgAui1F6yLlM6EQgVrFDmp9A42Q=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/Rpu438OX9k7-xs7NojfWKXoUNMGI0damTC1zq8lmpO8fo3o_oRlo58qHnFDHlME98Lveoe-Z3VcjYOoZHS7c-XAvWaQKe3sXRgj5oqS_WYXDAuzb55Toz1_WymCdFbBbALp7zvxUPA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/hKsYs6XjHkoUbpzqGAjLyVNRhrYbDyedzquY0PDEshD8zZnTWgC6bjyX2kenrCUVu9nSX2HF6TIvXDA3astGd_LQM0mcdpjMC_0nob5IK2rtzBGdIZjsbus3lxQfsdy42TcsL1yApA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/2lXgQhKkxz3xZjfMmYTX03laKZb0538E2wfdMswSBiBADD7HhrC8QRR--HvuImefQ7uTJ-WbNC7BPDCX1jBCsI27wS8oroXU8qt7Ll1pBjKk_qx-FeFhMdBejrIDVZrHsykooa8ptQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/1DiYPXaC154laT1thLYoRri-ETsx5PmFmaoHJ7yMRAgSroLzpopAbSj8_wuEMmK8r5WeN86FIpYp8Z0JbWGkrfC0CgoIinyN6GZugJEokOKvWo2f0NtPkCgq6s4UfRcDwJj3DYgC-Q=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/ksWFqZSSRyr_TK8Gq3L_nFexC_19YiJAvzEiWNAXjekemrSc9O1Vb8OAgou1NisN981YZINFUQwc4mJOsuCP_XlT6lXiObgNbcDn7_U68OvI8f5c2CW-8S0imRGU0cfwnfefdosanQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/hAK0e-QM1__C7z_HSfto5ayuJypRy1gGPUfmuPgrS0gPYdpSfv238-P80X1uyGadl7sQ-CgHEsRTdiIEB7m0GHBDBbTDQqLBPKLtMKh7qqSjRlnPxoWwlsNlDQ2QgJQlJiwkdN6qEQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/y4FJVIjkOIEmFIQ8a4PRBAyBBsVoaNnElk5pICtIgcsLJLskbs96mxaYMWOxVKxfApTmFWDUYR6I1BWN6hqzoSvjov3pvicJFUrxcQw0flePt2MCGGe1TQEd-o8lUEPSpcAQ7B946g=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/GcKolSlszTwOrnIdDJ2MAH2WKc_aB0x1HSPBxpA5XKnpaqsxV8Om2BOh3qWutWIcpgwvDmI9trJxxvyH-hoGLbf9-FKaVE9g4Yy826RL3gtSKQ1f-76Yfo0tDpiGT1LDPzUFEutj8g=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/v0AvKJpL5Lr-5qE2PWey7MypwsmUJjdKdBOQm0qFZ3AP_EUPYoYp2CeCKeUZByoDiA4n79v9TnIy5sAPAhVw1u14VAJ3PWYVHAu9nYsplDw33a-67u8nqcq2vDafmSzW2FAMXFCxlw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/uFZLoKBGY7GgYRAKBFBFw6ZICEpzcHTxdG4i0o5Fyem8KLC7dHfYb2LxV2fBYCLh9dPoM5pZHbE3Usb8d8kiyab_yFp-oL0_fzXKHzBegb8GB5aonLzaUmzhwjsbSM6wxJys747Rbw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/-6TWQk_39gZwEQIE6GPwYC6C-Rql3vJMkbYbyNQ350EQn19mc8-PUqFj8ozUkYRO1XHH_O2q9k-gwu035O3w8aPqXOMeiaZ5wStwdDdYiRl7Uf3cp8cYXGAfipEFkDv-mEZDGerdyA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/qI1DcsllKfW_lm0-MuwXUDKF6yYnbVwpa1KFc0WaFVJchmZhft0HHqJ8VoM22A9yusmEXH24e3xZnN_KVHRD0aa3Dc0JC8QagXGR8rjqKvtY-oKx3M__xs9_xAW758MVqP2xJTsLIA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/avf2j1ls_UKDMVmh2o0zYvENqXnnUmrR9egJB19N2YpLsK208E0JzmefoYxPzdSZa659oU-sfuOr1LWTJo189lyL7puPHU60IvJ4Npx8p3OoglSMSDI0o1a9vExo0O4dmyYgSIg3Og=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/qnworfKqhtcsFNzIpLHO5zgRX2iE92P9EBojVJr603j6w8LUWxFAEcwovWd7t-1zg2dTtpMXVM_GDhxuS19Dr83E_rVWSFqGzzwSIqyebJ8s0N-AKDRjR4xL__1Q6l5sRsMmwRpvSw=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/fN7VQmR4tIab41KH3hm5VMXd6IzPQ8kanK-AX2ixLd2WbA9XXSrVbTVkpqPske6RwfI4iIIv5TYFU0yIttLP-jNWbbEzzAyaiypKFMMUue0qJZa8_4VOi0enl212BlE188HTVGIXHA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/LzSibEu0mD4r4WYco8Glm4p2VApx0O8UK4dTH_ma06vCMAQ5rHzsM31WeVEXd_8azKHskVesK3juD39_LdvxWm3E0KJAn40qHnu6i9qkcPUM-BpeSFuvXwmhSSb83VTKtjiXeDhMsA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/3yS67Zfwr3jXCyXSwhdAPWKSO7sovkezcJXkRwreNspi8SUrLwDECxP8XA9vM2dBpM1dpvBvvoJ_lLq_LKyTH5BcVDikYFcBBb0dwtLSsQpmD9GJPlB9_J_4ngftprmT7-a2B-ocBQ=w1920-h1080"></object>
					</div>

				</div>
			
			
				
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Timberlea Public School</h3>
				</div>
				<div class="row">
				<div class="col-md-12">
					<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
					<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					data-link="https://photos.app.goo.gl/Wx2ABfVGdzmjmVDg8"
					data-title="STEMpower 2019 - Timberlea"
					data-description="16 new photos 路 Album by Krish Shah">
					<object data="https://lh3.googleusercontent.com/KCbPMvhhsq3SwH7S5FNaPOs_F3ShvF5MJZ4dR-z2Tb3mSr5IzUE8-4iH3uXptJJF8sDkCyrBtO_yHk7qu7SDiqxFGo5scU6zCeMW_8rCvqYUHtotgakZ9Oem6IPmBdGuJ5UuaeuCwA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/LU5i5julPbiYhUTdps9Ho61HhsVRxv66WttraKMlCxveHfk3zL9oxuSHmsf9EXxNj2NYs8a-KTf8PEFjkY7CjvwLi4xNZ2UAAJNSGRBT_huwwoauJ8fbUP9NNdrFz8OjFSkni6plkg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/dPFrRpWYpMROF1w6pNFGtux8KDVwLB789bx3GuttwGePaaMlPBpBfuJ3E-P5YW48h-oVhKcLPCOEdFtajsR13qlfFEttdnQGs7O360w6YaaNTmGTx_oKTX2H1950CTEt4NmdkqqXxQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/LRuuoFEztZRsPiIz__A0kuyx_TNImsaEXOeEDEvCJ-3ZGkJm-F_Ift2K0HjLiwaA1ru3-15NVUW3JGphTP4IuoPeIKXirnQ0CwnWUMPRJffGQl5ndzKKuGr54tSZ7d0tDKu-BkIOeg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/hrg-nVciD7_QDOOFqkPNITOJu5vbPxWvCe80EuJBqrLHHeNxe_qyE8RndMR5tRNXYM4qpiPInCgnS591hOYW9XukYNJv-5Lu44wzJbgw4NEzEfvV_InACA5MKCRYT95eJi_bgjPWsA=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/z9Hz15iZ48O0zOoqxj9ewsLJxKr2bYU132RnYaUBfahK0cBBhcteUr7GEoG4V-u0u_5IulLn1CL2SEMZqh7_eTXZtQPhzdqlCmVgV2Lol2YHq5-ytp9bnlT-HAmGDPpQN6rjWf8H-Q=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/cWH4k8B3SllpAHgw2mjFJl742ByrgJ9I6PIPxJWmn1ZrJ9KIuWXOvO01DjRhNNs1yGcGRlESMh1moHsxuejtBFUoi3ol2seez6kejd4V1viccywLCpxo9ObJXaDP3bae3F7t0M95Cg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/9COa5C5bpY1hrRjzonjcbYoX4POMlQkn2eptUQ5rX3ZWO-QZbtJYpoVuAmojAY3FiiLHQ2OVQnJ2TMUpcyaxSKLcduR7BcZ4r_x88jKERS6APKdS2birtAfshBiv-QgAFhAc5cQFng=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/NaR_MOjOIkwAEAzn1xIi878QsyNIJGHxENX5YKtMREMxEkxkX2pwlXoJT5NW1kQVe9GUN4IzrNiPll_XLycVDu5mqXXMuQVrj3k7YOhIrr04yaJVyI2pecgBBfceoabvYt6lfv-H4Q=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/sBcsyzDD1PyFhXSCJgpEc5HfXf1CiwhH0j9bnVUEpv9pqvMqjWncr4T3F31XE3p3OQzX6p5WEafpi0NFpqG3EYslclYZK3axWgJL0JdgQPu3MVi9t86UZYuk5LYQpoCMG2at9nRUSg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/zrHanjt_hHZEWAR7jVo-UTXO__rwYYSlJNSGwHntn6ghiHC242RhlY5fjNhdxzHgrmlrHPQ-CVtagPoSSIxY1r1NVUQ-AVk7-X4JFBmehBMT9LcS-Fofe2xEgsMcRnOX2BLY_wB0WQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/vt9uuqdCww9m3y2nFIQZI-AiknVgLU-BGM0TlSUXjSVvZ8osUddAW5jlDe77pkvWY0anGSoIc_HrPfJRp6rRNDDk-EPVKMXb9HyD19Y5F3h7EHtMESMH8GN0Dv3L8Xfg--17fsojoQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/WFDz-5CKGtxSn1isAV_2TVqmlQvKqiXLumc0jjecX98yIDKNp5Olz5ZBjRoXE5AZjtgI6loICbbesmse6FN5y_l0B0xyoYbmqzphoTxK0M0-hx9qNq1kXGaL1GjxQZZYyYXHFpbgow=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/9haxxSFicukFwvjxVX-hKA6LaAwJM45MvKhLlQufkelObFK2OntKUjQBNPNQ1V-XfVHcIPfLJMoWh3SqmV-41QrPhGr7V8mQqpkPOUm8FCOHIj7Za9QUQsTMcAJlhEexPgsfdHmrMQ=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/huOkaNVWehxtc_3rTawVNougi0o_yh4C_OtnNhDDxCsTUB0GttFN6bzd-gny6AsXgolSPck6iuQyZiVNe1g-JsOZ-O-nywkUMrCA-jnErCum-1SGFJrATfMadaUnAmh_7JIZ9ZH_Yg=w1920-h1080"></object>
					<object data="https://lh3.googleusercontent.com/GUpI7wJkUtXWrzr3kl_0FTjaNQrCztk7RNz5bcVyaNg_b0EgfFeSLxR49TIXJo6m1ekGIFDa1CImNq9GVve-Lo6ZTcfXvXAwEcejH_KxGCbXP89HpD1UtKHiUeF1_KCQZlV5ayQvJw=w1920-h1080"></object>
					</div>
				</div>
			</div>
		</div>
	</div>

		</body>

</html>