<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
            <% include ../partials/head %>    
	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
            <% include ../partials/nav %>

			<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(images/img_bg_1.jpg);">
				<style>
		
					.round {
					  display: round;
					  width: 30%;
					  border: none;
					  background-color: rgba(38, 0, 255, 0.938);
					  color: white;
					  padding: 14px 28px;
					  font-size: 16px;
					  cursor: pointer;
					  text-align: center;
					}
					
					.round:hover {
					  background-color: #ddd;
					  color: green;
					}
					</style>
				<div class="overlay"></div>
				<div class="gtco-container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<div class="display-t">
								<div class="display-tc">
									<h1 class="animate-box" data-animate-effect="fadeInUp">STEMpower 2019</h1>
									<h2></h2>
							</div>
						</div>
					</div>
				</div>
			</header>

<body>
	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">
				
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>STEMpower 2019</h2>
				</div>
				</div>
			</div>


			<div class="col-md-12" style="text-align: center;">
					<h3>STEMpower '19: Introduction to the Tech World</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/stempower19/stempower1.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower2.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower3.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower4.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower5.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower6.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower7.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower8.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower9.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower11.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower12.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower13.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower18.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower19/stempower19.jpg" alt="YouthComputing">
						</div>
					</div>
				</div>





				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Christina Gordon</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/30.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/31.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/32.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/33.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/34.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/35.jpg" alt="YouthComputing">
						</div>
					</div>
				</div>
			
			
			
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Walter & Gladys Hill</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/36.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/37.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/38.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/39.jpg" alt="YouthComputing">
						</div>
					
					</div>
				</div>
			
			
			
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Westview Public School</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/44.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/45.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/46.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/49.jpg" alt="YouthComputing">
						</div>
						
					</div>
				</div>
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: St. Gabriel</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/50.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/51.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/52.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/54.jpg" alt="YouthComputing">
						</div>
						
					</div>
				</div>
			
				<div class="row">
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Timberlea Public School</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/40.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/41.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/42.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/43.jpg" alt="YouthComputing">
						</div>
						</div>
					</div>
				</div>
		</div>
	</div>

    <% include ../partials/footer %>

	</body>
</html>

