<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
            <% include ../partials/head %>    
	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
            <% include ../partials/nav %>

	<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">STEMpower</h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">Introducing STEM from a young age</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

<body>
	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">
				
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>STEMpower 2018</h2>
					<p></p>
				</div>
			</div>


			<div class="col-md-12" style="text-align: center;">
					<h3>STEMpower '18: A Glance Into The Future</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/stempower18/stempower1.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower2.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower3.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower4.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower5.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower6.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower7.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower8.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower9.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower10.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower11.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower12.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower13.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower14.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower15.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower16.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower17.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower18.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stempower18/stempower19.jpg" alt="YouthComputing">
						</div>
					</div>
				</div>





				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: St. Kateri</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/stem18mini1.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini2.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini3.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini4.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini5.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini6.jpg" alt="YouthComputing">
						</div>
					</div>
				</div>
			
			
			
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Walter & Gladys Hill</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/stem18mini13.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini14.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini15.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini16.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini17.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini18.jpg" alt="YouthComputing">
						</div>
					
					</div>
				</div>
			
			
			
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Westview Public School</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/stem18mini19.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini20.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini21.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini22.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini23.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini24.jpg" alt="YouthComputing">
						</div>
						
					</div>
				</div>
			
			
				<div class="row">
				<div class="col-md-12 mar" style="text-align: center;">
					<h3>Mini-Presentation: Timberlea Public School</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/stem18mini7.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini8.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini9.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini10.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini11.jpg" alt="YouthComputing">
						</div>
						<div class="item">
							<img src="images/stem18mini12.jpg" alt="YouthComputing">
						</div>
						</div>
					</div>
				</div>
		</div>
	</div>

    <% include ../partials/footer %>

	</body>
</html>

