<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">Workshops</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp">Photos best viewed on laptop!
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="gtco-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Workshops</h2>
						<p>YouthComputing hosts many coding workshops for different age levels throughout the year. Sign
							up for the newsletter to stay updated on the dates or follow us on Twitter!</p>

						<p>For Upcoming Workshops:</p>
						<p>Visit <a href="https://communitycodeday.com/#mu-video">https://communitycodeday.com/</a>
					</div>
				</div>



				<div class="row">
					<div class="col-md-12">
						<h3>Some Photos From <a href="https://communitycodeday.com/">Community Code Day</a> Workshop #1
							- HTML, CSS, & JavaScript</h3>
						<h4>Link to our livestream (sorry, audio doesn't work): <a
								href="https://www.youtube.com/watch?v=2ShIzzKalKE">https://www.youtube.com/watch?v=2ShIzzKalKE</a>
						</h4>
					</div>
					<div class="col-md-12">
					<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
					<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
					  data-link="https://photos.app.goo.gl/YzEcW77fMehmEigD7"
					  data-title="Workshop #1"
					  data-description="8 new photos added to shared album">
					  <object data="https://lh3.googleusercontent.com/hG_8c3vf7Ef35dnJr7oZo6TLuvLk-gV44dHQ6wvspg8fpaopr8iTB1EKla5i7wOEK9S3c1iF0WB3fg8de7a3GInXyTYz69IX_l-lrRfCD2XBUeOX7iJF4QPlwUb8-QbEE44ycpMXYg=w1920-h1080"></object>
					  <object data="https://lh3.googleusercontent.com/Wo8sflWgIR2gyuP3Kj3irNWte8zsp_zUt76Tyciu9O2Eg2BZ4jeSraarQTWxFkriNFIjjukr1lItAPY-53HUyeu65Fzl0R25OKJAFe4408BgvFG2dVAaL2ZSwuFORfrZijylWvM5fw=w1920-h1080"></object>
					  <object data="https://lh3.googleusercontent.com/SscQ3H5VIAY2wdbk3OYU97zZB_xtlTxjh1h2werSUwOBmbcyYv6E9RdTJsDq2ssbv7-fyebe0EqMEodGEUOspki6mNRLJZpCm0oRCnUSDE21Dfr788yTin4LdhLM42k_Q6wE8OBxtw=w1920-h1080"></object>
					  <object data="https://lh3.googleusercontent.com/LQmCQLm_HoGhjWz24ctbDP4B7V6VUCS17VH7Em3TKlsQaOdFGwkQ0Z5YHj8coBHDVvd89zjkKN7poqnHHU0_NhH4divOAklbOK6G0rjRwJbLAPXbai6sRnOQeMeQKuu0zq_mD05nfQ=w1920-h1080"></object>
					  <object data="https://lh3.googleusercontent.com/wdnz3EcFqPJQF1N7jLBioAxx6ZotTl5FMhUC8VPhpQcTw6IgaA-xnZOuz8UlW793cEeYYi22zXk7CEXUAAeGx8OoBO4BJLqkXn8OHAQ39QKeJRPtOEpGN83MuMiTy2wE7HXbaTnc0A=w1920-h1080"></object>
					  <object data="https://lh3.googleusercontent.com/g-BjNGo7HLixqka_gWptV2dyCSgGbhmd1BHOe8r8dcAFctcrIoQYT_gGIIaiSoygGmXZd0yo_a6c-G50zA0AsIErHmKlcrZ2POxFCrAUYjMVZ9HiUHJinnGu8TGRck43Q_Sxk9E9mA=w1920-h1080"></object>
					  <object data="https://lh3.googleusercontent.com/fdlP2q47GrPemtP4oA_iRCv4D2fGvZkpFBFHBLwMl_INWrUjhb-OmmXIWvQqHatGPi2Rc_sQsY195XMgM7-ejuDAVdijquzeKzkGY_2qQuAuH-i_Wu5USpVg7xXpQzdU_OKwN8Nvdg=w1920-h1080"></object>
					  <object data="https://lh3.googleusercontent.com/eI5JW_TZ8VyLfwKuIEydzBhB10qCxBGoOySoJlqIYvFFEmeVjYy054xOmV7SJaap_8P0Jq5b877W0kzPZf9F6BiVBNka7YTvHGIgh2knuICpyv7MNWRxRY3dFwzc83KHCiBue_g_Tg=w1920-h1080"></object>
					</div>
					</div>
					
				</div>

				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From <a href="https://communitycodeday.com/">Community Code Day</a> Workshop #2
							- Python 1: Introduction</h3>
						<h4>Link to our livestream (workshop starts at 45:27): <a
								href="https://www.youtube.com/watch?v=uP8bu13MkFw&feature=youtu.be&t=47m27s">https://www.youtube.com/watch?v=uP8bu13MkFw&feature=youtu.be&t=47m27s</a>
						</h4>

					</div>
					<div class="col-md-12">
						
							<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
							<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							  data-link="https://photos.app.goo.gl/mdcVwW5DVdfLtBMS6"
							  data-title="Workshop #2"
							  data-description="13 new photos added to shared album">
							  <object data="https://lh3.googleusercontent.com/jg9xHxM4v7lRneMm8zveibfao_GSk1G0d_cmOfuGY9QF0xmSx4A80ZE_PG9H36OY_a6uyrDR_w94tmKENU9REv6BJL0hMwRW1didqazXNjQ8kcIQ6ffw88VrDuxyMcoaTATjTfmooA=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/pEVpyZ1hYLKCS-_qxmvOX96SD5v8bXmkMfzi5B5kgc65312LtMdroNHlQb626DIymIJNMOyXugiT4nhMHXc5EfmYySbh2CusVE3kGxm0ozE_aNRt_3MjsPbNvyuYYGtnp3SJWr88ow=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/QgreQ4nL3wvbsp5EBztLuHVfT3ch3meLo2gjBMr0L59U5HKFwc-ihLNJ0xXar4tyBKkwQhv6XzNtkwBkZykDu03T2NUNZz-GO-0-55K2AU_khv_cl5ScCLDy-FJ67YWocp77Plb5KQ=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/HtPSjhc4Tt-MvIL1phjCZSTG7Ama_Znzrp9FWfbW8OD4X_uOlvh89wnq1CZ3rA_cpNr8TLx4okzURwIPkEOf6Zl9lX8TELgeseujE32zOOF0lguxY5VhZWA_JgjsBz2kYIlVjh5JXw=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/ceFbZ7Lddcl42qT2pN4Hn_E0MERoF8ZX8juqc4WmBFi7XTCnTv4KBkLBRfzUUXLjP_jolRKFXEssDqnhUvyaeZf7Liz4JrhKkXIb4aHGK0709zpRpGFybziaG7Zgsr20sgD2vx0RhQ=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/e6r_exqLnu4tePkRDMWFxwu6pNISDUq-3PWp1qm8gk4r0OMi_1yyCkDjzENz7v-O84P9l3F-0eBVWQ6FCRP8WBpsogVG5bUzKpPmU6JXW5WxMRKmMs4dmDdAXuj0Awbydbc6y2Oovw=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/RP-ykqpRYnSZwOu_2_yaO4cjv5j_h7ogQiLAjG8CqLRxfKj8DTYN-XPQgBcJiLiOqck6zfMfFj_kRL1PB2RCqNHzWrws4-87nHaBZ3XpDzaQSJQOG1dIVhCkbUJLrafgcr7iNuF9ww=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/74VcqvY14TOSfmaIfW2AdQ6WDPb5xhOmJcsogmITpm4WAlb-gnIvlH7oIDvFvvXosw8_b8kfJp86YrHL5gWoN0DqND9eWjxWK23V76jsIaYGiHqeliURcpoYTsX5Krfm2kNx4aeL7g=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/Oyup6tv2RG96iO5izzOYlitntRvC7iU55TJAA1Sii0Yf3pB47Qo6VFG8ZJhpUwew-ws_ugFGLZsChOlQNzqCrrr8BAU0HvnE7nWWS3GFv8ngJlv1pGz0WY6ln99a-w2CTmeJGFhHow=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/OICMMMO-MjoaigqSt1meEqplnEZXTsKyx2o6SFNhnB0jjuna91tUExqy4Z4vGntkQENg9TGdOGrDeCOR8N55d9zugFORCcnk3GFlqI_K3IQucm_cVxE_ZWYGhctWf8USBgk4xhOlzg=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/UHdmXkAULeLTf2p2f0VD4W-t5yvV2TvtS-sHps4eMAtc6mzwwJplXaUV8jRZ0S-J0fee7Dala1FiKkIkxycXSbzZg5QMGaiwsppfL6aOO2yIYsafKw6j7NtewONvoT5Z4XGPR5Rwew=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/JtTCY0sp2F7hlYS-EdftQKl2U2q5GjlmUB96DgCXXfeVb_pH0rYvdouaGZpIrdDl5B3hT11bz1E7FjaqofDj4xfMI8L81AdRX4u910NRALZ8TsLQywIDXgaTHcyZl_4t-SS9X3sZ1Q=w1920-h1080"></object>
							  <object data="https://lh3.googleusercontent.com/ZCPNNnMtQjiZ9qJ1PCIjL8V6Yp24QqJz9ksEZynLn28uD0PAEpYssmRmtzQBN5JUKEgqcoZUOjS4c13OgipLIjzhkj0fcKR5OJE3_b-Ro_x8bOdSIPwqaXUA102bM0Cy-8UaZMn8RQ=w1920-h1080"></object>
							</div>
							

					</div>
				</div>

				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From <a href="https://communitycodeday.com/">Community Code Day</a> Workshop #3
							- Python 2: Computer Vision</h3>
						<h4>Link to our livestream (workshop starts at 26:52): <a
								href="https://www.youtube.com/watch?v=I6Ayta_ARZ0&feature=youtu.be&t=26m52s">https://www.youtube.com/watch?v=I6Ayta_ARZ0&feature=youtu.be&t=26m52s</a>
						</h4>

					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/FwyyGdRpMzrMXUGCA"
  data-title="Workshop #3"
  data-description="3 new photos added to shared album">
  <object data="https://lh3.googleusercontent.com/Oxg46FXdSQIKWwDPoke1MhT3fP3qkqDuul8JA6oMh5MiQ8eXR-YM2yt9nVf5CJOkMl60fXsbUgYG-ZLL9wh4lCTy_tHr0HFf0uWkoMPjpQmKp8bI4BEMLMYAeeEbGh98voEUjdTSqA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/0_Hi8FIhygvAdu-XiG8ECzorlDSq90_vvNruhB_06Q3WQDTCar9JbefnzimOS_j4BBlPcnf15CN2FjnhzAChrH7pN5x30RMoh3jgnVQ-ok4Ltnzw0bKt6JrUMumBxwtVhgMUNSEecQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/rcJDAKrWprU88TTBF9JTwfNd5JWGW2mW-zvf49KeMI6vOskiAK1M3VDAQSfS3CM_p4hyZSAppvDCbGteiIdECxp3cODmHuC0K3h3htSRZdY8xnyJV518dnNB2sc6cAZGORy3uwQncA=w1920-h1080"></object>
</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From <a href="https://communitycodeday.com/">Community Code Day</a> Workshop #4
							- Unity & High Fidelity</h3>

					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/x9bLvDAwCCzMkh7g8"
  data-title="Workshop #4"
  data-description="4 new photos added to shared album">
  <object data="https://lh3.googleusercontent.com/GC4Nnay63AGoVJKkPXRzG19bFrrMCpDWEZzf1iXZOkhcLQmQndf_CXDGdlwc4oO_CdFNG3KsMUFI58iAaZRqmqI8cI6pDtmnyeZH86H4RwSLEE0q9r2Jtl_dmer3KPHa_7lW27Z-Hg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/uULSwEFm89L5K2gpSZ79B7cmQkhxsEEerNcWJec_W-TeFaN__GNwjdiav1uZzidflYM_thyERN4jd8T2zmIU0tW4JaLIwf1pw7igkWQKIFKuwSCJHKXeeUDmuW9B7xfQvxcGikXO5w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/f5dwPjdIyN9_zOMjMiXcdxDZ56xZk6ptqQk7uGg8gJs47LZGrHEfrONc-2_GWHJxWz3yXH0PkHPmP1y2Ftrf9WfLDEa5x_biuhWPFNi--D4N3DJml0L-DYz-7Bpz0AVauqGcs274IA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/xyY8XJ0A7l-WcE84Z6bRJwRVPaFjvZNBtxE4YBJRylv_-umPYuptwQBR3FVDGCp4K3qLJfWqCe0fStHqA8bZJXflhSjqmp1R8mf7lPADV9uMrmph2gZvW-kTGfVMsECxINeH3721JQ=w1920-h1080"></object>
</div>

					</div>
				</div>


				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From The CryptoChicks Workshop</h3>

					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
						  data-link="https://photos.app.goo.gl/4vDp5giXcU5TfsNB6"
						  data-title="CryptoChicks"
						  data-description="9 new photos added to shared album">
						  <object data="https://lh3.googleusercontent.com/EogIKhdSjkLGTg2Ngsxvs3_eGL19f6MesoZhvNhTtXmaYhovwHFB6EfANruFtuBdYLIm4OOB6XC2Gz5mg3tUtLyeYHkmFtR06JKx478QstXWEp2n7dfsLk8T66yfwkQXT-pXeTTstg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/dE-2OQc-3O5UeWFC1zd9TAAdWaE64-5gfHXvIART-EA3FeHkMnIaERQpoFjslsogonWs82tkSB8zn6humccmm-ERf9_RRIEJBHIwsxWcE1F9vO17y5GVzvKHDC5jUrTlUaqsz0YVNw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/u1UPqZMPxo6RpDLsE6q2IDK4OzYvjj4pZM4rBZHYXK0aPGyLoD59I9ysyqoPhGY2JK7sOhhHcdO_WovkU1ljluKZe_B5xnWu0fTHpR-Qugob8qlHf0thOvGtGy5_PX8wdEQGQLG6Qw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/mkRvwhvaget4k5LPxynVGerwbyF890HzJz5bpgy_A78uekvkp6nqoa_a7vx6i3_661v9B5p0nhLpJVQWcM1QKv8_BKJ7NzI6SenUL6LgB3kvIb1Z-CmwVZeeWjJALUzv4MI0AwFbcg=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/6VHQwmXmVNn2VKh82yD7n-t2YnZYOOx9zXYuXh5H2tcKH0OZtk69-n1mHsqWKdI8hUq9PHh8lWtre49y_N6BdUR7lo6_Dg4CLSdN_7IPy7tq0Y_YNyQCdoagsv5v1vUPcCUbJ9rxPA=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/QaZBkJi3MybkwqCe-7_FEpXvV3QTQWLMCe8mEHxS25cap3tugbZH2936hb66wZfGwfARQ5mJMgi239aNPcd1CFIn9vqcka8W_ZdlB4hF36j_EmJcV4xcS_gcpPDKn2bUue8t9ThPhw=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/9JIn0PGSF5CvY5ag_av2eywdxw5TFvUh716L_DVEBruzECRNfqUnV4sfaeQ_5_sCQxy38jiwZP-8RJaOgMYxPhvqVAWq-JZrVPg3ALpW9zH6EIyiF0lzlrcHDAxCSXmdddzmlVmLLQ=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/V7FX4b4qo5aZIjOjfignqm_btnOTGFjZr_Op3--v4f4mIlkMFsC03ReY5rCtkMQTcWublTUCySG3H0CvE1e9GBDxawndoz6Kf-HNZN-jtUSIWWpcAlJv_oEpT2l4B_o7nTaHodo7_A=w1920-h1080"></object>
						  <object data="https://lh3.googleusercontent.com/PtxvkX484yEY2jWw6lZ337fatF8pCmeRk7QkukDhG3jecr-tU3vKUpiuPaoRBM3U73oAT-qLO6oivfhauwxELc8Yaudd_su3nQX88pmDWrc3Y6GS6qrZcXXt4zTEHUwWSlwWpaA1ig=w1920-h1080"></object>
						</div>
						

					</div>
				</div>


			</div>
		</div>

		<% include ../partials/footer %>

</body>

</html>