<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<% include ../partials/nav %>

		<header id="gtco-header about" class="gtco-cover gtco-cover-xs" role="banner"
			style="background-image:url(images/img_bg_1.jpg);">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeInUp">Workshops</h1>
								<h2 class="animate-box" data-animate-effect="fadeInUp">Photos best viewed on laptop!
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="gtco-history" class="gtco-section border-bottom animate-box">
			<div class="gtco-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Workshops</h2>
						<p>YouthComputing hosts many coding workshops for different age levels throughout the year. Sign
							up for the newsletter to stay updated on the dates or follow us on Twitter!</p>

						<p>For Upcoming Workshops:</p>
						<p>Visit <a href="https://communitycodeday.com/#mu-video">https://communitycodeday.com/</a>
					</div>
				</div>



				<div class="row">
					<div class="col-md-12">
						<h3>Some Photos From <a href="https://communitycodeday.com/">Community Code Day</a> Workshop #1
							- HTML, CSS, & JavaScript</h3>
						<h4>Link to our livestream (sorry, audio doesn't work) <a
								href="https://www.youtube.com/watch?v=2ShIzzKalKE">here.</a>
						</h4>
					</div>
					<div class="col-md-12">
						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/RBe65svgjYeyCWbF6"
							data-title="Community Code Day 2018 - Workshop 1"
							data-description="8 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/m8mo0jv5DuIlH5puvyR0m0TQZbsFSFKqGP4FFjKvrrk5OMxHShHTA5oHm1VKYHhYKN8FnY6fZO_3QaH3sOGp3nYzRPhy79NcHyYfBofNVpI6r0OICrlEJAoFScFOym1sTUDDHNkLlQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/ZVfXIL_VF5FhX9NQ9wtt0ey_9bi6WooO6cerbpEMcOGrWB3fzEWr6UhkVyYBm2T8Tqqi1jqOVsZWGI9aJD6Wt42Wf7wEoaWdl99xE6LnFqmwXuHzvJy09blu92LPhKNnndKHH4shlA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/-BNFUh6YcDnyD91rALssVgiMOBqq1weH9Gg4WkGOgLqOwCkOnAFnaaHEpctTJ7c2cDY7ivlSHU5wMgA8R0-nNNSHZj0X2MTDVSj9dlrOCtbE7b8TMPZmUi1GSecFqsLxDP9Hf026Kw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/wJkGAjLYg2FzNfR3y8a5hZHFOLYtdpsYBwuSm7mv6lRiwhXAjvSrcm6F3MJVvTIWBCFUOsP1cxwkR3YA9wC-rXuDUtwIzd4J4uiPDtoL7lojVvsI23megBppy2OSZVLRDVIS1v-i9A=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/sMDsfFKcl_EyKuT-InlrzYZuKkUeNmm_F3l4dHakSQeUVpf3PEsndKVA97y0sVmdH1HaRYT0iaZuJz1sFaGJL08YZ1JYzqgxMWcYTJqw4IK_ulQerzqziBvt_FJQRNu7d-tjLk0BOQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/SNCCxr7tRcPeC96FmD1rrHP4jo0rsfGrNxQvxMO5va9Qrtnkjtmfdcy7XuZNjjEEnhKUuqAcqeWSWaehfTRqaPyBC0gbyVa2tFyYbvhQPOFC7Wh63_flgsyisrjA_eyuyDifxP7jvw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/YQrTEkCZLYRSMmaUNg8K8Zph8rFqPsjh7-LliJbfHKZVVnPzPh5-apUxfGreNzXTszbNpxkLTfVwc9cYOBZmTd1K8fCuUjgMzTx9O9Vhf0fxj__22NmgyRk9DqOQiORH5EM5BV1FyA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/Nv6zOdZ0Fcay_j3w4imbkAd6fqioq_tKbu4x04vc6b-8hmOf8WY0x14K_WapoeFq2_LqERfitJCmuwFitSe-n7RMl50F9OYwAEhr-z-j14f8A6ewcOSTOAkcjX2Jm96UuRr9NbLRoA=w1920-h1080"></object>
						</div>

					</div>

				</div>

				<div class="row">
					<div class="col-md-12 mar">
						<h3>Some Photos From <a href="https://communitycodeday.com/">Community Code Day</a> Workshop #2
							- Python 1: Introduction</h3>
						<h4>Link to our livestream (workshop starts at 45:27) <a
								href="https://www.youtube.com/watch?v=uP8bu13MkFw&feature=youtu.be&t=47m27s">here.</a>
						</h4>

					</div>
					<div class="col-md-12">

						<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
						<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
							data-link="https://photos.app.goo.gl/dVytoyWMNRzWSwyF9"
							data-title="Community Code Day 2018 - Workshop 2"
							data-description="13 new photos added to shared album">
							<object
								data="https://lh3.googleusercontent.com/uW1scgfhVESsgtJzvYnPOanomjHTCwN1hFLohLjFYP9ptavjgSy8QoHmE-1OM56voc3AZaa8TLEV8trRpEnaOpRM4sR0jB-82V8qUIv8oZY6nlc15wGvG3V-qWEWoHV1-jiaek_koQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/KeGCFkeJmh6TVYDQzGEztcPy6sLMnOuRcHqJv3fUaOkmqP8zpZJ3psOaMjuRsz9S1kNvF5BPlufQIiWrYGeQNk7xg39QVW7wCa-CvAsaenI3pLOUjNUH3ESJaM_9w39iLQhJfQX5Uw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/TV5Q6W3SxgzeTd035tJpQvsO_kZwknD4nDIFP4Jx0-2-vZ9Qn3r3r6xJ9LFGImoOOTKH3yBmADX6_nKh-klaD9XK4gdcOXXXOprq2N0WQLvIqgdNxrrbaTw1H6jBxUwkJYAAD-baww=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/BcZCR26Vx5oVTNB183JeaipzvEe_GJqmxjCmpldr-gLnTF0Ek3uar0auHZSCNcgWJKVTMcg6xoaDaJdlku6uqjK8t_i6jBHcMQAc0ma4LgtYVJ3ACWpqqtcSRNAC-CVD8xT_G01uiQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/EHAbsy0KAHgPTP9Q7xK0czWpUntPUG9Z6ZpjEE7z4F_ChiuKjaIWZ7e1e4uOSgAM4BBXGbS1v9p4fbxdH5aMt1s9eayr73sTGCBfLAM-I5YY4kF7YX9tMWx-490sDDWnmSySV20NHA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/cIUAIBKlWaFE3YMDA5ui2iTJ1DOjLWvXGBS9a4HyNTECOvTQraVdvT1m2Rhfa351OnUJvgcVCaFAIZr2z3WM_i5VgkkfS3jx7-SPO4XMnrEahMawmVRn2O23-uvAfbl1TB0RHiAOfQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/hTyC6p0DPABCbwaYzfhu9d5V1Krp08LsslWRdmAaqQB2on_P9EtjyWKtFn3lUIi-5fvp3t1BfgqMk56FC9Eq55C0DZBpk_XqWjAfCz80BR62CdbYdqCDchad4mCfKbIzft1IjtPRtQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/WUuEXlCQIGaLgZeH7bPS_R4JA13knCcqbv7bN3ac16wdl6QzzlSc6Is82onW_QycrEbathOAspst0yS5DnGkufJ9vKyH8gzJFrm1T-Wq-DNWTuGOmMJpIPhdOUeY9NO4wokpSrMHfQ=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/XgsBzsCAIlEEhf62DbFTx7cSPtKvy3rvjCASkNuTZnv0qAvbthDSFMLJ8gTqF6HWfPl6IMEpkg0WeLhUzJldmlwXLcnIlNYVmXBdUY3-HCyJ7Ad290SwK-7RVHjgR1PIItqq4DOBjw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/5kTb1DaCENBFrk01UoBVUIzptbWl7bLfJB6UptQz04PvlJr8XN6zk2gltxh9kEzyn5FWb8cctOc1hUzJ11wQJeJls1jIZ340mPbtln3yvWdFPxGevLYTax18NRyga7G9KYSlgkdEmA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/1q5saFOzo5wHrrAwKYoiL0BlySq-pknhCfcxUGp7R7FavjraM2bOZmrRHlLqeIfXx0t2f0CZVNJyy6rNtVT9ciQcCpAiuq-fQyC9e1y3MnEZzESi96xQN98dxrZtru9vun4rIPVQqA=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/cyEW5pHB5Cia9xjrCtgTVbRqiSbje0kXJqMWUvbvZeoeqbGHJtSBLQJGNbfV4L9p1E-XhMJ2f04dnjJDgQ6WPWxdJc2GpADj05ZJDQt3HvPQ0SggUjv6et3L6zwyOqhII4fb1Wb7Gw=w1920-h1080"></object>
							<object
								data="https://lh3.googleusercontent.com/navfVCuIeKywUE3BDp1i1JQSaNIUWuDmT1pMpiY9c66La9kFSC0Eq64xZaPimORFPfWKCSI4rkK2UhRlRsu8qh0CYMKx0vrgpB2gvwJJj2wzT9dt4deYQYrpA_b6NrS6m4QWb5NlZg=w1920-h1080"></object>
						</div>



						<div class="row">
							<div class="col-md-12 mar">
								<h3>Some Photos From <a href="https://communitycodeday.com/">Community Code Day</a>
									Workshop #3
									- Python 2: Computer Vision</h3>
								<h4>Link to our livestream (workshop starts at 26:52) <a
										href="https://www.youtube.com/watch?v=I6Ayta_ARZ0&feature=youtu.be&t=26m52s">here.</a>
								</h4>

							</div>
							<div class="col-md-12">
								<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js"
									async></script>
								<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
									data-link="https://photos.app.goo.gl/mDyHdeGxYzBKfPN2A"
									data-title="Community Code Day 2018 - Workshop 3"
									data-description="3 new photos added to shared album">
									<object
										data="https://lh3.googleusercontent.com/3O193w_B_es3E1vBnX03l_mZaSCsLy69VZcvdlXFHBDLdf82sCIifktc5vY2UGZpQ6TM2qVSfAojUDkCHPAzP9KEWcZdEvuFuNWbY0hxif_tMsgBcHsvTv_M5XnRrj1LacvIc8-q8A=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/QT5fCVyq6ui8oOoZtjm6bD2f3tKrqzvRnxC-H6YeqI2JUkq19U0miC-RG4JRuMIQWcrwtqikd7CG6-fTSYLgBcBvu-hPfsnrgRcCvU_bgImgEsv3kAjMKg17SN-dIWNtGhc7Fx5PAA=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/xZ228LGixa8ngBCLgp20nrgXRzZM1Z_tB5kFs1jv1R2q9TSR040OMnGMGYB9jBj4KhSWxulFPYV52i1ewAJifXqFilSrcVSrzHc2-QXOC6VDSwumLWW0LosL0bR-LEQO4xoHLH4RWA=w1920-h1080"></object>
								</div>


							</div>
						</div>

						<div class="row">
							<div class="col-md-12 mar">
								<h3>Some Photos From <a href="https://communitycodeday.com/">Community Code Day</a>
									Workshop #4
									- Unity & High Fidelity</h3>

							</div>
							<div class="col-md-12">
								<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js"
									async></script>
								<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
									data-link="https://photos.app.goo.gl/oT5CF7ximm4AEmiP7"
									data-title="Community Code Day 2018 - Workshop 4"
									data-description="4 new photos added to shared album">
									<object
										data="https://lh3.googleusercontent.com/I-6j7CgbH1Nnz6jbSYY7VCAaPLsfQOIyb0K20HKXPvR4_e0equQaK3xTwxUuIjYrj5hrPdcqtQUDChiZz58nrBfy5HZBopEqRHSOMMMrEKk4QPq8NDP2-GvEKKvUx7UoU49mmxqS0A=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/pwr76Yp4A0pVSXr4skTG6vG51StaU7s9DgaJWprl36NLDrax0tDz6njZXKGFzs0MG6cadlM5kbHRSKKWgBJWaHctvHbctpjg7KKHPSV1Kzh2QrHXkwAXvLcFUI81ptZh9tMvUcqA3A=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/b6YBpOVJcsRGZYMBOHyer9m4IDOaIVNxDDoXvbI8kGcq3ZxF_Y9z_awp4iA7N6_xFiXzjbNfk71TVsAsJCbMzRxL3k59LWa7VsmQMecZ5kKtQNrODpuHYZKTZn77VpQH7DMMTxPkSw=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/WChm8WL06QN5bqRWDJp1t6-7Sr7OsxXlKC4yFAxtXcNrcGUbthvZ5iVMTXIod4vAmc1_9MT9f4Q9L9QMQXO6xlxzaC1rkBdEX3dTx-oZhdwHPUfcwkeVTEglVY2aDGM84Vl1p-kPOw=w1920-h1080"></object>
								</div>


							</div>
						</div>


						<div class="row">
							<div class="col-md-12 mar">
								<h3>Some Photos From The CryptoChicks Workshop</h3>

							</div>
							<div class="col-md-12">
								<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js"
									async></script>
								<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
									data-link="https://photos.app.goo.gl/BLJza56cpvBvEFic6"
									data-title="CryptoChicks Workshop 2019"
									data-description="9 new photos added to shared album">
									<object
										data="https://lh3.googleusercontent.com/hD83sJh-ObX0pi8ZPtdNA-2UxIKbbHIItGk_55GBWExRjrex4_DIqPXuPlwGM3MUoOxw9jjp3QT2sxdZ_5gWSSu_LH71Tdttc1ew_7yJARXvjfn5AWlbt7pOnSXlxCW36pHaMVC5Fw=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/S-UOwlUUu74TFSugMwIGjo4oN4fl_UgUF6Xct-dikyf1VoQnBizAcHGPKG0vYOj7VY5U-R3oz2E7BRZGrjalrXvVZC9xP4obGfGsT0i6arrpBbb0rggDOXHNKu75werplbxBnzWufA=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/0YL4yK3jMJPkpjGgvQlrRFtLc5-eOp_SK1JSZif90pIA7JJ2y4lt7dpTNLY79iSRunEKXd1S-_Zhj0ZdoS-Qg958EJUE-ZZguJIcUXPEl0rJwxKd104ytEmP7ZR0tmxRr4M6_9torg=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/_WEcwK4lqwWqURtoAhnBH1vllGF9rmddQz2xDpZlaIFfYPUIz0XnYyItBvvqNXGhuD5kEU1bqpnjg4_Gwlh1wgckP5YYqz6dRaYxGuHwPfzSD2UISsLnV976ugWL0w0GYWypu4M5zA=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/HbGBebFhAPozsnUxFb2NSgMfPwPnQGyGZ5vgvebt1xwCIsIRSF89MSvEObmzxjbeO2VZfmCX5LzmnKpfvDfV9k0U9yQ7mQ95j40RyaiYBQzkZLI1y6za3X3wF4yqJlI-h1c9LCMNpA=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/sh80_vUov4un9H1Lx58NU8TEAB_n4TpyEenRkJYHQhyJaqUfUo1SAD8akqTbRKhuGJ6NP8kqX00vM8NO2z-iFmZdkQJ_50zfRfQ_qPat37rYtWynbzSlZplHLyxZJxdMYxAGF3zLhw=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/FYxxwhPuOeMGo7di9WPIif66GZ1bjcIC7rvGvZTmHSub0hyCA0GMm10iGvQOdc2HGRje_rNtZPLIMh9k1AnsLbDYdRe8lh18s5MNieargJUjGjAoRewf3PRuPgCOV-6C4v6dA408zg=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/Ee8RBfzICvioHGt-BW2s3eAbC2ER3iSXVyaok40MTTUh7Eazly7u6mTGf4y4eGDSVuD--oI_SU2c1sS2GLTzQ3csCeGN40xuQ8HaXKl_JhHgv28yfqhYWpc_pMUjzAPt7Orb1sh-gg=w1920-h1080"></object>
									<object
										data="https://lh3.googleusercontent.com/9yd-gyLbbQyyVW13-VLSflzrE0TbA4A6_n-4InAScgbT0Eg26pHyQfqayMSl-b0ZcsSyENKEMnH6-X9pofnrDsnrba48r3XDT4Tpm4vMbt7nJTTBvGQP-6tPcNlxc1WqdV2wWz6ADg=w1920-h1080"></object>
								</div>

								<br>
								<br>
								<br>


							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
		<% include ../partials/footer %>

</body>

</html>