<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91165241-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-91165241-2');
</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>YouthComputing &mdash; Inspire. Promote. Educate.</title>
<link rel="shortcut icon" type="image/png" href="images/logos/YC_fab_fresh.png" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
  content="YouthComputing is a non-profit organization committed to sparking a feeling of awe, action, and support in youth by connecting them with the tech world." />
<meta name="keywords"
  content="youthcomputing, youth, computing, tech world, YC finder, Junto support, Ignite, STEMpower, CCD, Fuse, Community Code Day, Launch Wood Buffalo, LWB, science, coding, STEM, wood buffalo, computer science, fort mcmurray" />
<meta name="author" content="YouthComputing" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="YouthComputing" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />

<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->

<!-- Animate.css -->
<link rel="stylesheet" href="css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="css/icomoon.css">
<!-- Themify Icons-->
<link rel="stylesheet" href="css/themify-icons.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="css/bootstrap.css">

<!-- Magnific Popup -->
<link rel="stylesheet" href="css/magnific-popup.css">

<!-- Owl Carousel  -->
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">

<!-- Theme style  -->
<link rel="stylesheet" href="css/style.css">

<!-- Modernizr JS -->
<script src="js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->

<script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>